<section class="basic-elements">
	<div class="row">
	    <div class="col-md-6">
	        <div class="content-header">Report</div>
	    </div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header">
					<div class="card-title-wrap bar-success">
						<p>{{reportCount}} Report</p>
					</div>
					<div class="card-body">
	                    <div class="card-block">
	                    	<ngx-datatable #table class='bootstrap' [rows]="rows" [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                            [rowHeight]="'auto'" [limit]="10"></ngx-datatable>
	                    </div>
                	</div>
				</div>
			</div>
		</div>
	</div>
</section>
