<!--DataTable With Editing Feature Starts-->
<section id="editing-DataTable" class="mb-3">
    <div class="row" *ngIf="showTable">
        <div class="col-sm-12">
            <div class="content-header">Loyalty Points</div>
        </div>
    </div>
    <div class="row" *ngIf="!showTable">
        <div class="col-sm-12">
            <div class="content-header">Add Loyalty</div>
        </div>
    </div>
    <div class="row" *ngIf="showTable">
        <div class="col-sm-12">
            <div class="card">
              <div class="card-header">
                  <div class="row">
                    <div class="col-sm-3">
                        <button class="mr-1" (click)="ExportToPdf()" tooltip="Export as PDF">
                            <i class="fas fa-file-pdf"></i>
                        </button>
                        <button class="mr-1" (click)="ExportTOExcel()" tooltip="Export as Xlsx">
                            <i class="fas fa-file-excel"></i>
                        </button>
                        <button (click)="ExportTOCsv()" tooltip="Export as Csv">
                            <i class="fas fa-file-csv"></i>
                        </button>
                    </div>
                    <div class="col-sm-6 text-right">
				              <button type="button" class="btn btn-outline-primary mt-2" (click)="isCollapsed = !isCollapsed"
				                      [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
				                Select Columns
				              </button>
        							<div id="collapseExample" class="selected-column" [ngbCollapse]="!isCollapsed">
        								<ul>
        								  	<li *ngFor='let col of allColumns'>
        									    <input
        									      type='checkbox'
        									      [id]="col.name"
        									      (click)='columntoggle(col)'
        									      [checked]='isChecked(col)'
        									    />
        									    <label [attr.for]="col.name">{{col.name}}</label>
        								  	</li>
        								</ul>
        							</div>
                    </div>
                    <div class="col-sm-3">
                      <p>
                        <a class="btn btn-social btn-round btn-min-width mr-2 mb-2 btn-outline-bitbucket float-right" (click)="toggle()"><span class="ft-plus"></span> Add Loyalty</a>
                      </p>
                    </div>
                  </div>
                  <div class="card-body">
                    <!-- filters -->
                    <form [formGroup]="filterForm">
                      <div class="row">
                        <div class="col-sm-4">
                          <!-- start -->
                          <label for="memType">Start Date</label>
                          <div class="input-group">
                          <input class="form-control" placeholder="yyyy-mm-dd" formControlName="startDate" [(ngModel)]="filterModule.startDate" ngbDatepicker #d2="ngbDatepicker">
                          <div class="input-group-append">
                            <div class="input-group-text" (click)="d2.toggle()">
                              <i class="fa fa-calendar" style="cursor: pointer;"></i>
                            </div>
                          </div>
                        </div>
                        </div>
                        <div class="col-sm-4">
                          <!-- end -->
                          <label for="memType">End Date</label>
                          <div class="input-group">
                          <input class="form-control" placeholder="yyyy-mm-dd" formControlName="endDate" [(ngModel)]="filterModule.endDate" ngbDatepicker #d3="ngbDatepicker">
                          <div class="input-group-append">
                            <div class="input-group-text" (click)="d3.toggle()">
                              <i class="fa fa-calendar" style="cursor: pointer;"></i>
                            </div>
                          </div>
                        </div>
                        <small class="form-text text-muted danger" *ngIf="error.isError">{{ error.errorMessage }}</small>
                        </div>

                        <!-- <div class="col-sm-3">
                          <div>
                            <ngx-select-dropdown [config]="config" [options]="members" [(ngModel)]="loyaltyDetails.memType" (ngModelChange)="selected($event)" [multiple]="true" ></ngx-select-dropdown>
                          </div>
                        </div> -->
                        <div class="col-sm-4">
                          <!-- membersip -->
                            <label for="memType">Membership Type</label>
                          <div class="form-group">
                            <!-- <select class="custom-select" [(ngModel)]="filterModule.memType" name="memType">
                              <option value="">Select Membership Tire</option>
                              <option *ngFor="let member of filterMembership" value="{{member.plans}}">{{member.plans}}</option>
                            </select> -->
                            <ngx-select-dropdown [config]="configfilter" [options]="filterMembership" [(ngModel)]="filterModule.filterMemberType" formControlName="filterMemberType" (change)="selected($event)" [multiple]="true" ></ngx-select-dropdown>
                          </div>
                        </div>
                        <div class="col-sm-3">
                          <!-- button -->
                          <button type="button" class="btn btn-warning btn-raised" (click)="getFilters()">Filter</button>
                        </div>
                        <div class="col-sm-3">
                          <!-- button -->
                          <button type="button" class="btn btn-success btn-raised" (click)="getActive()">Active</button>
                        </div>
                        <div class="col-sm-3">
                          <!-- button -->
                          <button type="button" class="btn btn-danger btn-raised" (click)="getInactive()">InActive</button>
                        </div>
                        <div class="col-sm-3">
                          <!-- button -->
                          <button type="button" class="btn btn-danger btn-raised" (click)="reset()">Reset</button>
                        </div>
                    </div>
                  </form>
                  <!-- filters -->
                      <!--<div class="card-block">
                          <ngx-datatable class="material" class="bootstrap" [rows]="loyaltydisplay" [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [scrollbarH]="true" [sorts]="[{prop: ['rule_type', 'mem_type', 'name', 'description', 'maxpoints', 'startDate', 'endDate', 'status'], dir: 'desc'}]" [limit]="10">
                              <ngx-datatable-column name="Rule Type" [sortable]="true" prop="rule_type">
                                  <ng-template let-row="row" ngx-datatable-cell-template>
                                      <p *ngIf="row.rule_type == 'Percentage'">{{row.rule_type}} ({{row.rule_value}}%)</p>
                                      <p *ngIf="row.rule_type == 'Absolute'">{{row.rule_type}} ({{row.rule_value}})</p>
                                      <p *ngIf="row.rule_type == 'Event Based'">{{row.rule_type}} ({{row.rule_value}})</p>
                                      <p *ngIf="row.rule_type == 'Double your points'">{{row.rule_type}}</p>
                                      <p *ngIf="row.rule_type == 'Referral'">{{row.rule_type}} ({{row.rule_value}})</p>
                                  </ng-template>
                              </ngx-datatable-column>
                              <ngx-datatable-column name="Membership Type" [width]="250" [sortable]="true" prop="mem_type">
                                  <ng-template let-row="row" ngx-datatable-cell-template>
                                      {{row.mem_type}}
                                  </ng-template>
                              </ngx-datatable-column>
                              <ngx-datatable-column name="Name">
                                  <ng-template let-row="row" ngx-datatable-cell-template>
                                      {{row.name}}
                                  </ng-template>
                              </ngx-datatable-column>
                              <ngx-datatable-column name="Description">
                                  <ng-template let-row="row" ngx-datatable-cell-template>
                                      {{row.description}}
                                  </ng-template>
                              </ngx-datatable-column>
                              <ngx-datatable-column name="Max Points" [sortable]="true" prop="maxpoints">
                                  <ng-template let-row="row" ngx-datatable-cell-template>
                                      {{row.maxpoints}}
                                  </ng-template>
                              </ngx-datatable-column>
                              <ngx-datatable-column name="Start Date" [width]="250">
                                  <ng-template let-row="row" ngx-datatable-cell-template>
                                      {{row.startDate}}
                                  </ng-template>
                              </ngx-datatable-column>
                              <ngx-datatable-column name="End Date" [width]="250">
                                  <ng-template let-row="row" ngx-datatable-cell-template>
                                      {{row.endDate}}
                                  </ng-template>
                              </ngx-datatable-column>
                              <ngx-datatable-column name="Action">
                                  <ng-template let-row="row" ngx-datatable-cell-template>
                                    <a class="success p-0" data-original-title="" title="" (click)="editloyalty(row.id)">
                                        <i class="fas fa-pencil-alt font-medium-3 mr-2"></i>
                                    </a>
                                    <a class="danger p-0" data-original-title="" title="" (click)="deleteloyalty(row.id)">
                                        <i class="fas fa-trash font-medium-3 mr-2"></i>
                                    </a>
                                  </ng-template>
                              </ngx-datatable-column>

                              <ngx-datatable-column name="Action">
                                  <ng-template let-row="row" ngx-datatable-cell-template>
                                    <ui-switch [(ngModel)]="row.status" (ngModelChange)="onChangeStatus(this.row.status,row.id)"></ui-switch>
                                  </ng-template>
                              </ngx-datatable-column>
                          </ngx-datatable>
                      </div>-->
                      <div>
				        <ngx-datatable
				        class ='material'
				          class='bootstrap'
				          [rows]='loyaltydisplay'
				          [columnMode]="'force'"
				          [headerHeight]="50"
				          [footerHeight]="50"
				          [rowHeight]="'auto'">
				          <ngx-datatable-column
				            *ngFor="let col of columns1"
				            [name]="col.name">
				          </ngx-datatable-column>
                          <ngx-datatable-column name="Action">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                              <a class="success p-0" data-original-title="" title="" (click)="editloyalty(row.id)"><i class="fas fa-pencil-alt font-medium-3 mr-2"></i></a>
                              <a class="danger p-0" data-original-title="" title="" (click)="deleteloyalty(row.id)"><i class="fas fa-trash font-medium-3 mr-2"></i></a>
                            </ng-template>
                          </ngx-datatable-column>
				          <ngx-datatable-column name="Action">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                              <ui-switch [(ngModel)]="row.status" (ngModelChange)="onChangeStatus(this.row.status,row.id)"></ui-switch>
                            </ng-template>
                          </ngx-datatable-column>
				        </ngx-datatable>
				    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="!showTable">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-block">
                        <form [formGroup]="loyaltyform" novalidate>
                          <h4 class="form-section">Conditions</h4>

                          <div class="form-body">
                            <div class="row">
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label for="ruleType">Rule Type</label>
                                  <!-- <select class="custom-select mb-2" formControlName="ruleType" [(ngModel)]="loyaltyDetails.ruleType" (change)="onChange($event.target.value)" placeholder="Rule Type" *ngIf="!editLoyalty">
                                    <option disabled="true">Select Type</option>
                                    <option *ngFor="let membership of members" value="{{membership.plans}}">{{membership.plans}}</option>
                                    <option value="Percentage">Percentage</option>
                                    <option value="Absolute">Absolute</option>
                                  </select> -->

                                  <select class="custom-select mb-2" formControlName="ruleType" [(ngModel)]="loyaltyDetails.ruleType" placeholder="Rule Type" *ngIf="!editLoyalty" (change)="onChange($event.target.value)">
                                    <option disabled="true">Select Type</option>
                                    <option *ngFor="let rules of loyaltyrules" value="{{rules.rule_type}}">{{rules.rule_type}}</option>
                                  </select>
                                  <select class="custom-select mb-2" formControlName="ruleType" [(ngModel)]="loyaltyDetails.ruleType" placeholder="Rule Type" *ngIf="editLoyalty" (change)="onChange($event.target.value)" [value]='selectval'>
                                    <option disabled="true">Select Type</option>
                                    <option *ngFor="let rules of loyaltyrules">{{rules.rule_type}}</option>
                                  </select>
                                  <small class="form-text text-muted danger" *ngIf="!loyaltyform.get('ruleType').valid && (loyaltyform.get('ruleType').dirty || loyaltyform.get('ruleType').touched)">Please select Rule Type!</small>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label for="memType">Membership Type</label>
                                  <ngx-select-dropdown [config]="config" [options]="members" formControlName="memType" [(ngModel)]="loyaltyDetails.memType" (ngModelChange)="selected($event)" [multiple]="true" ></ngx-select-dropdown>
                                  <!--<ng-select [multiple]="true" [items]="members" formControlName="memType" [(ngModel)]="loyaltyDetails.memType" (ngModelChange)="selected($event)" (selected)="loyaltyDetails.memType" (removed)="removed($event)" placeholder="Select the technologies" required></ng-select>-->

                                  <!-- <ng-select [formControl]="loyaltyform" placeholder="Choose course" [multiple]="true" formControlName="ruleType" [(ngModel)]="loyaltyDetails.memType">
                                    <ng-option *ngFor="let course of members" [value]="course">{{course.plans}}</ng-option>
                                  </ng-select> -->


                                  <!-- <select class="custom-select mb-2" formControlName="memType" [(ngModel)]="loyaltyDetails.memType" placeholder="Rule Type" *ngIf="!editLoyalty" multiple="multiple">
                                    <option disabled="true">Select Type</option>
                                    <option *ngFor="let membership of members" value="{{membership.plans}}">{{membership.plans}}</option>
                                  </select>
                                  <select class="custom-select mb-2" formControlName="memType" [(ngModel)]="loyaltyDetails.memType" placeholder="Rule Type" *ngIf="editLoyalty" multiple="multiple">
                                    <option disabled="true">Select Type</option>
                                    <option *ngFor="let membership of members">{{membership.plans}}</option>
                                  </select> -->
                                  <small class="form-text text-muted danger" *ngIf="!loyaltyform.get('memType').valid && (loyaltyform.get('memType').dirty || loyaltyform.get('memType').touched)">Please select Membership Type!</small>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="form-body">
                            <div class="row">
                              <div class="col-md-6" *ngIf = "percentage">
                                <div class="form-group">
                                    <label for="points">Percentage</label>
                                    <div class="input-group">
                                      <input type="number" class="form-control" id="ruleVal" [(ngModel)]="loyaltyDetails.ruleVal" formControlName="ruleVal" min="0" oninput="this.value = Math.abs(this.value)">
                                      <div class="input-group-append">
                                        <span class="input-group-text">%</span>
                                      </div>
                                    </div>
                                    <!-- <fieldset>
                                      <div class="input-group">
                                        <input type="number" class="form-control" id="ruleVal" [(ngModel)]="loyaltyDetails.ruleVal" formControlName="ruleVal" min="0" required>
                                        <div class="input-group-append">
                                          <span class="input-group-text">%</span>
                                        </div>
                                      </div>
                                    </fieldset> -->

                                    <!-- <small class="form-text text-muted danger" *ngIf="!loyaltyform.get('ruleVal').valid && (loyaltyform.get('ruleVal').dirty || loyaltyform.get('ruleVal').touched)">Percentage is required!</small> -->
                                </div>
                              </div>
                              <div class="col-md-6" *ngIf = "absolute">
                                <div class="form-group">
                                    <label for="points">Points</label>
                                    <input type="number" class="form-control" id="ruleVal" [(ngModel)]="loyaltyDetails.ruleVal" formControlName="ruleVal" min="0" oninput="this.value = Math.abs(this.value)">
                                    <!-- <small class="form-text text-muted danger" *ngIf="!loyaltyform.get('ruleVal').valid && (loyaltyform.get('ruleVal').dirty || loyaltyform.get('ruleVal').touched)">Absolute is required!</small> -->
                                </div>
                              </div>
                              <div class="col-md-6" *ngIf = "eventBased">
                                <div class="form-group">
                                    <label for="points">Event</label>
                                    <div class="input-group">
                                      <select class="custom-select mb-2" formControlName="ruleVal" [(ngModel)]="loyaltyDetails.ruleVal">
                                        <option disabled="true">Select Event</option>
                                        <option *ngFor="let eve of event" value="{{eve}}">{{eve}}</option>
                                      </select>
                                    </div>
                                    <!-- <small class="form-text text-muted danger" *ngIf="!loyaltyform.get('ruleVal').valid && (loyaltyform.get('ruleVal').dirty || loyaltyform.get('ruleVal').touched)">Percentage is required!</small> -->
                                </div>
                              </div>
                              <div class="col-md-6" *ngIf = "referral">
                                <div class="form-group">
                                    <label for="points">Who gets the Reward?</label>
                                    <div class="input-group">
                                      <select class="custom-select mb-2" formControlName="ruleVal" [(ngModel)]="loyaltyDetails.ruleVal" (change)="referralType($event.target.value)">
                                        <option disabled="true">Select Type</option>
                                        <option value="referer">Referer</option>
                                        <option value="referee">Referee</option>
                                        <option value="both">Both</option>
                                      </select>
                                    </div>
                                </div>
                              </div>
                              <div class="col-md-6" *ngIf = "refValue == 'both'">
                                <div class="form-group">
                                    <label for="referer">Referer</label>
                                    <div class="input-group">
                                      <input type="text" class="form-control" id="Referer" [(ngModel)]="loyaltyDetails.referer" formControlName="referer" required>
                                    </div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="form-body">
                            <div class="row">
                              <div class="col-md-6" *ngIf = "refValue == 'both'">
                                <div class="form-group">
                                    <label for="referee">Referee</label>
                                    <div class="input-group">
                                      <input type="text" class="form-control" id="Referee" [(ngModel)]="loyaltyDetails.referee" formControlName="referee" required>
                                    </div>
                                </div>
                              </div>
                            </div>
                          </div>



                          <h4 class="form-section">Actions</h4>

                          <div class="form-body">
                            <div class="row">
                              <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">Rule Name</label>

                                    <input type="text" class="form-control" id="name" [(ngModel)]="loyaltyDetails.name" formControlName="name" required>
                                    <small class="form-text text-muted danger" *ngIf="!loyaltyform.get('name').valid && (loyaltyform.get('name').dirty || loyaltyform.get('name').touched)">Name is required!</small>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">Rule Description</label>

                                    <input type="text" class="form-control" id="description" [(ngModel)]="loyaltyDetails.description" formControlName="description" required>
                                    <small class="form-text text-muted danger" *ngIf="!loyaltyform.get('description').valid && (loyaltyform.get('description').dirty || loyaltyform.get('description').touched)">Description is required!</small>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="form-body">
                            <div class="row">
                              <!-- <div class="col-md-6">
                                <div class="form-group">
                                    <label for="points">Points</label>
                                    <input type="number" class="form-control" id="points" [(ngModel)]="loyaltyDetails.points" formControlName="points" min="0" oninput="this.value = Math.abs(this.value)" required>
                                    <small class="form-text text-muted danger" *ngIf="!loyaltyform.get('points').valid && (loyaltyform.get('points').dirty || loyaltyform.get('points').touched)">Points are required!</small>
                                </div>
                              </div> -->
                              <div class="col-md-6">
                                <div class="form-group">
                                    <label for="maxpoints">Max Points(If Any)</label>
                                    <input type="number" class="form-control" id="maxpoints" [(ngModel)]="loyaltyDetails.maxpoints" min="0" oninput="this.value = Math.abs(this.value)" formControlName="maxpoints">
                                </div>
                              </div>
                            </div>
                          </div>

                          <h4 class="form-section">Activity</h4>
                          <div class="form-body">

                            <div class="row col-md-12">
                              <fieldset class="col-md-6">
                                <label>Active From </label>
                                <div class="col-lg-3">
                                  <label>Date</label>
                                </div>
                                <div class="input-group">
                                  <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="startDate" formControlName="startDate" ngbDatepicker #d2="ngbDatepicker">
                                  <div class="input-group-append">
                                    <div class="input-group-text" (click)="d2.toggle()">
                                      <i class="fa fa-calendar" style="cursor: pointer;"></i>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-lg-3">
                                  <label>Time</label>
                                </div>
                                <div class="col-lg-9">
                                  <ngb-timepicker [(ngModel)]="startTime" formControlName="startTime"></ngb-timepicker>
                                </div>
                              </fieldset>
                              <fieldset class="col-md-6">
                                <label>Active To </label>
                                <div class="col-lg-3">
                                  <label>Date</label>
                                </div>
                                <div class="input-group">
                                  <input class="form-control" formControlName="endDate1" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="endDate1" ngbDatepicker [dayTemplate]="customDay"
                                    [markDisabled]="isDisabled" #d3="ngbDatepicker">
                                    <div class="input-group-append">
                                      <div class="input-group-text" (click)="d3.toggle()">
                                        <i class="fa fa-calendar" style="cursor: pointer;"></i>
                                      </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                  <label>Time</label>
                                </div>
                                <div class="col-lg-9">
                                  <ngb-timepicker [(ngModel)]="endTime" formControlName="endTime" (ngModelChange)="endDate()"></ngb-timepicker>
                                  <small class="form-text text-muted danger" *ngIf="error.isError">{{ error.errorMessage }}</small>
                                </div>
                              </fieldset>
                            </div>
                          </div>
                          <h4 class="form-section">Dynamic</h4>

                          <div class="form-body">
                            <div class="row">
                              <i class="ft-plus-circle" col-md-1 (click)="addInvoiceParticulars(0)" style="margin-top:2.5rem;"></i>
                              <div class="col-lg-4 col-md-3">
                                <div class="form-group">
                                  <label for="field">Field</label>
                                  <select class="custom-select mb-2" id="field" formControlName="field" [(ngModel)]="loyaltyDetails.field" placeholder="Rule Type" [value]='selectfield' (change)="selectChange($event)">
                                    <optgroup *ngFor="let item of result" label="{{item.name}}">
                                      <option *ngFor="let value of item.values" value="{{value.column_name}}">{{value.column_name}}</option>
                                    </optgroup>
                                  </select>


                                  <small class="form-text text-muted danger" *ngIf="!loyaltyform.get('field').valid && (loyaltyform.get('field').dirty || loyaltyform.get('field').touched)">Please select Rule Type!</small>
                                </div>
                              </div>
                              <div class="col-lg-4 col-md-3">
                                <div class="form-group">
                                  <label for="matchType">Match Type</label><br />
                                  <select class="custom-select mb-2" formControlName="matchType" [(ngModel)]="loyaltyDetails.matchType" placeholder="Rule Type" [value]="selectmatchType">
                                      <option value="<=">less than or equal to</option>
                                      <option value="<">less than</option>
                                      <option value="=">equal to</option>
                                      <option value=">">greater than</option>
                                      <option value=">=">greater than or equal to</option>
                                  </select>
                                  <small class="form-text text-muted danger" *ngIf="!loyaltyform.get('matchType').valid && (loyaltyform.get('matchType').dirty || loyaltyform.get('matchType').touched)">Please select Membership Type!</small>
                                </div>
                              </div>
                              <div class="col-lg-3 col-md-5">
                                <div class="form-group">
                                  <label for="addvalue">Add Value</label>
                                  <input type="text" class="form-control" id="description" [(ngModel)]="loyaltyDetails.addvalue" formControlName="addvalue" required>
                                  <small class="form-text text-muted danger" *ngIf="!loyaltyform.get('addvalue').valid && (loyaltyform.get('addvalue').dirty || loyaltyform.get('addvalue').touched)">Please select Rule Type!</small>
                                </div>
                              </div>
                            </div>
                          </div>



          <div formArrayName="fields">
      <div *ngFor="let fields of loyaltyform.controls.fields.controls; let idx = index" [formGroup]="loyaltyform">
        <div class="row form-group">
          <i class="ft-plus-circle" col-md-1 (click)="addInvoiceParticulars(idx + 1)" style="margin-top:2.5rem;"></i>
          <!-- <div class="row" style="margin-top:2.5rem;"><div class="col-md-1">
          <i class="ft-plus-circle" (click)="addInvoiceParticulars()"></i></div></div> -->
          <div class="col-lg-4 col-md-3">
            <div class="form-group">
              <label for="field1">Field</label>
              <select class="custom-select mb-2" formControlName="field{{idx}}" id="field{{idx}}" [(ngModel)]="extrafield" placeholder="Rule Type" [value]="selectfield1[idx]" (change)="selectedField($event)">
                <optgroup *ngFor="let item of result" label="{{item.name}}">
                  <option *ngFor="let value of item.values" value="{{value.column_name}}">{{value.column_name}}</option>
                </optgroup>
              </select>
              <!-- <small class="form-text text-muted danger" *ngIf="!loyaltyform.get('field').valid && (loyaltyform.get('field').dirty || loyaltyform.get('field').touched)">Please select Rule Type!</small> -->
            </div>
          </div>
          <div class="col-lg-4 col-md-3">
            <div class="form-group">
              <label for="matchType1">Match Type</label><br />
              <select #othersval class="custom-select mb-2" formControlName="matchType{{idx}}" id="matchType{{idx}}" [(ngModel)]="extramatchType_idx" placeholder="Rule Type" [value]="selectmatchType1[idx]">
                  <option value="<=">less than or equal to</option>
                  <option value="<">less than</option>
                  <option value="=">equal to</option>
                  <option value=">">greater than</option>
                  <option value=">=">greater than or equal to</option>
              </select>
             <!--  <small class="form-text text-muted danger" *ngIf="!loyaltyform.get('matchType').valid && (loyaltyform.get('matchType').dirty || loyaltyform.get('matchType').touched)">Please select Membership Type!</small> -->
            </div>
          </div>
          <div class="col-lg-3 col-md-3">
            <div class="form-group">
              <label for="addvalue1">Add Value</label>
              <input type="text" class="form-control" id="description" formControlName="addvalue{{idx}}"  [value]="addvalue1[idx]" [(ngModel)]="extraaddvalue_idx" id="addvalue{{idx}}" required>
              <!-- <small class="form-text text-muted danger" *ngIf="!loyaltyform.get('addvalue').valid && (loyaltyform.get('addvalue').dirty || loyaltyform.get('addvalue').touched)">Please select Rule Type!</small> -->
            </div>
          </div>
          <!-- <div class="row" style="margin-top:2.5rem;"><div class="col-xs-3 col-sm-3 col-md-1"> -->
            <i class="ft-minus-circle" col-md-1 (click)="deleteInvoiceParticulars(idx)" style="margin-top:2.5rem;"></i><!-- <i class="ft-plus-circle"></i>  -->
          <!-- </div></div> -->
          <!-- <div class="row" style="margin-top:2.5rem;"><div class="col-xs-3 col-sm-3 col-md-1">
          <i class="ft-plus-circle" (click)="addInvoiceParticulars()"></i></div></div> -->
          <!-- <div class="row" style="margin-top:1rem;">
            <div class="col-xs-3 col-sm-3 col-md-3 ">
              <button type="button" color="primary" style="background-color:rgb(223, 49, 49)" (click)="deleteInvoiceParticulars(idx, othersval.value)">Delete</button>
            </div>
          </div> -->

          <hr>
        </div>
      </div>
      <!-- <button type="button" color="primary" (click)="addInvoiceParticulars()">Add Invoice Particulars</button> -->
    </div>




<div class="row" *ngIf="addField">
      <div class="col-md-12">
        <h4 class="form-section">
        <i class="fa-th-list"></i> Extra Fields</h4>
        <div class="row">
          <div class="col-md-6" *ngFor="let field of addFields;let i = index">
            <div class="form-group" *ngIf="field.fieldType == 'text'">
              <label>{{field.label}}</label>
              <input class="form-control" [formControlName]="field.fieldName" [(ngModel)]="field.valuesBind"  minlength="1" maxlength="{{field.length}}" type="text" [required]="field.mandatory" (change)="fieldValueChange(field.id,$event.target.value, field.fieldName)">
              <small *ngIf="field.validation " class="form-text text-muted danger">{{field.validationMsg}}</small>
            </div>
            <div class="form-group" *ngIf="field.fieldType == 'date'">
              <label>{{field.label}}</label>
              <input class="form-control" [formControlName]="field.fieldName" [(ngModel)]="field.valuesBind"  type="date" [required]="field.mandatory" (change)="fieldValueChange(field.id,$event.target.value, field.fieldName)">
              <small *ngIf="field.validation " class="form-text text-muted danger">{{field.validationMsg}}</small>
            </div>
            <div class="form-group" *ngIf="field.fieldType == 'number'">
              <label>{{field.label}}</label>
              <input class="form-control" [formControlName]="field.fieldName" [(ngModel)]="field.valuesBind" minlength="0" maxlength="{{field.length}}"  [required]="field.mandatory" (change)="fieldValueChange(field.id,$event.target.value, field.fieldName)"  (keypress)="isNumberKey($event)">
              <!-- <input class="form-control" name="numberValue" [(ngModel)]="numberValue_i" *ngIf="field.length == '' && field.length <= 0" type="text" pattern="[0-9]" [required]="field.mandatory" (change)="fieldValueChange(field.id,$event.target.value, field.fieldName)"> -->
              <small *ngIf="field.length != '' && field.length > 0" class="form-text text-muted danger">Field Length Should not exceed {{field.length}}</small>
              <small *ngIf="field.validation " class="form-text text-muted danger">{{field.validationMsg}}</small>
            </div>
            <div class="form-group" *ngIf="field.fieldType == 'float'">
              {{field.length}}
              <label>{{field.label}}</label>
              <input class="form-control" [formControlName]="field.fieldName" [(ngModel)]="field.valuesBind" minlength="0" maxlength="{{field.length}}"  [required]="field.mandatory" (change)="fieldValueChange(field.id,$event.target.value, field.fieldName)"  (keypress)="isNumberKey($event)">
              <!-- <input class="form-control" name="floatValue" [(ngModel)]="floatValue_i" maxlength="{{field.length}}" *ngIf="field.length != '' && field.length > 0" pattern="/^[0-9]+(\.[0-9]{1,2})?$/" (change)="fieldValueChange(field.id,$event.target.value, field.fieldName)" type="text" [required]="field.mandatory">
              <input class="form-control" name="floatValue" [(ngModel)]="floatValue_i" *ngIf="field.length == '' && field.length <= 0" pattern="/^[0-9]+(\.[0-9]{1,2})?$/" (change)="fieldValueChange(field.id,$event.target.value, field.fieldName)" type="text" [required]="field.mandatory"> -->
              <small *ngIf="field.length != '' && field.length > 0" class="form-text text-muted danger">Field Length Should not exceed {{field.length}}</small>
              <small *ngIf="field.validation " class="form-text text-muted danger">{{field.validationMsg}}</small>
            </div>
            <div class="form-group" *ngIf="field.fieldType == 'toggle'">
                <label>{{field.label}}</label>
                <ui-switch [(ngModel)]="field.valuesBind" [formControlName]="field.fieldName"  (change)="fieldValueChange(field.id,$event, field.fieldName)"></ui-switch>
              </div>
          </div>
        </div>
      </div>
    </div>

                        <!-- <div class="form-group">
                            <label for="expiryDate">Expiry Date</label>
                            <input type="date" id="expiryDate" class="form-control" min="{{currentDate | date: 'MM/dd/yyyy'}}" [(ngModel)]="loyaltyDetails.expiryDate" formControlName="expiryDate" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Date Opened">
                            <small class="form-text text-muted danger" *ngIf="!loyaltyform.get('expiryDate').valid && (loyaltyform.get('expiryDate').dirty || loyaltyform.get('expiryDate').touched)">Expiry Date is required!</small>
                        </div> -->

                        <div class="form-group">
                            <button type="button" class="btn btn-success btn-raised mr-1" (click)="addloyalty(loyaltyform.value)" [disabled]="!loyaltyform.valid" *ngIf="!editLoyalty">Add Loyalty<i *ngIf="submitted && !editLoyalty" class="fas fa-spinner fa fa-spin"></i></button>
                            <button type="button" class="btn btn-success btn-raised mr-1" (click)="addloyalty(loyaltyform.value)" [disabled]="!loyaltyform.valid || error.isError" *ngIf="editLoyalty">Update Loyalty<i *ngIf="submitted && editLoyalty" class="fas fa-spinner fa fa-spin"></i></button>
                            <button type="button" class="btn btn-danger btn-raised" (click)="cancel()">Cancel</button>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!--DataTable With Editing Feature Ends-->
</section>
