.card.subscription {
	width: 80%;
    position: absolute;
    top: 0;
    left: 11%;
    color: #fff;
}
.card.list {
	box-shadow: 0 6px 0px 0 rgba(0, 0, 0, 0.01), 0 15px 32px 0 rgba(0, 0, 0, 0.36);
	border-radius: 0;
	//background: blue;
}
.inputGroup.subscription {
    background: white;
    text-align: center;
}
.inputGroup.subscription label{
    color: #75787d;
}
