<div class="row" *ngIf="!showSubscription && showSettings">
  <div class="col-sm-6">
      <div class="content-header">Settings</div>
  </div>
  <div class="col-sm-6" style="text-align: right;">
    <a class="btn btn-raised mr-1 btn-round btn-outline-bitbucket" (click)="inviteUser()" *ngIf="isAdmin">Invite User</a>
  </div>
</div>
<div class="row" *ngIf="!showSettings && showInvite">
  <div class="col-sm-6">
      <div class="content-header">Invite User</div>
  </div>
</div>
<div class="row" *ngIf="!showSubscription && showSettings">
  <!-- <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <div class="card-title-wrap"> -->
          <ngb-tabset>
            <ngb-tab title="System Configuration" id="all" active="SelectedTab == 'all'">
              <ng-template ngbTabContent>
                <div class="col-sm-12">
                  <div class="card">
                    <div class="card-header">
                        <div class="card-title-wrap">
                            <p class="card-subtitle">Here you can update your system configuration. Please do not make any changes unless you know what you're doing.</p>
                        </div>
                    </div>
                    <div class="card-body">
                      <div class="card-block">
                      <div class="px-3">
                        <form class="foprm" [formGroup]="regularForm">
                          <div class="form-body">
                            <div class="row">
                              <div class="col-md-6">
                                <div class="form-group">
                                    <label>Website Name</label>
                                    <input class="form-control" id="webname" formControlName="webname" placeholder="Enter Website Name" type="text">
                                    <small class="form-text text-muted danger" *ngIf="!regularForm.get('webname').valid && (regularForm.get('webname').dirty || regularForm.get('webname').touched)">Please enter a valid webname!</small>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                    <label>Site Directory</label>
                                    <input class="form-control" id="sitedir" formControlName="sitedir" placeholder="Enter Directory Name" type="text">
                                    <small class="form-text text-muted danger" *ngIf="!regularForm.get('sitedir').valid && (regularForm.get('sitedir').dirty || regularForm.get('sitedir').touched)">Please enter a valid sitedir!</small>
                                </div>
                              </div>
                            </div>

                            <div class="row">
                              <div class="col-md-6">
                                <div class="form-group">
                                    <label>Website Email</label>
                                    <input class="form-control" id="webemail" formControlName="webemail" type="email" placeholder="Enter Website Email">
                                    <small class="form-text text-muted danger" *ngIf="!regularForm.get('webemail').valid && (regularForm.get('webemail').dirty || regularForm.get('webemail').touched)">Please enter a valid webemail!</small>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                    <label>Payment Confirmation Email</label>
                                    <input class="form-control" id="payemail" formControlName="payemail" type="email" placeholder="Enter Payment Confirmation Email">
                                    <small class="form-text text-muted danger" *ngIf="!regularForm.get('payemail').valid && (regularForm.get('payemail').dirty || regularForm.get('payemail').touched)">Please enter valid listadmin number!</small>
                                </div>
                              </div>
                            </div>

                            <div class="row">
                              <div class="col-md-6">
                                <div class="form-group">
                                    <label>Default Currency</label>
                                    <input class="form-control" id="defaultcurrency" formControlName="defaultcurrency" type="text" placeholder="Enter Default Currency">
                                    <small class="form-text text-muted danger" *ngIf="!regularForm.get('defaultcurrency').valid && (regularForm.get('defaultcurrency').dirty || regularForm.get('defaultcurrency').touched)">Please enter a valid address!</small>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                    <label>Phone Number</label>
                                    <input class="form-control" id="webphone" formControlName="webphone" type="text" placeholder="Enter Phone Number">
                                    <small class="form-text text-muted danger" *ngIf="!regularForm.get('webphone').valid && (regularForm.get('webphone').dirty || regularForm.get('webphone').touched)">Please enter a valid address!</small>
                                </div>
                              </div>
                            </div>

                            <div class="row">
                              <div class="col-md-6">
                                <div class="form-group">
                                    <label>Address</label>
                                    <input class="form-control" id="address" formControlName="address" ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"/>
                                    <small class="form-text text-muted danger" *ngIf="!regularForm.get('address').valid && (regularForm.get('address').dirty || regularForm.get('address').touched)">Please enter a valid address!</small>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label for="file">Upload Logo</label>
                                  <div class="custom-file center-block d-block">
                                    <input type="file" class="custom-file-input" id="companylogo" formControlName="companylogo" (change)="uploadCompanyLogo($event.target.files)">
                                    <label class="custom-file-label" for="companylogo" #companylogoLabel>Choose file</label>
                                   </div>
                                </div>
                              </div>
                            </div>

                            <div class="row">
                              <div class="col-md-6">
                                <div class="form-group">
                                    <label>Current Subscription</label>
                                    <fieldset>
                                      <div class="input-group">
                                        <input type="text" class="form-control" formControlName="subscriptionType" placeholder="Button on right" aria-describedby="button-addon2">
                                        <div class="input-group-append">
                                          <button class="btn btn-raised btn-info" type="button" (click)="change()">Change</button>
                                        </div>
                                      </div>
                                    </fieldset>

                                    <small class="form-text text-muted danger" *ngIf="!regularForm.get('subscriptionType').valid && (regularForm.get('subscriptionType').dirty || regularForm.get('subscriptionType').touched)">Please enter a valid address!</small>
                                </div>
                              </div>
                              <div class="col-md-6" *ngIf="subscription == 'Basic'">
                                <div class="form-group">
                                  <label for="pendingPeriod">Pending Trial Period</label>
                                  <div class="custom-file center-block d-block">
                                    <input type="text" class="form-control" id="pendingPeriod" formControlName="pendingPeriod">
                                   </div>
                                </div>
                              </div>
                            </div>

                            <div class="row">
                              <div class="col-md-6">
                                <div class="form-group">
                                    <label>Choose Time-Zone</label>
                                      <div class="input-group">
                                        <input type="text" class="form-control" formControlName="timezone" placeholder="Button on right" aria-describedby="button-addon2">
                                      </div>

                                    <small class="form-text text-muted danger" *ngIf="!regularForm.get('timezone').valid && (regularForm.get('timezone').dirty || regularForm.get('timezone').touched)">Please enter a timezone!</small>
                                </div>
                              </div>
                            </div>

                            <div class="row">
                              <div class="col-md-6">
                                <div class="form-group">
                                    <label for="registrationnotification">Registration Notification.</label>
                                </div>
                              </div>
                                <div class="col-md-6">
                                  <div class="form-group" class="text-right">
                                    <ui-switch id="registrationnotification" formControlName="registrationnotification"></ui-switch>
                                  </div>
                                </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label for="allowregistration">Allow Registration.</label>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group" class="text-right">
                                  <ui-switch id="allowregistration" formControlName="allowregistration"></ui-switch>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label for="regverification">Registration Verification.</label>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group" class="text-right">
                                  <ui-switch id="regverification" formControlName="regverification"></ui-switch>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                    <label for="listadmin">If checked, users can be assinged as List Admin while creating user.</label>
                                  </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group" class="text-right">
                                    <ui-switch id="listadmin" formControlName="listadmin"></ui-switch>
                                  </div>
                              </div>
                            </div>
                            <h6 class="section" style="border-bottom: 1px solid #c2c3c3; border-radius: 0;
                                         padding-bottom: 15px;">Webpush</h6>
                                        <div class="col-lg-6 col-md-12">
                                          <fieldset class="form-group">
                                            <label for="file">Upload Logo For WebPush </label>
                                            <div class="custom-file center-block d-block">
                                              <input type="file" class="custom-file-input" id="defaultlogo" formControlName="defaultlogo" (change)="uploaddefaultlogo($event.target.files)">
                                              <label class="custom-file-label" for="defaultlogo" #defaultlogoLabel>Choose file</label>
                                              </div>
                                              <small class="form-text text-muted danger" *ngIf="error.isError">{{error.errorMessage}}</small>
                                          </fieldset>
                                             </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-danger btn-raised  mr-1" (click)="cancelEdit()">Cancel</button>
                                <button type="submit" class="btn btn-success btn-raised" (click)="onReactiveFormSubmit()" [disabled]="!regularForm.valid" *ngIf="!update">Submit</button>
                                <button type="submit" class="btn btn-success btn-raised" (click)="onReactiveFormSubmit()" [disabled]="!regularForm.valid" *ngIf="update">Update</button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                    </div>

                    <div class="row" *ngIf="showSubscription">
                    <div class="col-sm-12">
                      <div class="card subscription">
                        <div class="card-body">
                          <div class="card-block">
                            <aw-wizard #wizard navBarLayout="large-empty-symbols">
                              <aw-wizard-step [navigationSymbol]="{ symbol: '&#xf0b1;', fontFamily: 'FontAwesome' }">
                                  <h4 class="head text-center">Select any one of our subscription packages to upgrade your account.</h4>
                                  <br/>
                                  <div class="row" style="position: relative;bottom: 15px;transform: translate(12%,0%);">
                                    <div class="col-xl-3 col-12" *ngFor="let list of subscriptionList">
                                      <div class="card list gradient-mint">
                                        <div class="card-body text-center">
                                          <div class="px-3 py-3">
                                            <div class="media text-center">
                                              <div class="media-body text-center">
                                                <h3>{{list.type}}</h3>
                                                <span>Campaign - {{list.campaign}}</span><br />
                                                <span>Members - {{list.members}}</span><br />
                                                <span>{{list.validity}}</span>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="inputGroup subscription" (click)="getId(list.id,list.type)">
                                          <input [id]="list.id" [(ngModel)]="subscriptionId" [value]="list.id" name="radio" type="radio"/>
                                          <label for="radio1">BUY</label>
                                        </div>
                                      </div>
                                    </div>
                                  </div>

                                  <div class="form-group text-center space-20">
                                    <button type="button" class="btn btn-raised btn-secondary mr-1" (click)="cancel()">Cancel</button>
                                    <button type="button" class="btn btn-raised btn-info" (click)="onSave()">Save</button>
                                  </div>
                              </aw-wizard-step>
                            </aw-wizard>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab title="Active Users" id="y">
              <ng-template ngbTabContent>
                <div class="row">
                  <div class="col-md-12">
                    <div class="card">
                      <div class="card-body">
                        <div class="card-block">
                          <div class="px-3">
                            <table class="table table-responsive-md text-center">
                              <thead>
                                <tr>
                                  <th>Email</th>
                                  <th>Status</th>
                                  <th></th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let user of invitedUsers | paginate: { itemsPerPage: 10, currentPage: p }">
                                  <td>{{user.email}}</td>
                                  <td>{{user.status}}</td>
                                  <td><a *ngIf="user.status == 'Pending'" (click)="resendInvite(user.role_id,user.email,user.unique_id)" class="btn btn-flat btn-link" style="color: #f74961;">Resend Invite</a></td>
                                </tr>
                              </tbody>
                            </table>
                            <div class="col-12 paginationonAction">
                              <span class="total">{{collectionSize}} Total</span>
                              <ngb-pagination [pageSize]="pageSize" [(page)]="p" [maxSize]="5" [rotate]="true" [collectionSize]="collectionSize" [boundaryLinks]="true" style="float: right;"></ngb-pagination>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab title="Enable Module">
              <ng-template ngbTabContent>
                <div class="row">
                  <div class="col-md-12">
                    <form class="form" #moduleForm="ngForm">
                      <div class="col-sm-12">
                        <div class="card">
                          <div class="card-body">
                            <div class="card-block">
                              <div class="col-sm-12">
                                <button type="button" class="btn mt-2" [ngClass]="(module.emailManagement)?'btn-primary' : 'btn-outline-primary'" name="emailManagement" (click)="module.emailManagement = !module.emailManagement"
                                        [attr.aria-expanded]="!module.emailManagement" aria-controls="emailManagementcollapse">
                                  Email Management
                                </button>
                              </div>
                              <div class="col-sm-12" id="emailManagementcollapse" [ngbCollapse]="!module.emailManagement">
                                <div class="row">
                                  <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="newsletter">Newsletter</label>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <ui-switch id="newsletter" name="newsletter" [(ngModel)]="emailManagement.newsletter"></ui-switch>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="reports">Reports</label>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <ui-switch id="reports" name="reports" [(ngModel)]="emailManagement.reports"></ui-switch>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="emailTemplate">Email Templates</label>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <ui-switch id="emailTemplate" name="emailTemplate" [(ngModel)]="emailManagement.emailTemplate"></ui-switch>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="emailAutomation">Email Automation</label>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <ui-switch id="emailAutomation" name="emailAutomation" [(ngModel)]="emailManagement.emailAutomation"></ui-switch>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="keys">Keys</label>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <ui-switch id="keys" name="keys" [(ngModel)]="emailManagement.keys"></ui-switch>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <div class="card">
                          <div class="card-body">
                            <div class="card-block">
                              <div class="col-sm-12">
                                <button type="button" class="btn mt-2" [ngClass]="(module.loyalty)?'btn-primary' : 'btn-outline-primary'" (click)="module.loyalty = !module.loyalty"
                                        [attr.aria-expanded]="!module.loyalty" aria-controls="loyaltycollapse">
                                  Loyalty
                                </button>
                              </div>
                              <div class="col-sm-12" id="loyaltycollapse" [ngbCollapse]="!module.loyalty">
                                <div class="row">
                                  <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="memPlans">memPlans</label>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <ui-switch id="memPlans" name="memPlans" [(ngModel)]="loyalty.memPlans"></ui-switch>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="renewals">Renewals</label>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <ui-switch id="renewals" name="renewals" [(ngModel)]="loyalty.renewals"></ui-switch>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="transactions">Transactions</label>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <ui-switch id="transactions" name="transactions" [(ngModel)]="loyalty.transactions"></ui-switch>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="loyaltypoints">Loyalty Points</label>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <ui-switch id="loyaltypoints" name="loyaltypoints" [(ngModel)]="loyalty.loyaltypoints"></ui-switch>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="redeemloyalty">Redeem Loyalty</label>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <ui-switch id="redeemloyalty" name="redeemloyalty" [(ngModel)]="loyalty.redeemloyalty"></ui-switch>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="loyaltyProgram">Loyalty Program</label>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <ui-switch id="loyaltyProgram" name="loyaltyProgram" [(ngModel)]="loyalty.loyaltyProgram"></ui-switch>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="rewards">Rewards</label>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <ui-switch id="rewards" name="rewards" [(ngModel)]="loyalty.rewards"></ui-switch>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <div class="card">
                          <div class="card-body">
                            <div class="card-block">
                              <div class="col-sm-12">
                                <button type="button" class="btn mt-2"  [ngClass]="(module.survey)?'btn-primary' : 'btn-outline-primary'" (click)="module.survey = !module.survey"
                                        [attr.aria-expanded]="!module.survey" aria-controls="surveycollapse">
                                  Survey
                                </button>
                              </div>
                              <div class="col-sm-12" id="surveycollapse" [ngbCollapse]="!module.survey">
                                <div class="row">
                                  <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="createForm">Create Form</label>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <ui-switch id="createForm" name="createForm" [(ngModel)]="survey.createForm"></ui-switch>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="formmanager">Form Manager</label>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <ui-switch id="formmanager" name="formmanager" [(ngModel)]="survey.formmanager"></ui-switch>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="tablemapping">Table Mapping</label>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <ui-switch id="tablemapping" name="tablemapping" [(ngModel)]="survey.tablemapping"></ui-switch>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="chartsreport">Charts Report</label>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <ui-switch id="chartsreport" name="chartsreport" [(ngModel)]="survey.chartsreport"></ui-switch>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                        </div>
                      </div>
                      <div class="col-sm-12">
                          <div class="card">
                            <div class="card-body">
                              <div class="card-block">
                                <div class="col-sm-12">
                                  <button type="button" class="btn mt-2" [ngClass]="(module.membership)?'btn-primary' : 'btn-outline-primary'" name="emailManagement" (click)="module.membership = !module.membership"
                                          [attr.aria-expanded]="!module.membership" aria-controls="membershipcollapse">
                                    Membership
                                  </button>
                                </div>
                                <div class="col-sm-12" id="membershipcollapse" [ngbCollapse]="!module.membership">
                                  <div class="row">
                                    <div class="col-md-6">
                                      <div class="form-group">
                                          <label for="members">Members</label>
                                      </div>
                                    </div>
                                    <div class="col-md-6">
                                      <div class="form-group">
                                        <ui-switch id="members" name="members" [(ngModel)]="members.members"></ui-switch>
                                      </div>
                                    </div>
                                    <div class="col-md-6">
                                      <div class="form-group">
                                          <label for="subscribers">Subscribers</label>
                                      </div>
                                    </div>
                                    <div class="col-md-6">
                                      <div class="form-group">
                                        <ui-switch id="subscribers" name="subscribers" [(ngModel)]="members.subscribers"></ui-switch>
                                      </div>
                                    </div>
                                    <div class="col-md-6">
                                      <div class="form-group">
                                          <label for="management">Management</label>
                                      </div>
                                    </div>
                                    <div class="col-md-6">
                                      <div class="form-group">
                                        <ui-switch id="management" name="management" [(ngModel)]="members.management"></ui-switch>
                                      </div>
                                    </div>
                                    <div class="col-md-6">
                                      <div class="form-group">
                                          <label for="list">List</label>
                                      </div>
                                    </div>
                                    <div class="col-md-6">
                                      <div class="form-group">
                                        <ui-switch id="list" name="list" [(ngModel)]="members.list"></ui-switch>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                          </div>
                        </div>
                      <div class="col-sm-12">
                        <div class="card">
                          <div class="card-body">
                            <div class="card-block">
                              <div class="col-sm-12">
                                <button type="button" class="btn mt-2" [ngClass]="(module.webPush)?'btn-primary' : 'btn-outline-primary'" (click)="module.webPush = !module.webPush"
                                        [attr.aria-expanded]="!module.webPush" aria-controls="webPushcollapse">
                                  Web Push Dashboard
                                </button>
                              </div>
                              <div class="col-sm-12" id="webPushcollapse" [ngbCollapse]="!module.webPush">
                                <div class="row">
                                  <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="webPushDashboard">Dashboard</label>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <ui-switch id="webPushDashboard" name="webPushDashboard" [(ngModel)]="webPushDashboard.webPushDashboard"></ui-switch>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="webEngagement">Campaign</label>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <ui-switch id="webEngagement" name="webEngagement" [(ngModel)]="webPushDashboard.webEngagement"></ui-switch>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="segments">Segments</label>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <ui-switch id="segments" name="segments" [(ngModel)]="webPushDashboard.segments"></ui-switch>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="tokens">Tokens</label>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <ui-switch id="tokens" name="tokens" [(ngModel)]="webPushDashboard.tokens"></ui-switch>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="webtemplate">Web Template</label>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <ui-switch id="webtemplate" name="webtemplate" [(ngModel)]="webPushDashboard.webtemplate"></ui-switch>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="webnotification">Web Notifications</label>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <ui-switch id="webnotification" name="webnotification" [(ngModel)]="webPushDashboard.webnotification"></ui-switch>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="safaripushconfig">Safari Push Config</label>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <ui-switch id="safaripushconfig" name="safaripushconfig" [(ngModel)]="webPushDashboard.safaripushconfig"></ui-switch>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <div class="card">
                          <div class="card-body">
                            <div class="card-block">
                              <div class="col-sm-12">
                                <button type="button" class="btn mt-2" [ngClass]="(module.events)?'btn-primary' : 'btn-outline-primary'" (click)="module.events = !module.events"
                                        [attr.aria-expanded]="!module.events" aria-controls="eventscollapse">
                                        Events
                                </button>
                              </div>
                              <div class="col-sm-12" id="eventscollapse" [ngbCollapse]="!module.events">
                                <div class="row">
                                  <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="events">Events</label>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <ui-switch id="events" name="events" [(ngModel)]="events.events"></ui-switch>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                        </div>
                      </div>
                      <!-- <div class="row">

                        <div class="col-md-6">
                          <div class="form-group">
                              <label for="emailManagement">Email Management</label>
                          </div>
                        </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <ui-switch id="emailManagement" name="emailManagement" [(ngModel)]="module.emailManagement"></ui-switch>
                            </div>
                          </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="loyalty">Loyalty</label>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <ui-switch id="loyalty" name="loyalty" [(ngModel)]="module.loyalty"></ui-switch>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                              <label for="survey">Survey</label>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                              <ui-switch id="survey" name="survey" [(ngModel)]="module.survey"></ui-switch>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="membership">Membership</label>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <ui-switch id="membership" name="membership" [(ngModel)]="module.membership"></ui-switch>
                          </div>
                        </div>
                      </div> -->
                      <div class="form-group">
                        <button type="submit" class="btn btn-success btn-raised" (click)="saveModuleSettings()">Save</button>
                      </div>
                    </form>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        <!-- </div>
      </div>
    </div>
  </div> -->
</div>

<div class="row" *ngIf="!showSettings && showInvite">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <div class="card-block">
            <form [formGroup]="inviteForm">
                <div class="form-group">
                    <label>Email</label>
                    <input class="form-control" formControlName="inviteEmail" [(ngModel)]="email" id="email" placeholder="Enter Email" type="email" (focusout)="checkEmail($event.target.value)">
                    <small class="form-text text-muted danger" *ngIf="!inviteForm.get('inviteEmail').valid && (inviteForm.get('inviteEmail').dirty || inviteForm.get('inviteEmail').touched)">Please enter a valid email!</small>
                </div>
                <div class="form-group">
                    <label for="role">Role</label>
                    <select class="form-control" id="roleId" formControlName="role" [(ngModel)]="roleId">
                        <option disabled="true">Select Role</option>
                        <option *ngFor="let role of roles" value="{{role.id}}">{{role.name}}</option>
                    </select>
                    <small class="form-text text-muted danger" *ngIf="!inviteForm.get('role').valid && (inviteForm.get('role').dirty || inviteForm.get('role').touched)">Role is required!</small>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-danger btn-raised  mr-1" (click)="cancelEdit()">Cancel</button>
                    <button type="submit" class="btn btn-success btn-raised" [disabled]="!inviteForm.valid" (click)="sendInvite(roleId,email)">Send Invite<i *ngIf="submitted" class="fas fa-spinner fa fa-spin"></i></button>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>
