<section id="ngx" class="mb-3">
	<div class="row">
		<div class="col-12">

				<!-- <div class="content-header">Image</div> -->
		</div>
	</div>
	  <br />
<div class="row">
	<div class="col-sm-12">
		<div class="card">
			<div class="card-body">
				<div class="col-sm-12">
					<div class="card">
						<div class="card-body">
							  <div class="card-block">
									<form [formGroup] ="click365webpushForm" novalidate>
									<!-- <label>File type supported: jpg, jpeg, png. Recommended Size: 192x192.</label> -->

									<div>
												<div class="form-group">
														<label for="image">Image</label>
														<p>File type supported: jpg, jpeg, png. Recommended Size: 192x192.</p>
														<img *ngIf="!url" src="assets/img/logo.png" style="background: black;" width="50" height="50" alt="" />
														<img *ngIf="url" src="{{url}}" />
														&nbsp;<label #imageLabel class="btn btn-raised btn-sm btn-danger mr-1" color="primary" for="file-upload">
														Upload
														</label>
														<input type="file" class="form-control" id="file-upload" formControlName="image_url" (change)="uploadmembershipIcon($event.target.files)" style="display:none;" required /><!-- (change)="uploadSubmit($event.target.files)"(change)="addFile($event,'url')"  -->
														<small class="form-text text-muted danger" *ngIf="!click365webpushForm.get('image_url').valid && (click365webpushForm.get('image_url').dirty || click365webpushForm.get('image_url').touched)">This field is required!</small>
														<i *ngIf="loader" class="fas fa-spinner fa fa-spin"></i><p *ngIf="loader" style="color:red;">&nbsp;Please wait while the image uploads.</p>
												</div>
										</div>
							<div class="form-group">
								<label for="title">Title</label>
							<input type="text" class="form-control" id="title" formControlName="title" placeholder="Enter Title">
							<small class="form-text text-muted danger" *ngIf="!click365webpushForm.get('title').valid && (click365webpushForm.get('title').dirty || click365webpushForm.get('title').touched)">This field is required!</small>
							</div>
							<div class="form-group">
								<label for="description">SubTitle</label>
								<input type="text" id="description" class="form-control" formControlName="description" placeholder="SubTitle">
								<small class="form-text text-muted danger" *ngIf="!click365webpushForm.get('description').valid && (click365webpushForm.get('description').dirty || click365webpushForm.get('description').touched)">This field is required!</small>
							</div>

							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label for="disallow_text">Disallow Button Text</label>
									<input type="text" id="disallow_text" class="form-control" placeholder="Don't Allow" formControlName="disallow_text">
									<small class="form-text text-muted danger" *ngIf="!click365webpushForm.get('disallow_text').valid && (click365webpushForm.get('disallow_text').dirty || click365webpushForm.get('disallow_text').touched)">This field is required!</small>
									</div>
								</div>

								<div class="col-md-6">
									<div class="form-group">
										<label for="allow_text">Allow Button Text</label>
									<input type="text" id="allow_text" class="form-control" placeholder="Allow" formControlName="allow_text">
									<small class="form-text text-muted danger" *ngIf="!click365webpushForm.get('allow_text').valid && (click365webpushForm.get('allow_text').dirty || click365webpushForm.get('allow_text').touched)">This field is required!</small>
									</div>
								</div>
								<!-- <div class="col-sm-12">
		              <button type="button" class="btn btn-outline-primary mt-2" (click)="isCollapsed = !isCollapsed"
		                      [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
		              </button>Enable Opt-in for Mobile
		            </div>
									<div class="form-group">
		            <div id="collapseExample" [ngbCollapse]="isCollapsed">
										<div class="col-sm-12">
 	 								<label for="titles">Title</label>
 	 							<input type="text" class="form-control" id="titles" formControlName="titles" placeholder="Enter Title">
								<small class="form-text text-muted danger" *ngIf="!click365webpushForm.get('titles').valid && (click365webpushForm.get('titles').dirty || click365webpushForm.get('titles').touched)">This field is required!</small>
 	 							</div>
							</div>
							</div> -->
							<!-- <div class="col-sm-12">
							<div class="form-group">
									<label for="mobile_description">Mobile Description</label>
									<textarea class="form-control" rows="3" id="mobile_description" formControlName="mobile_description" required></textarea>
									<small class="form-text text-muted danger" *ngIf="!click365webpushForm.get('mobile_description').valid && (click365webpushForm.get('mobile_description').dirty || click365webpushForm.get('mobile_description').touched)">This field is required!</small>
							</div>
						</div> -->
							<div class="form-group text-center">
								<div class="col-sm-12">
							<button type="button" class="btn btn-success btn-raised" (click)="updateclick365webpush()"  style="margin-right: 14px;" [disabled]="!click365webpushForm.valid">UPDATE</button>
							</div>
						</div>
							</div>
						</form>
						</div>
						</div>

					</div>
				</div>
			</div></div>
		</div>
	</div>
</section>
