<section id="editing-DataTable" class="mb-3">
    <div class="row">
        <div class="col-sm-12">
            <div class="content-header">Redeemed Points List</div>
        </div>
    </div>
    <div class="row" *ngIf="showTable">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-block">
                      <div class="row">
                            <div class="col-sm-6">
                                <button class="mr-1" (click)="ExportToPdf()" tooltip="Export as PDF">
                                    <i class="fas fa-file-pdf"></i>
                                </button>
                                <button class="mr-1" (click)="ExportTOExcel()" tooltip="Export as Xlsx">
                                    <i class="fas fa-file-excel"></i>
                                </button>
                                <button (click)="ExportTOCsv()" tooltip="Export as Csv">
                                    <i class="fas fa-file-csv"></i>
                                </button>
                            </div>
                            <div class="col-sm-6" style="text-align: right;" *ngIf="!isAdmin">
                                <p>
                                    <a class="btn btn-social btn-round btn-min-width mr-2 mb-2 btn-outline-bitbucket right" (click)="toggleDisplay()"><span class="ft-plus"></span>Redeem Points</a>
                                </p>
                            </div>
                        </div>
                        <ngx-datatable #table class='bootstrap' [rows]="rows" [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                            [rowHeight]="'auto'" [limit]="10"></ngx-datatable>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="!showTable && !isAdmin">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                <div class="card-block">
                    <form novalidate (ngSubmit)="redeemPoints()">
                        <div class="form-group">
                            <label for="membershipName">Loyalty</label>

                            <select class="form-control" id="loyalty" name="loyalty" (change)="setPoints($event.target.value)" [(ngModel)]="loyaltypointform.loyalty">
                                <option value="">Select Loyalty</option>
                                <option *ngFor="let loyalty of loyaltyPoints" value="{{ loyalty.id }}">{{ loyalty.name }}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="pointsredeemed">Points Redeemed</label>
                            <input type="number" id="pointsredeemed" class="form-control" name="pointsredeemed" [(ngModel)]="loyaltypointform.pointsredeemed" min="0" oninput="this.value = Math.abs(this.value)" disabled>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-success btn-raised">Redeem Points</button>
                        </div>
                    </form>
                </div>
            </div>
            </div>
        </div>
    </div>
<!--DataTable With Editing Feature Ends-->
</section>