<section id="editing-DataTable" class="mb-3">
    <div class="row">
        <div class="col-sm-12">
            <div class="content-header">Redeemed Points List</div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-block">
                    	<div class="row">
                            <div class="col-sm-6">
                                <button class="mr-1" (click)="ExportToPdf()" tooltip="Export as PDF">
                                    <i class="fas fa-file-pdf"></i>
                                </button>
                                <button class="mr-1" (click)="ExportTOExcel()" tooltip="Export as Xlsx">
                                    <i class="fas fa-file-excel"></i>
                                </button>
                                <button (click)="ExportTOCsv()" tooltip="Export as Csv">
                                    <i class="fas fa-file-csv"></i>
                                </button>
                            </div>

                    <!-- <div class="form-group">
                      <label for="memType">Membership Type</label>
                      <ngx-select-dropdown [config]="config" [options]="members" formControlName="memType" [(ngModel)]="loyaltyDetails.memType" (ngModelChange)="selected($event)" [multiple]="true" ></ngx-select-dropdown> -->
                            <!-- <input type='text' style='padding:8px;margin:15px auto;width:30%;' placeholder='Type to filter the Membership Type...' (keyup)='updateFilters($event)'
                            /> -->
                            <!-- <ngx-datatable-column name="Membership Type" [width]="250">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    {{row.mem_type}}
                                </ng-template>
                            </ngx-datatable-column> -->
                            <!-- <small class="form-text text-muted danger" *ngIf="!loyaltyform.get('memType').valid && (loyaltyform.get('memType').dirty || loyaltyform.get('memType').touched)">Please select Membership Type!</small>
                          </div> -->

                            <div class="col-sm-6" style="text-align: right;" *ngIf="!isAdmin">
                                <!-- <p>
                                    <a class="btn btn-social btn-round btn-min-width mr-2 mb-2 btn-outline-bitbucket right" (click)="toggleDisplay()"><span class="ft-plus"></span>Redeem Points</a>
                                </p> -->
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-4 pr-0">
                                <div class="card px-1">
                                    <label for="memType">Start Date</label>
                        <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="popupModel.dp" ngbDatepicker #d2="ngbDatepicker">
                        <div class="input-group-append">
                          <div class="input-group-text" (click)="d2.toggle()">
                            <i class="fa fa-calendar" style="cursor: pointer;"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-4 pr-0">
                      <div class="card px-1">
                        <label for="memType">End Date</label>
                <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" name="dp1" [(ngModel)]="popupModel.dp1" ngbDatepicker #d1="ngbDatepicker">
                <div class="input-group-append">
                <div class="input-group-text" (click)="d1.toggle()">
                  <i class="fa fa-calendar" style="cursor: pointer;"></i>
                </div>
                </div>
                </div>
              </div>
            </div>
                <div class="col-4 pr-0">
                  <div class="card px-1">
                    <label for="button"></label>
                    <button type="button" class="btn btn-info btn-raised" (click)="updateFilters()" style="margin-right: 14px;">Search</button>
                    <!-- <input type='text' style='padding:8px;margin:15px auto;width:30%;' placeholder='Type to filter the loyalty...' (keyup)='updateFilters($event)'
                    /> -->
                  </div>
                </div>
              </div>
                        <ngx-datatable #table class='bootstrap' [rows]="rows" [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                            [rowHeight]="'auto'" [limit]="10">
                            <ngx-datatable-column name="Name">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    {{row.name}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Points Redeemed">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    {{row.points_used}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Remaining Points">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    {{row.remainingPoints}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Redeemed On">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    {{row.date | date :'yyyy-MM-dd h:mm:ss'}}<!-- | date: 'MM/dd/yyyy' -->
                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>
