<form [formGroup]="inputForm">
<div class="col-md-12">
<div class="form-group">
  <label for="basicInput">API Key</label>
  <input type="text" class="form-control" formControlName="api">
</div>
</div>

<div class="col-md-12">
<div class="form-group">
<label for="basicInput">Secret Key</label>
<input type="text" class="form-control"  formControlName="secret" >
</div>
</div>


<div formArrayName="whitelist">
<div *ngFor="let tech of inputForm.controls.whitelist.controls; let i = index"  [formGroupName]="i" >
  <div class = "row">
<div class="col-md-10">
<label for="basicInput"> Whitelist IPs</label>
<input type="text" class="form-control"  formControlName="whitelist" >
</div>
<button class="btn btn-danger mr-1 btn-fab" style="margin-bottom: 0.3rem; margin-top: 2rem; margin-right: 3rem;"
(click)="removeSetCondition(i)"><i class="fa fa-times"></i></button>
</div>
</div>

<button type="button" class="btn btn-outline-primary btn-block btn-raised" (click)="addSetCondition()">Add More</button>
</div>
<div style="text-align: right;">
<button type="submit" class="btn btn-success btn-raised" id="save_{{push}}" (click)=" save()">Save Notification</button>
</div>
 </form>
