<div class="row">
   <div class="col-sm-12">
      <div class="card">
         <div class="card-header">
            <div class="card-title-wrap bar-success">
               <h4 class="card-title">Charts Report</h4>
            </div>
         </div>
         <div class="card-body">
            <div class="card-block">
               <form [formGroup]="form" (ngSubmit)="manage(form.value)">
               <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 mb-1">
                     <div class="form-group">
                        <label for="field">Select Survey</label>
                        <select class="custom-select mb-2" formControlName="formNames" (change)="onSelectFormName($event.target.value)">
                        <option value="">-- Select --</option>
                        <option *ngFor="let item of formsData;let i = index" value="{{i}}" >{{item.name}}</option>
                        </select>
                     </div>
                  </div>
                  <div class="col-xl-12 col-lg-12 col-md-12 mb-1">
                     <div class="form-group">
                        <label for="field">Select Chart Field</label>
                          <!-- <select class="custom-select mb-2" formControlName="fieldKey"  (change)="onSelectQuestion($event.target.value)"  > -->
                         <select class="custom-select mb-2" formControlName="fieldKey">
                            <option value="">-- Select --</option>
                            <option *ngFor="let value of formsDataSelected" value="{{value.key}}" >{{value.label}}</option>
                        </select>
                     </div>
                  </div>
               </div>
               <h4 class="form-section">Filters</h4>
               <!-- <div class="form-group" >
               	<label>Select Date Range</label>
               	<select name="daterange" required formControlName="daterange" class="form-control">
               		<option value="1">Last one week</option>
               		<option value="15">Last 15 days</option>
               		<option value="30">Last 30 days</option>
               		<option value="60">Last 60 days</option>
               		<option value="90">Last 90 days</option>
               		<option value="180">Last 180 days</option>
               		<option value="365">Last 365 days</option>
               	</select>
               </div> -->
               <div class="row">
               	<div class="col-sm-4">
               		<div class="form-group">
               			<label for="sdate">Start Date</label>
               			<div class="input-group">
               				<input type="date" id="sdate" class="form-control" formControlName="sdate" >
               			</div>

               		</div>
               	</div>
               	<div class="col-sm-4">
               		<div class="form-group">
               			<div class="form-group">
               				<label for="edate">End Date</label>
               				<div class="input-group">
               					<input type="date" id="edate" class="form-control" formControlName="edate" >
               				</div>
               			</div>
               		</div>
               	</div>
               	<div class="col-sm-4">
               		<div class="form-group">
               				<label [style.visibility]="'hidden'">Action</label><br>
               				<button type="button" class="btn btn-primary btn-raised mr-1" (click)="addNewInputFields()" *ngIf="(form.controls.formNames.value >=0 && form.controls.fieldKey.value !='') && (form.controls.tblmap.length == 0)">Add new filter</button>
               			</div>
               	</div>

               	
               </div>

               <div formArrayName="tblmap" *ngIf="(form.controls.formNames.value >=0) && (form.controls.fieldKey.value !='')">
               	<!-- <div formArrayName="tblmap" *ngIf="form.controls.formNames.value >=0"> -->
                <div class="row" [formGroupName]="i" *ngFor="let tech of form.controls.tblmap.controls; let i = index">
                 <div class="col-xl-3 col-lg-6 col-md-12 mb-1">
                     <div class="form-group">
                        <label for="field">Fields</label>
                        <select class="custom-select mb-2"  formControlName="formCol"  placeholder="Rule Type"  (change)="onSelectFields($event.target.value,i)">
                           <option value="">-- Select --</option>
                           <!-- <option *ngFor="let value of formsDataSelectedAllControls;let x = index"  value="{{x}}" >{{value.label}}</option>  -->
                           <option *ngFor="let value of formsDataSelectedAllControls"  value="{{value.key}}" >{{value.label}}</option>
                        </select>
                     </div>
                  </div>
                 <div class="col-xl-3 col-lg-6 col-md-12 mb-1" >
                  <div class="form-group">
                    <label for="seloperator">Operator</label><br />
                    <select  class="custom-select mb-2" formControlName="seloperator" placeholder="Rule Type">
                      <option value="">-- Select Operator --</option>
                      <option *ngFor="let value of operatorArray[i]"  value="{{value.opvalue}}" >{{value.optext}}</option>
                     <!--  <option value="<=">less than or equal to</option>
                      <option value="<">less than</option>
                      <option value="=">equal to</option>
                      <option value=">">greater than</option>
                      <option value=">=">greater than or equal to</option> -->
                    </select>
                  </div>
                  </div>
                  <!-- <div class="col-xl-3 col-lg-6 col-md-12 mb-1">
                  <div class="form-group">
                    <label for="seloperator">Operator</label><br />
                    <select  class="custom-select mb-2" formControlName="seloperator" placeholder="Rule Type">
                      <option value="<=">less than or equal to</option>
                      <option value="<">less than</option>
                      <option value="=">equal to</option>
                      <option value=">">greater than</option>
                      <option value=">=">greater than or equal to</option>
                    </select>
                  </div>
                  </div> -->

                  <!-- <div class="col-xl-3 col-lg-6 col-md-12 mb-1" >
                    <div class="form-group">
                      <label for="seloperator">ADD VALUE{{i}}{{tech[i]}}</label><br />
                      <input type="text" name="txtfilterval" formControlName="txtfilterval" class="form-control">
                    </div>
                  </div> -->

                  <div class="col-xl-3 col-lg-6 col-md-12 mb-1" *ngIf="valuesArray[i].type=='textfield' || valuesArray[i].type=='number'">
                    <div class="form-group">
                      <label for="seloperator">ADD VALUE</label><br />
                      <!-- *ngIf="==valuesArray[i]" -->
                      <input  type="text" name="txtfilterval" formControlName="txtfilterval" class="form-control">
                    </div>
                  </div>
                  <!-- <div class="col-xl-3 col-lg-6 col-md-12 mb-1" *ngIf="valuesArray[i].type=='number'">
                    <div class="form-group">
                      <label for="seloperator">ADD VALUE</label><br />
                      <input  type="text" name="txtfilterval" formControlName="txtfilterval" class="form-control">
                    </div>
                  </div> -->

                  <div class="col-xl-3 col-lg-6 col-md-12 mb-1" *ngIf="valuesArray[i].type=='radio' || valuesArray[i].type=='select'">
                    <div class="form-group">
                      <label for="seloperator">ADD VALUE</label><br />
                    <select  class="custom-select mb-2" formControlName="txtfilterval" placeholder="Rule Type">
                      <option  *ngFor="let opt of valuesArray[i].values" value="{{opt.value}}">{{opt.label}}</option>
                    </select>
                    </div>
                  </div>

                  <!-- <div class="col-xl-2 col-lg-6 col-md-12 mb-1" *ngIf="i > 0"> -->
                  	<div class="col-xl-2 col-lg-6 col-md-12 mb-1">
                    <label [style.visibility]="'hidden'">Action</label><br>
                     <button class="btn btn-danger mr-1 btn-fab" *ngIf="form.controls.tblmap.length > 0"
                     (click)="removeInputFields(i)"><i class="fa fa-times"></i></button>
                     <button type="button" class="btn btn-primary btn-raised mr-1" (click)="addNewInputFields()" *ngIf="(form.controls.formNames.value >=0 && form.controls.fieldKey.value !='') && (form.controls.tblmap.length-1 == i)">Add new filter</button>
                  </div>
               </div>
            </div>
            <div class="form-group">
               <!-- <button type="button" class="btn btn-primary btn-raised mr-1" (click)="addNewInputFields()" *ngIf="(form.controls.formNames.value >=0) && (form.controls.fieldKey.value !='')">Add a new row</button> -->
               <button type="button" class="btn btn-danger btn-raised mr-1" (click)="cancel()">Cancel</button>
               <button type="submit" class="btn btn-success btn-raised mr-1"  [disabled]="!form.valid">Get Report</button>
               <button type="button" class="btn btn-success btn-raised"  [disabled]="!form.valid" (click)="addtoDashboard(adddashboardmodal)">Add to Dashboard</button>
            </div>
            </form>
         </div>
      </div>
   </div>
</div>
</div>

    <ng-template #adddashboardmodal let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">Enter Details</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-body">
          <div class="row justify-content-center">
            <div class="col-12">
              <div class="form-group">
                <label for="txta">Chart Name</label>
                <input type="text" name="name" required [(ngModel)]="chartLabels.name"  class="form-control">
              </div>
              <div class="form-group">
                <label>X-Axsis Label</label>
                <input type="text" name="xaxsis" required [(ngModel)]="chartLabels.xaxis" class="form-control">
              </div>
              <div class="form-group">
                <label>Y-Axsis Label</label>
                <input type="text" name="yaxsis" required [(ngModel)]="chartLabels.yaxis" class="form-control">
              </div>
            </div>
          </div>
          <!-- <div class="form-group">
            <label>Chart Type</label>
            <select name="chartType" required formControlName="chartType" class="form-control">
              <option value="line">Line Chart</option>
              <option value="bar">Bar Chart</option>
              <option value="pie">Pie Chart</option>
            </select>
          </div> -->
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-raised" (click)="c('Close click')">Close</button>
        <button type="button" class="btn btn-success btn-raised" (click)="saveDashboardSubmit(c)">Submit</button>
      </div>
    </ng-template>


<!-- Vertical Bar Chart Starts -->
<div class="row" *ngIf="barChartSingle.length >0">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title-wrap bar-info">
                    <h4 class="card-title">Chart</h4>
                </div>
            </div>
            <div class="card-body">
                <div class="card-block">
                    <div id="vartical-bar-chart" class="height-400" >
                        <!-- <ngx-charts-bar-vertical-2d [scheme]="barChartColorScheme" [results]="barChartSingle" [gradient]="barChartGradient" [xAxis]="barChartShowXAxis"
                            [yAxis]="barChartShowYAxis" [legend]="barChartShowLegend" [showXAxisLabel]="barChartShowXAxisLabel"
                            [showYAxisLabel]="barChartShowYAxisLabel" [xAxisLabel]="barChartXAxisLabel" [yAxisLabel]="barChartYAxisLabel"
                            (select)="onSelect($event)">
                        </ngx-charts-bar-vertical-2d>-->
                        <ngx-charts-bar-vertical
                        [view]="view"
                        [scheme]="barChartColorScheme"
                        [results]="barChartSingle"
                        [gradient]="barChartGradient"
                        [xAxis]="barChartShowXAxis"
                        [yAxis]="barChartShowYAxis"
                        [legend]="barChartShowLegend"
                        [showXAxisLabel]="barChartShowXAxisLabel"
                        [showYAxisLabel]="barChartShowYAxisLabel"
                        [xAxisLabel]="barChartXAxisLabel"
                        [yAxisLabel]="barChartYAxisLabel">
                        <!-- (select)="onSelect($event)" -->
                        </ngx-charts-bar-vertical>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Vertical Bar Chart Ends -->


<!-- <div class="row">
  <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
   <div class="form-group">
    <label for="field">Select Form</label>

    <select class="custom-select mb-2"  (change)="onSelectFormName($event.target.value)">
     <option value="">-- Select --</option>
     <option *ngFor="let item of formsData;let i = index" value="{{i}}" >{{item.name}}</option>
   </select>
 </div>
</div>
<div class="col-xl-4 col-lg-6 col-md-12 mb-1">
  <div class="form-group">
   <label for="field">Fields</label>

   <select class="custom-select mb-2"  (change)="onSelectQuestion($event.target.value)"  >

    <option value="">-- Select --</option>
    <option *ngFor="let value of formsDataSelected" value="{{value.key}}" >{{value.label}}</option>
   </select>
 </div>
</div>

<div class="col-xl-4 col-lg-6 col-md-12 mb-1">
  <div class="form-group">
  	<br>
   <a class="btn btn-social btn-round btn-min-width mr-2 mb-2 btn-outline-bitbucket right" (click)="savetoDashboard()"><span class="ft-plus"></span>Add to Dashboard</a>
 </div>
</div>

</div> -->

<!--save dashboard form -->
<!-- <section id="collapse" *ngIf="showSaveForm">
  <div class="row">
    <div class="col-12">
      <div class="content-header">Save Chart</div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="card-block">
              <form class="form" [formGroup]="regularForm" (ngSubmit)="onReactiveFormSubmit()">
                <div class="form-body">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Chart Name</label>
                        <input type="text" name="name" required formControlName="name" class="form-control">
                      </div>
                      <div class="form-group">
                        <label>Chart Type</label>
                        <select name="chartType" required formControlName="chartType" class="form-control">
                          <option value="line">Line Chart</option>
                          <option value="bar">Bar Chart</option>
                          <option value="pie">Pie Chart</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label>X-Axsis Label</label>
                        <input type="text" name="xaxsis" required formControlName="xaxsis" class="form-control">
                      </div>
                      <div class="form-group">
                        <label>Y-Axsis Label</label>
                        <input type="text" name="yaxsis" required formControlName="yaxsis" class="form-control">
                      </div>
                      <h4 class="form-section">Filters</h4>
                      <div class="form-group" >
                        <label>Select Date Range</label>
                        <select name="daterange" required formControlName="daterange" class="form-control">
                          <option value="1">Last one week</option>
                          <option value="15">Last 15 days</option>
                          <option value="30">Last 30 days</option>
                          <option value="60">Last 60 days</option>
                          <option value="90">Last 90 days</option>
                          <option value="180">Last 180 days</option>
                          <option value="365">Last 365 days</option>
                        </select>
                      </div>


                      <div formArrayName="tblmap" *ngIf="(regularForm.controls.formNames.value >=0) && (regularForm.controls.tblNames.value >=0)">
                      	<div class="row" [formGroupName]="i" *ngFor="let tech of regularForm.controls.tblmap.controls; let i = index">
                      		<div class="col-xl-3 col-lg-6 col-md-12 mb-1">
                      			<div class="form-group">
                      				<label for="field">Fields</label>

                      				<select class="custom-select mb-2" formControlName="formCol"  placeholder="Rule Type" >

                      					<option value="">-- Select --</option>
                      					<option *ngFor="let value of formsDataSelected" value="{{value.key}}" >{{value.label}}</option>
                      				</select>
                      			</div>
                      		</div>



                      			<div class="col-xl-3 col-lg-6 col-md-12 mb-1">
                      				<div class="form-group">
                      					<label for="seloperator">Operator</label><br />
                      					<select  class="custom-select mb-2" formControlName="seloperator" placeholder="Rule Type">
                      						<option value="1">less than or equal to</option>
                      						<option value="2">less than</option>
                      						<option value="3">equal to</option>
                      						<option value="4">greater than</option>
                      						<option value="5">greater than or equal to</option>
                      					</select>
   
                      				</div>
                      			</div>

                      			<div class="col-xl-3 col-lg-6 col-md-12 mb-1">
                      				<div class="form-group">
                      					<label for="seloperator">ADD VALUE</label><br />
                      					 <input type="text" name="txtfilterval" required formControlName="txtfilterval" class="form-control">

                      				</div>
                      			</div>


                      			<div class="col-xl-2 col-lg-6 col-md-12 mb-1" *ngIf="i > 0">
                      				<br>
                      				<button class="btn btn-danger mr-1 btn-fab" *ngIf="regularForm.controls.tblmap.length > 1"
                      					(click)="removeInputField(i)"><i class="fa fa-times"></i></button>
                      				</div>
                      			</div>
                      		</div>

                      <div class="form-group">
                      	<button type="button" class="btn btn-primary btn-raised mr-1" (click)="addNewInputField()">Add new Filter</button>
                        <button type="button" class="btn btn-danger btn-raised  mr-1" (click)="cancel()">Cancel</button>
                        <button type="submit" class="btn btn-success btn-raised" [disabled]="!regularForm.valid" >Generate Chart</button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!--save dashboard form-->
