<section class="basic-elements">
	<div class="row">
	    <div class="col-md-6">
	        <div class="content-header">Email Templates</div>
	    </div>
	</div>

	<div class="row" *ngIf="new">
		<div class="col-md-12" *ngIf="showTable">
			<div class="card">
				<div class="card-header">
					<div class="row">
					    <div class="col-sm-12" style="text-align: right;" *ngIf="showTable">
					        <p>
					            <a class="btn btn-social btn-round btn-min-width mr-2 mb-2 btn-outline-bitbucket float-right" (click)="addet()"><span class="ft-plus"></span>Add Email Template</a>
					        </p>
					    </div>
					</div>
					<div class="card-body">
            <div class="card-block">
              <table class="table table-responsive-sm">
                  <thead>
                      <tr>
                          <th>Template Name</th>
                          <th>Subject</th>
                          <th>Action</th>
                      </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let templateData of emailTemplates | paginate: { itemsPerPage: 5, currentPage: p }">
                        <td>{{templateData.name}}</td>
                        <td>{{templateData.subject}}</td>
                        <td>
                            <a class="success p-0" data-original-title="" title="" (click)="editet(templateData.id)">
                                <i class="fas fa-pencil-alt font-medium-3 mr-2"></i>
                            </a>
                            <a class="danger p-0" data-original-title="" title="" (click)="deleteet(templateData.id)">
                                <i class="fas fa-trash font-medium-3 mr-2"></i>
                            </a>
                      	</td>
                    </tr>
                      <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
                  </tbody>
              </table>
            <div class="col-12 paginationonAction">
            	<span class="total">{{collectionSize}} Total</span>
            	<ngb-pagination class="datatable-footer-inner" [pageSize]="pageSize" [(page)]="p" [maxSize]="5" [rotate]="true" [collectionSize]="collectionSize" [boundaryLinks]="true" style="float: right;"></ngb-pagination>
          </div>
        </div>
    	</div>
		</div>
	</div>
</div>

		<div class="col-md-12" *ngIf="!showTable">
			<div class="card">
				<div class="card-header">
					<div class="card-body">
	          <div class="card-block">
	            	<form class="form" [formGroup]="emailTemplateForm">
									<div class="form-body">
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label for="temname">Name</label>
													<input type="text" id="temname" class="form-control" formControlName="temname" placeholder="Enter Template Name" required>
													<small class="form-text text-muted danger" *ngIf="!emailTemplateForm.get('temname').valid && (emailTemplateForm.get('temname').dirty || emailTemplateForm.get('temname').touched)">Please enter a value.</small>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label for="temsub">Subject</label>
													<input type="text" id="temsub" class="form-control" formControlName="temsub" placeholder="Enter Subject" required>
													<small class="form-text text-muted danger" *ngIf="!emailTemplateForm.get('temsub').valid && (emailTemplateForm.get('temsub').dirty || emailTemplateForm.get('temsub').touched)">Please enter a value.</small>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label for="template">Save as Template</label><br />
													<ui-switch formControlName="template" id="template"></ui-switch>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label for="template">Type Id (Unique Id for Template Differentiation)</label>
													<input type="text"  class="form-control" formControlName="temtypeid" placeholder="Enter Type Id" (blur)="checkUniqueId($event.target.value)" required>
													<small class="form-text text-muted danger" *ngIf="typeIdExsits">That type id is taken. Try another.</small>
													<small class="form-text text-muted danger" *ngIf="(!emailTemplateForm.get('temtypeid').valid && (emailTemplateForm.get('temtypeid').dirty || emailTemplateForm.get('temtypeid').touched))">Please enter a value.</small>
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<h2>Map User Details to be displayed in Template Below</h2>
		                      <p>Example :- [NAME] means Member Name, and so on...</p>
		                      <div formArrayName="mapusers">
		                         <div  [formGroupName]="i" *ngFor="let tech of emailTemplateForm.controls.mapusers.controls; let i = index">
		                         	<div class="row">
		                            <div class="col-xl-3 col-lg-6 col-md-12 mb-1">
		                               <div class="form-group">
		                                  <label>Enter value within [] only.</label>
		                                  <input type="text" formControlName="nametype" class="form-control" required>
		                               </div>
		                            </div>
		                            <div class="col-xl-3 col-lg-6 col-md-12 mb-1" >
		                               <div class="form-group">
		                                  <label>Choose User Details.</label>
		                                  <select  class="custom-select mb-2" formControlName="uservalue" placeholder="Select User Details" required>
		                                     <option value="name">Name</option>
 		                                     <option value="firstName">First Name</option>
 		                                     <option value="lastName">Last Name</option>
 		                                     <option value="email">Email</option>
 		                                     <option value="dob">DOB</option>
 		                                     <option value="address">Address</option>
		                                  </select>
		                               </div>
		                            </div>
		                            <div class="col-xl-1 col-lg-6 col-md-12 mb-1" >
		                               <div class="col-xl-2 col-lg-6 col-md-12 mb-1">
		                                  <label></label>
		                                  <button class="btn btn-danger mr-1 btn-fab"
		                                     (click)="removeSetCondition(i)"><i class="fa fa-times"></i></button>
		                               </div>
		                            </div>
		                         	</div>
		                      	</div>
													</div>
													<button type="button" class="btn btn-outline-primary btn-block btn-raised" (click)="addSetCondition()" >Add User Details</button>
												</div>
											</div>
											<div class="col-12">
												<div class="form-group">
													<fieldset class="form-group">
														<div [froalaEditor]="options" #my_editor formControlName="tembody"></div>
													</fieldset>
												</div>
											</div>
										</div>
									</div>
									<div class="form-actions">
										<button type="button" class="btn btn-raised btn-success mr-1" (click)="addEmailTemplate()" *ngIf="!showEdit" [disabled]="!emailTemplateForm.valid || typeIdExsits">Save Template</button>
										<button type="button" class="btn btn-raised btn-danger mr-1" (click)="updateEmailTemplate()" *ngIf="showEdit" [disabled]="!emailTemplateForm.valid || typeIdExsits">Update Template</button>
										<button type="button" class="btn btn-raised btn-danger mr-1" (click)="cancel()">Cancel</button>
									</div>
								</form>
			       </div>
        	</div>
				</div>
			</div>
		</div>
	</div>

	<!-- <div class="row" *ngIf="showEdit">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header">
					<div class="card-body">
	                    <div class="card-block">
	                        <form class="form">
								<div class="form-body">
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label for="projectinput1">Name</label>
												<input type="text" class="form-control" name="name" [(ngModel)]="editEmailTemDetails.name" placeholder="Enter Template Name">
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label for="projectinput2">Subject</label>
												<input type="text" class="form-control" name="subject" [(ngModel)]="editEmailTemDetails.subject" placeholder="Enter Subject">
											</div>
										</div>
									</div>
									<div class="col-12">
										<div class="form-group">
											<label for="template">Save as Template</label><br />
											<ui-switch [(ngModel)]="editEmailTemDetails.template" name="template"></ui-switch>
										</div>
									</div>
								</div>

								<div class="col-12">
									<div class="form-group">
										<fieldset class="form-group">
											<div [froalaEditor]="options" #my_editor name="body" [(ngModel)]="editEmailTemDetails.body"></div>
				                        </fieldset>
									</div>
								</div>

								<div class="form-actions">
									<button type="button" class="btn btn-raised btn-danger mr-1" (click)="updateEmailTemplate()" [disabled]="!emailTemplateForm.valid">Update Template</button>
									<button type="button" class="btn btn-raised btn-success" (click)="cancel()">Cancel</button>
								</div>
							</form>
	                    </div>
                	</div>
				</div>
			</div>
		</div>
	</div> -->
</section>
