<section>
	<div class="row">
	    <div class="col-12 mt-3 mb-1" *ngIf="validity != 'Expired'">
	      <div class="content-header">Remaining Points - {{remainingPoints}}</div>
	    </div>
	    <div class="col-12 mt-3 mb-1" *ngIf="validity == 'Expired'">
	      <div class="content-header">Your Points are Expired.</div>
	    </div>
	</div>
	<div class="row" matchHeight="card">
		<div class="col-xl-3 col-lg-6 col-12 text-center" *ngFor="let data of rewardDisplay">
	      <div class="card text-center">
	      	<img class="avatar" src="{{data.reward_image}}" alt="Card image cap">
	         <div class="card-body">
	            <div class="card-block text-center">
	              <h5 class="card-title">{{data.reward_name}}</h5><br>
	              <h6>Points: {{data.points_value}}</h6>
	              <p class="card-text">Expires On: {{data.end_time}} </p>
				  <span *ngFor="let type of memType?.split(',')">{{type}}</span>
	              <button class="btn btn-raised mr-1 shadow-z-2 btn-danger" type="submit" (click)="viewDetails(data.id)" [disabled]="redeemed == data.id">View Details</button>
	              <!--<button class="btn btn-raised mr-1 shadow-z-2 btn-danger" type="submit" (click)="redeem(data.points_value,data.id)" [disabled]="redeemed == data.id">Redeem</button>-->
	            </div>
	          </div>
	      </div>
	    </div>
	</div>
</section>