<!-- <p>
  viewsubmissions works!
  <ngx-data-table [data]="data"></ngx-data-table>
</p> -->

<!--Basic DataTable Starts-->
<section id="basic-datatable" class="mb-3">
<!--     <div class="row">
        <div class="col-12">
            <div class="content-header">Basic DataTable</div>
            <p class="content-sub-header">A feature-rich yet lightweight data-table crafted for Angular4 and beyond!</p>
        </div>
    </div> -->
    <div class="row">
        <div class="col-sm-12" *ngIf="!emptyMsg">
            <div class="card">
                <div class="card-header">
                  <div class="card-title-wrap bar-info">
                    <h4 class="card-title">{{formTitle}}  </h4>
                  </div>
                  <button class="mr-1" (click)="ExportToPdf()" tooltip="Export as PDF">
                    <i class="fas fa-file-pdf"></i>
                </button>
                <button class="mr-1" (click)="ExportTOExcel()" tooltip="Export as Xlsx">
                    <i class="fas fa-file-excel"></i>
                </button>
                <button (click)="ExportTOCsv()" tooltip="Export as Csv">
                    <i class="fas fa-file-csv"></i>
                </button>

                </div>
                <div class="card-body">
                    <div class="card-block">
                    	<table class="table table-responsive-md text-center">
                    		<thead>
                    			<tr>
                    				<th *ngFor="let key of headerLabels">
                    					{{key}}
                    				</th>
                    			</tr> 
                    		</thead>
                    		<tbody>
                    			<tr *ngFor="let datavalues of dataFromServer">
                    				<td *ngFor="let item of datavalues | keyvalue">
                    					{{item.value}}
                                        <!-- <span *ngIf="!isObject(item.value)">
                                            {{item.value}}
                                        </span>
                                        <span *ngIf="isObject(item.value)">
                                            <span *ngFor="let chkvalues of item.value | keyvalue">{{chkvalues.value}}</span>
                                        </span> -->
                                       <!--  {{isObject(item.value)}} -->
                    				</td>

                    			</tr>
                    		</tbody>
                    	</table>
                       <!--  <ngx-datatable class="bootstrap" [rows]="rows" [loadingIndicator]="loadingIndicator" [columns]="columns" [columnMode]="'force'"
                            [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [reorderable]="reorderable">
                        </ngx-datatable> -->


                        <!-- <json-table 
      [dataSource]="dataFromServer"
       [headers]="customHeaders"
      ></json-table> -->

                    </div>
                </div>
            </div>
        </div>

    <div class="col-sm-12" *ngIf="emptyMsg">
        <div class="card">
            <div class="card-header">
                <div class="card-title-wrap bar-info">
                    <h4 class="card-title">No submissions found.</h4>
                </div>
            </div>
        </div>
    </div>

    </div>
</section>
<!--Basic DataTable Ends-->
