.sebm-google-map-container {
   height: 300px;
   width: 100%;
 }
 #address {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
      }

      .image-wrapper span {
          width: 150px;
          height: 150px;
          margin: 10px;
          float: left;
          border: 1px solid #ccc;
          overflow: hidden;
          position: relative;
          text-align: center;
          cursor: default;
          background: #fff;
          // margin-bottom: 25px;
      }
      // .browse-btn {
      //     box-sizing: border-box;
      //     display: inline-block;
      //     margin: 0.5rem;
      //     position: relative;
      //     width: 150px;
      //     height: 150px;
      //     border:1px solid #ccc;
      //     text-align: center;
      // }
      // .browse-image {
      //     position: relative;
      //     top: 25%;
      // }
      .product-image{
          width:100%;
          height:100%;
      }
      a.delete-btn {
          color: #f00;
          cursor: pointer;
      }
      // #cameraImg {
      //     cursor: pointer;
      //     opacity: 0;
      //     position: absolute;
      //     width: 100%;
      //     height: 100%;
      //     top:0;
      //     bottom:0;
      //     left:0;
      //     right: 0;
      //     z-index: 3;
      // }
      .error {
          color: #ff0000;
      }
