<section>
    <div class="row">
        <div class="col-md-6">
            <div class="content-header">Events</div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
            <div class="row">
                <div class="col-sm-12" style="text-align: right;">
                    <p>
                        <a class="btn btn-social btn-round btn-min-width mr-2 mb-2 btn-outline-bitbucket float-right" (click)="createEvent()" *ngIf="eventTable"><span class="ft-plus"></span>Create Event</a>
                        <a class="btn btn-social btn-round btn-min-width mr-2 mb-2 btn-outline-bitbucket float-right" (click)="listEvent()" *ngIf="!eventTable"><span class="ft-list"></span>Event List</a>
                    </p>
                  </div>
              </div>
            </div>
            <div class="card-body">
               <div *ngIf="eventTable" class="col-md-12">
                 <div class="row" *ngIf="eventTable">
                     <div class="col-sm-12">
                         <div class="card">
                             <div class="card-header">
                                 <div class="row">
                                     <div class="col-sm-6">
                                         <p>Event List</p>
                                     </div>
                                     </div>
                                 <div class="card-body">
                                     <div class="card-block">
                                         <table class="table table-responsive-md text-center">
                                             <thead>
                                                 <tr>
                                                     <th>Title</th>
                                                     <!-- <th>Decription</th> -->
                                                     <th>Member Only</th>
                                                     <!-- <th>Custom URL</th> -->
                                                     <th>Event Email</th>
                                                     <th>Start Date</th>
                                                     <th>End Date</th>
                                                     <th>Action</th>
                                                 </tr>
                                             </thead>
                                             <tbody>
                                                 <tr *ngFor="let data of eventData | paginate: { itemsPerPage: 10, currentPage: p }">
                                                     <td><a href="{{data.url}}" target="_blank">{{data.title}}</a></td>
                                                     <td *ngIf="data.member == 1">
                                                         <ui-switch id="active" [checked]="true" disabled></ui-switch>
                                                     </td>
                                                     <td *ngIf="data.member == 0">
                                                         <ui-switch id="active" [checked]="false" disabled></ui-switch>
                                                     </td>

                                                     <!-- <td>{{data.url}}</td> -->
                                                     <td>{{data.email}}</td>
                                                     <td>{{data.st_dt | date: 'dd-MM-yyyy'}}</td>
                                                     <td>{{data.end_dt | date: 'dd-MM-yyyy'}}</td>
                                                   
                                                     <td>
                                                         <a class="success p-0" data-original-title="" title="" (click)="editevent(data.id)">
                                                             <i class="fas fa-pencil-alt font-medium-3 mr-2"></i>
                                                         </a>
                                                         <a class="danger p-0" data-original-title="" title="" (click)="deleteevent(data.id)">
                                                             <i class="fas fa-trash font-medium-3 mr-2"></i>
                                                         </a>
                                                     </td>
                                                 </tr>

                                                 <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
                                             </tbody>
                                         </table>
                                         <div class="col-12 paginationonAction">
                                             <span class="total">{{collectionSize}} Total</span>
                                             <ngb-pagination [pageSize]="pageSize" [(page)]="p" [maxSize]="10" [rotate]="true" [collectionSize]="collectionSize" [boundaryLinks]="true" style="float: right;"></ngb-pagination>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>

              </div>
                <!-- <div class="card-block">
                </div> -->
                <div class="col-md-12" *ngIf="!eventTable">

  <ngb-tabset (tabChange)="selectData($event)" #tabs>

    <ngb-tab title="Details" id="details" active="SelectedTab == 'details'">
      <ng-template ngbTabContent>
        <div class="row">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-body">
                <div class="card-block">
                  <form class="form" #eventForm="ngForm">
                    <div class="form-body">
                      <!-- <h4 class="form-section">
                      <i class="icon-user"></i> Personal Details</h4> -->
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label>Title</label>
                            <input type="text" class="form-control" name="title" [(ngModel)]="events.title"
                         [ngClass]="{ 'is-invalid': eventForm.submitted && title.invalid }" required>
                            <small class="form-text text-muted danger" *ngIf="eventForm.submitted && title.invalid">This field is required!</small>
                          </div>
                        </div>

                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label>Description</label>
                            <input type="text" description class="form-control" name="description" [(ngModel)]="events.description" [ngClass]="{ 'is-invalid': eventForm.submitted && description.invalid }" required>
                            <small class="form-text text-muted danger" *ngIf="eventForm.submitted && description.invalid">This field is required!</small>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label>Member Only</label>
                            <div class="form-input">
                              <ui-switch id="member" [checked]="events.member" (click)="member(events.member)"></ui-switch>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label>FAQ's</label>
                            <input type="text" class="form-control" name="faq" [(ngModel)]="events.faq" [ngClass]="{ 'is-invalid': eventForm.submitted && faq.invalid }" required>
                            <small class="form-text text-muted danger" *ngIf="eventForm.submitted && faq.invalid">This field is required!</small>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label>Custom URL</label>
                            <input type="text" class="form-control" name="url" [(ngModel)]="events.url" [ngClass]="{ 'is-invalid': eventForm.submitted && url.invalid }" required>
                            <small class="form-text text-muted green">Start with http or https</small>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label>Event Email</label>
                            <input type="email" class="form-control" name="email" [(ngModel)]="events.email" [ngClass]="{ 'is-invalid': eventForm.submitted && email.invalid }" required >
                            <small class="form-text text-muted danger" *ngIf="eventForm.submitted && email.invalid">This field is required!</small>
                            <!-- <div *ngIf="email.errors.required">Email is required</div>
                            <div *ngIf="email.errors.email">Email must be a valid email address</div> -->

                          </div>
                        </div>

                      </div>



   <div class="row">
                        <div class="col-md-6">
                                              <div class="form-group">
                            <label>Start Date</label>

                              <input required [(ngModel)]="events.st_dt" #st_dt="ngModel" [ngClass]="{ 'is-invalid': eventForm.submitted && st_dt.invalid }" class="form-control" id="st_dt" name="st_dt" type="date">
                              <!-- datetime-local -->
                        </div>
                      </div>

                        <div class="col-md-6">
                          <div class="form-group">
                            <label>End Date</label>

          <input required [(ngModel)]="events.end_dt" #end_dt="ngModel" [ngClass]="{ 'is-invalid': eventForm.submitted && end_dt.invalid }" class="form-control" id="end_dt" name="end_dt" type="date">
                        </div>
                        </div>

                      </div>

                    </div>



  <div class="row">
                        <div class="col-md-6">
                                              <div class="form-group">
                            <label>Start Time</label>

                              <input required [(ngModel)]="events.st_time" #st_dt="ngModel" [ngClass]="{ 'is-invalid': eventForm.submitted && st_time.invalid }" class="form-control" id="st_time" name="st_time" type="time">
                              <!-- datetime-local -->
                        </div>
                      </div>

                        <div class="col-md-6">
                          <div class="form-group">
                            <label>End Time</label>

          <input required [(ngModel)]="events.end_time" #end_dt="ngModel" [ngClass]="{ 'is-invalid': eventForm.submitted && end_time.invalid }" class="form-control" id="end_time" name="end_time" type="time">
                        </div>
                        </div>

                      </div>

                    <!-- </div> -->
 


                    <div class="form-actions">
                      <!-- <button type="submit" class="btn btn-raised btn-danger mr-1" (click)="cancel()">
                      Cancel
                      </button> -->
                      <button type="submit" class="btn btn-raised btn-success mr-1" (click)="updateevent()" *ngIf="!save" [disabled]="!eventForm.valid || !isEmail() || !isURL(events.url)">
                      Update Event <i *ngIf="submitted" class="fas fa-spinner fa fa-spin"></i>
                      </button>
                      <button type="submit" class="btn btn-raised btn-success" (click)="insertevent('save')" *ngIf="save" [disabled]="!eventForm.valid || !isEmail() || !isURL(events.url)">
                      Save
                      <!-- <i *ngIf="submitted" class="fas fa-spinner fa fa-spin"></i> -->
                      </button>
                      &nbsp;
                      <button type="submit" class="btn btn-raised btn-success" (click)="insertevent('next')" *ngIf="save" [disabled]="!eventForm.valid || !isEmail() || !isURL(events.url)">
                      Save & Next
                      </button>

                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>

    <ngb-tab title="Location" id="location" active="SelectedTab == 'location'" [disabled]="flag">

      <ng-template ngbTabContent>
        <div class="row">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-body">
                <div class="card-block">
                  <form class="form" #locationForm="ngForm">
                    <div class="form-body">
                      <!-- <h4 class="form-section">
                      <i class="icon-user"></i> Personal Details</h4> -->
                      <div class="row">
                        <div class="col-md-12" class="form-actions">
                          <div class="form-group">
                            <!-- <label>Enter Address</label> -->
                            <!-- <input type="text" class="form-control" name="address" [(ngModel)]="location.address" [ngClass]="{ 'is-invalid': locationForm.submitted && address.invalid }" required> -->
                            <input id="address" name="address" class="form-control" placeholder="Enter address" (focus)="initAutocomplete()" (change)="findLocation()" type="text"
 [(ngModel)]="location.address" [ngClass]="{ 'is-invalid': locationForm.submitted && address.invalid }" required
                            />
                            <small class="form-text text-muted danger" *ngIf="locationForm.submitted && address.invalid">This field is required!</small>
                          </div>
                        <!-- </div>
                        <div class="form-actions"> -->
                          <!-- <button type="submit" class="btn btn-raised btn-danger mr-1" (click)="cancel()">
                          Cancel
                          </button> -->
                          <button type="submit" class="btn btn-raised btn-success mr-1" (click)="updatelocation()" *ngIf="!save" [disabled]="!locationForm.valid">
                          Update Location <i *ngIf="submitted" class="fas fa-spinner fa fa-spin"></i>
                          </button>
                          <button type="submit" class="btn btn-raised btn-success" (click)="insertlocation('save')" *ngIf="save" [disabled]="!locationForm.valid">
                          Save
                          <!-- <i *ngIf="submitted" class="fas fa-spinner fa fa-spin"></i> -->
                          </button>&nbsp;
                          <button type="submit" class="btn btn-raised btn-success" (click)="insertlocation('next')" *ngIf="save" [disabled]="!locationForm.valid">
                          Save & next
                           <!-- <i *ngIf="submitted" class="fas fa-spinner fa fa-spin"></i> -->
                          </button>

                        </div>

                      </div>

                      <div class="row">
                        <div class="col-md-12">
                          <agm-map [(latitude)]="location.lat" [(longitude)]="location.lng" [(zoom)]="location.zoom" [disableDefaultUI]="true" [zoomControl]="true" [(fitBounds)]='location.viewport'>
                            <agm-marker [(latitude)]="location.marker.lat" [(longitude)]="location.marker.lng" [markerDraggable]="location.marker.draggable" (dragEnd)='markerDragEnd($event)'></agm-marker>

                            <!-- <agm-circle [latitude]="location.lat" [longitude]="location.lng"
                            [(radius)]="circleRadius"
                            [fillColor]="'blue'"
                            [circleDraggable]="true"
                            [editable]="true"></agm-circle> -->
                          </agm-map>

                        </div>
                      </div>

                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

      </ng-template>
    </ngb-tab>

  <ngb-tab title="Contacts" id="contacts" active="SelectedTab == 'contacts'" [disabled]="flag">
    <ng-template ngbTabContent>
      <div class="row" *ngIf="showTable && !showForm">
          <div class="col-sm-12">
              <div class="card">
                  <div class="card-header">
                      <div class="row">
                          <div class="col-sm-6">
                              <p>Contacts</p>
                          </div>
                          <div class="col-sm-6" style="text-align: right;">
                              <p>
                                  <a class="btn btn-social btn-round btn-min-width mr-2 mb-2 btn-outline-bitbucket float-right" (click)="addcontact(events.id)"><span class="ft-plus"></span> Add Contact</a>
                              </p>
                          </div>
                      </div>
                      <div class="card-body">
                          <div class="card-block">
                              <table class="table table-responsive-md text-center">
                                  <thead>
                                      <tr>
                                          <th>Name</th>
                                          <th>Phone</th>
                                          <th>Action</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <tr *ngFor="let data of contactData | paginate: { itemsPerPage: 10, currentPage: p }">
                                          <td>{{data.name}}</td>
                                          <td>{{data.phone}}</td>
                                          <td>
                                              <a class="success p-0" data-original-title="" title="" (click)="editcontact(data.id)">
                                                  <i class="fas fa-pencil-alt font-medium-3 mr-2"></i>
                                              </a>
                                              <a class="danger p-0" data-original-title="" title="" (click)="deletecontact(data.id)">
                                                  <i class="fas fa-trash font-medium-3 mr-2"></i>
                                              </a>
                                          </td>
                                      </tr>

                                      <!-- <pagination-controls (pageChange)="p = $contact"></pagination-controls> -->
                                  </tbody>
                              </table>
                              <div class="col-12 paginationonAction">
                                  <span class="total">{{contactcollectionSize}} Total</span>
                                  <ngb-pagination [pageSize]="pageSize" [(page)]="p" [maxSize]="10" [rotate]="true" [collectionSize]="contactcollectionSize" [boundaryLinks]="true" style="float: right;"></ngb-pagination>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="row" *ngIf="!showTable && showForm">
          <div class="col-sm-12">
              <div class="card">
                  <div class="card-body">
                      <div class="card-block">
                        <!-- <ngb-tabset>
                          <ngb-tab title="Information">
                            <ng-template ngbTabContent> -->
                              <form class="form" #contactForm="ngForm">
                                <div class="form-body">
                                  <!-- <h4 class="form-section">
                                  <i class="icon-user"></i> Personal Details</h4> -->
                                  <div class="row">
                                    <div class="col-md-6">
                                      <div class="form-group">
                                        <label>Name</label>
                                        <input type="text" class="form-control" name="name" [(ngModel)]="contacts.name" [ngClass]="{ 'is-invalid': contactForm.submitted && name.invalid }" required>
                                        <small class="form-text text-muted danger" *ngIf="contactForm.submitted && name.invalid">This field is required!</small>
                                      </div>
                                    </div>
                                    <div class="col-md-6">
                                      <div class="form-group">
                                        <label>Phone</label>
                                        <input type="number" phone class="form-control" name="phone" [(ngModel)]="contacts.phone" [ngClass]="{ 'is-invalid': contactForm.submitted && phone.invalid }" required>
                                        <small class="form-text text-muted danger" *ngIf="contactForm.submitted && name.invalid">This field is required!</small>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="form-actions">
                                  <button type="submit" class="btn btn-raised btn-danger mr-1" (click)="cancelcontact()">
                                  Cancel
                                  </button>
                                  <button type="submit" class="btn btn-raised btn-success mr-1" (click)="updatecontact()" *ngIf="!save" [disabled]="!contactForm.valid">
                                  Update Contact <i *ngIf="submitted" class="fas fa-spinner fa fa-spin"></i>
                                  </button>
                                  <button type="submit" class="btn btn-raised btn-success" (click)="insertcontact('save')" *ngIf="save" [disabled]="!contactForm.valid">
                                  Save
                                  <!-- <i *ngIf="submitted" class="fas fa-spinner fa fa-spin"></i> -->
                                  </button>&nbsp;
                                  <button type="submit" class="btn btn-raised btn-success" (click)="insertcontact('next')" *ngIf="save" [disabled]="!contactForm.valid">
                                  Save & Next
                                  <!-- <i *ngIf="submitted" class="fas fa-spinner fa fa-spin"></i> -->
                                  </button>

                                </div>
                              </form>
                            <!-- </ng-template>
                          </ngb-tab>
                        </ngb-tabset> -->
                      </div>
                  </div>
              </div>
          </div>
      </div>

    </ng-template>
  </ngb-tab>


<ngb-tab title="Images" id="images" active="SelectedTab == 'images'" [disabled]="flag">
  <ng-template ngbTabContent>

    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <div class="card-block">
              <form [formGroup]="Form" novalidate>
                <div class="form-body">
                      <div class="form-group">
                      <div class="row">
                    <div class="col-md-12">
                      <!-- <div class="form-group"> -->
                        <input  type="file" accept=".png,.gif,.jpeg,.jpg" multiple id="upload" formControlName="upload" (change)="upload($event.target.files)" />
                        <label class="custom-file-label" for="upload" #uploadLabel>Choose Image files</label>

                        <br /><br />
                             <small class="form-text text-muted green">
                              Image height must be >= 200 px and ratio must be 3:2 (width:height)
                        </small>
                    <br />
                        <!-- <button type="submit" class="btn btn-raised btn-success mr-1" (click)="uploadImage()" *ngIf="files.length > 0">
                        Upload Images <i *ngIf="submitted" class="fas fa-spinner fa fa-spin"></i>
                        </button> -->
                        <button id="btnUpload" type="submit" class="btn btn-raised btn-success mr-1" (click)="uploadImage('save')" [disabled]="isDisabled">
                        Upload<i *ngIf="submitted" class="fas fa-spinner fa fa-spin"></i>
                        </button>&nbsp;
                        <button id="btnUpload" type="submit" class="btn btn-raised btn-success mr-1" (click)="uploadImage('next')" [disabled]="isDisabled">
                        Upload & Next <i *ngIf="submitted" class="fas fa-spinner fa fa-spin"></i>
                        </button>

                        <button type='submit' style="visibility:hidden;" id='viewImages' (click)="viewImages()"></button>
                        <button type='submit' style="visibility:hidden;" id='sponsors' (click)="sponsorTab()"></button>

                      </div>

                    </div>
                      </div>

                      <div class="row">
                          <!-- <div class="upload-image"> -->
                            <div class="image-wrapper" *ngFor="let data of images">
                              <span>
                                <img class="product-image" src="https://click365.com.au/usermanagement/{{data['image']}}" height="100%" width="100%" />
                                <!-- <a class="delete-btn" (click)="deleteImg(data['id'])">Delete</a> -->
                              </span>
                              <div align='center'>
                                <a class="danger p-0" data-original-title="" style="margin:10px;" (click)="deleteImg(data.id)">
                                    <i class="fas fa-trash font-medium-3 mr-2"></i>
                                </a>

                              </div>
                            </div>
                          <!-- </div> -->
                      </div>

                </div>
              </form>

              </div>
          </div>
        </div>
      </div>
    </div>

  </ng-template>
</ngb-tab>

<ngb-tab title="Sponsors" id="sponsors" active="SelectedTab == 'sponsors'" [disabled]="flag">
  <ng-template ngbTabContent>
    <div class="row" *ngIf="showTable && !showForm">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-6">
                            <p>Sponsors</p>
                        </div>
                        <div class="col-sm-6" style="text-align: right;">
                            <p>
                                <a class="btn btn-social btn-round btn-min-width mr-2 mb-2 btn-outline-bitbucket float-right" (click)="addsponsor(events.id)"><span class="ft-plus"></span> Add Sponsor</a>
                            </p>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-block">
                            <table class="table table-responsive-md text-center">
                                <thead>
                                    <tr>
                                        <th>Image</th>
                                        <th>Website</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of sponsorData | paginate: { itemsPerPage: 10, currentPage: p }">
                                        <td><img src="https://click365.com.au/usermanagement/{{data['img']}}" height="75px" width="125px" /></td>
                                        <td>{{data.website}}</td>
                                        <td>
                                            <a class="success p-0" data-original-title="" title="" (click)="editsponsor(data.id)">
                                                <i class="fas fa-pencil-alt font-medium-3 mr-2"></i>
                                            </a>
                                            <a class="danger p-0" data-original-title="" title="" (click)="deletesponsor(data.id)">
                                                <i class="fas fa-trash font-medium-3 mr-2"></i>
                                            </a>
                                        </td>
                                    </tr>

                                    <!-- <pagination-controls (pageChange)="p = $contact"></pagination-controls> -->
                                </tbody>
                            </table>
                            <div class="col-12 paginationonAction">
                                <span class="total">{{sponsorcollectionSize}} Total</span>
                                <ngb-pagination [pageSize]="pageSize" [(page)]="p" [maxSize]="10" [rotate]="true" [collectionSize]="sponsorcollectionSize" [boundaryLinks]="true" style="float: right;"></ngb-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="!showTable && showForm">

        <div class="col-sm-12">

            <div class="card">
                <div class="card-body">
                    <div class="card-block">
                      <!-- <ngb-tabset>
                        <ngb-tab title="Information">
                          <ng-template ngbTabContent> -->
                            <form class="form" #sponsorForm="ngForm">
                              <div class="form-body">
                                <!-- <h4 class="form-section">
                                <i class="icon-user"></i> Personal Details</h4> -->
                                <div class="row">
                                  <!-- <div class="col-md-12"> -->
                                    <div class="form-group" style="width:97%;margin-left:14px;">
                                        <div class="custom-file center-block d-block">
                                      <label>Sponsor's Logo</label>
                                        <input type="file" id="uploadLogo" accept=".png,.gif,.jpeg,.jpg" (change)="uploadLogo($event.target.files)" />
                        <label class="custom-file-label" for="uploadLogo" #uploadLogoLabel>Choose Logo</label>
                        <small class="form-text text-muted green">Width must be 250 px & height must be 150 px</small>
                       </div>
                                    </div>
                                  <!-- </div> -->
                                <!--  </div>
                                 </div>
                                <div class="row">
                              -->
                                  <div class="col-md-12">
                                  <!-- <div class="row"> -->
                              
                                    <div class="form-group">
                                      <label>Website URL</label>
                                      <input type="text" id="website" class="form-control" align="left" name="website" [(ngModel)]="sponsors.website" required>
                                      <!-- <small class="form-text text-muted danger" *ngIf="sponsorForm.submitted && website.invalid">This field is required!</small> -->
                                            <small class="form-text text-muted green">Start with http or https</small>
                                    </div>
                                  </div>
                                <!-- </div> -->
                                </div>
                              </div>
                              <div class="form-actions">
                                <button type="submit" class="btn btn-raised btn-danger mr-1" (click)="cancelsponsor()">
                                Cancel
                                </button>
                                <button type="submit" class="btn btn-raised btn-success mr-1" (click)="updatesponsor()" *ngIf="!save" [disabled]="!sponsorForm.valid || isLogoDisabled || !isURL(sponsors.website)">
                                Update Sponsor <i *ngIf="submitted" class="fas fa-spinner fa fa-spin"></i>
                                </button>
                                <button type="submit" class="btn btn-raised btn-success" (click)="insertsponsor('save')" *ngIf="save" [disabled]="!sponsorForm.valid || isLogoDisabled || !isURL(sponsors.website)">
                                Save
                                <!-- <i *ngIf="submitted" class="fas fa-spinner fa fa-spin"></i> -->
                                </button>&nbsp;
                                <button type="submit" class="btn btn-raised btn-success" (click)="insertsponsor('next')" *ngIf="save" [disabled]="!sponsorForm.valid || isLogoDisabled || !isURL(sponsors.website)">
                                Save & Next
                                <!-- <i *ngIf="submitted" class="fas fa-spinner fa fa-spin"></i> -->
                                </button>

                              </div>
                            </form>
                          <!-- </ng-template>
                        </ngb-tab>
                      </ngb-tabset> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

  </ng-template>
</ngb-tab>

  <ngb-tab title="Tickets" id="tickets" active="SelectedTab == 'tickets'" [disabled]="flag">
    <ng-template ngbTabContent>
      <div class="row" *ngIf="showTable && !showForm">
          <div class="col-sm-12">
              <div class="card">
                  <div class="card-header">
                      <div class="row">
                          <div class="col-sm-6">
                              <p>Event Tickets</p>
                          </div>
                          <div class="col-sm-6" style="text-align: right;">
                              <p>
                                  <a class="btn btn-social btn-round btn-min-width mr-2 mb-2 btn-outline-bitbucket float-right" (click)="addticket(events.id)"><span class="ft-plus"></span> Add Event Ticket</a>
                              </p>
                          </div>
                      </div>
                      <div class="card-body">
                          <div class="card-block">
                              <table class="table table-responsive-md text-center">
                                  <thead>
                                      <tr>
                                          <th>Ticket Type</th>
                                          <th>Decription</th>
                                          <th>Price</th>
                                          <th>Total Tickets</th>
                                          <th>Available Tickets</th>
                                          <th>Action</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <tr *ngFor="let data of ticketData | paginate: { itemsPerPage: 10, currentPage: p }">
                                          <td>{{data.type}}</td>
                                          <td>{{data.description}}</td>
                                          <td>{{data.price}}</td>
                                          <td>{{data.total_tickets}}</td>
                                          <td>{{data.no_available}}</td>
                                         <!--  <td *ngIf="data.active == 1">
                                              <ui-switch id="active" [checked]="true" disabled></ui-switch>
                                          </td>
                                          <td *ngIf="data.active == 0">
                                              <ui-switch id="active" [checked]="false" disabled></ui-switch>
                                          </td>
                                         -->
                                          <td *ngIf="data.no_available != data.total_tickets">
                                          
                                              <a class="default p-0" style="cursor: not-allowed;" data-original-title="" title="">
                                         
                                                  <i class="fas fa-pencil-alt font-medium-3 mr-2"></i>
                                              </a>
                                                <a class="default p-0" style="cursor: not-allowed;" data-original-title="" title="">
                                                  <i class="fas fa-trash font-medium-3 mr-2"></i>
                                              </a>
                                          </td>
                                          <td *ngIf="data.no_available == data.total_tickets">
                                               <a class="success p-0" data-original-title="" title="" (click)="editticket(data.id)">
                                         
                                                  <i class="fas fa-pencil-alt font-medium-3 mr-2"></i>
                                              </a>
                                          
                                              <a class="danger p-0" data-original-title="" title="" (click)="deleteticket(data.id)">
                                                  <i class="fas fa-trash font-medium-3 mr-2"></i>
                                              </a>
                                          </td>
                                      </tr>

                                      <!-- <pagination-controls (pageChange)="p = $ticket"></pagination-controls> -->
                                  </tbody>
                              </table>
                              <div class="col-12 paginationonAction">
                                  <span class="total">{{ticketcollectionSize}} Total</span>
                                  <ngb-pagination [pageSize]="pageSize" [(page)]="p" [maxSize]="10" [rotate]="true" [collectionSize]="ticketcollectionSize" [boundaryLinks]="true" style="float: right;"></ngb-pagination>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="row" *ngIf="!showTable && showForm">
          <div class="col-sm-12">
              <div class="card">
                  <div class="card-body">
                      <div class="card-block">
                        <!-- <ngb-tabset>
                          <ngb-tab title="Information">
                            <ng-template ngbTabContent> -->
                              <form class="form" #ticketForm="ngForm">
                                <div class="form-body">
                                  <!-- <h4 class="form-section">
                                  <i class="icon-user"></i> Personal Details</h4> -->
                                  <div class="row">
                                    <div class="col-md-6">
                                      <div class="form-group">
                                        <label>Ticket Type</label>
                                        <input type="text" class="form-control" name="type" [(ngModel)]="tickets.type" [ngClass]="{ 'is-invalid': ticketForm.submitted && type.invalid }" required>
                                        <small class="form-text text-muted danger" *ngIf="ticketForm.submitted && type.invalid">This field is required!</small>
                                      </div>
                                    </div>
                                    <div class="col-md-6">
                                      <div class="form-group">
                                        <label>Description</label>
                                        <input type="text" description class="form-control" name="description" [(ngModel)]="tickets.description" [ngClass]="{ 'is-invalid': ticketForm.submitted && description.invalid }" required>
                                        <small class="form-text text-muted danger" *ngIf="ticketForm.submitted && description.invalid">This field is required!</small>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-md-6">
                                      <div class="form-group">
                                        <label>Price</label>
                                        <input type="number" class="form-control" name="price" [(ngModel)]="tickets.price" [ngClass]="{ 'is-invalid': ticketForm.submitted && price.invalid }" required>
                                        <small class="form-text text-muted danger" *ngIf="ticketForm.submitted && price.invalid">This field is required!</small>
                                      </div>
                                    </div>
                                    <div class="col-md-6">
                                      <div class="form-group">
                                        <label>Total Tickets</label>
                                        <input type="number" class="form-control" name="no_available" [(ngModel)]="tickets.no_available" [ngClass]="{ 'is-invalid': ticketForm.submitted && no_available.invalid }" required>
                                        <small class="form-text text-muted danger" *ngIf="ticketForm.submitted && no_available.invalid">This field is required!</small>
                                      </div>
                                    </div>
                                  </div>
                                  <!-- <div class="row">
                                    <div class="col-md-6">
                                      <div class="form-group">
                                            <label for="active">Active</label>
                                            <div>
                                                <ui-switch id="active" [checked]="tickets.active" (click)="active(tickets.active)" formControlName="active"></ui-switch>
                                            </div>
                                      </div>
                                    </div>
                                  </div> -->
                                </div>
                                <div class="form-actions">
                                  <button type="submit" class="btn btn-raised btn-danger mr-1" (click)="cancelticket()">
                                  Cancel
                                  </button>
                                  <button type="submit" class="btn btn-raised btn-success mr-1" (click)="updateticket()" *ngIf="!save" [disabled]="!ticketForm.valid">
                                  Update Ticket <i *ngIf="submitted" class="fas fa-spinner fa fa-spin"></i>
                                  </button>
                                  <button type="submit" class="btn btn-raised btn-success" (click)="insertticket()" *ngIf="save" [disabled]="!ticketForm.valid">
                                  Add Ticket <i *ngIf="submitted" class="fas fa-spinner fa fa-spin"></i>
                                  </button>
                                </div>
                              </form>
                            <!-- </ng-template>
                          </ngb-tab>
                        </ngb-tabset> -->
                      </div>
                  </div>
              </div>
          </div>
      </div>

      </ng-template>
    </ngb-tab>
  </ngb-tabset>
              </div>
            </div>
          </div>
        </div>
    </div>
</section>
