<section class="basic-elements">
  <div class="row">
    <div class="col-sm-6">
        <div class="content-header">Email Automation</div>
    </div>
  </div>
  <div class="row" *ngIf="showTable">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-12" style="text-align: right;">
              <p>
                <a class="btn btn-social btn-round btn-min-width mr-2 mb-2 btn-outline-bitbucket right" (click)="addemailAutomation()"><span class="ft-plus"></span>Create Email Automation</a>
              </p>
            </div>
          </div>
        </div>
        <div class="card-body">
            <div class="card-block">
              <ngx-datatable class="material" class="bootstrap" [rows]="emailAutomationData" [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"  [limit]="10" >
                <ngx-datatable-column name="Event" [width]="200">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.event}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Template" [width]="300">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                   {{row.template}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="List">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.list}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Segment">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.segment}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Duration">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.duration}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Action">
                  <ng-template let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex">
                    <a class="danger p-0" data-original-title="" title="" *ngIf="row.status == 0" (click)="deleteEmailAutomation(row.id)">
                    <i class="fas fa-trash font-medium-3 mr-2"></i>
                    </a>
                    <a class="success p-0" data-original-title="" title="" *ngIf="row.status == 1" (click)="deleteEmailAutomation(row.id)">
                    <i class="fas fa-check font-medium-3 mr-2"></i>
                    </a>
                  </ng-template>
              </ngx-datatable-column>
              </ngx-datatable>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="!showTable">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="card-block">
            <form [formGroup]="automationForm" class="editForm" novalidate>
              <div class="col-lg-12">
                <div class="row">
                  <label>Send a notification</label>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input class="custom-control-input" type="radio" name="immediately" formControlName="immediately" id="immediately" value="after" [checked]="true" style="margin-top: 6px;">
                    <label class="custom-control-label" for="immediately">After</label>
                  </div>
                  <div class="col-lg-3 input-group">
                      <select class="form-control" id="duration" formControlName="duration" [(ngModel)]="emailAutomation.duration" placeholder="Duration">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                      </select>
                  </div>
                  <div class="col-lg-3 input-group-append">
                    <select class="form-control" id="span" formControlName="span" [(ngModel)]="emailAutomation.span" placeholder="Span">
                      <option value="hours">Hours</option>
                      <option value="minutes">Minutes</option>
                      <option value="days">Days</option>
                    </select>
                  </div>
                </div>
              </div><br />
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-lg-6">
                    <label>Select an Event</label>
                    <select class="form-control" formControlName="event" [(ngModel)]="emailAutomation.event" id="event" placeholder="Choose Event" (change)="onChange($event.target.value)">
                      <option disabled="true">Select Event</option>
                      <option *ngFor="let item of events" value="{{item.id}}">{{item.title}}</option>
                    </select>
                  </div>
                  <div class="col-lg-6">
                    <label>Select an Template</label>
                    <select class="form-control" formControlName="template" [(ngModel)]="emailAutomation.template" id="template" placeholder="Choose a Template" [attr.disabled]="templateSelected ? '' : null">
                      <option disabled="true">Select a template</option>
                      <option *ngFor="let auto of emailTemplate" value="{{auto.id}}">{{auto.name}}</option>
                    </select>
                  </div>
                </div>
              </div><br />
              <div class="col-lg-12">
                <div class="row">
                  <label>Choose</label>&nbsp;&nbsp;
                  <div class="custom-control custom-radio custom-control-inline">
                    <input class="custom-control-input" type="radio" name="select" [(ngModel)]="emailAutomation.select" formControlName="select" id="Segment" value="segment" style="margin-top: 6px;">
                    <label class="custom-control-label" for="Segment">Segment</label>
                  </div>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input class="custom-control-input" type="radio" name="select" [(ngModel)]="emailAutomation.select" formControlName="select" id="List" value="list" style="margin-top: 6px;">
                    <label class="custom-control-label" for="List">List</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <div *ngIf="emailAutomation.select == 'list'">
                      <label>Select an List</label>
                      <select class="form-control" formControlName="list" [(ngModel)]="emailAutomation.list" id="list" placeholder="Choose List">
                        <option disabled="true">Select Lists</option>
                        <option *ngFor="let item of lists" value="{{item.id}}">{{item.name}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div *ngIf="emailAutomation.select == 'segment'">
                      <label>Select an Segments</label>
                      <select class="form-control" formControlName="segment" [(ngModel)]="emailAutomation.segment" id="segment" placeholder="Choose Segment">
                        <option disabled="true">Select Segments</option>
                        <option *ngFor="let item of segmentDetails" value="{{item.id}}">{{item.name}}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div><br /><br/>
              <div class="form-group">
                <button type="submit" class="btn btn-danger btn-raised mr-1" (click)="cancel()">Cancel</button>
                <button type="submit" class="btn btn-success btn-raised" (click)="saveEmailAutomation()">Create Notification</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>