<div class="row">
  <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
   <div class="form-group">
    <label for="field">Select Form</label>

    <select class="custom-select mb-2"  (change)="onSelectFormName($event.target.value)">
     <option *ngFor="let item of formsData;let i = index" value="{{i}}" [selected]="i == 0">{{item.name}}</option>
   </select>
 </div>
</div>
<div class="col-xl-4 col-lg-6 col-md-12 mb-1">
  <div class="form-group">
   <label for="field">Fields</label>

   <select class="custom-select mb-2"  (change)="onSelectQuestion($event.target.value)"  >

    <option value="">-- Select --</option>
    <option *ngFor="let value of formsDataSelected" value="{{value.key}}" >{{value.label}}</option>

    <!-- <optgroup *ngFor="let item of formsData" label="{{item.name}}"> -->
     <!-- <option *ngFor="let value of formsDataSelected.form_data.components" value="{{value.key}}" >{{value.label}}</option> -->
     <!-- </optgroup> -->
   </select>
 </div>
</div>
</div>
<div class="row" matchHeight="card">
  <div class="col-xl-8 col-lg-12">
    <div class="card">
      <div class="card-header">
        <div class="card-title-wrap bar-warning">
          <h4 class="card-title mb-0"></h4>
        </div>
      </div>
      <div class="card-body">
        <div class="card-block">
          <div id="line-area6" class="height-350 lineArea6 lineArea6Shadow">
            <x-chartist [data]="lineArea6.data" [type]="lineArea6.type" [options]="lineArea6.options" [responsiveOptions]="lineArea6.responsiveOptions"
            [events]="lineArea6.events">
          </x-chartist>
        </div>
      </div>
    </div>
  </div>
</div>
</div>