<div class="row">
  <div class="col-sm-12">
    <div class="content-header">Event Mapping</div>
  </div>
</div>

<section id="collapse">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="card-block">
            <div>
              <button type="button" class="btn btn-outline-primary mt-2" (click)="isCollapsed = !isCollapsed"
              [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">Map Events</button>
            </div>
            <div id="collapseExample" [ngbCollapse]="isCollapsed">
              <form class="form" #eventMapping="ngForm" class="editForm" novalidate>
                <div class="form-body">
                  <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Choose Event</label>
                      <select class="form-control" name="event" [(ngModel)]="eventMappingModel.event" required (change)="onChange($event.target.value)">
                        <option value="select" selected>Select Events</option>
                        <option *ngFor="let item of events" value="{{item.id}}">{{item.title}}</option>
                      </select>
                    </div>
                  </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Select Templates</label>
                        <select class="form-control" name="template" [(ngModel)]="eventMappingModel.template" required>
                          <option value="" selected>Choose Templates</option>
                          <option *ngFor="let template of emailTemplate" value="{{template.id}}">{{template.name}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-12 text-center">
                      <div *ngIf="canvasdata">
                        <i class="fas fa-spinner fa fa-spin font-large-2"></i>
                      </div>
                      <div id="contentToConvert" *ngIf="htmlContent == ''"></div>
                      <div id="imgMessage"  style="width: 50%;"></div>
                    </div>
                  </div>
                  <div class="form-group">
                    <button type="button" class="btn btn-danger btn-raised  mr-1" (click)="cancel()">Cancel</button>
                    <button type="submit" class="btn btn-success btn-raised" [disabled]="!eventMapping.valid" (click)="onSubmit()" *ngIf="eventMappingModel.id == ''">Save</button>
                    <button type="submit" class="btn btn-success btn-raised" [disabled]="!eventMapping.valid" *ngIf="!eventMappingModel.id == ''" (click)="updateTemMapping()">Update</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="card-block">
          <table class="table table-responsive-md">
            <thead>
              <tr>
                <th>Event Name</th>
                <th>Template</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let eveMapping of eveMappings">
                <td>{{eveMapping.eventName}}</td>
                <td>{{eveMapping.templateName}}</td>
                <!-- <td><div id="{{temMapping.id}}" style="width: 20%;">getTemplateURL({{temMapping.url}}, {{temMapping.id}})</div></td> -->
                <td>
                  <a class="success p-0" data-original-title="" title="" (click)="editEventMapping(eveMapping.id)">
                      <i class="fas fa-pencil-alt font-medium-3 mr-2"></i>
                  </a>
                  <a class="danger p-0" data-original-title="" title="" (click)="deleteEventMapping(eveMapping.id)">
                      <i class="fas fa-trash font-medium-3 mr-2"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
