<section id="card-deck">
  <div class="row">
    <div class="col-12">
      <div class="white text-center p-4">
          <h4 class="content-header">Get started with  in the next 5 minutes</h4>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <!-- <div class="card-deck"> -->
        <!-- <div class="card"> -->
          <!-- <img class="card-img-top" src="assets/img/photos/3.jpeg" alt="Card image cap"> -->
          <!-- <div class="card-body"> -->
            <!-- <div class="card-block"> -->
              <h5>1.Add code to your website</h5>
              <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
            <!-- </div> -->
          <!-- </div> -->
        </div>

        <div class="col-4">
          <!-- <img class="card-img-top" src="assets/img/photos/14.jpeg" alt="Card image cap"> -->
          <!-- <div class="card-body"> -->
            <!-- <div class="card-block"> -->
              <h5 >2.Ask permission from your visitors to recieve  notification</h5>
              <!-- <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p> -->
            <!-- </div> -->
          <!-- </div> -->
        </div>

        <div class="col-4">
          <!-- <img class="card-img-top" src="assets/img/photos/17.jpeg" alt="Card image cap"> -->
          <!-- <div class="card-body"> -->
            <!-- <div class="card-block"> -->
              <h5>3.Send your notification</h5>
              <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p> -->
            <!-- </div> -->
          <!-- </div> -->
        </div>
      <!-- </div> -->
    <!-- </div> -->
  </div>
      </section>

      <section id="ngx" class="mb-3">
      	<div class="row">
      		<div class="col-12">
      		</div>
      	</div>
      	  <br />
      <div class="row">
      	<div class="col-sm-12">
          	<h4 class="card-title">Step 1: Install  smart code</h4>
      		<div class="card">
      			<div class="card-body">
      				<div class="col-sm-12">
      					<div class="card">
      						<div class="card-body">
      							  <div class="card-block">
      									<form [formGroup] ="crewsForm" novalidate>
      									<label for="script">copy and paste this code before the tag on each page of your web site</label>
      							<div class="row">
      							<div class="col-sm-12">
      							<div class="form-group">
      									<textarea class="form-control" rows="3" id="script" formControlName="script" [(ngModel)]="txtscript"></textarea>
      									<small class="form-text text-muted danger" *ngIf="!crewsForm.get('script').valid && (crewsForm.get('script').dirty || crewsForm.get('script').touched)">This field is required!</small>
      							</div>
      						</div>
                  <label for="mail">Send to developers(s)</label>
                  <div class="col-sm-12">
                  <div class="input-group">
                    <input type="text" class="form-control" id="mail"  formControlName="mail" pattern="^(\s?[^\s,]+@[^\s,]+\.[^\s,]+\s?,)*(\s?[^\s,]+@[^\s,]+\.[^\s,]+)$">
                    <div class="input-group-append">
                        <button class="btn btn-raised btn-primary" type="button"  (click)="sendmail()"   style="margin-right: 14px;" [disabled]="!crewsForm.valid">Send to developers</button>
                    </div>
                  </div>
                      <small class="form-text text-muted danger" *ngIf="!crewsForm.get('mail').valid && (crewsForm.get('mail').dirty || crewsForm.get('mail').touched)">This field is required!</small>
                </div>
                <a _ngcontent-c2=""  id="pixinventLink">Download WordPress Plug_In</a>
      							</div>
      						</form>
      						</div>
      						</div>

      					</div>
      				</div>
      			</div></div>
      		</div>
      	</div>
      </section>
