<div class="row">
    <div class="col-sm-12 text-center">
      <div class="content-header">Email Verification is Successfull.</div>
      <p>Please enter the organization details and complete your registration.</p>
    </div>
</div>
<section id="ngx">
    <div class="card">
        <div class="card-body">
            <div class="card-block">
                <aw-wizard #wizard navBarLayout="large-empty-symbols">
                    <aw-wizard-step [stepTitle]="'Organisation Details'" [navigationSymbol]="{ symbol: '&#xf007;', fontFamily: 'FontAwesome' }">
                        <form #personalForm="ngForm" class="editForm" novalidate>
                            <h4 class="head text-center">Enter Organisation Details.</h4>
                            <br/>
                            <div class='row'>
                                <div class='col-12'>
                                    <div class="row">
                                        <div class='col-12'>
                                            <div class="form-group">
                                                <label class="form-control-label" for="orgName">Organisation Name</label>
                                                <input class="form-control input-md" ngModel #orgName="ngModel" [(ngModel)]="organizationDetails.orgName" required id="orgName" name="orgName" type="text">
                                                <small class="form-text text-muted danger" *ngIf="!orgName.valid && (orgName.dirty || orgName.touched)">This field is required!</small>
                                            </div>
                                        </div>
                                        <div class='col-12'>
                                            <div class="form-group">
                                                <label class="form-control-label" for="orgAddress">Organisation Address</label>
                                                <input class="form-control input-md" ngModel #orgAddress="ngModel" [(ngModel)]="organizationDetails.orgAddress" required id="orgAddress" name="orgAddress" type="text" ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)">
                                                <small class="form-text text-muted danger" *ngIf="!orgAddress.valid && (orgAddress.dirty || orgAddress.touched)">This field is required!</small>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group text-center">
                                        <button type="button" uiSref="work" class="btn btn-info btn-raised" [disabled]="!personalForm.valid" awNextStep>
                                            Next
                                            <span style="margin-left:10px;">
                                                <i class="ft-chevron-right"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </aw-wizard-step>
                    <aw-wizard-step  [stepTitle]="'Organisation Details'" [navigationSymbol]="{ symbol: '&#xf0b1;', fontFamily: 'FontAwesome' }">
                        <form #workForm="ngForm" class="editForm" novalidate>
                            <h4 class="head text-center">Organization Details</h4>
                            <br/>
                            <div class='row'>
                                <div class='col-12'>
                                    <div class="form-group">
                                      <label class="form-control-label" for="orgPhone">Organization Phone</label>
                                      <input class="form-control input-md" ngModel #orgPhone="ngModel" required id="orgPhone" [(ngModel)]="organizationDetails.orgPhone" name="orgPhone" type="text" maxlength="10" (keypress)="isNumberKey($event)">
                                      <small class="form-text text-muted danger" *ngIf="!orgPhone.valid && (orgPhone.dirty || orgPhone.touched)">This field is required!</small>
                                        <!-- <div class="custom-control custom-radio m-0">
                                            <input type="radio" #work required id="customRadioInline1" name="work" class="custom-control-input" value="Design">
                                            <label class="custom-control-label" for="customRadioInline1">Design</label>
                                        </div>
                                        <div class="custom-control custom-radio m-0">
                                            <input type="radio" #work required id="customRadioInline2"  name="work" class="custom-control-input" value="Code">
                                            <label class="custom-control-label" for="customRadioInline2">Code</label>
                                        </div>
                                        <div class="custom-control custom-radio m-0">
                                            <input type="radio" #work required id="customRadioInline3" checked name="work" class="custom-control-input" value="Deploy">
                                            <label class="custom-control-label" for="customRadioInline3">Deploy</label>
                                        </div> -->
                                    </div>
                                    <div class="form-group">
                                        <label class="form-control-label" for="email">Organization Email</label>
                                        <input class="form-control input-md" ngModel #orgEmail="ngModel" required email id="orgEmail" [(ngModel)]="organizationDetails.orgEmail" name="orgEmail" type="text">
                                        <small class="form-text text-muted danger" *ngIf="!orgEmail.valid && (orgEmail.dirty || orgEmail.touched)">Please enter a valid email!</small>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group text-center">
                                <button uiSref="work" type="button" class="btn btn-raised btn-secondary mr-1" awPreviousStep>
                                    <span style="margin-right:10px;">
                                        <i class="ft-chevron-left"></i>
                                    </span> Previous</button>
                                <button uiSref="result" type="button" class="btn btn-raised btn-success"  (click)="onSubmit()">
                                    Finish
                                    <span style="margin-left:10px;">
                                        <i class="ft-chevron-right"></i>
                                    </span>
                                </button>
                            </div>
                      </form>
                  </aw-wizard-step>
                </aw-wizard>


            </div>
        </div>
    </div>
</section>
