<div class="row">
	<div class="col-sm-6">
		<div class="content-header">Create Survey</div>
	</div>
	<div class="col-sm-6" style="text-align: right;" *ngIf="!showSaveForm">
		<p>
			<a class="btn btn-social btn-round btn-min-width mr-2 mb-2 btn-outline-bitbucket right" (click)="saveToggle()"><span class="ft-save"></span>Save Survey </a>
		</p>
	</div>
</div>
<div class="row createform" *ngIf="!showSaveForm">
	<div class="col-sm-12">
		<!-- <div class="form-group row">
			<div class="col-sm-8">

			<input class="form-control" id="formTitle" placeholder="Enter a Title" type="text">
		</div>
			<div class="col-sm-2"><select class="form-control" id="formSelect"><option value="form">Form</option><option value="wizard">Wizard</option><option value="pdf">PDF</option></select></div>

			<div class="col-sm-2"><button class="btn btn-primary btn-block">Save Form</button></div>
		</div> -->

		<form-builder [form]="form1"></form-builder>
		<!-- <formio-grid [gridType]="'form'" [createText]="'Create Form'"
		(createItem)="onCreateItem()"></formio-grid> -->

		<!-- <formio-grid
		[formio]="service.formio"
		[gridType]="'form'"
		[query]="{tags: config.tag, type: 'form'}"
		(rowAction)="onAction($event)"
		(rowSelect)="onSelect($event)"
		[createText]="'Create Form'"
		(createItem)="onCreateItem()"
		></formio-grid> -->
	</div>
</div>

    <div class="row" *ngIf="showSaveForm">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                <div class="card-block">
                    <form [formGroup]="saveCampaign" novalidate>
                        <div class="form-group">
                            <label for="name">Survey Name</label>
                            <input type="text" class="form-control" id="name" formControlName="name" required>
                            <small class="form-text text-muted danger" *ngIf="!saveCampaign.get('name').valid && (saveCampaign.get('name').dirty || saveCampaign.get('name').touched)">This field is required!</small>
                        </div>
                        <div class="row">
                          <div class="col-sm-6">
                            <div class="form-group">
                                <label for="sdate">Start Date</label>
                                <div class="input-group">
                                    <input type="date" id="sdate" class="form-control" formControlName="sdate" required>
                                </div>
                                <small class="form-text text-muted danger" *ngIf="!saveCampaign.get('sdate').valid && (saveCampaign.get('sdate').dirty || saveCampaign.get('sdate').touched)">This field is required!</small>
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="form-group">
                                <div class="form-group">
                                <label for="edate">End Date</label>
                                <div class="input-group">
                                    <input type="date" id="edate" class="form-control" formControlName="edate" required>
                                </div>
                                <small class="form-text text-muted danger" *ngIf="!saveCampaign.get('edate').valid && (saveCampaign.get('edate').dirty || saveCampaign.get('edate').touched)">This field is required!</small>
                            </div>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea class="form-control" rows="3" id="description" formControlName="description" required></textarea>
                            <small class="form-text text-muted danger" *ngIf="!saveCampaign.get('description').valid && (saveCampaign.get('description').dirty || saveCampaign.get('description').touched)">This field is required!</small>
                        </div>

                        <!-- <div class="form-group">
                            <label for="price">Price</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" formControlName="price" required>
                            </div>
                            <small class="form-text text-muted danger" *ngIf="!saveCampaign.get('price').valid && (saveCampaign.get('price').dirty || saveCampaign.get('price').touched)">This field is required!</small>
                        </div> -->

                        <div class="form-group">
                            <button type="button" class="btn btn-danger btn-raised mr-1" (click)="cancel()">Cancel</button>
                            <button type="button" class="btn btn-success btn-raised" (click)="addcampaign()" [disabled]="!saveCampaign.valid">Save</button>
                        </div>
                    </form>
                </div>
            </div>
            </div>
        </div>
    </div>

