 <section>
 <!--    <div class="row">
        <div class="col-md-6">
            <div class="content-header" *ngIf="!showForm">Notification Automation List</div>
            <div class="content-header" *ngIf="showForm">Create Notification Automation</div>
        </div>
    </div> -->
    <div class="row" *ngIf="showTable">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-6 content-header">
                            <h3>Notifications List</h3>
                        </div>
                        <div class="col-sm-6" style="text-align: right;">
                            <p>
                                <a class="btn btn-social btn-round btn-min-width mr-2 mb-2 btn-outline-bitbucket float-right" (click)="new()"><span class="ft-plus"></span>Create Notification Automation</a>
                            </p>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-block">

                       <!--    <div class="row">
                                          <div class="col-4 pr-0">
                                              <div class="card px-1">
                                                <div class="input-group">
                                                  <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="fromDt" ngbDatepicker #d2="ngbDatepicker">
                                                  <div class="input-group-append">
                                                    <div class="input-group-text" (click)="d2.toggle()">
                                                      <i class="fa fa-calendar" style="cursor: pointer;"></i>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="col-4 pr-0">
                                                <div class="card px-1">
                                          <div class="input-group">
                                          <input class="form-control" placeholder="yyyy-mm-dd" name="dp1" [(ngModel)]="toDt" ngbDatepicker #d1="ngbDatepicker">
                                          <div class="input-group-append">
                                          <div class="input-group-text" (click)="d1.toggle()">
                                            <i class="fa fa-calendar" style="cursor: pointer;"></i>
                                          </div>
                                          </div>
                                          </div>
                                        </div>
                                      </div>
                                          <div class="col-2 pr-0">
                                            <div class="card px-1">
                                              <button type="button" class="btn btn-success btn-raised" (click)="search()">Search</button>
                                            </div>
                                          </div>
                                          <div class="col-2 pr-0">
                                            <div class="card px-1">
                                              <button type="button" class="btn btn-danger btn-raised" (click)="reset()" style="margin-right: 14px;">Reset</button>
                                            </div>
                                          </div>
                                        </div>
 -->
                            <table class="table table-responsive-md text-center">
                                <thead>
                                    <tr>
                                        <th>Event Name</th>
                                        <th>Template</th>
                                        <th>Duration After</th>
                                        <th>Status</th>
                                        <th>Created At</th>
                                        <th>Segment</th>
                                        <th>Notification Data</th>
                                        <th>Action</th>
                                        <!-- <th>Statistics</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of listData | paginate: { itemsPerPage: 10, currentPage: p }">
                                        <td>{{data.event}}</td>
                                        <td>{{data.template}}</td>
                                        <td>{{data.duration}}</td>
                                        <td>{{data.status}}</td>
                                        <td>{{data.created_date}}</td>
                                         <td><button class="btn btn-success btn-raised" (click)="viewSegment(data.by_segment);">View</button></td>
                                        <td><button class="btn btn-success btn-raised" (click)="viewNotify(data.notification_data);">View</button></td>
                                        <td *ngIf="data.status == 'Pending'">
                                           <ui-switch id="active" [checked]="true" (change)="change_status(data.id,'Complete')"></ui-switch>
                                         </td>
                                         <td *ngIf="data.status == 'Complete'">
                                             <ui-switch id="active" [checked]="false" disabled (change)="change_status(data.id,'Pending')"></ui-switch>
                                        </td>

                                        
                                       <!--  <td>
                                        <a class="success p-0" (click)="detail(data.task_id);"><i class="icon-bar-chart"></i></a>
                                        <td> -->
                                    </tr>

                                    <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
                                </tbody>
                            </table>
                            <div class="col-12 paginationonAction">
                                <span class="total">{{collectionSize}} Total</span>
                                <ngb-pagination [pageSize]="pageSize" [(page)]="p" [maxSize]="10" [rotate]="true" [collectionSize]="collectionSize" [boundaryLinks]="true" style="float: right;"></ngb-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div *ngIf="showForm">
   
<form [formGroup]="notificationform" novalidate>
	<div class="row">
        <div class="col-md-12">
            <div class="content-header">Notification Automation</div>
        </div>
    </div>

<div formArrayName="notifications" class="col-md-12">
      <div *ngFor="let notifications of notificationform.controls.notifications.controls; let idx = index" [formGroup]="notificationform">
        <div class="row form-group">
          <div class="card-body border">
		    <div class="card-block">
		        <div class="col-lg-12">
		        	<div class="row">
				        <span class="form-text text-muted danger">*</span><p>Event Name</p>&nbsp;&nbsp;
				        <div class="col-lg-6">
				           <input type="text" formControlName="event{{idx}}" id="event{{idx}}" required />
				   			<small class="form-text text-muted danger" *ngIf="event==''">Event Name is required!</small>
						</div>
					</div>

		        	<div class="row">
		        	<span class="form-text text-muted danger">*</span><p>Send a notification</p>&nbsp;&nbsp;

            		<div class="custom-control custom-radio custom-control-inline">
                      <input class="custom-control-input" type="radio" name="immediately{{idx}}" formControlName="immediately{{idx}}" id="immediately{{idx}}" value="after" checked="true" style="margin-top: 6px;">
                      <label class="custom-control-label" for="immediately{{idx}}">After</label>
                    </div>
            		<div class="col-lg-3">
	                <div class="input-group">
	                    <select class="form-control" id="duration{{idx}}" formControlName="duration{{idx}}" placeholder="Duration" required>
	                    	      <option *ngFor="let i of numbers" value="{{i}}">{{i}}</option>
	                    </select>

	                    <span ngbDropdown>
	                        <div class="input-group-append">
	                           <select class="form-control" id="span{{idx}}" formControlName="span{{idx}}" placeholder="Span" required>
			                        <option value="minutes">Minutes</option>
			                        <option value="hours">Hours</option>
			                        <option value="days">Days</option>
			                        <option value="weeks">Weeks</option>
			                        <option value="months">Months</option>
			                    </select>
	                        </div>
	                    </span>
	                   	     <small class="form-text text-muted danger" *ngIf="duration=='' || span==''">Duration is required!</small>
				    
	                </div>
            </div>
        </div>
        <div class="row">
        <span class="form-text text-muted danger">*</span><p>Select a Template</p>
	
        <div class="col-lg-6">
           	<select class="form-control" id="template{{idx}}" [(ngModel)]="web_template" formControlName="template{{idx}}" placeholder="Choose a Template" required>
		        <option value=''>Select a template</option>
		        <option *ngFor="let template of template" value="{{template.template_name}}">{{template.template_name}}</option>
		    </select>
		    	<small class="form-text text-muted danger" *ngIf="web_template==''">Template is required!</small>
	
		</div>

		</div>&nbsp;&nbsp;
		<div class="row">
		<div class="col-sm-12">
			<div class="card">
				<div class="card-body">
					<div class="card-block">
						<form [formGroup]="segmentForm">
							<h2>Events</h2>
							<p>Subscribers perform following Events</p>

							<div formArrayName="actionset">
								<div  [formGroupName]="i" *ngFor="let tech of segmentForm.controls.actionset.controls; let i = index">
										<div class="row">
										<div class="col-xl-3 col-lg-6 col-md-12 mb-1">
									    <div class="form-group">
												<select  class="custom-select mb-2" formControlName="act1" placeholder="Select an option" required>
													<option value="tokenin" selected>Clicked</option>
													<option value="tokennotin">Not Clicked</option>
												</select>
										</div>
									</div>
									</div>
								
									<div class="row" >
										<div class="col-xl-3 col-lg-6 col-md-12 mb-1">
											<div class="form-group">

												<select  class="custom-select mb-2" formControlName="act2" placeholder="Select an option" required>
													<option value="category" selected>Category</option>
													<option value="event">Action</option>
												</select>
											</div>
										</div>
										<div class="col-xl-4 col-lg-6 col-md-12 mb-1" >
											<div class="form-group">
												<select  class="custom-select mb-2" formControlName="act3" placeholder="Select an option" required>
													<option value="isequalto" selected>Is equal to</option>
													<!-- <option value="isnotequalto">Is not equal to</option> -->
													<option value="contains">Contains</option>
												</select>
											</div>
										</div>
										<div class="col-xl-4 col-lg-6 col-md-12 mb-1">
												<div class="form-group">
													<input  type="text" name="act4" formControlName="act4" class="form-control" required>
												</div>
										</div>
										<div class="col-xl-1 col-lg-6 col-md-12 mb-1" >
											<div class="col-xl-2 col-lg-6 col-md-12 mb-1">
												<button class="btn btn-danger mr-1 btn-fab"
												(click)="removeSetCondition1(i)"><i class="fa fa-times"></i></button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<button type="button" class="btn btn-outline-primary btn-block btn-raised" (click)="addSetCondition1()" >Add Condition</button>

							<h2>Properties</h2>
							<p>Subscribers has the following properties</p>

							<div formArrayName="propertyset">
								<div class="row" [formGroupName]="i" *ngFor="let tech of segmentForm.controls.propertyset.controls; let i = index">
									<div class="col-xl-4 col-lg-6 col-md-12 mb-1">
										<div class="form-group">
											<select class="custom-select mb-2"  formControlName="ddl1"  placeholder="Rule Type"  (change)="ddl1change($event.target.value,i)" required>
												<option *ngFor="let value of propertyList; let j = index"  value="{{value.name}}" >{{value.name}}</option>
											</select>
										</div>
									</div>
									<div class="col-xl-3 col-lg-6 col-md-12 mb-1" >
										<div class="form-group">
											<select  class="custom-select mb-2" formControlName="seloperator" placeholder="Rule Type" required>
													<option value="isequalto" selected>Is equal to</option>
													<option value="isnotequalto">Is not equal to</option>
													<option value="contains">Contains</option>
											</select>
										</div>
									</div>
									<div class="col-xl-4 col-lg-6 col-md-12 mb-1" *ngIf="valuesArray.length >0">

										<div  *ngIf="propertyList[valuesArray[i]].values.length == 0">
											<div class="form-group">
												<input  type="text" name="txtfilterval" formControlName="txtfilterval" class="form-control" required>
											</div>
										</div>
										<div  *ngIf="propertyList[valuesArray[i]].values.length > 0">
											<div class="form-group">
												<select class="custom-select mb-2" formControlName="txtfilterval" placeholder="Rule Type" required>
													<option value="" selected>-- Select --</option>
													<option  *ngFor="let opt of propertyList[valuesArray[i]].values" value="{{opt}}">{{opt}}</option>
												</select>
											</div>
										</div>
									</div>

									<div class="col-xl-1 col-lg-6 col-md-12 mb-1" >
										<div class="col-xl-2 col-lg-6 col-md-12 mb-1">
											<button class="btn btn-danger mr-1 btn-fab"
											(click)="removeSetCondition(i)"><i class="fa fa-times"></i></button>
										</div>
									</div>
								</div>
							</div>

							<button type="button" class="btn btn-outline-primary btn-block btn-raised" (click)="addSetCondition()" >Add Condition</button>
						</form>
					</div>
				</div>
			</div>
		</div>

		</div>
	    <div style="text-align: right;">
			<button type="submit" class="btn btn-success btn-raised" id="create_{{idx}}" (click)="addSegment(segmentForm.value,idx)">Create Notification</button>
			&nbsp;&nbsp;<button type="submit" class="btn btn-danger btn-raised" (click)="cancel()">Cancel</button>
			
		</div>

		    </div>

		</div></div>
        </div>
      </div>
  </div>
</form>
</div>
</section>
