<section>
    <div class="row">
        <div class="col-md-6">
            <div class="content-header" *ngIf="!showForm">Import Log</div>
            <div class="content-header" *ngIf="showForm">Import Log Details</div>
        </div>
    </div>
    <div class="row" *ngIf="showTable && !showForm">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-6">
                            <p>Latest Log</p>
                        </div>
                        <div class="col-sm-6" style="text-align: right;">
                            <p>
                                <a class="btn btn-social btn-round btn-min-width mr-2 mb-2 btn-outline-bitbucket float-right" (click)="redirect()"><span class="ft-plus"></span>Import</a>
                            </p>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-block">

                          <div class="row">
                                          <div class="col-4 pr-0">
                                              <div class="card px-1">
                                                <div class="input-group">
                                                  <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="fromDt" ngbDatepicker #d2="ngbDatepicker">
                                                  <div class="input-group-append">
                                                    <div class="input-group-text" (click)="d2.toggle()">
                                                      <i class="fa fa-calendar" style="cursor: pointer;"></i>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="col-4 pr-0">
                                                <div class="card px-1">
                                          <div class="input-group">
                                          <input class="form-control" placeholder="yyyy-mm-dd" name="dp1" [(ngModel)]="toDt" ngbDatepicker #d1="ngbDatepicker">
                                          <div class="input-group-append">
                                          <div class="input-group-text" (click)="d1.toggle()">
                                            <i class="fa fa-calendar" style="cursor: pointer;"></i>
                                          </div>
                                          </div>
                                          </div>
                                        </div>
                                      </div>
                                          <div class="col-2 pr-0">
                                            <div class="card px-1">
                                              <button type="button" class="btn btn-success btn-raised" (click)="search()">Search</button>
                                            </div>
                                          </div>
                                          <div class="col-2 pr-0">
                                            <div class="card px-1">
                                              <button type="button" class="btn btn-danger btn-raised" (click)="reset()" style="margin-right: 14px;">Reset</button>
                                            </div>
                                          </div>
                                        </div>

                            <table class="table table-responsive-md text-center">
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>URL</th>
                                        <th>Started At</th>
                                        <th>Finished At</th>
                                        <!-- <th>Task Type</th> -->
                                        <th>Action</th>
                                        <th>Statistics</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of listData | paginate: { itemsPerPage: 10, currentPage: p }">
                                        <td>{{data.title}}</td>
                                        <td>{{data.parameters}}</td>
                                        <td>{{data.started_at}}</td>
                                        <td>{{data.finished_at}}</td>
                                        <!-- <td>{{data.task}}</td> -->
                                        <td>
                                            <!-- <a class="success p-0" data-original-title="" title="" (click)="edit(data.id)">
                                                <i class="fas fa-pencil-alt font-medium-3 mr-2"></i>
                                            </a> -->
                                            <a class="danger p-0" data-original-title="" title="" (click)="delete(data.task_id)">
                                                <i class="fas fa-trash font-medium-3 mr-2"></i>
                                            </a>
                                        </td>
                                        <td>
                                        <a class="success p-0" (click)="detail(data.task_id);"><i class="icon-bar-chart"></i></a>
                                        <td>
                                    </tr>

                                    <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
                                </tbody>
                            </table>
                            <div class="col-12 paginationonAction">
                                <span class="total">{{collectionSize}} Total</span>
                                <ngb-pagination [pageSize]="pageSize" [(page)]="p" [maxSize]="10" [rotate]="true" [collectionSize]="collectionSize" [boundaryLinks]="true" style="float: right;"></ngb-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="!showTable && !showForm">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-block">
                      <ngb-tabset>
                        <ngb-tab title="Information">
                          <ng-template ngbTabContent>
                            <form class="form" [formGroup]="listForm">
                                <div class="form-body">
                                    <!-- <h4 class="form-section">
                                    <i class="icon-user"></i> Personal Details</h4> -->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="projectinput1">Name</label>
                                                <input type="text" id="projectinput1" class="form-control" formControlName="fname" [(ngModel)]="lists.name" required>
                                                <small class="form-text text-muted danger" *ngIf="!listForm.get('fname').valid && (listForm.get('fname').dirty || listForm.get('fname').touched)">This field is required!</small>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="projectinput2">Email</label>
                                                <input type="text" id="projectinput2" class="form-control" formControlName="email" [(ngModel)]="lists.email" required>
                                                <small class="form-text text-muted danger" *ngIf="!listForm.get('email').valid && (listForm.get('email').dirty || listForm.get('email').touched)">This field is required!</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="projectinput3">Phone Number</label>
                                                <input type="text" id="projectinput3" class="form-control" formControlName="phone" [(ngModel)]="lists.phonenum" required>
                                                <small class="form-text text-muted danger" *ngIf="!listForm.get('phone').valid && (listForm.get('phone').dirty || listForm.get('phone').touched)">This field is required!</small>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="projectinput4">Address</label>
                                                <input type="text" id="projectinput4" class="form-control" formControlName="address" [(ngModel)]="lists.address" ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)" required>
                                                <small class="form-text text-muted danger" *ngIf="!listForm.get('address').valid && (listForm.get('address').dirty || listForm.get('address').touched)">This field is required!</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <!-- <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Select File</label>
                                                <input type="file" class="form-control-file" id="projectinput8" name="image" [(ngModel)]="lists.image">
                                            </div>
                                        </div> -->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Newsletter</label>
                                                <div class="custom-control custom-checkbox m-0">
                                                    <input type="checkbox" class="custom-control-input" id="item1" formControlName="newsletter" [(ngModel)]="lists.newsletter">
                                                    <label class="custom-control-label" for="item1">Opt In</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <button type="submit" class="btn btn-raised btn-danger mr-1" (click)="cancel()">
                                    <i class="icon-trash"></i> Cancel
                                    </button>
                                    <button type="submit" class="btn btn-raised btn-success mr-1" (click)="list()" *ngIf="!save" [disabled]="!listForm.valid">
                                    <i class="icon-note"></i> Update List <i *ngIf="submitted" class="fas fa-spinner fa fa-spin"></i>
                                    </button>
                                    <button type="submit" class="btn btn-raised btn-success" (click)="list()" *ngIf="save" [disabled]="!listForm.valid">
                                    <i class="icon-note"></i> Add List <i *ngIf="submitted" class="fas fa-spinner fa fa-spin"></i>
                                    </button>
                                </div>
                            </form>
                          </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Subscriber">
                          <ng-template ngbTabContent>
                                <!-- <ngx-datatable #table class='bootstrap' [rows]="rows" [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                                  [rowHeight]="'auto'" [limit]="5"></ngx-datatable> -->
                                  <div class="card-body">
                                      <div class="card-block">
                                          <ngx-datatable #mydatatable class="bootstrap fullscreen" [headerHeight]="50" [limit]="5" [columnMode]="'force'" [footerHeight]="50"
                                              [rowHeight]="'auto'" [rows]="rows" [scrollbarH]="true">
                                              <ngx-datatable-column name="First Name">
                                                  <ng-template ngx-datatable-cell-template  let-row="row">
                                                          {{row.FirstName}}
                                                  </ng-template>
                                              </ngx-datatable-column>
                                              <ngx-datatable-column name="Last Name">
                                                  <ng-template ngx-datatable-cell-template let-row="row">
                                                          {{row.LastName}}
                                                  </ng-template>
                                              </ngx-datatable-column>
                                              <ngx-datatable-column name="Email" [width]="250">
                                                  <ng-template ngx-datatable-cell-template let-row="row">
                                                      {{row.email}}
                                                  </ng-template>
                                              </ngx-datatable-column>
                                              <ngx-datatable-column name="Address" [width]="250">
                                                  <ng-template ngx-datatable-cell-template let-row="row">
                                                      {{row.address}}
                                                  </ng-template>
                                              </ngx-datatable-column>
                                              <ngx-datatable-column name="List Name">
                                                  <ng-template ngx-datatable-cell-template let-row="row">
                                                      {{row.listname}}
                                                  </ng-template>
                                              </ngx-datatable-column>
                                              <ngx-datatable-column name="Subscribed On" [width]="200">
                                                  <ng-template ngx-datatable-cell-template let-row="row">
                                                      {{row.date}}
                                                  </ng-template>
                                              </ngx-datatable-column>
                                              <ngx-datatable-column name="Subscribed Status">
                                                  <ng-template ngx-datatable-cell-template let-row="row">
                                                      {{row.status}}
                                                  </ng-template>
                                              </ngx-datatable-column>
                                              <ngx-datatable-column name="Subscribed">
                                                <ng-template ngx-datatable-cell-template let-row="row">
                                                  <ui-switch [(ngModel)]="row.status" (ngModelChange)="updateStatus($event, row.id)"></ui-switch>
                                                </ng-template>
                                              </ngx-datatable-column>
                                          </ngx-datatable>
                                      </div>
                                  </div>
                          </ng-template>
                        </ngb-tab>
                      </ngb-tabset>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="showForm">
      <div class="col-sm-12">
          <div class="card">
              <div class="card-header">

      <div class="card-body">
          <div class="card-block">
            <label *ngIf="schedule[0].task == 'schedule'"><b>Cron Job : </b>
              {{schedule[0].minute}} {{schedule[0].hour}} {{schedule[0].day}} {{schedule[0].month}} {{schedule[0].weekday}}
              (minute hour day month weekday)
            </label>

              <table class="table table-responsive-md text-center">
                  <thead>
                      <tr>
                          <th>Title</th>
                          <!-- <th>URL</th> -->
                          <th>Started At</th>
                          <th>Finished At</th>
                          <th>Status</th>
                          <th>Task</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let data of listData1 | paginate: { itemsPerPage: 10, currentPage: p }">
                          <td>{{data.title}}</td>
                          <!-- <td>{{data.parameters}}</td> -->
                          <td>{{data.started_at}}</td>
                          <td>{{data.finished_at}}</td>
                          <td>
                            {{data.status}}
                          </td>
                          <td>
                          {{data.task}}
                          </td>
                      </tr>

                      <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
                  </tbody>
              </table>
              <div class="col-12 paginationonAction">
                  <span class="total">{{collectionSize1}} Total</span>
                  <ngb-pagination [pageSize]="pageSize" [(page)]="p" [maxSize]="10" [rotate]="true" [collectionSize]="collectionSize1" [boundaryLinks]="true" style="float: right;"></ngb-pagination>
              </div>

              <br />
              <button type="submit" class="btn btn-raised btn-danger mr-1" (click)="cancel()">
              <!-- <i class="icon-trash"></i> Cancel -->Back
              </button>

          </div>

      </div>
</div></div></div>
    </div>
</section>
