<section id="ngx">
    <div class="card">
        <div class="card-body">
            <div class="card-block">
              <aw-wizard #wizard navBarLayout="large-empty-symbols">
                <aw-wizard-step [stepTitle]="'Personal Details'" [navigationSymbol]="{ symbol: '&#xf007;', fontFamily: 'FontAwesome' }">
                	<form [formGroup]="registerForm" class="editForm">
                        <h4 class="head text-center">Sign up Now</h4>
                        <br/>
                        <div class='row'>
                            <div class='col-12'>
                            	<div class="row">
                                    <div class='col-12 col-sm-6'>
                                        <div class="form-group">
                                            <label class="form-control-label" for="uname">Username</label>
                                            <input type="text" class="form-control form-control-lg" formControlName="uname" id="uname" placeholder="Username">
                                            <small class="form-text text-muted danger" *ngIf="!registerForm.get('uname').valid && (registerForm.get('uname').dirty || registerForm.get('uname').touched)">Username is required!</small>
                                        </div>
                                    </div>
                                    <div class='col-12 col-sm-6'>
                                        <div class="form-group">
                                            <label class="form-control-label" for="inputPass">Password</label>
                                            <input type="text" class="form-control form-control-lg" formControlName="inputPass" id="inputPass" placeholder="Password">
                                            <small class="form-text text-muted danger" *ngIf="!registerForm.get('inputPass').valid && (registerForm.get('inputPass').dirty || registerForm.get('inputPass').touched)">Password is required!</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class='col-12 col-sm-6'>
                                        <div class="form-group">
                                            <label class="form-control-label" for="fname">First Name</label>
                                            <input type="text" class="form-control form-control-lg" formControlName="fname" id="fname" placeholder="First Name">
                                            <small class="form-text text-muted danger" *ngIf="!registerForm.get('fname').valid && (registerForm.get('fname').dirty || registerForm.get('fname').touched)">Firstname is required!</small>
                                        </div>
                                    </div>
                                    <div class='col-12 col-sm-6'>
                                        <div class="form-group">
                                            <label class="form-control-label" for="lname">Last Name</label>
                                            <input type="text" class="form-control form-control-lg" formControlName="lname" id="lname" placeholder="Last Name">
                                            <small class="form-text text-muted danger" *ngIf="!registerForm.get('lname').valid && (registerForm.get('lname').dirty || registerForm.get('lname').touched)">Lastname is required!</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class='col-12 col-sm-6'>
                                        <div class="form-group">
                                            <label class="form-control-label" for="email">Email</label>
                                            <input type="text" class="form-control form-control-lg" formControlName="email" id="email" placeholder="Email">
                                            <small class="form-text text-muted danger" *ngIf="!registerForm.get('email').valid && (registerForm.get('email').dirty || registerForm.get('email').touched)">Email is required!</small>
                                        </div>
                                    </div>
                                    <div class='col-12 col-sm-6'>
                                        <div class="form-group">
                                            <label class="form-control-label" for="phone">Phone</label>
                                            <input type="text" class="form-control form-control-lg" formControlName="phone" id="phone" placeholder="Phone Number">
                                            <small class="form-text text-muted danger" *ngIf="!registerForm.get('phone').valid && (registerForm.get('phone').dirty || registerForm.get('phone').touched)">Phone is required!</small>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group text-center">
                                    <button type="button" uiSref="work" class="btn btn-info btn-raised"  awNextStep [disabled]="!registerForm.valid">
                                        Next
                                        <span style="margin-left:10px;">
                                            <i class="ft-chevron-right"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </aw-wizard-step>
                <aw-wizard-step [stepTitle]="'Address'" [navigationSymbol]="{ symbol: '&#xf007;', fontFamily: 'FontAwesome' }">
                	<form [formGroup]="registerForm1" class="editForm">
                    <h4 class="head text-center">Enter billing information</h4>
                    <br/>
                    <div class='row'>
                      <div class='col-12'>
                        <div class="row">
                          <div class='col-12'>
                            <div class="form-group">
                              <label class="form-control-label" for="address1">Billing Address</label>
                              <input type="text" class="form-control form-control-lg" formControlName="address1" id="address1" placeholder="Enter a location" ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)">
                              <small class="form-text text-muted danger" *ngIf="!registerForm1.get('address1').valid && (registerForm1.get('address1').dirty || registerForm1.get('address1').touched)">Address is required!</small>
                            </div>
                          </div>
                        </div>
                        <div class="form-group text-center space-20">
                          <button uiSref="personal" type="button" class="btn btn-raised btn-secondary mr-1" awPreviousStep>
                            <span style="margin-right:10px;">
                                <i class="ft-chevron-left"></i>
                            </span> Previous</button>
                          <button uiSref="address" type="button" class="btn btn-raised btn-info" [disabled]="!registerForm1.valid" awNextStep>
                            Next
                            <span style="margin-left:10px;">
                                <i class="ft-chevron-right"></i>
                            </span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </form>
                </aw-wizard-step>
                <aw-wizard-step [stepTitle]="'Subscription'" [navigationSymbol]="{ symbol: '&#xf0ac;', fontFamily: 'FontAwesome' }">
                	<form class="editForm">
                		<h4 class="head text-center">Prepay and save</h4>
                		<h6 class="text-center">Try free for 30 days, or select a prepaid quarterly or annual plan to save more.</h6>
                    <br/>
                    <div class='row justify-content-center'>
                    	<div class='col-3'>
	                    	<fieldset>
    										<div class="input-group" *ngFor="let list of planList">
    											<div class="input-group-prepend" (click)="getId(list.id,list.type)">
    												<span class="input-group-text">
    													<input name="radio" type="radio" [id]="list.id" aria-label="Radio button for following text input">
    												</span>

    											</div>
    											<label class="form-control">
    												{{list.type}}: <br />
    												{{list.validity}}
    											</label>
    										</div>
    									</fieldset>
                      <h4 col-3>Service Agreement</h4>
                      <h6 col-6>Sending Spam is strictly forbidden. By clicking the button below, you state that you have read and agree to the Service Agreement and Data Processing Terms.</h6>
                      <span class="input-group-text">
                        Plan Selected: {{selectedSubcription}}
                      </span><br />
                     </div>
                    </div>
                    <div class="form-group text-center">
                      <button uiSref="work" type="button" class="btn btn-raised btn-secondary mr-1" awPreviousStep>
                        <span style="margin-right:10px;">
                            <i class="ft-chevron-left"></i>
                        </span> Previous
                      </button>
                      <button type="submit" class="btn btn-raised btn-success" [disabled]="!subscribed || submitted" (click)="onSubmit()">
                        Sign Up <i *ngIf="submitted" class="fas fa-spinner fa fa-spin"></i>
                        <span style="margin-left:10px;">
                            <i class="ft-chevron-right"></i>
                        </span>
                      </button>
                    </div>
                  </form>
                </aw-wizard-step>
              </aw-wizard>
            </div>
        </div>
    </div>
    <!-- <ng4-loading-spinner> </ng4-loading-spinner> -->
</section>
