<!--     <div class="row" >
    	<div class="col-sm-8">
    		<formio [form]="form"></formio>
    	</div>
    </div> -->
    <div class="container-fluid">
    	<div class="row">
    		<div class="col-12 d-flex align-items-center justify-content-center gradient-aqua-marine">
    			<div class="card p-4 box-shadow-2 width-800">
    				<div class="card-header text-center">
    					<h4 class="text-uppercase text-bold-400 grey darken-1">{{formTitle}}</h4>
    				</div>
    				<div class="card-body">
    					<div class="card-block"  *ngIf="showForm">
                            <formio [form]="form" (submit)="onSubmit($event)"></formio>
                        </div>
                        <div class="card-block"  *ngIf="!showForm">
                            Thanks For Submission.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
