<section id="ngx" class="mb-3">
    <div class="row">
        <div class="col-12">

            <div class="content-header">Import</div>
        </div>
    </div>
    <br />
    <div class="row">
      <div class="col-sm-12">
      <div class="card">
          <div class="card-body">
              <div class="card-block">

        <div>
            <label for="option">Enter Title</label>
         <div class="form-group">
           <input type="text" class="form-control" id="title" [(ngModel)]="title" placeholder="Enter Title" required>
         </div>
       </div>

        <div class="form-group">
            <label for="option">Select Import Option</label>
            <div class="input-group">
              <select id="option" class="form-control" [(ngModel)]="selectedValue" (change)="select()">
                <option value="local" selected>Attach file</option>
                <option value="link">Insert Link</option>
                <option value="ftp">FTP</option>
                <option value="api">API (CSV / JSON)</option>
              </select>
            </div>
        </div>
        <!-- <form [formGroup]="Form" novalidate> -->

        <div class="form-group">
          <div class="custom-file center-block d-block" *ngIf="selectedValue=='local'">
            <input type="file" class="custom-file-input" id="upload" (change)="upload($event.target.files)">
            <label class="custom-file-label" for="upload" #uploadLabel>Choose CSV file</label>
           </div>
        </div>
          <div *ngIf="selectedValue=='link'">
             <div class="form-group">
               <input type="text" class="form-control" id="link" [(ngModel)]="link" placeholder="domainname/csvfilepath" required>
             </div>
           </div>
            <div *ngIf="selectedValue=='ftp'">
             <div class="form-group">
               <input type="text" class="form-control" id="server" [(ngModel)]="serverVal" placeholder="FTP Server Name" required>
             </div>
             <div class="form-group">
               <input type="text" class="form-control" id="username" [(ngModel)]="usernameVal" placeholder="User Name" required>
             </div>
             <div class="form-group">
               <input type="password" class="form-control" id="password" [(ngModel)]="passwordVal" placeholder="Password" required>
             </div>
             <div class="form-group">
               <input type="text" class="form-control" id="link" [(ngModel)]="link" placeholder="CSV File Name" required>
             </div>

            </div>

            <div *ngIf="selectedValue=='api'">
              <div class="form-group">
                <input type="text" class="form-control" id="link" [(ngModel)]="link" placeholder="API URL" required>
              </div>
              <div class="form-group">
               <input type="text" class="form-control" id="headername" [(ngModel)]="headernameVal" placeholder="Header Name" required>
             </div>
             <div class="form-group">
              <input type="text" class="form-control" id="headervalue" [(ngModel)]="headervalueVal" placeholder="Header Value" required>
             </div>
            </div>
        <!-- </form> -->
          <!-- <div class="form-group"> -->
          <button type="button" class="btn btn-success btn-raised" [disabled]="!title || (selectedValue != 'local' && !link) || (selectedValue == 'local' && !fileName) || (selectedValue == 'ftp' && (!serverVal || !usernameVal || !passwordVal))" (click)="import()">Import</button>
          <!-- </div> -->
        <!-- </div> -->
      </div>
    </div></div>
  </div>
        <div class="col-sm-12" *ngIf="json">
            <div class="card">
                <div class="card-body">
                    <div class="card-block">

                      <div class="form-group">
                          <label for="option">Select Table in which you want to save data</label>
                          <div class="input-group">
                            <select id="option" class="form-control" [(ngModel)]="selectedTable" (change)="getCol()">
                              <option value="users">Member</option>
                              <option value="loyalty">Loyalty</option>
                              <option value="list">List</option>
                              <option value="transaction">Transaction</option>
                            </select>
                          </div>
                      </div>
                        <h4>Match the file columns with your selected table fields</h4>
                        For each colomn of your selected table data, select a field that it corresponds to.
                        If the field doesn't exist, select <b>Nothing(skip)</b> in the dropdpwn.<br /><br />
                        <br />
                        <div style="width:100%;overflow:auto;">
                          <table class="table table-responsive-md">
                              <thead>
                                  <tr>
                                      <th *ngFor="let data of columns;let i=index">
                                        {{data}}<br />
                                        <select id="c{{i}}">
                                          <option value='Nothing(skip)'>Nothing(skip)</option>
                                          <option *ngFor="let s of str" value='{{s}}'>{{s}}</option>
                                        </select>
                                      </th>
                                  </tr>
                              </thead>
                              <tbody>
                                <tr *ngIf="!IsArray | paginate: { itemsPerPage: 10, currentPage: p }">
                                    <td *ngFor="let col of columns">
                                          {{json[col]}}
                                    </td>
                                </tr>
                                <tr *ngFor="let row of json | paginate: { itemsPerPage: 10, currentPage: p }"><!-- array -->
                                    <td *ngFor="let col of columns">
                                      {{row[col]}}
                                    </td>
                                </tr>
                                      <!-- <td *ngFor="let col of columns">{{row[col]}}</td> -->
  <!-- <td *ngFor="let col of columns"> -->
                                      <!-- <span *ngIf="typeof json[col] == 'object'">
                                        object
                                        </span> -->
                                        <!-- <span *ngIf="typeof json[col] != 'object'"> -->
                                            <!-- {{json[col]}} -->
                                          <!-- </span> -->
                                          <!-- </td>
                                  </tr> -->
                              </tbody>
                          </table>
                        </div>
                        <div class="col-12 paginationonAction">
                            <span class="total">{{collectionSize}} Total</span>
                            <ngb-pagination [pageSize]="pageSize" [(page)]="p" [maxSize]="10" [rotate]="true" [collectionSize]="collectionSize" [boundaryLinks]="true" style="float: right;"></ngb-pagination>
                        </div>
                        <br />
                        <button type="button" class="btn btn-success btn-raised  mr-1" [disabled]="saveTxt != 'Save'" (click)="save()">{{saveTxt}} <i *ngIf="saveTxt != 'Save' && saveTxt != 'Saved'" class="fas fa-spinner fa fa-spin"></i></button>
                        <button type="button" class="btn btn-danger btn-raised"  [disabled]="selectedValue == 'local'" (click)="schedule()">Schedule Import Task</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row" *ngIf="IsSchedule">
      <div class="col-sm-12">
      <div class="card">
          <div class="card-body">
              <div class="card-block">
                <h4>Schedule Import Task</h4>
                    <span>Every: </span>
                    <div class="cron-select-wrap">
                        <select class="cron-select" [(ngModel)]="every" (change)="schedule()">
                          <option value="1">Minute</option>
                          <option value="2">Hour</option>
                          <option value="3">Day</option>
                          <option value="4">Week</option>
                          <option value="5">Month</option>
                          <option value="6">Year</option>
                        </select>
                    </div>
                        <span *ngIf="every == 4"> on </span>
                        <span *ngIf="every == 4" class="cron-select-wrap">
                            <select class="cron-select day-value" [(ngModel)]="weekday">
                              <option *ngFor="let dayname of days;let i=index" value="{{i}}">{{dayname}}</option>
                            </select>
                        </span>
                        <span *ngIf="every >= 5"> on the </span>
                        <span *ngIf="every >= 5" class="cron-select-wrap">
                            <select class="cron-select day-of-month-value" [(ngModel)]="day">
                              <option *ngFor="let data of dayOfMonthValues;" value="{{data}}">
                                <span *ngIf="data == 1">1st</span>
                                <span *ngIf="data == 2">2nd</span>
                                <span *ngIf="data == 3">3rd</span>
                                <span *ngIf="data == 21">21st</span>
                                <span *ngIf="data == 22">22nd</span>
                                <span *ngIf="data == 23">23rd</span>
                                <span *ngIf="data == 31">31st</span>
                                <span *ngIf="data != 31 && data != 23 && data != 22 && data != 21 && data != 3 && data != 2 && data != 1">{{data}}th</span>
                              </option>
                              <!-- case 1:
                                  return "1st";
                              case 2:
                                  return "2nd";
                              case 3:
                                  return "3rd";
                              case 21:
                                  return "21st";
                              case 22:
                                  return "22nd";
                              case 23:
                                  return "23rd";
                              case 31:
                                  return "31st"; -->

                            </select>
                        </span>
                        <span *ngIf="every == 6"> of </span>
                        <span *ngIf="every == 6" class="cron-select-wrap">
                            <select class="cron-select month-value" [(ngModel)]="month">
                              <option *ngFor="let data of months;let i=index" value="{{data['value']}}">{{data["name"]}}</option>
                            </select>
                        </span>
                        <span *ngIf="every >= 2"> at </span>
                        <span *ngIf="every >= 3" class="cron-select-wrap">
                            <select class="cron-select hour-value" [(ngModel)]="hour">
                              <option *ngFor="let data of hourValues;" value="{{data}}">{{data}}</option>
                            </select>
                        </span>
                        <span *ngIf="every >= 3"> : </span>
                        <span *ngIf="every >= 2" class="cron-select-wrap">
                            <select class="cron-select minute-value" [(ngModel)]="minute">
                              <option *ngFor="let data of minuteValues;" value="{{data}}">{{data}}</option>
                            </select>
                        </span>
                        <span *ngIf="every == 2"> past the hour</span>
                        <br /><br />
                        <button type="button" class="btn btn-danger btn-raised" (click)="SaveTask('schedule')">Submit</button>

                    </div>
                </div>
              </div>
            </div>
        </div>
    <!-- </div> -->


</section>
