<router-outlet></router-outlet>
<!-- toastr -->
<ng-snotify></ng-snotify>
<!-- <ng-chat  [adapter]="adapter" [userId]="userId"></ng-chat> -->
<ng-chat *ngIf="userId > 0" [adapter]="adapter" [userId]="userId"></ng-chat>
