<section class="basic-elements">
	<div class="row">
		<div class="col-md-6">
			<!-- <div class="content-header">Segments</div> -->
		</div>
	</div>
	<div class="row" *ngIf="showTable">
		<div class="col-sm-12">
			<div class="card">
				<div class="card-header">
					<div class="row">
						<div class="col-sm-6">
						</div>
						<div class="col-sm-6" style="text-align: right;">
							<p>
							</p>
						</div>
					</div>
					<div class="card-body">
						<div class="card-block">
							<ngx-datatable class="material" class="bootstrap" [rows]="segments" [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [sorts]="[{prop: ['campaign_title','template_name'], dir: 'desc'}]" [limit]="10">
								<ngx-datatable-column name="Event">
									<ng-template let-row="row" ngx-datatable-cell-template>
											{{row.campaign_title}}
									</ng-template>
								</ngx-datatable-column>
								<ngx-datatable-column name="Template Mapping">
									<ng-template let-row="row" ngx-datatable-cell-template>
											{{row.template_name}}
									</ng-template>
								</ngx-datatable-column>
								<!-- <ngx-datatable-column name="Created">
									<ng-template let-row="row" ngx-datatable-cell-template>
										{{row.created}}
									</ng-template>
								</ngx-datatable-column> -->
								<ngx-datatable-column name="Action">
									<ng-template let-row="row" ngx-datatable-cell-template>
										<a class="success p-0" data-original-title="" title="" (click)="edittemplateById(row.id)">
											<i class="fas fa-pencil-alt font-medium-3 mr-2"></i>
										</a>
										<!-- <a class="danger p-0" data-original-title="" title="" (click)="viewwebtemplate()">
												<i class="ft-eye font-medium-3 mr-2"></i>
										</a> -->
									</ng-template>
								</ngx-datatable-column>
							</ngx-datatable>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row" *ngIf="!showTable">
			<div class="col-sm-12">
					<div class="card">
							<div class="card-body">
							<div class="card-block">
									  <form class="form" #f="ngForm" (ngSubmit)="f.form.valid">
										<div>
												<div class="form-group">
														<div class="row">
																<div class="col-sm-6">
																		<label for="floattitle">Title</label>
																</div>
																<div class="col-sm-6" style="text-align: right;">
																		<p>
																				<span *ngIf="!floattitle.value">{{longTxt}}/96</span>
																				<span *ngIf="floattitle.value && floattitle.value.length > 0">{{longTxt + floattitle.value.length}}/96</span>
																		</p>
																</div>
														</div>
														<input type="text" class="form-control" id="floattitle" name="floattitle" [(ngModel)]="form.floattitle" required #floattitle="ngModel"  placeholder="96 characters maximum" maxlength="96" [ngClass]="{ 'is-invalid': f.submitted && !floattitle.valid }">
														<small class="form-text text-muted danger" *ngIf="!floattitle.valid && (floattitle.dirty || floattitle.touched)">Title is required!</small>
														<small class="form-text text-muted danger" *ngIf="f.submitted && !floattitle.valid && !floattitle.touched">Title is required!</small>
												</div>
										</div>
										<div>
												<div class="form-group">
														<div class="row">
																<div class="col-sm-6">
																		<label for="floatmessage">Message</label>
																</div>
																<div class="col-sm-6" style="text-align: right;">
																		<p>
																				<span *ngIf="!floatmessage.value">{{longTxt}}/255</span>
																				<span *ngIf="floatmessage.value && floatmessage.value.length > 0">{{longTxt + floatmessage.value.length}}/255</span>
																		</p>
																</div>
														</div>
														<input type="text" class="form-control" id="floatmessage" name="floatmessage" [(ngModel)]="form.floatmessage" required #floatmessage="ngModel"  placeholder="255 characters maximum" maxlength="255" [ngClass]="{ 'is-invalid': f.submitted && !floatmessage.valid }">
														<small class="form-text text-muted danger" *ngIf="!floatmessage.valid && (floatmessage.dirty || floatmessage.touched)">Message is required!</small>
														<small class="form-text text-muted danger" *ngIf="f.submitted && !floatmessage.valid && !floatmessage.touched">Message is required!</small>
												</div>
										</div>
										<div>
												<div class="form-group">
														<label for="floaturl">Landing Page URL</label>
														<input type="url" class="form-control" id="floaturl" name="floaturl" [(ngModel)]="form.floaturl" pattern="https?://.+"  required #floaturl="ngModel"  placeholder="Enter URL with http:// or https://" [ngClass]="{ 'is-invalid': f.submitted && !floaturl.valid }">
														<!-- <small class="form-text text-muted danger" *ngIf="!floaturl.valid && (floaturl.dirty || floaturl.touched)">URL is required!</small>
														<small class="form-text text-muted danger" *ngIf="floaturl.errors.pattern">Enter a valid URL</small> -->
														<small *ngIf="(floaturl.touched || f.submitted) && !floaturl.valid" class="form-text text-muted danger">
																<small *ngIf="floaturl.errors.required">URL is required!</small>
																<small *ngIf="floaturl.errors.pattern">Enter a valid URL</small>
														</small>
														<small class="form-text text-muted danger" *ngIf="f.submitted && !floaturl.valid && !floaturl.touched">URL is required!</small>
												</div>
										</div>
										<div>
												<div class="form-group">
														<label for="image">Image</label>
														<p>File type supported: jpg, jpeg, png. Recommended Size: 192x192.</p>
														<img *ngIf="!url" src="assets/img/logo.png" style="background: black;" width="50" height="50" alt="" />
														<img *ngIf="url" src="{{url}}" />
														&nbsp;<label #imageLabel class="btn btn-raised btn-sm btn-danger mr-1" color="primary" for="file-upload">
														Upload
														</label>
														<input type="file" class="form-control" id="file-upload" name="image" [(ngModel)]="form.image" required #image="ngModel" (change)="uploadmembershipIcon($event.target.files,'url')" [ngClass]="{ 'is-invalid': f.submitted && !image.valid }" style="display:none;"/><!-- (change)="uploadSubmit($event.target.files)"(change)="addFile($event,'url')"  -->
														<small class="form-text text-muted danger" *ngIf="f.submitted && !image.valid && !image.touched">Image is required!</small>
														<i *ngIf="loader" class="fas fa-spinner fa fa-spin"></i><p *ngIf="loader" style="color:red;">&nbsp;Please wait while the image uploads.</p>
												</div>
										</div>
										<div>
												<div class="form-group">
														<input type="checkbox" name="bigIm" value="bigIm" (change)="addBigImage($event.target.checked)">&nbsp;Show Big Image<br>&nbsp;&nbsp;Big image is only supported on Chrome (56+) browser. Image may get cropped on android devices.<br><br>
														<div *ngIf="showBigImage">
																		<label for="bigImage">Image</label>
																		<p>File type supported: jpg, jpeg, png. Recommended Size: 360x240.</p>
																		<img *ngIf="!bigImageUrl" src="assets/img/logo.png" style="background: black;" width="50" height="50" alt="" />
																		<img *ngIf="bigImageUrl" src="{{bigImageUrl}}" />
																		&nbsp;<label #bigImageLabel class="btn btn-raised btn-sm btn-danger mr-1" color="primary" for="file-upload1">
																		Upload Image
																		</label>
																		<input type="file" class="form-control" id="file-upload1" name="bigImage" [(ngModel)]="form.bigImage" required #bigImage="ngModel" (change)="uploadBigImage($event.target.files,'bigImage')" [ngClass]="{ 'is-invalid': f.submitted && !bigImage.valid }" style="display:none;" /><!-- (change)="uploadSubmit($event.target.files)"(change)="addFile($event,'url')"  -->
																		<small class="form-text text-muted danger" *ngIf="f.submitted && !bigImage.valid && !bigImage.touched">Image is required!</small>
																		<i *ngIf="imageloader" class="fas fa-spinner fa fa-spin"></i><p *ngIf="imageloader" style="color:red;">&nbsp;Please wait while the image uploads.</p>
														</div>
														<!-- <input type="checkbox" name="buttons">&nbsp;Show Button(s) on Chrome Notification<br>&nbsp;&nbsp;Call to action buttons are only supported on Chrome browser. -->
												</div>
										</div>
											<div class="form-group">
													<button type="button" class="btn btn-danger btn-raised mr-1" (click)="cancel()">Cancel</button>
													<button type="button" class="btn btn-success btn-raised" (click)="updatewebtemplate()">Update</button>
											</div>
									</form>
							</div>
					</div>
					</div>
			</div>
	</div>
</section>
