.selected-column{
   width: 140%;
   /*margin-right: 20px;
   float: right;*/
   text-align: left;
   background: #FFF;
   box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
}
li{
    list-style: none;
}
ul.tablealgn {
    float: right;
    text-align: -webkit-auto;
}
ngx-datatable.bootstrap.ngx-datatable.fixed-header.virtualized {
    float: left;
}
.btnalgn {
	    text-align: -webkit-right
}
.text-right {
  text-align: right !important;
  right: -50%;
}