<section id="paging" class="mb-3">
    <div class="row">
        <div class="col-12">
            <div class="content-header">Members</div>
        </div>
    </div>
    <div class="row" *ngIf="showTable">
        <div class="col-sm-12">
            <div class="card">
                <!-- <div class="card-header">
                  <div class="card-title-wrap bar-info">
                    <h4 class="card-title">Table Paging</h4>
                  </div>
                </div> -->
                <div class="card-header">

                  <div class="row">
                      <div class="col-sm-6">
                        <ngb-tabset (tabChange)="selectUser($event)">
                            <ngb-tab title="Members" id="all" active="SelectedTab == 'all'">
                              <ng-template ngbTabContent>
                              </ng-template>
                            </ngb-tab>
                            <!-- <ngb-tab title="Active Users" id="y" active="SelectedTab == 'y'">
                              <ng-template ngbTabContent>
                              </ng-template>
                            </ngb-tab> -->
                            <ngb-tab title="Inactive" id="n" active="SelectedTab == 'n'">
                              <ng-template ngbTabContent>
                              </ng-template>
                            </ngb-tab>
                            <ngb-tab title="Blacklisted" id="b" active="SelectedTab == 'b'">
                              <ng-template ngbTabContent>
                              </ng-template>
                            </ngb-tab>
                        </ngb-tabset>
                      </div>
                  </div>
                  <!-- <div class="row">
                    <div class="col-md-10 text-right">
                      <button type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed"
                              [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
                        Select Columns
                      </button>
                      <div id="collapseExample" class="selected-column" [ngbCollapse]="!isCollapsed">
                        <ul>
                            <li *ngFor='let col of allColumns'>
                              <input
                                type='checkbox'
                                [id]="col.name"
                                (click)='toggle(col)'
                                [checked]='isChecked(col)'
                              />
                              <label [attr.for]="col.name">{{col.name}}</label>
                            </li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <a class="btn btn-social btn-round btn-min-width mr-2 mb-2 btn-outline-bitbucket float-right" (click)="addUser()"><span class="ft-plus"></span> Add Member</a>
                    </div>
                  </div> -->

                <div class="row">
                  <div class="col-2 text-right">
                    <div class="form-group">
                      <button type="button" class="btn btn-outline-primary" (click)="blacklistUser()">
                        Blacklist User
                      </button>
                    </div>
                  </div>
                  <div class="col-2 text-right">
                    <div class="form-group">
                      <button type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed"
                              [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
                        Select Columns
                      </button>
                      <div id="collapseExample" class="selected-column" [ngbCollapse]="!isCollapsed">
                        <ul>
                            <li *ngFor='let col of allColumns'>
                              <input
                                type='checkbox'
                                [id]="col.name"
                                (click)='toggle(col)'
                                [checked]='isChecked(col)'
                              />
                              <label [attr.for]="col.name">{{col.name}}</label>
                            </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-2 text-right">
                    <div class="form-group">
                      <a class="btn btn-social btn-round btn-min-width mr-2 mb-2 btn-outline-bitbucket float-right" (click)="addUser()"><span class="ft-plus"></span> Add Member</a>
                    </div>
                  </div>
                </div>

                  <!-- <div class="col-sm-6" style="text-align: right;">
                      <p>
                          <a class="btn btn-social btn-round btn-min-width mr-2 mb-2 btn-outline-bitbucket float-right" (click)="addUser()"><span class="ft-plus"></span> Add Member</a>
                          <!-- <a class="btn btn-raised mr-1 btn-round btn-outline-bitbucket" (click)="inviteUser()" *ngIf="isAdmin">Invite User</a>
                      </p>
                  </div>
                  <div class="col-sm-12">
                      <button type="button" class="btn btn-outline-primary mt-2" (click)="isCollapsed = !isCollapsed"
                      [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
                      Select Columns
                      </button>

                      <div id="collapseExample" class="selected-column" [ngbCollapse]="!isCollapsed">
                        <ul class="tablealgn">
                          <li *ngFor='let col of allColumns'>
                            <input type='checkbox' [id]="col.name" (click)='toggle(col)' [checked]='isChecked(col)' />
                            <label [attr.for]="col.name">{{col.name}}</label>
                          </li>
                        </ul>
                      </div>
                    </div> -->
                  <!-- <div class="col-sm-12" style="text-align: right;">
                      <button type="button" class="btn btn-outline-primary mt-2" (click)="isCollapsed = !isCollapsed"
                              [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
                        Select Columns
                      </button>

                      <div id="collapseExample" class="selected-column" [ngbCollapse]="!isCollapsed">
                        <ul class="tablealgn">
                            <li *ngFor='let col of allColumns'>
                              <input
                                type='checkbox'
                                [id]="col.name"
                                (click)='toggle(col)'
                                [checked]='isChecked(col)'
                              />
                              <label [attr.for]="col.name">{{col.name}}</label>
                            </li>
                        </ul>
                      </div></div> -->
                  <!--<div class="card-body">
                      <div class="card-block">
                        <table class="table table-responsive-md text-center">
                          <thead>
                            <tr>
                              <th>First Name</th>
                              <th>Last Name</th>
                              <th>Email</th>
                              <th>Role</th>
                              <th>Actions</th>
                              <th></th>
                            </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let user of dataSource | paginate: { itemsPerPage: 10, currentPage: p }">
                                <td>{{user.FirstName}}</td>
                                <td>{{user.LastName}}</td>
                                <td>{{user.email}}</td>
                                <td><span class="badge badge-primary">{{user.role}}</span></td>
                                <td>
                                  <a class="success p-0" data-original-title="" title="" (click)="edituser(user.id)">
                                    <i class="fas fa-pencil-alt font-medium-3 mr-2"></i>
                                  </a>
                                  <a class="danger p-0" data-original-title="" title="" (click)="deleteuser(user.id)">
                                    <i class="fas fa-trash font-medium-3 mr-2"></i>
                                  </a>
                                </td>
                                <td><a *ngIf="user.status == 'y'" (click)="deactivate('n', user.id, user.email)" class="btn btn-flat btn-link" style="color: #f74961;">Deactivate</a><a  *ngIf="user.status == 'n' || user.status == ''" (click)="deactivate('y', user.id, user.email, user.FirstName, user.LastName)" class="btn btn-flat btn-link" style="color: #666EE8;">Activate</a></td>
                              </tr>
                            </tbody>
                        </table>
                          <div class="col-12 paginationonAction">
                              <span class="total">{{collectionSize}} Total</span>
                              <ngb-pagination [pageSize]="pageSize" [(page)]="p" [maxSize]="5" [rotate]="true" [collectionSize]="collectionSize" [boundaryLinks]="true" style="float: right;"></ngb-pagination>
                          </div>
                      </div>
                  </div>-->
                   <div>
                    <ngx-datatable
                    class ='material'
                    class='bootstrap'
                    [rows]='dataSource'
                    [columnMode]="'force'"
                    [headerHeight]="50"
                    [footerHeight]="50"
                    [rowHeight]="'auto'" [limit]="10">
                      <ngx-datatable-column
                      *ngFor="let col of columns"
                      [name]="col.name">
                      </ngx-datatable-column>
                      <ngx-datatable-column name="Role">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                          <span class="badge badge-primary">{{row.role}}</span>
                        </ng-template>
                      </ngx-datatable-column>

                      <ngx-datatable-column name="Action">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                          <a class="success p-0" data-original-title="" title="" *ngIf="SelectedTab != 'b'" (click)="edituser(row.id)">
                          <i class="fas fa-pencil-alt font-medium-3 mr-2"></i>
                          </a>
                          <a class="danger p-0" data-original-title="" title="" *ngIf="SelectedTab != 'b'" (click)="deleteuser(row.id)">
                          <i class="fas fa-trash font-medium-3 mr-2"></i>
                          </a>
                          <a class="danger p-0" data-original-title="" title="" *ngIf="SelectedTab == 'b'" (click)="removeblacklisteduser(row.id)">
                          <i class="fas fa-trash font-medium-3 mr-2"></i>
                          </a>
                        <!-- </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column *ngIf="SelectedTab != 'b'">
                        <ng-template let-row="row" ngx-datatable-cell-template> -->
                          <a class="success p-0" data-original-title="" title="" *ngIf="row.status == 'y' && SelectedTab != 'b'" (click)="deactivate('n', row.id, row.email)" style="color: #f74961 !important;">
                          <i class="fas fa-ban font-medium-3 mr-2" title="Deactivate"></i>
                          </a>
                          <a class="success p-0" data-original-title="" title="" *ngIf="SelectedTab != 'b' && (row.status == 'n' || row.status == '')" (click)="deactivate('y', row.id, row.email, row.FirstName, row.LastName, row.address, row.phone, row.city, row.state)" style="color: #666EE8 !important;">
                           <i class="fas fa-power-off font-3 mr-2" title="Activate"></i>
                          </a>
                        </ng-template>
                      </ngx-datatable-column>
                    </ngx-datatable>
                  </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="!showTable && !showInvite">
        <div class="col-sm-12">
            <div class="card">
                <!-- <div class="card-header">
                    <div class="card-title-wrap bar-success">
                        <h4 class="card-title">Regular Form (Reactive Form)</h4>
                    </div>
                </div> -->
                <div class="card-body">
                    <div class="card-block">
                        <form #adduser="ngForm" class="editForm" novalidate>
                          <!-- <form #adduser="ngForm" class="editForm" *ngIf="!isSuperAdmin" novalidate> -->
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                  <label>Username</label>
                                  <input required [(ngModel)]="users.username" name="username"  [ngClass]="{ 'is-invalid': adduser.submitted && username.invalid }" class="form-control" id="username" #username="ngModel" placeholder="Enter Username" type="text">
                                  <small class="form-text text-muted danger" *ngIf="adduser.submitted && username.invalid">Please enter a valid username!</small>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                  <label>Password</label>
                                  <input required [(ngModel)]="users.password" [ngClass]="{ 'is-invalid': adduser.submitted && password.invalid }" class="form-control" id="password" name="password" #password="ngModel" placeholder="Enter Password" minlength="4" maxlength="24" type="password">
                                  <small class="form-text text-muted danger" *ngIf="password.errors?.minlength">Password characters length must be between 4 and 24 !</small>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                  <label>First Name</label>
                                  <input required [(ngModel)]="users.firstName" [ngClass]="{ 'is-invalid': adduser.submitted && firstName.invalid }" class="form-control" id="firstName" #firstName="ngModel" name="firstName" placeholder="Enter First Name" type="text">
                                  <small class="form-text text-muted danger" *ngIf="adduser.submitted && firstName.invalid">Please enter a valid firstName!</small>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                  <label>Last Name</label>
                                  <input required [(ngModel)]="users.lastName" [ngClass]="{ 'is-invalid': adduser.submitted && lastName.invalid }" class="form-control" id="lastName" #lastName="ngModel" name="lastName" placeholder="Enter Last Name" type="text">
                                  <small class="form-text text-muted danger" *ngIf="adduser.submitted && lastName.invalid">Please enter a valid lastName!</small>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                  <label>Email</label>
                                  <input required [(ngModel)]="users.email" [ngClass]="{ 'is-invalid': adduser.submitted && email.invalid }" class="form-control" id="email" #email="ngModel" name="email" email placeholder="Enter Email" type="email">
                                  <small class="form-text text-muted danger" *ngIf="adduser.submitted && email.invalid">Please enter a valid email!</small>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                  <label>DOB</label>
                                  <input required [(ngModel)]="users.dob" [ngClass]="{ 'is-invalid': adduser.submitted && dob.invalid }" class="form-control" id="dob" #dod="ngModel" name="dob" type="date">
                                  <small class="form-text text-muted danger" *ngIf="adduser.submitted && dob.invalid">Please enter a valid dob!</small>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                  <label class>Gender</label>
                                  <div class="custom-control custom-radio display-block">
                                      <input type="radio" id="F"  value="F" name="genderRadios" class="custom-control-input" required [(ngModel)]="users.genderRadios" #genderRadios="ngModel" [ngClass]="{ 'is-invalid': adduser.submitted && genderRadios.invalid }">
                                      <label class="custom-control-label" for="F">Female</label>
                                  </div>
                                  <div class="custom-control custom-radio display-block">
                                      <input type="radio" id="M" value="M" name="genderRadios" class="custom-control-input" required [(ngModel)]="users.genderRadios" #genderRadios="ngModel" [ngClass]="{ 'is-invalid': adduser.submitted && genderRadios.invalid }">
                                      <label class="custom-control-label" for="M">Male</label>
                                  </div>
                                  <small class="form-text text-muted danger" *ngIf="adduser.submitted && genderRadios.invalid">Please choose Gender!</small>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                  <label>Phone</label>
                                  <input required [(ngModel)]="users.phone" [ngClass]="{ 'is-invalid': adduser.submitted && phone.invalid }" class="form-control" id="phone" #phone="ngModel" name="phone" type="text" maxlength="10" (keypress)="isNumberKey($event)">
                                  <small class="form-text text-muted danger" *ngIf="adduser.submitted && phone.invalid">Please enter valid phone number!</small>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                  <label>Subscriber List</label>
                                  <select required [(ngModel)]="users.sublist" [ngClass]="{ 'is-invalid': adduser.submitted && sublist.invalid }" class="form-control" id="sublist" #sublist="ngModel" name="sublist">
                                      <option value=''>Select List</option>
                                      <option *ngFor="let list of listDetails" value="{{list.id}}">{{list.name}}</option>
                                  </select>
                                  <small class="form-text text-muted danger" *ngIf="(adduser.submitted && sublist.invalid && sublist.value == '')">Please select a subscriber.</small>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                  <label>Address</label>
                                  <input required [(ngModel)]="users.address" [ngClass]="{ 'is-invalid': adduser.submitted && address.invalid }" class="form-control" id="address" #address="ngModel" name="address" ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"/>
                                  <small class="form-text text-muted danger" *ngIf="adduser.submitted && address.invalid">Please enter a valid address!</small>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                  <label>Select Membership</label>
                                  <select required [(ngModel)]="users.membership" [ngClass]="{ 'is-invalid': adduser.submitted && membership.invalid }" class="form-control" id="membership" #membership="ngModel" name="membership">
                                      <option value=''>Select List</option>
                                      <option *ngFor="let member of members" value="{{member.id}}">{{member.plans}}</option>
                                  </select>
                                  <small class="form-text text-muted danger" *ngIf="(adduser.submitted && membership.invalid && membership.value == '')">Please select a Membership.</small>
                              </div>
                            </div>
                          </div>
                          <div class="form-group" *ngIf="isSuperAdmin">
                              <label for="role">Role</label>
                              <select class="form-control" name="role" [(ngModel)]="users.role" #role="ngModel" [ngClass]="{ 'is-invalid': adduser.submitted && role.invalid }" required>
                                  <option value="">Select Role</option>
                                  <option *ngFor="let role of roles" value="{{role.id}}">{{role.name}}</option>
                              </select>
                              <small class="form-text text-muted danger" *ngIf="adduser.submitted && role.invalid && users.role == ''">Please select a role!</small>
                          </div>
                          <div class="form-group" *ngIf="isSuperAdmin">
                              <label for="organization">Organization</label>
                              <select class="form-control" name="organization" [(ngModel)]="users.organization" #organization="ngModel" [ngClass]="{ 'is-invalid': adduser.submitted && organization.invalid }" required>
                                  <option value="">Select Organization</option>
                                  <option *ngFor="let organization of organizations" value="{{organization.id}}">{{organization.name}}</option>
                              </select>
                              <small class="form-text text-muted danger" *ngIf="adduser.submitted && organization.invalid && users.organization == ''">Please select an organization!</small>
                          </div>
                          <div class="row" *ngIf="extraFields">
                            <div class="col-md-12">
                              <h4 class="form-section">
                              <i class="fa-th-list"></i> Extra Fields</h4>
                              <div class="row">
                                <div class="col-md-6" *ngFor="let field of addFields;let i = index">
                                  <div class="form-group" *ngIf="field.fieldType == 'text'">
                                    <label>{{field.label}}</label>
                                    <input class="form-control" name="{{field.fieldName}}" [(ngModel)]="field.fieldName_extra" #textValue="ngModel" minlength="1" maxlength="{{field.length}}" type="text" [required]="field.mandatory" (change)="fieldValueChange(field.id,$event.target.value, field.fieldName)">
                                    <small *ngIf="field.validation && (adduser.submitted && textValue.invalid)" class="form-text text-muted danger">{{field.validationMsg}}</small>
                                  </div>
                                  <div class="form-group" *ngIf="field.fieldType == 'date'">
                                    <label>{{field.label}}</label>
                                    <input class="form-control" name="{{field.fieldName}}" [(ngModel)]="field.fieldName_extra" #dateerrorValue="ngModel" type="date" [required]="field.mandatory" (change)="fieldValueChange(field.id,$event.target.value, field.fieldName)">
                                    <small *ngIf="field.validation && (adduser.submitted && dateerrorValue.invalid)" class="form-text text-muted danger">{{field.validationMsg}}</small>
                                  </div>
                                  <div class="form-group" *ngIf="field.fieldType == 'number'">
                                    <label>{{field.label}}</label>
                                    <input class="form-control" name="{{field.fieldName}}" [(ngModel)]="field.fieldName_extra" minlength="0" maxlength="{{field.length}}" #numbererrorValue="ngModel" [required]="field.mandatory" (change)="fieldValueChange(field.id,$event.target.value, field.fieldName)" (keypress)="isNumberKey($event)">
                                    <!-- <input class="form-control" name="numberValue" [(ngModel)]="numberValue_i" *ngIf="field.length == '' && field.length <= 0" type="text" pattern="[0-9]" [required]="field.mandatory" (change)="fieldValueChange(field.id,$event.target.value, field.fieldName)"> -->
                                    <small *ngIf="field.length != '' && field.length > 0" class="form-text text-muted danger">Field Length Should not exceed {{field.length}}</small>
                                    <small *ngIf="field.validation && (adduser.submitted && numbererrorValue.invalid)" class="form-text text-muted danger">{{field.validationMsg}}</small>
                                  </div>
                                  <div class="form-group" *ngIf="field.fieldType == 'float'">
                                    <label>{{field.label}}</label>
                                    <input class="form-control" name="{{field.fieldName}}" [(ngModel)]="field.fieldName_extra" minlength="0" maxlength="{{field.length}}" #floaterrorValue="ngModel" [required]="field.mandatory" (change)="fieldValueChange(field.id,$event.target.value, field.fieldName)" (keypress)="isNumberKey($event)">
                                    <!-- <input class="form-control" name="floatValue" [(ngModel)]="floatValue_i" maxlength="{{field.length}}" *ngIf="field.length != '' && field.length > 0" pattern="/^[0-9]+(\.[0-9]{1,2})?$/" (change)="fieldValueChange(field.id,$event.target.value, field.fieldName)" type="text" [required]="field.mandatory">
                                    <input class="form-control" name="floatValue" [(ngModel)]="floatValue_i" *ngIf="field.length == '' && field.length <= 0" pattern="/^[0-9]+(\.[0-9]{1,2})?$/" (change)="fieldValueChange(field.id,$event.target.value, field.fieldName)" type="text" [required]="field.mandatory"> -->
                                    <small *ngIf="field.length != '' && field.length > 0" class="form-text text-muted danger">Field Length Should not exceed {{field.length}}</small>
                                    <small *ngIf="field.validation && (adduser.submitted && floaterrorValue.invalid)" class="form-text text-muted danger">{{field.validationMsg}}</small>
                                  </div>
                                  <div class="form-group" *ngIf="field.fieldType == 'toggle'">
                                      <label>{{field.label}}</label>
                                      <ui-switch name="{{field.fieldName}}" [(ngModel)]="field.fieldName_extra" #toggleValue="ngModel" (change)="fieldValueChange(field.id,$event, field.fieldName)" [required]="field.mandatory"></ui-switch>
                                      <small *ngIf="field.validation && (adduser.submitted && toggleValue.invalid)" class="form-text text-muted danger">{{field.validationMsg}}</small>
                                    </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <small class="form-text text-muted danger" *ngIf="usernameerror">Username Already Exists.<br/><br/></small>
                          <small class="form-text text-muted danger" *ngIf="emailerror">Email Already Exists.<br/><br/></small>
                          <small class="form-text text-muted danger" *ngIf="dateerror">Your age must be 18 or older.<br/><br/></small>
                          <div class="form-group">
                            <button type="button" class="btn btn-danger btn-raised  mr-1" (click)="cancelEdit()">Cancel</button>
                            <button type="submit" class="btn btn-success btn-raised" [disabled]="!adduser.valid" (click)="onReactiveFormSubmit()">Submit <i *ngIf="submitted" class="fas fa-spinner fa fa-spin"></i></button>
                          </div>
                        </form>

                        <!-- <form [formGroup]="regularForm" (ngSubmit)="onReactiveFormSubmit()" novalidate *ngIf="isSuperAdmin">
                            <small class="form-text text-muted danger" *ngIf="usernameerror">Username Already Exits.<br/><br/></small>
                            <small class="form-text text-muted danger" *ngIf="emailerror">Email Already Exits.<br/><br/></small>
                            <div class="form-group">
                                <label>Username</label>
                                <input class="form-control" id="username" formControlName="username" placeholder="Enter Username" type="text">
                                <small class="form-text text-muted danger" *ngIf="!regularForm.get('username').valid && (regularForm.get('username').dirty || regularForm.get('username').touched)">Please enter a valid username!</small>
                            </div>

                            <div class="form-group">
                                <label>Password</label>
                                <input class="form-control" id="password" formControlName="password" placeholder="Enter Password" type="password">
                                <small class="form-text text-muted danger" *ngIf="!regularForm.get('password').valid && (regularForm.get('password').dirty || regularForm.get('password').touched)">Please enter a valid password!</small>
                            </div>

                            <div class="form-group">
                                <label>First Name</label>
                                <input class="form-control" id="firstName" formControlName="firstName" placeholder="Enter First Name" type="text">
                                <small class="form-text text-muted danger" *ngIf="!regularForm.get('firstName').valid && (regularForm.get('firstName').dirty || regularForm.get('firstName').touched)">Please enter a valid firstName!</small>
                            </div>

                            <div class="form-group">
                                <label>Last Name</label>
                                <input class="form-control" id="lastName" formControlName="lastName" placeholder="Enter Last Name" type="text">
                                <small class="form-text text-muted danger" *ngIf="!regularForm.get('lastName').valid && (regularForm.get('lastName').dirty || regularForm.get('lastName').touched)">Please enter a valid lastName!</small>
                            </div>

                            <div class="form-group">
                                <label>Email</label>
                                <input class="form-control" id="email" formControlName="email" placeholder="Enter Email" type="email">
                                <small class="form-text text-muted danger" *ngIf="!regularForm.get('email').valid && (regularForm.get('email').dirty || regularForm.get('email').touched)">Please enter a valid email!</small>
                            </div>

                            <div class="form-group">
                                <label>DOB</label>
                                <input class="form-control" id="dob" formControlName="dob" type="date">
                                <small class="form-text text-muted danger" *ngIf="!regularForm.get('dob').valid && (regularForm.get('dob').dirty || regularForm.get('dob').touched)">Please enter a valid dob!</small>
                            </div>

                            <div class="form-group">
                                <label class>Gender</label>
                                <div class="custom-control custom-radio display-block">
                                    <input type="radio" id="genderRadios1"  value="F" name="genderRadios" class="custom-control-input">
                                    <label class="custom-control-label" for="genderRadios1">Female</label>
                                </div>
                                <div class="custom-control custom-radio display-block">
                                    <input type="radio" id="genderRadios2" value="M" name="genderRadios" class="custom-control-input">
                                    <label class="custom-control-label" for="genderRadios2">Male</label>
                                </div>
                                <small class="form-text text-muted danger" *ngIf="!regularForm.get('genderRadios').valid && (regularForm.get('genderRadios').dirty || regularForm.get('genderRadios').touched)">Please choose Gender!</small>
                            </div>

                            <div class="form-group">
                                <label>Phone</label>
                                <input class="form-control" id="phone" formControlName="phone" type="text">
                                <small class="form-text text-muted danger" *ngIf="!regularForm.get('phone').valid && (regularForm.get('phone').dirty || regularForm.get('phone').touched)">Please enter valid phone number!</small>
                            </div>

                            <div class="form-group">
                                <label>Subscriber List</label>
                                <select class="form-control" id="sublist" formControlName="sublist">
                                    <option disabled="true">Select Subscriber</option>
                                    <option *ngFor="let list of listDetails" value="{{list.id}}">{{list.name}}</option>
                                </select>
                                <small class="form-text text-muted danger" *ngIf="!regularForm.get('sublist').valid && (regularForm.get('sublist').dirty || regularForm.get('sublist').touched)">Please select a Subscriber!</small>
                            </div>

                            <div class="form-group">
                                <label>Address</label>
                                <input class="form-control" id="address" formControlName="address" ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"/>
                                <small class="form-text text-muted danger" *ngIf="!regularForm.get('address').valid && (regularForm.get('address').dirty || regularForm.get('address').touched)">Please enter a valid address!</small>
                            </div>

                            <div class="form-group">
                                <label for="role">Role</label>
                                <select class="form-control" id="role" formControlName="role">
                                    <option disabled="true">Select Role</option>
                                    <option *ngFor="let role of roles" value="{{role.id}}">{{role.name}}</option>
                                </select>
                                <small class="form-text text-muted danger" *ngIf="!regularForm.get('role').valid && (regularForm.get('role').dirty || regularForm.get('role').touched)">Please select a role!</small>
                            </div>

                            <div class="form-group">
                                <label for="organization">Organization</label>
                                <select class="form-control" id="organization" formControlName="organization">
                                    <option disabled="true">Select Organization</option>
                                    <option *ngFor="let organization of organizations" value="{{organization.id}}">{{organization.name}}</option>
                                </select>
                                <small class="form-text text-muted danger" *ngIf="!regularForm.get('organization').valid && (regularForm.get('organization').dirty || regularForm.get('organization').touched)">Please select an organization!</small>
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-danger btn-raised  mr-1" (click)="cancelEdit()">Cancel</button>
                                <button type="submit" class="btn btn-success btn-raised" [disabled]="!regularForm.valid">Submit</button>
                            </div>
                        </form> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="!showTable && showInvite">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-block">
                        <form [formGroup]="inviteForm">
                            <div class="form-group">
                                <label>Email</label>
                                <input class="form-control" formControlName="inviteEmail" [(ngModel)]="email" id="email" placeholder="Enter Email" type="email">
                                <small class="form-text text-muted danger" *ngIf="!inviteForm.get('inviteEmail').valid && (inviteForm.get('inviteEmail').dirty || inviteForm.get('inviteEmail').touched)">Please enter a valid email!</small>
                            </div>
                            <div class="form-group">
                                <label for="role">Role</label>
                                <select class="form-control" id="roleId" formControlName="role" [(ngModel)]="roleId">
                                    <option disabled="true">Select Role</option>
                                    <option *ngFor="let role of roles" value="{{role.id}}">{{role.name}}</option>
                                </select>
                                <small class="form-text text-muted danger" *ngIf="!inviteForm.get('role').valid && (inviteForm.get('role').dirty || inviteForm.get('role').touched)">Role is required!</small>
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-danger btn-raised  mr-1" (click)="cancelEdit()">Cancel</button>
                                <button type="submit" class="btn btn-success btn-raised" [disabled]="!inviteForm.valid" (click)="sendInvite(roleId,email)">Send Invite<i *ngIf="submitted" class="fas fa-spinner fa fa-spin"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
