<section class="basic-elements">
	<div class="row">
		<div class="col-md-6">
			<div class="content-header">Segments</div>
		</div>
	</div>
	<div class="row" *ngIf="!showSegment">
		<div class="col-sm-12">
			<div class="card">
				<div class="card-header">
					<div class="row">
						<div class="col-sm-6">
							<p>Segments</p>
						</div>
						<!-- <div class="col-sm-4">
				              <button type="button" class="btn btn-outline-primary mt-2" (click)="isCollapsed = !isCollapsed"
				                      [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
				                Select Columns
				              </button>

							<div id="collapseExample" class="selected-column" [ngbCollapse]="!isCollapsed">
								<ul>
								  	<li *ngFor='let col of allColumns'>
									    <input
									      type='checkbox'
									      [id]="col.name"
									      (click)='toggle(col)'
									      [checked]='isChecked(col)'
									    />
									    <label [attr.for]="col.name">{{col.name}}</label>
								  	</li>
								</ul>
							</div>
						</div> -->
						<div class="col-sm-4" style="text-align: right;">
							<p>
								<a class="btn btn-social btn-round btn-min-width mr-2 mb-2 btn-outline-bitbucket right" (click)="memToggle()"><span class="ft-plus"></span>Create Segment</a>
							</p>
						</div>
					</div>
					<div class="card-body">
						<div class="card-block">
							<ngx-datatable class="material" class="bootstrap" [rows]="segments" [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [sorts]="[{prop: ['name'], dir: 'desc'}]" [limit]="10">
								<ngx-datatable-column name="Segment Name">
									<ng-template let-row="row" ngx-datatable-cell-template>
										{{row.name}}
									</ng-template>
								</ngx-datatable-column>
								<ngx-datatable-column name="Subscribers">
									<ng-template let-row="row" ngx-datatable-cell-template>
									<button type="button" class="btn btn-outline-info waves-effect btn-sm" style="margin-right: 1.75rem;"
										(click)="getTokenCounts(row.id,$event)" >Get Segments Reach</button>
												<span *ngIf="showId == row.id">{{counts}}</span>
								
									</ng-template>
								</ngx-datatable-column>
								<ngx-datatable-column name="Created">
									<ng-template let-row="row" ngx-datatable-cell-template>
										{{row.created}}
									</ng-template>
								</ngx-datatable-column>
								<ngx-datatable-column name="Segment">
									<ng-template let-row="row" ngx-datatable-cell-template>
									<!-- <button class="btn btn-success btn-raised" (click)="viewSegment(row.id);">View</button> -->
										<!-- <button type="button" class="btn btn-success btn-sm red"
										(click)="viewSegment(row.id)">View</button>
								 -->
								 	<button type="button" class="btn btn-outline-info waves-effect btn-sm"
										(click)="viewSegment(row.id)">View</button>
								
									</ng-template>
								</ngx-datatable-column>
								<ngx-datatable-column name="Action">
									<ng-template let-row="row" ngx-datatable-cell-template>
										<a class="danger p-0" data-original-title="" title="" (click)="deletesegment(row.id)">
											<i class="fas fa-trash font-medium-3 mr-2"></i>
										</a>
									</ng-template>
								</ngx-datatable-column>
							</ngx-datatable>
						</div>
						<!-- <div>
							<ngx-datatable
							class ='material'
							  class='bootstrap'
							  [rows]='segments'
							  [columnMode]="'force'"
							  [headerHeight]="50"
							  [footerHeight]="50"
							  [rowHeight]="'auto'">
							  <ngx-datatable-column
								*ngFor="let col of columns"
								[name]="col.name">
							  </ngx-datatable-column>
							  <ngx-datatable-column name="Action">
								<ng-template let-row="row" ngx-datatable-cell-template>
									<a class="danger p-0" data-original-title="" title="" (click)="deletesegment(row.id)">
										<i class="fas fa-trash font-medium-3 mr-2"></i>
									</a>
								</ng-template>
							</ngx-datatable-column>
							</ngx-datatable>
						</div> -->
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row" *ngIf="showSegment">
		<div class="col-sm-12">
			<div class="card">
				<div class="card-body">
					<div class="card-block">
						<form [formGroup]="segmentForm" (ngSubmit)="addSegment(segmentForm.value)">
							<div class="form-group">
								<label for="name">Segment Name</label>
								<input type="text" class="form-control" id="name" formControlName="name" required>
								<small class="form-text text-muted danger" *ngIf="!segmentForm.get('name').valid && (segmentForm.get('name').dirty || segmentForm.get('name').touched)">This field is required!</small>
							</div>
							<h2>Actions</h2>
							<p>Subscribers performs any of the following actions</p>

							<div formArrayName="actionset">
								<div  [formGroupName]="i" *ngFor="let tech of segmentForm.controls.actionset.controls; let i = index">
								<!-- 	<div class="row">
										<div class="col-xl-3 col-lg-6 col-md-12 mb-1">
									    <div class="form-group">
												<select  class="custom-select mb-2" formControlName="act1" placeholder="Select an option" required>
													<option value="visitedpage" selected>Visited page</option>
													<option value="clickedelement">Clicked Element</option>
												</select>
										</div>
									</div>
									</div> -->
									<div class="row" >
										<div class="col-xl-3 col-lg-6 col-md-12 mb-1">
											<div class="form-group">
												<select  class="custom-select mb-2" formControlName="act2" placeholder="Select an option" required>
													<option value="pageurl" selected>Page URL</option>
													<option value="refferingurl">Reffering URL</option>
												</select>
											</div>
										</div>
										<div class="col-xl-4 col-lg-6 col-md-12 mb-1" >
											<div class="form-group">
												<select  class="custom-select mb-2" formControlName="act3" placeholder="Select an option" required>
													<option value="isequalto" selected>Is equal to</option>
													<option value="isnotequalto">Is not equal to</option>
													<option value="contains">Contains</option>
												</select>
											</div>
										</div>
										<div class="col-xl-4 col-lg-6 col-md-12 mb-1">
												<div class="form-group">
													<input  type="text" name="act4" formControlName="act4" class="form-control" required>
												</div>
										</div>
										<div class="col-xl-1 col-lg-6 col-md-12 mb-1" >
											<div class="col-xl-2 col-lg-6 col-md-12 mb-1">
												<button class="btn btn-danger mr-1 btn-fab"
												(click)="removeSetCondition1(i)"><i class="fa fa-times"></i></button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<button type="button" class="btn btn-outline-primary btn-block btn-raised" (click)="addSetCondition1()" >Add Condition</button>

							<h2>properties</h2>
							<p>Subscribers has the following properties</p>

							<div formArrayName="propertyset">
								<div class="row" [formGroupName]="i" *ngFor="let tech of segmentForm.controls.propertyset.controls; let i = index">
									<div class="col-xl-4 col-lg-6 col-md-12 mb-1">
										<div class="form-group">
											<select class="custom-select mb-2"  formControlName="ddl1"  placeholder="Rule Type"  (change)="ddl1change($event.target.value,i)" required>
												<option *ngFor="let value of propertyList; let j = index"  value="{{value.name}}" >{{value.name}}</option>
											</select>
										</div>
									</div>
									<div class="col-xl-3 col-lg-6 col-md-12 mb-1" >
										<div class="form-group">
											<select  class="custom-select mb-2" formControlName="seloperator" placeholder="Rule Type" required>
													<option value="isequalto" selected>Is equal to</option>
													<option value="isnotequalto">Is not equal to</option>
											</select>
										</div>
									</div>
									<div class="col-xl-4 col-lg-6 col-md-12 mb-1" *ngIf="valuesArray.length >0">

										<div  *ngIf="propertyList[valuesArray[i]].values.length == 0">
											<div class="form-group">
												<input  type="text" name="txtfilterval" formControlName="txtfilterval" class="form-control" required>
											</div>
										</div>
										<div  *ngIf="propertyList[valuesArray[i]].values.length > 0">
											<div class="form-group">
												<select class="custom-select mb-2" formControlName="txtfilterval" placeholder="Rule Type" required>
													<option value="" selected>-- Select --</option>
													<option  *ngFor="let opt of propertyList[valuesArray[i]].values" value="{{opt}}">{{opt}}</option>
												</select>
											</div>
										</div>
									</div>

									<div class="col-xl-1 col-lg-6 col-md-12 mb-1" >
										<div class="col-xl-2 col-lg-6 col-md-12 mb-1">
											<button class="btn btn-danger mr-1 btn-fab"
											(click)="removeSetCondition(i)"><i class="fa fa-times"></i></button>
										</div>
									</div>
								</div>
							</div>

							<button type="button" class="btn btn-outline-primary btn-block btn-raised" (click)="addSetCondition()" >Add Condition</button>
							<div class="form-group">
								<button type="button" class="btn btn-danger btn-raised mr-1" (click)="cancel()">Cancel</button>
								<button type="submit" class="btn btn-success btn-raised" [disabled]="!segmentForm.valid">Create</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
