<section id="filter" class="mb-3">
    <div class="row">
        <div class="col-md-6">
            <div class="content-header"><i class="far fa-paper-plane font-medium-3 mr-2" style="border: 1px solid grey;border-radius: 32px;padding: 13px;background: grey;color: white;"></i>&nbsp;One-Time Campaigns<br><p>Send one-time messages to your subscribers</p></div>
        </div>
    </div>
    <div class="row" *ngIf="!ab && !subscription">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-body">
                    <div class="card-block">
                        <form class="form" #f="ngForm"><!--  (ngSubmit)="f.form.valid && scheduleNotification(f.form.value)" -->
                            <div class="row">
                                <div class="col-sm-6" style="float:right;">
                                    <a (click)="copyCampaign()" class="btn btn-raised mr-1 shadow-z-2 btn-primary">Copy from the previous Campaign</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <h4 class="section">Content</h4>
                                </div>
                                <div class="col-sm-6" style="text-align: right;">
                                    <a (click)="abtesting()"><i class="ft-plus-circle"></i>Try out A/B testing</a>
                                </div>
                            </div>
                            <div class="form-body">
                                <div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label for="floattitle">Title</label>
                                            </div>
                                            <div class="col-sm-6" style="text-align: right;">
                                                <p>
                                                    <span *ngIf="!floattitle.value">{{longTxt}}/96</span>
                                                    <span *ngIf="floattitle.value && floattitle.value.length > 0">{{longTxt + floattitle.value.length}}/96</span>
                                                </p>
                                            </div>
                                        </div>
                                        <input type="text" class="form-control" id="floattitle" name="floattitle" [(ngModel)]="form.floattitle" required #floattitle="ngModel"  placeholder="96 characters maximum" maxlength="96" [ngClass]="{ 'is-invalid': f.submitted && !floattitle.valid }">
                                        <small class="form-text text-muted danger" *ngIf="!floattitle.valid && (floattitle.dirty || floattitle.touched)">Title is required!</small>
                                        <small class="form-text text-muted danger" *ngIf="f.submitted && !floattitle.valid && !floattitle.touched">Title is required!</small>
                                    </div>
                                </div>
                                <div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label for="floatmessage">Message</label>
                                            </div>
                                            <div class="col-sm-6" style="text-align: right;">
                                                <p>
                                                    <span *ngIf="!floatmessage.value">{{longTxt}}/255</span>
                                                    <span *ngIf="floatmessage.value && floatmessage.value.length > 0">{{longTxt + floatmessage.value.length}}/255</span>
                                                </p>
                                            </div>
                                        </div>
                                        <input type="text" class="form-control" id="floatmessage" name="floatmessage" [(ngModel)]="form.floatmessage" required #floatmessage="ngModel"  placeholder="255 characters maximum" maxlength="255" [ngClass]="{ 'is-invalid': f.submitted && !floatmessage.valid }">
                                        <small class="form-text text-muted danger" *ngIf="!floatmessage.valid && (floatmessage.dirty || floatmessage.touched)">Message is required!</small>
                                        <small class="form-text text-muted danger" *ngIf="f.submitted && !floatmessage.valid && !floatmessage.touched">Message is required!</small>
                                    </div>
                                </div>
                                <div>
                                    <div class="form-group">
                                        <label for="floaturl">Landing Page URL</label>
                                        <input type="url" class="form-control" id="floaturl" name="floaturl" [(ngModel)]="form.floaturl" pattern="https?://.+"  required #floaturl="ngModel"  placeholder="Enter URL with http:// or https://" [ngClass]="{ 'is-invalid': f.submitted && !floaturl.valid }">
                                        <!-- <small class="form-text text-muted danger" *ngIf="!floaturl.valid && (floaturl.dirty || floaturl.touched)">URL is required!</small>
                                        <small class="form-text text-muted danger" *ngIf="floaturl.errors.pattern">Enter a valid URL</small> -->
                                        <small *ngIf="(floaturl.touched || f.submitted) && !floaturl.valid" class="form-text text-muted danger">
                                            <small *ngIf="floaturl.errors.required">URL is required!</small>
                                            <small *ngIf="floaturl.errors.pattern">Enter a valid URL</small>
                                        </small>
                                        <!-- <small class="form-text text-muted danger" *ngIf="f.submitted && !floaturl.valid && !floaturl.touched">URL is required!</small> -->
                                    </div>
                                </div>
                                <div>
                                    <div class="form-group">
                                        <label for="image">Image</label>
                                        <p>File type supported: jpg, jpeg, png. Recommended Size: 192x192.</p>
                                        <img *ngIf="!url" src="assets/img/logo.png" style="background: black;" width="50" height="50" alt="" />
                                        <img *ngIf="url" src="{{url}}" />
                                        &nbsp;
                                        <div *ngIf="!copyCampaignBoolean">
                                          <label #imageLabel class="btn btn-raised btn-sm btn-danger mr-1" color="primary" for="file-upload">
                                            Upload
                                          </label>
                                          <input type="file" class="form-control" id="file-upload" name="image" [(ngModel)]="form.image" required #image="ngModel" (change)="uploadmembershipIcon($event.target.files,'url')" [ngClass]="{ 'is-invalid': f.submitted && !image.valid }" /><!-- (change)="uploadSubmit($event.target.files)"(change)="addFile($event,'url')"  -->
                                          <small class="form-text text-muted danger" *ngIf="f.submitted  && !image.touched">Image is required!</small>
                                          <i *ngIf="loader" class="fas fa-spinner fa fa-spin"></i><p *ngIf="loader" style="color:red;">&nbsp;Please wait while the image uploads.</p>
                                        </div>
                                        <div *ngIf="copyCampaignBoolean">
                                          <button type="button" class="btn btn-danger btn-raised mr-1" (click)="copyCampaignBoolean = !copyCampaignBoolean">Change image</button>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="form-group">
                                        <input type="checkbox" name="bigIm" value="bigIm" (change)="addBigImage($event.target.checked)">&nbsp;Show Big Image<br>&nbsp;&nbsp;Big image is only supported on Chrome (56+) browser. Image may get cropped on android devices.<br><br>
                                        <div *ngIf="showBigImage">
                                            <label for="bigImage">Image</label>
                                            <p>File type supported: jpg, jpeg, png. Recommended Size: 360x240.</p>
                                            <img *ngIf="!bigImageUrl && !defaultBigImage" src="assets/img/logo.png" style="background: black;" width="50" height="50" alt="" />
                                            <img *ngIf="!bigImageUrl && defaultBigImage" src="{{defaultBigImage}}" />
                                            <img *ngIf="bigImageUrl" src="{{bigImageUrl}}" />
                                            <div *ngIf="(copyCampaignBoolean || !copyCampaignBoolean) && !bigImageUrl">
                                              &nbsp;<label #bigImageLabel class="btn btn-raised btn-sm btn-danger mr-1" color="primary" for="file-upload1">
                                              Upload Image
                                              </label>
                                              <input type="file" class="form-control" id="file-upload1" name="bigImage" [(ngModel)]="form.bigImage" required #bigImage="ngModel" (change)="uploadBigImage($event.target.files,'bigImage')" [ngClass]="{ 'is-invalid': f.submitted && !bigImage.valid }" /><!-- (change)="uploadSubmit($event.target.files)"(change)="addFile($event,'url')"  -->
                                              <small class="form-text text-muted danger" *ngIf="f.submitted && !bigImage.valid && !bigImage.touched">Image is required!</small>
                                              <i *ngIf="imageloader" class="fas fa-spinner fa fa-spin"></i><p *ngIf="imageloader" style="color:red;">&nbsp;Please wait while the image uploads.</p>
                                            </div>
                                            <div *ngIf="copyCampaignBoolean && bigImageUrl">
                                              <button type="button" class="btn btn-danger btn-raised mr-1" (click)="copyCampaignBoolean = !copyCampaignBoolean">Change image</button>
                                            </div>
                                        </div>
                                        <!-- <input type="checkbox" name="buttons">&nbsp;Show Button(s) on Chrome Notification<br>&nbsp;&nbsp;Call to action buttons are only supported on Chrome browser. -->
                                    </div>
                                </div>

                                <h4 class="section">Audience</h4>
                                <p>Send this notification to</p>
                                <input type="radio" name="segment" [(ngModel)]="form.segment" id="subscribers" value="all" (change)="selectSegment($event)" required>&nbsp;All Subscribers<br>
                                <input type="radio" name="segment" [(ngModel)]="form.segment" id="segments" #segment="ngModel" value="segments" (change)="selectSegment($event)" required>&nbsp;My Segments<br><br>
                                <small class="form-text text-muted danger" *ngIf="f.submitted && !segment.valid && !segment.touched">Please select a Segment</small>
                                <div class="card-body border" style="border-radius: 8px !important;" *ngIf="showSegments">
                                    <div class="card-block">
                                        <div class="col-lg-12">
                                            <!-- <fieldset class="col-lg-12 segments checkbox" *ngFor="let segment of segments; let i = index;"> -->
                                                <div class="col-lg-12" *ngFor="let segment of segments">
                                                <input type="checkbox" id="{{segment.id}}" (change)="onChange(segment.id,$event.target.checked)" required />&nbsp;<label>{{segment.name}}</label></div>
                                            <!-- </fieldset> --><!-- <small class="form-text text-muted danger" *ngIf="f.submitted && !seg.valid && !seg.touched">Please select a Segment</small> -->
                                        </div>
                                    </div>
                                </div>

                                <h4 class="section">Campaign Settings</h4>
                                <!-- <input type="checkbox">&nbsp;Auto-hide notification after 20 seconds.
                                <p>&nbsp;&nbsp;Don't attempt sending this notification</p>
                                <div class="row">
                                    <fieldset class="col-sm-3">
                                        <div class="input-group">
                                            <select id="day" class="form-control" name="day" [(ngModel)]="form.day">
                                                <option *ngFor="let day of days" value="{{day}}">{{day}}</option>
                                            </select>
                                            <div class="input-group-append">
                                                <span class="input-group-text" id="basic-addon2">days</span>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset class="col-sm-3">
                                        <div class="input-group">
                                            <select id="hours" class="form-control" name="hours" [(ngModel)]="form.hours">
                                                <option *ngFor="let hour of hours" value="{{hour}}">{{hour}}</option>
                                            </select>
                                            <div class="input-group-append">
                                                <span class="input-group-text" id="basic-addon2">hours</span>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset class="col-sm-3">
                                        <div class="input-group">
                                            <select id="minutes" class="form-control" name="minutes" [(ngModel)]="form.minutes">
                                                <option *ngFor="let minute of minutes" value="{{minute}}">{{minute}}</option>
                                            </select>
                                            <div class="input-group-append">
                                                <span class="input-group-text" id="basic-addon2">minutes</span>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div><br><br> -->

                                <input type="checkbox" [(ngModel)]="form.scheduled" name="scheduled" (click)="schedule($event)">&nbsp;Schedule notification for a later date
                                <div class="card-body" style="border-radius: 25px !important;background-color: #e9ecef !important;" *ngIf="event">
                                    <div class="card-block">
                                        <div class="col-lg-12">
                                            <fieldset class="form-group">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <label>Date</label>
                                                    </div>
                                                    <!-- <div class="col-lg-6">
                                                        <label>Time</label>
                                                    </div> -->
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="input-group">
                                                            <input class="form-control" placeholder="yyyy-mm-dd" [(ngModel)]="form.scheduledate" name="scheduledate" #scheduledate="ngModel" ngbDatepicker [dayTemplate]="customDay"
                                                            [markDisabled]="isDisabled" [minDate]="minDate" #d3="ngbDatepicker" required (ngModelChange)="disableTimeByDate($event,'normal')">
                                                            <div class="input-group-append">
                                                                <div class="input-group-text" (click)="d3.toggle()">
                                                                    <i class="fa fa-calendar" style="cursor: pointer;"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- <div class="col-lg-6">
                                                        <ngb-timepicker [(ngModel)]="form.time" name="time" #time="ngModel"></ngb-timepicker>
                                                    </div> -->
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <label>Time</label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <ngb-timepicker [(ngModel)]="form.time" (ngModelChange)="disabletime($event,'normal')" name="time" #time="ngModel" required></ngb-timepicker>
                                                    </div>
                                                </div>
                                                <label>The notification will be sent at this time according to your current timezone (GMT+00:00 Etc/GMT)</label>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div><br><br>
                            </div>
                            <div class="form-group" style="float: right;">
                                <button type="submit" class="btn btn-success btn-raised" [disabled]="!f.valid" *ngIf="form.scheduled" (click)="scheduleNotification(f.form.value)">Schedule</button>
                                <button type="submit" class="btn btn-success btn-raised" [disabled]="!f.valid" *ngIf="!form.scheduled" (click)="scheduleNotification(f.form.value)">Send Now</button>
                            </div>
                            <div class="form-group" style="float: right;">
                            <button type="submit" class="btn btn-success btn-raised mr-1" (click)="saveTemplate(f.form.value)" [disabled]="!f.valid || form.scheduled" >Save As Template</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body" style="background: rgba(218, 218, 218, 0.59);">
                    <div class="card-block">
                        <h4 class="section">Previews</h4>
                        <h5 class="form-section">Chrome on Windows</h5>
                        <div col-lg-12 style="border: 1px solid #ccc7c7;background: #fff;padding: 12px;">
                            <div class="row">
                                <div class="col-xl-4">
                                    <img *ngIf="!url" src="assets/img/logo.png" style="background: black;margin: 7px 0;" width="50" height="50" alt="" />
                                    <img *ngIf="url" src="{{url}}" style="margin: 7px 0;" width="30" height="30" alt="" />
                                </div>
                                <div class="col-xl-8">
                                    <b><p *ngIf="!floattitle.value">Notification Title</p></b>
                                    <b><p *ngIf="floattitle.value">{{floattitle.value}}</p></b>
                                    <p *ngIf="!floatmessage.value" class="text-bold-400 mb-0">Notification Message</p>
                                    <p *ngIf="floatmessage.value" class="text-bold-400 mb-0">{{floatmessage.value}}</p>
                                </div>
                            </div>
                        </div>
                        <br>
                        <h5 class="form-section">Firefox on Windows</h5>
                        <div class="block" style="border: 1px solid #ccc7c7;background: #fff;padding: 12px;">
                            <b><h5 *ngIf="!floattitle.value">Notification Title</h5></b>
                            <b><p *ngIf="floattitle.value">{{floattitle.value}}</p></b>
                            <div class="col-xl-3 col-lg-6 col-12">
                                <div class="card">

                                    <div class="card-body">
                                      <div class="media align-items-stretch">
                                        <!-- <h5 *ngIf="!title">Notification Title</h5><br />
                                        <h5 *ngIf="title">{{title}}</h5><br /> -->
                                        <img *ngIf="!url" src="assets/img/logo.png" style="background: black;" width="50" height="50" alt="" />
                                        <img *ngIf="url" src="{{url}}" width="50" height="50" alt="" />
                                        <div class="p-2 media-body">

                                          <h6 *ngIf="!floatmessage.value" class="text-bold-400 mb-0">Notification Message</h6>
                                          <h6 *ngIf="floatmessage.value" class="text-bold-400 mb-0">{{floatmessage.value}}</h6>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div><br>
                        <h5 class="form-section">Chrome on Mac</h5>
                        <div col-lg-12 style="border: 1px solid #ccc7c7;background: #fff;padding: 12px;">
                            <div class="row">
                                <div class="col-xl-2">
                                    <img src="assets/img/logos/chrome-logo@2x.png" style="width: 100%;margin: 12px 7px;" alt="" />
                                </div>
                                    <div class="col-xl-6">
                                        <b><p *ngIf="!floattitle.value">Notification Title</p></b>
                                        <b><p *ngIf="floattitle.value">{{floattitle.value}}</p></b>
                                        <p *ngIf="!floatmessage.value" class="text-bold-400 mb-0">Notification Message</p>
                                        <p *ngIf="floatmessage.value" class="text-bold-400 mb-0">{{floatmessage.value}}</p>
                                    </div>
                                    <div class="col-xl-4">
                                    <img *ngIf="!url" src="assets/img/logo.png" style="background: black;margin: 7px 0;" width="50" height="50" alt="" />
                                    <img *ngIf="url" src="{{url}}" width="50" style="margin: 7px 0;" height="50" alt="" />
                                </div>
                            </div>
                        </div><br>

                        <h5 class="form-section">Chrome on Android</h5>
                        <div col-lg-12 style="border: 1px solid #ccc7c7;background: #fff;padding: 12px;">
                            <div class="row">
                                    <div class="col-xl-8">
                                        <b><p *ngIf="!floattitle.value">Notification Title</p></b>
                                        <b><p *ngIf="floattitle.value">{{floattitle.value}}</p></b>
                                        <p *ngIf="!floatmessage.value" class="text-bold-400 mb-0">Notification Message</p>
                                        <p *ngIf="floatmessage.value" class="text-bold-400 mb-0">{{floatmessage.value}}</p>
                                    </div>
                                    <div class="col-xl-4">
                                    <img *ngIf="!url" src="assets/img/logo.png" style="background: black;margin: 7px 0;" width="50" height="50" alt="" />
                                        <img *ngIf="url" src="{{url}}" style="margin: 7px 0;" width="50" height="50" alt="" />
                                </div>
                            </div>
                        </div><br>

                        <h5 class="form-section">Edge on Windows</h5>
                        <div col-lg-12 style="border: 1px solid #ccc7c7;background: #474747;padding: 12px;color:#fff;">
                            <div class="row">
                                <div class="col-xl-4">
                                    <img *ngIf="!url" src="assets/img/logo.png" style="margin: 7px 0;" width="50" height="50" alt="" />
                                    <img *ngIf="url" src="{{url}}" style="margin: 7px 0;" width="30" height="30" alt="" />
                                </div>
                                <div class="col-xl-8">
                                    <b><p *ngIf="!floattitle.value">Notification Title</p></b>
                                    <b><p *ngIf="floattitle.value">{{floattitle.value}}</p></b>
                                    <p *ngIf="!floatmessage.value" class="text-bold-400 mb-0">Notification Message</p>
                                    <p *ngIf="floatmessage.value" class="text-bold-400 mb-0">{{floatmessage.value}}</p>
                                </div>
                            </div>
                        </div>


                        <!-- <h5 class="section">Chrome on Mac</h5>
                        <div class="previews">
                            <h5 *ngIf="!title">Notification Title</h5><br />
                            <h5 *ngIf="title">{{title}}</h5><br />
                            <img *ngIf="!url" src="assets/img/logo.png" style="background: black;" width="100" height="100" alt="" />
                            <img *ngIf="url" src="{{url}}" width="100" height="100" alt="" />
                        </div>

                        <h5 class="section">Chrome on Android</h5>
                        <div class="col-xl-3 col-lg-6 col-12">
                            <div class="card">
                                <div class="card-body">
                                  <div class="media align-items-stretch">
                                    <h5 *ngIf="!title">Notification Title</h5><br />
                                    <h5 *ngIf="title">{{title}}</h5><br />
                                    <img *ngIf="!url" src="assets/img/logo.png" style="background: black;" width="100" height="100" alt="" />
                                    <img *ngIf="url" src="{{url}}" width="100" height="100" alt="" />
                                    <div class="p-2 media-body">

                                      <h6 *ngIf="!message" class="text-bold-400 mb-0">Notification Message</h6>
                                      <h6 *ngIf="message" class="text-bold-400 mb-0">{{message}}</h6>
                                    </div>
                                  </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="ab && !subscription">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title-wrap">
                        <ngb-tabset #t="ngbTabset">
                            <ngb-tab title="Variant A" id="variantA">
                                <ng-template ngbTabContent>
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="card-block">
                                                        <form class="form" #a="ngForm" (ngSubmit)="a.form.valid && t.select('variantB')">
                                                            <div class="form-body">
                                                                <div>
                                                                    <div class="form-group">
                                                                        <div class="row">
                                                                            <div class="col-sm-6">
                                                                                <label for="floattitleA">Title</label>
                                                                            </div>
                                                                            <div class="col-sm-6" style="text-align: right;">
                                                                                <p>
                                                                                    <span *ngIf="!floattitleA.value">{{longTxt}}/96</span>
                                                                                    <span *ngIf="floattitleA.value && floattitleA.value.length > 0">{{longTxt + floattitleA.value.length}}/96</span>
                                                                                </p>
                                                                            </div>
                                                                        </div>
                                                                        <input type="text" class="form-control" id="floattitleA" name="floattitleA" [(ngModel)]="formAB.floattitleA" required #floattitleA="ngModel"  placeholder="96 characters maximum" maxlength="96" [ngClass]="{ 'is-invalid': a.submitted && !floattitleA.valid }">
                                                                        <small class="form-text text-muted danger" *ngIf="!floattitleA.valid && (floattitleA.dirty || floattitleA.touched)">Title is required!</small>
                                                                        <small class="form-text text-muted danger" *ngIf="a.submitted && !floattitleA.valid && !floattitleA.touched">Title is required!</small>
                                                                    </div>
                                                                </div>
                                                                <div>
                                                                    <div class="form-group">
                                                                        <div class="row">
                                                                            <div class="col-sm-6">
                                                                                <label for="floatmessageA">Message</label>
                                                                            </div>
                                                                            <div class="col-sm-6" style="text-align: right;">
                                                                                <p>
                                                                                    <span *ngIf="!floatmessageA.value">{{longTxt}}/255</span>
                                                                                    <span *ngIf="floatmessageA.value && floatmessageA.value.length > 0">{{longTxt + floatmessageA.value.length}}/255</span>
                                                                                </p>
                                                                            </div>
                                                                        </div>
                                                                        <input type="text" class="form-control" id="floatmessageA" name="floatmessageA" [(ngModel)]="formAB.floatmessageA" required #floatmessageA="ngModel"  placeholder="255 characters maximum" maxlength="255" [ngClass]="{ 'is-invalid': a.submitted && !floatmessageA.valid }">
                                                                        <small class="form-text text-muted danger" *ngIf="!floatmessageA.valid && (floatmessageA.dirty || floatmessageA.touched)">Message is required!</small>
                                                                        <small class="form-text text-muted danger" *ngIf="a.submitted && !floatmessageA.valid && !floatmessageA.touched">Title is required!</small>
                                                                    </div>
                                                                </div>
                                                                <div>
                                                                    <div class="form-group">
                                                                        <label for="floaturlA">Landing Page URL</label>
                                                                        <input type="url" class="form-control" id="floaturlA" name="floaturlA" [(ngModel)]="formAB.floaturlA" required #floaturlA="ngModel"  placeholder="Enter URL with http:// or https://" [ngClass]="{ 'is-invalid': a.submitted && !floaturlA.valid }">
                                                                        <!-- <small class="form-text text-muted danger" *ngIf="!floaturlA.valid && (floaturlA.dirty || floaturlA.touched)">URL is required!</small> -->
                                                                        <small *ngIf="(floaturlA.touched || a.submitted) && !floaturlA.valid" class="form-text text-muted danger">
                                                                            <small *ngIf="floaturlA.errors.required">URL is required!</small>
                                                                            <small *ngIf="floaturlA.errors.pattern">Enter a valid URL</small>
                                                                        </small>
                                                                        <small class="form-text text-muted danger" *ngIf="a.submitted && !floaturlA.valid && !floaturlA.touched">URL is required!</small>
                                                                    </div>
                                                                </div>
                                                                <!-- <div>
                                                                    <div class="form-group">
                                                                        <label for="ruleType">Image</label>
                                                                        <p>File type supported: jpg, jpeg, png. Recommended Size: 192x192.</p>
                                                                        <img *ngIf="!imageurlA" src="assets/img/logo.png" style="background: black;" width="50" height="50" alt="" />
                                                                        <img *ngIf="imageurlA" src="{{imageurlA}}" width="50" height="50" />
                                                                        &nbsp;<label #imageALabel class="btn btn-raised btn-sm btn-danger mr-1" color="primary" for="file-upload">
                                                                            Upload
                                                                        </label>
                                                                        <input type="file" class="form-control" id="file-upload" name="imageurlA" [(ngModel)]="formAB.imageurlA" #urlA="ngModel" (change)="uploadmembershipIcon($event.target.files,'urlA')" required />
                                                                        <i *ngIf="loader" class="fas fa-spinner fa fa-spin"></i><p *ngIf="loader" style="color:red;">&nbsp;Please wait while the image uploads.</p>
                                                                    </div>
                                                                </div> -->

                                                                <div class="form-group">
                                                                    <label for="imageurlA">Image</label>
                                                                    <p>File type supported: jpg, jpeg, png. Recommended Size: 192x192.</p>
                                                                    <img *ngIf="!imageUrlA" src="assets/img/logo.png" style="background: black;" width="50" height="50" alt="" />
                                                                    <img *ngIf="imageUrlA" src="{{imageUrlA}}" />
                                                                    &nbsp;<label #imageALabel class="btn btn-raised btn-sm btn-danger mr-1" color="primary" for="file-upload">
                                                                    Upload
                                                                    </label>
                                                                    <input type="file" class="form-control" id="file-upload" name="image" [(ngModel)]="formAB.imageurlA" required #imageurlA="ngModel" (change)="uploadmembershipIcon($event.target.files,'urlA')" [ngClass]="{'is-invalid': a.submitted && !imageurlA.valid }" /><!-- (change)="uploadSubmit($event.target.files)"(change)="addFile($event,'url')"  -->
                                                                    <small class="form-text text-muted danger" *ngIf="a.submitted && !imageUrlA">Image is required!</small>
                                                                    <i *ngIf="loader" class="fas fa-spinner fa fa-spin"></i><p *ngIf="loader" style="color:red;">&nbsp;Please wait while the image uploads.</p>
                                                                </div>
                                                                <div>
                                                                    <div class="form-group">
                                                                        <input type="checkbox" name="bigImageA" value="bigImageA" (change)="addABigImage($event.target.checked)">&nbsp;Show Big Image<br>&nbsp;&nbsp;Big image is only supported on Chrome (56+) browser. Image may get cropped on android devices.<br><br>
                                                                        <div *ngIf="showBigImageA">
                                                                            <label for="bigImageA">Image</label>
                                                                            <p>File type supported: jpg, jpeg, png. Recommended Size: 360x240.</p>
                                                                            <img *ngIf="!bigImageUrlA" src="assets/img/logo.png" style="background: black;" width="50" height="50" alt="" />
                                                                            <img *ngIf="bigImageUrlA" src="{{bigImageUrlA}}" />
                                                                            &nbsp;<label #bigImageALabel class="btn btn-raised btn-sm btn-danger mr-1" color="primary" for="file-uploadA">
                                                                            Upload Image
                                                                            </label>
                                                                            <input type="file" class="form-control" id="file-uploadA" name="bigImageA" [(ngModel)]="form.bigImageA" required #bigImageA="ngModel" (change)="uploadBigImage($event.target.files,'bigImageA')" [ngClass]="{ 'is-invalid': a.submitted && !bigImageA.valid }" /><!-- (change)="uploadSubmit($event.target.files)"(change)="addFile($event,'url')"  -->
                                                                            <small class="form-text text-muted danger" *ngIf="a.submitted && !bigImageA.valid && !bigImageA.touched">Image is required!</small>
                                                                            <i *ngIf="imageloader" class="fas fa-spinner fa fa-spin"></i><p *ngIf="imageloader" style="color:red;">&nbsp;Please wait while the image uploads.</p>
                                                                        </div>
                                                                        <!-- <input type="checkbox">&nbsp;Show Button(s) on Chrome Notification<br>&nbsp;&nbsp;Call to action buttons are only supported on Chrome browser. -->
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group" style="float: right;">
                                                                <button type="submit" class="btn btn-success btn-raised">Next</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="card">
                                                <div class="card-body" style="background: rgba(218, 218, 218, 0.59);">
                                                    <div class="card-block">
                                                        <h4 class="section">Previews</h4>
                                                        <h5 class="form-section">Chrome on Windows</h5>
                                                        <div col-lg-12 style="border: 1px solid #ccc7c7;background: #fff;padding: 12px;">
                                                            <div class="row">
                                                                <div class="col-xl-4">
                                                                    <img *ngIf="!imageurlA.value" src="assets/img/logo.png" style="background: black;margin: 7px 0;" width="50" height="50" alt="" />
                                                                            <img *ngIf="imageurlA.value" src="{{imageurlA.value}}" width="50" height="50" alt="" />
                                                                    <img *ngIf="imageurlA.value" src="{{imageurlA}}" style="margin: 7px 0;" width="30" height="30" alt="" />
                                                                </div>
                                                                <div class="col-xl-8">
                                                                    <b><p *ngIf="!floattitleA.value">Notification Title</p></b>
                                                                    <b><p *ngIf="floattitleA.value">{{floattitleA.value}}</p></b>
                                                                    <p *ngIf="!floatmessageA.value" class="text-bold-400 mb-0">Notification Message</p>
                                                                    <p *ngIf="floatmessageA.value" class="text-bold-400 mb-0">{{floatmessageA.value}}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <br>
                                                        <h5 class="form-section">Firefox on Windows</h5>
                                                        <div class="block" style="border: 1px solid #ccc7c7;background: #fff;padding: 12px;">
                                                            <b><h5 *ngIf="!floattitleA.value">Notification Title</h5></b>
                                                            <b><p *ngIf="floattitleA.value">{{floattitleA.value}}</p></b>
                                                            <div class="col-xl-3 col-lg-6 col-12">
                                                                <div class="card">

                                                                    <div class="card-body">
                                                                        <div class="media align-items-stretch">
                                                                            <img *ngIf="!imageurlA.value" src="assets/img/logo.png" style="background: black;" width="50" height="50" alt="" />
                                                                            <img *ngIf="imageurlA.value" src="{{imageurlA.value}}" width="50" height="50" alt="" />
                                                                            <div class="p-2 media-body">

                                                                                <h6 *ngIf="!floatmessageA.value" class="text-bold-400 mb-0">Notification Message</h6>
                                                                                <h6 *ngIf="floatmessageA.value" class="text-bold-400 mb-0">{{floatmessageA.value}}</h6>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div><br>
                                                        <h5 class="form-section">Chrome on Mac</h5>
                                                        <div col-lg-12 style="border: 1px solid #ccc7c7;background: #fff;padding: 12px;">
                                                            <div class="row">
                                                                <div class="col-xl-2">
                                                                    <img src="assets/img/logos/chrome-logo@2x.png" style="width: 100%;margin: 12px 7px;" alt="" />
                                                                </div>
                                                                <div class="col-xl-6">
                                                                    <b><p *ngIf="!floattitleA.value">Notification Title</p></b>
                                                                    <b><p *ngIf="floattitleA.value">{{floattitleA.value}}</p></b>
                                                                    <p *ngIf="!floatmessageA.value" class="text-bold-400 mb-0">Notification Message</p>
                                                                    <p *ngIf="floatmessageA.value" class="text-bold-400 mb-0">{{floatmessageA.value}}</p>
                                                                </div>
                                                                <div class="col-xl-4">
                                                                    <img *ngIf="!imageurlA.value" src="assets/img/logo.png" style="background: black;margin: 7px 0;" width="50" height="50" alt="" />
                                                                    <img *ngIf="imageurlA.value" src="{{imageurlA.value}}" width="50" style="margin: 7px 0;" height="50" alt="" />
                                                                </div>
                                                            </div>
                                                        </div><br>

                                                        <h5 class="form-section">Chrome on Android</h5>
                                                        <div col-lg-12 style="border: 1px solid #ccc7c7;background: #fff;padding: 12px;">
                                                            <div class="row">
                                                                <div class="col-xl-8">
                                                                    <b><p *ngIf="!floattitleA.value">Notification Title</p></b>
                                                                    <b><p *ngIf="floattitleA.value">{{floattitleA.value}}</p></b>
                                                                    <p *ngIf="!floatmessageA.value" class="text-bold-400 mb-0">Notification Message</p>
                                                                    <p *ngIf="floatmessageA.value" class="text-bold-400 mb-0">{{floatmessageA.value}}</p>
                                                                </div>
                                                                <div class="col-xl-4">
                                                                    <img *ngIf="!imageurlA.value" src="assets/img/logo.png" style="background: black;margin: 7px 0;" width="50" height="50" alt="" />
                                                                    <img *ngIf="imageurlA.value" src="{{imageurlA.value}}" style="margin: 7px 0;" width="50" height="50" alt="" />
                                                                </div>
                                                            </div>
                                                        </div><br>

                                                        <h5 class="form-section">Edge on Windows</h5>
                                                        <div col-lg-12 style="border: 1px solid #ccc7c7;background: #474747;padding: 12px;color:#fff;">
                                                            <div class="row">
                                                                <div class="col-xl-4">
                                                                    <img *ngIf="!imageurlA.value" src="assets/img/logo.png" style="margin: 7px 0;" width="50" height="50" alt="" />
                                                                    <img *ngIf="imageurlA.value" src="{{imageurlA.value}}" style="margin: 7px 0;" width="30" height="30" alt="" />
                                                                </div>
                                                                <div class="col-xl-8">
                                                                    <b><p *ngIf="!floattitleA.value">Notification Title</p></b>
                                                                    <b><p *ngIf="floattitleA.value">{{floattitleA.value}}</p></b>
                                                                    <p *ngIf="!floatmessageA.value" class="text-bold-400 mb-0">Notification Message</p>
                                                                    <p *ngIf="floatmessageA.value" class="text-bold-400 mb-0">{{floatmessageA.value}}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </ngb-tab>
                            <ngb-tab id="variantB">
                                <ng-template ngbTabTitle>
                                Variant B</ng-template>
                                <ng-template ngbTabContent>
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="card-block">
                                                        <form class="form" #b="ngForm" (ngSubmit)="b.form.valid && subscribe()">
                                                            <div class="form-body">
                                                                <div>
                                                                    <div class="form-group">
                                                                        <div class="row">
                                                                            <div class="col-sm-6">
                                                                                <label for="floattitleB">Title</label>
                                                                            </div>
                                                                            <div class="col-sm-6" style="text-align: right;">
                                                                                <p>
                                                                                    <span *ngIf="!floattitleB.value">{{longTxt}}/96</span>
                                                                                    <span *ngIf="floattitleB.value && floattitleB.value.length > 0">{{longTxt + floattitleB.value.length}}/96</span>
                                                                                </p>
                                                                            </div>
                                                                        </div>
                                                                        <input type="text" class="form-control" id="floattitleB" name="floattitleB" [(ngModel)]="formAB.floattitleB" required #floattitleB="ngModel"  placeholder="96 characters maximum" maxlength="96" [ngClass]="{ 'is-invalid': b.submitted && !floattitleB.valid }">
                                                                        <small class="form-text text-muted danger" *ngIf="!floattitleB.valid && (floattitleB.dirty || floattitleB.touched)">Title is required!</small>
                                                                        <small class="form-text text-muted danger" *ngIf="b.submitted && !floattitleB.valid && !floattitleB.touched">Title is required!</small>
                                                                    </div>
                                                                </div>
                                                                <div>
                                                                    <div class="form-group">
                                                                        <div class="row">
                                                                            <div class="col-sm-6">
                                                                                <label for="floatmessageB">Message</label>
                                                                            </div>
                                                                            <div class="col-sm-6" style="text-align: right;">
                                                                                <p>
                                                                                    <span *ngIf="!floatmessageB.value">{{longTxt}}/255</span>
                                                                                    <span *ngIf="floatmessageB.value && floatmessageB.value.length > 0">{{longTxt + floatmessageB.value.length}}/255</span>
                                                                                </p>
                                                                            </div>
                                                                        </div>
                                                                        <input type="text" class="form-control" id="floatmessageB" name="floatmessageB" [(ngModel)]="formAB.floatmessageB" required #floatmessageB="ngModel"  placeholder="255 characters maximum" maxlength="255" [ngClass]="{ 'is-invalid': b.submitted && !floatmessageB.valid }">
                                                                        <small class="form-text text-muted danger" *ngIf="!floatmessageB.valid && (floatmessageB.dirty || floatmessageB.touched)">Message is required!</small>
                                                                        <small class="form-text text-muted danger" *ngIf="b.submitted && !floatmessageB.valid && !floatmessageB.touched">Title is required!</small>
                                                                    </div>
                                                                </div>
                                                                <div>
                                                                    <div class="form-group">
                                                                        <label for="floaturlB">Landing Page URL</label>
                                                                        <input type="url" class="form-control" id="floaturlB" name="floaturlB" [(ngModel)]="formAB.floaturlB" required #floaturlB="ngModel"  placeholder="Enter URL with http:// or https://" [ngClass]="{ 'is-invalid': b.submitted && !floaturlB.valid }">
                                                                        <!-- <small class="form-text text-muted danger" *ngIf="!floaturlB.valid && (floaturlB.dirty || floaturlB.touched)">URL is required!</small> -->
                                                                        <small *ngIf="!floaturlB.valid && (floaturlB.dirty || floaturlB.touched)" class="form-text text-muted danger">
                                                                            <small *ngIf="floaturlB.errors.required">URL is required!</small>
                                                                            <small *ngIf="floaturlB.errors.pattern">Enter a valid URL</small>
                                                                        </small>
                                                                        <small class="form-text text-muted danger" *ngIf="b.submitted && !floaturlB.valid && !floaturlB.touched">URL is required!</small>
                                                                    </div>
                                                                </div>
                                                                <div>
                                                                    <div class="form-group">
                                                                        <label for="ruleType">Image</label>
                                                                        <p>File type supported: jpg, jpeg, png. Recommended Size: 192x192.</p>
                                                                        <img *ngIf="!imageUrlB" src="assets/img/logo.png" style="background: black;" width="50" height="50" alt="" />
                                                                        <img *ngIf="imageUrlB" src="{{imageUrlB}}" width="50" height="50" />
                                                                        &nbsp;<label #imageurlBLabel class="btn btn-raised btn-sm btn-danger mr-1" color="primary" for="file-upload">
                                                                            Upload
                                                                        </label>
                                                                        <input id="file-upload" type="file" name="imageurlB" [(ngModel)]="formAB.imageurlB" (change)="uploadmembershipIcon($event.target.files,'urlB')"/>
                                                                        <i *ngIf="loader" class="fas fa-spinner fa fa-spin"></i><p *ngIf="loader" style="color:red;">&nbsp;Please wait while the image uploads.</p>

                                                                    </div>
                                                                </div>
                                                                <div>
                                                                    <div class="form-group">
                                                                        <input type="checkbox" name="bigImageB" value="bigImageB" (change)="addBBigImage($event.target.checked)">&nbsp;Show Big Image<br>&nbsp;&nbsp;Big image is only supported on Chrome (56+) browser. Image may get cropped on android devices.<br><br>

                                                                        <div *ngIf="showBigImageB">
                                                                            <label for="bigImageB">Image</label>
                                                                            <p>File type supported: jpg, jpeg, png. Recommended Size: 360x240.</p>
                                                                            <img *ngIf="!bigImageUrlB" src="assets/img/logo.png" style="background: black;" width="50" height="50" alt="" />
                                                                            <img *ngIf="bigImageUrlB" src="{{bigImageUrlB}}" />
                                                                            &nbsp;<label #bigImageBLabel class="btn btn-raised btn-sm btn-danger mr-1" color="primary" for="file-uploadB">
                                                                            Upload Image
                                                                            </label>
                                                                            <input type="file" class="form-control" id="file-uploadB" name="bigImageB" [(ngModel)]="formAB.bigImageB" required #bigImageB="ngModel" (change)="uploadBigImage($event.target.files,'bigImageB')" [ngClass]="{ 'is-invalid': b.submitted && !bigImageB.valid }" /><!-- (change)="uploadSubmit($event.target.files)"(change)="addFile($event,'url')"  -->
                                                                            <small class="form-text text-muted danger" *ngIf="b.submitted && !bigImageB.valid && !bigImageB.touched">Image is required!</small>
                                                                            <i *ngIf="imageloader" class="fas fa-spinner fa fa-spin"></i><p *ngIf="imageloader" style="color:red;">&nbsp;Please wait while the image uploads.</p>
                                                                        </div>
                                                                        <!-- <input type="checkbox">&nbsp;Show Button(s) on Chrome Notification<br>&nbsp;&nbsp;Call to action buttons are only supported on Chrome browser. -->
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-sm-6">
                                                                    <!-- <button type="button" class="btn btn-success btn-raised" (click)="ngOnInit()">Back</button> -->
                                                                </div>
                                                                <div class="col-sm-6" style="text-align: right;">
                                                                    <button type="submit" class="btn btn-success btn-raised">Next</button>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="card">
                                                <div class="card-body" style="background: rgba(218, 218, 218, 0.59);">
                                                    <div class="card-block">
                                                        <h4 class="section">Previews</h4>
                                                        <h5 class="form-section">Chrome on Windows</h5>
                                                        <div col-lg-12 style="border: 1px solid #ccc7c7;background: #fff;padding: 12px;">
                                                            <div class="row">
                                                                <div class="col-xl-4">
                                                                    <img *ngIf="!imageUrlB" src="assets/img/logo.png" style="background: black;margin: 7px 0;" width="50" height="50" alt="" />
                                                                    <img *ngIf="imageUrlB" src="{{imageUrlB}}" style="margin: 7px 0;" width="30" height="30" alt="" />
                                                                </div>
                                                                <div class="col-xl-8">
                                                                    <b><p *ngIf="!floattitleB.value">Notification Title</p></b>
                                                                    <b><p *ngIf="floattitleB.value">{{floattitleB.value}}</p></b>
                                                                    <p *ngIf="!floatmessageB.value" class="text-bold-400 mb-0">Notification Message</p>
                                                                    <p *ngIf="floatmessageB.value" class="text-bold-400 mb-0">{{floatmessageB.value}}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <br>
                                                        <h5 class="form-section">Firefox on Windows</h5>
                                                        <div class="block" style="border: 1px solid #ccc7c7;background: #fff;padding: 12px;">
                                                            <b><h5 *ngIf="!floattitleB.value">Notification Title</h5></b>
                                                            <b><p *ngIf="floattitleB.value">{{floattitleB.value}}</p></b>
                                                            <div class="col-xl-3 col-lg-6 col-12">
                                                                <div class="card">

                                                                    <div class="card-body">
                                                                        <div class="media align-items-stretch">
                                                                            <img *ngIf="!imageUrlB" src="assets/img/logo.png" style="background: black;" width="50" height="50" alt="" />
                                                                            <img *ngIf="imageUrlB" src="{{imageUrlB}}" width="50" height="50" alt="" />
                                                                            <div class="p-2 media-body">

                                                                                <h6 *ngIf="!floatmessageB.value" class="text-bold-400 mb-0">Notification Message</h6>
                                                                                <h6 *ngIf="floatmessageB.value" class="text-bold-400 mb-0">{{floatmessageB.value}}</h6>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div><br>
                                                        <h5 class="form-section">Chrome on Mac</h5>
                                                        <div col-lg-12 style="border: 1px solid #ccc7c7;background: #fff;padding: 12px;">
                                                            <div class="row">
                                                                <div class="col-xl-2">
                                                                    <img src="assets/img/logos/chrome-logo@2x.png" style="width: 100%;margin: 12px 7px;" alt="" />
                                                                </div>
                                                                <div class="col-xl-6">
                                                                    <b><p *ngIf="!floattitleB.value">Notification Title</p></b>
                                                                    <b><p *ngIf="floattitleB.value">{{floattitleB.value}}</p></b>
                                                                    <p *ngIf="!floatmessageB.value" class="text-bold-400 mb-0">Notification Message</p>
                                                                    <p *ngIf="floatmessageB.value" class="text-bold-400 mb-0">{{floatmessageB.value}}</p>
                                                                </div>
                                                                <div class="col-xl-4">
                                                                    <img *ngIf="!imageUrlB" src="assets/img/logo.png" style="background: black;margin: 7px 0;" width="50" height="50" alt="" />
                                                                    <img *ngIf="imageUrlB" src="{{imageUrlB}}" width="50" style="margin: 7px 0;" height="50" alt="" />
                                                                </div>
                                                            </div>
                                                        </div><br>

                                                        <h5 class="form-section">Chrome on Android</h5>
                                                        <div col-lg-12 style="border: 1px solid #ccc7c7;background: #fff;padding: 12px;">
                                                            <div class="row">
                                                                <div class="col-xl-8">
                                                                    <b><p *ngIf="!floattitleB.value">Notification Title</p></b>
                                                                    <b><p *ngIf="floattitleB.value">{{floattitleB.value}}</p></b>
                                                                    <p *ngIf="!floatmessageB.value" class="text-bold-400 mb-0">Notification Message</p>
                                                                    <p *ngIf="floatmessageB.value" class="text-bold-400 mb-0">{{floatmessageB.value}}</p>
                                                                </div>
                                                                <div class="col-xl-4">
                                                                    <img *ngIf="!imageUrlB" src="assets/img/logo.png" style="background: black;margin: 7px 0;" width="50" height="50" alt="" />
                                                                    <img *ngIf="imageUrlB" src="{{imageUrlB}}" style="margin: 7px 0;" width="50" height="50" alt="" />
                                                                </div>
                                                            </div>
                                                        </div><br>

                                                        <h5 class="form-section">Edge on Windows</h5>
                                                        <div col-lg-12 style="border: 1px solid #ccc7c7;background: #474747;padding: 12px;color:#fff;">
                                                            <div class="row">
                                                                <div class="col-xl-4">
                                                                    <img *ngIf="!imageUrlB" src="assets/img/logo.png" style="margin: 7px 0;" width="50" height="50" alt="" />
                                                                    <img *ngIf="imageUrlB" src="{{imageUrlB}}" style="margin: 7px 0;" width="30" height="30" alt="" />
                                                                </div>
                                                                <div class="col-xl-8">
                                                                    <b><p *ngIf="!floattitleB.value">Notification Title</p></b>
                                                                    <b><p *ngIf="floattitleB.value">{{floattitleB.value}}</p></b>
                                                                    <p *ngIf="!floatmessageB.value" class="text-bold-400 mb-0">Notification Message</p>
                                                                    <p *ngIf="floatmessageB.value" class="text-bold-400 mb-0">{{floatmessageB.value}}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </ngb-tab>
                        </ngb-tabset>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="subscription">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-body">
                    <div class="card-block">
                        <h4 class="section">Audience</h4>
                        <p>Send this notification to</p>
                        <input type="radio" name="radio" id="subscribers" value="all" (change)="selectSegment($event)">&nbsp;All Subscribers<br>
                        <input type="radio" name="radio" id="segments" value="segments" (change)="selectSegment($event)">&nbsp;My Segments<br><br>
                        <div class="card-body border" style="border-radius: 8px !important;" *ngIf="showSegments">
                            <div class="card-block">
                                <div class="col-lg-12">
                                    <div class="col-lg-12" *ngFor="let segment of segments">
                                        <input type="checkbox" (change)="onChange(segment.id,$event.target.checked)" required />&nbsp;<label>{{segment.name}}</label>
                                                <!-- <input type="checkbox" id="{{segment.id}}" [(ngModel)]="segment.id" (change)="onChange(segment.id,$event.target.checked)" required />&nbsp;<label>{{segment.name}}</label> --></div>
                                    <!-- <fieldset class="col-lg-12 segments checkbox" *ngFor="let segment of segments">
                                        <input type="checkbox" id="{{segment.name}}" name="{{segment.name}}" (change)="onChange(segment.id, $event.target.value)" />&nbsp;<label>{{segment.name}}</label>
                                    </fieldset> -->
                                </div>
                            </div>
                        </div>


                        <div>
                            <div class="form-group">
                                <label for="ruleType">Select the users for sending the A/B Testing</label>
                                <input type="number" name="userCount" [(ngModel)]="formAB.userCount" (input)="sendABTest($event.target.value)" />
                                <p>Total Users - {{countOfUsers}}</p>
                                <p *ngIf="formAB.userCount && countOfUsers">Remaining - {{countOfUsers - (formAB.userCount * 2)}}</p>
                            </div>
                        </div>

                        <div>
                            <div class="form-group">
                                <label for="ruleType">Send Winner Notification</label>
                                <input type="radio" name="winnerNotification" id="manual" [(ngModel)]="formAB.winnerNotification" value="Manual">&nbsp;Manual<br>
                                <input type="radio" name="winnerNotification" id="automatic" [(ngModel)]="formAB.winnerNotification" value="Automatic">&nbsp;Automatic<br><br>
                            </div>
                        </div>

                        <h4 class="section">Campaign Settings</h4>
                        <!-- <input type="checkbox">&nbsp;Auto-hide notification after 20 seconds.
                        <p>&nbsp;&nbsp;Don't attempt sending this notification</p>
                        <div class="row">
                            <fieldset class="col-sm-3">
                                <div class="input-group">
                                    <select id="durationIn" class="form-control">
                                        <option value="day" *ngFor="let day of days">{{day}}</option>
                                    </select>
                                    <div class="input-group-append">
                                        <span class="input-group-text" id="basic-addon2">days</span>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset class="col-sm-3">
                                <div class="input-group">
                                    <select id="durationIn" class="form-control">
                                        <option value="day" *ngFor="let hour of hours">{{hour}}</option>
                                    </select>
                                    <div class="input-group-append">
                                        <span class="input-group-text" id="basic-addon2">hours</span>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset class="col-sm-3">
                                <div class="input-group">
                                    <select id="durationIn" class="form-control">
                                        <option value="day" *ngFor="let minute of minutes">{{minute}}</option>
                                    </select>
                                    <div class="input-group-append">
                                        <span class="input-group-text" id="basic-addon2">minutes</span>
                                    </div>
                                </div>
                            </fieldset>
                        </div><br><br> -->

                        <input type="checkbox" [(ngModel)]="formAB.scheduled" (click)="schedule($event)">&nbsp;Schedule notification for a later date
                        <div class="card-body" style="border-radius: 25px !important;background-color: #e9ecef !important;" *ngIf="event">
                            <div class="card-block">
                                <div class="col-lg-12">
                                    <fieldset class="form-group">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <label>Date</label>
                                            </div>
                                            <!-- <div class="col-lg-6">
                                                <label>Time</label>
                                            </div> -->
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="input-group">
                                                    <input class="form-control" placeholder="yyyy-mm-dd" [minDate]="minDate" [(ngModel)]="formAB.scheduledate" name="scheduledate" #scheduledate="ngModel" ngbDatepicker [dayTemplate]="customDay"
                                                    [markDisabled]="isDisabled" #d3="ngbDatepicker" required (ngModelChange)="disableTimeByDate($event,'AB')">
                                                    <div class="input-group-append">
                                                        <div class="input-group-text" (click)="d3.toggle()">
                                                            <i class="fa fa-calendar" style="cursor: pointer;"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- <div class="col-lg-6">
                                                <ngb-timepicker [(ngModel)]="formAB.time" name="time" #time="ngModel"></ngb-timepicker>
                                            </div> -->
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <label>Time</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <ngb-timepicker [(ngModel)]="formAB.time"  (ngModelChange)="disabletime($event,'AB')" name="time" #time="ngModel" required></ngb-timepicker>
                                            </div>
                                        </div>
                                        <label>The notification will be sent at this time according to your current timezone (GMT+00:00 Etc/GMT)</label>
                                    </fieldset>
                                </div>
                            </div>
                        </div><br><br>

                        <div class="row">
                            <div class="col-sm-6">
                                <button type="button" class="btn btn-success btn-raised" (click)="abtesting()">Back</button>
                            </div>
                            <div class="col-sm-6" style="text-align: right;">
                                <button type="button" class="btn btn-success btn-raised" (click)="send(this.formAB)">Send Now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card">
                <div class="card-body" style="background: rgba(218, 218, 218, 0.59);">
                    <div class="card-block">
                        <h4 class="section">A/B Test Information</h4>
                        <div col-lg-12 style="border: 1px solid #ccc7c7;background: #fff;padding: 20px;">
                            <div class="row">
                                <h5>Sample audience</h5>
                                <p>Your selected audience has 0 subscribers. You need at least 800 subscribers to create an A/B test.</p>
                            </div>
                        </div>
                        <br>
                        <div col-lg-12 style="border: 1px solid #ccc7c7;background: #fff;padding: 20px;">
                            <div class="row">
                                <h5>Test duration</h5>
                                <p>The A/B test will run for 1 hour; during which the variants will be sent to the sample audience. The variant with the highest clicks will be declared the winner.</p><br>
                                <p>The winner variant will then be sent to the rest of the subscribers.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div><br>
        </div>
    </div>
</section>