input[type="file"] {
    display: none;
}
.previews{
	
}
.section{
	color: #343a40;
    line-height: 3rem;
    font-size: 1.2rem;
    letter-spacing: 0.5px;
    font-weight: 400;
    margin-bottom: 20px;
    border-bottom: 1px solid #343a40;
}
fieldset.col-lg-12.segments{
	line-height: 2;
}
fieldset.col-lg-12.segments:hover {
    background-color: #eeeff1;
}
/*input[type=checkbox]:checked + label{
	background-color: #298ee9 !important;
}
input[type=checkbox]:checked + fieldset.col-lg-12.segments label {
	background-color: #298ee9 !important;
}*/
.form-control.is-invalid{
	border-color: #dc3545;
}