<section class="basic-elements">
    <div class="row">
        <div class="col-md-6">
            <div class="content-header">Survey Manager</div>
        </div>
    </div>
    <div class="row" >
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-6">
                            <p>Survey Manager</p>
                        </div>
                        <div class="col-sm-6" style="text-align: right;">
                            <p>
                                <a class="btn btn-social btn-round btn-min-width mr-2 mb-2 btn-outline-bitbucket right" (click)="memToggle()"><span class="ft-plus"></span>Create Survey</a>
                            </p>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-block">
                          <ngx-datatable class="material" class="bootstrap" [rows]="tblData" [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [sorts]="[{prop: ['name', 'start_date'], dir: 'desc'}]" [limit]="10">
                              <ngx-datatable-column name="Survey Name">
                                  <ng-template let-row="row" ngx-datatable-cell-template>
                                      {{row.name}}
                                  </ng-template>
                              </ngx-datatable-column>
                              <ngx-datatable-column name="Start Date">
                                  <ng-template let-row="row" ngx-datatable-cell-template>
                                      {{row.start_date}}
                                  </ng-template>
                              </ngx-datatable-column>
                              <ngx-datatable-column name="End Date">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    {{row.end_date}}
                                </ng-template>
                              </ngx-datatable-column>
                              <ngx-datatable-column name="Action">
<!-- 
                              	<ng-template #content{{row.id}} let-c="close" let-d="dismiss">
                                  	<div class="modal-header">
                                  		<h4 class="modal-title">Modal title</h4>
                                  		<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                  			<span aria-hidden="true">&times;</span>
                                  		</button>
                                  	</div>
                                  	<div class="modal-body">
                                  		<formio [form]="row.form_data"></formio>
                                  	</div>
                                  	<div class="modal-footer">
                                  		<button type="button" class="btn btn-secondary btn-raised" (click)="c('Close click')">Close</button>
                                  	</div>
                                  </ng-template> -->
                                  <ng-template let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex">
                                   <!--  <a class="primary p-0" data-original-title="" title="" (click)="editcampaign(row.id)">
                                        <i class="fas fa-pencil-alt font-medium-3 mr-2"></i>{{rowIndex}} 
                                    </a>-->
                                    
                                     <a class="info p-0" data-original-title="" title="" (click)="open(row.form_data,content,row.name)" >
                                        <i class="fas fa-eye font-medium-3 mr-2"></i>
                                    </a>
                                    <a class="success p-0" data-original-title="" title="" (click)="viewSubmissions(row.id)">
                                        <i class="fas fa-table font-medium-3 mr-2"></i>
                                    </a>
                                    <!-- <a class="danger p-0" data-original-title="" title="" (click)="deletecampaign(row.id,rowIndex)"> -->
                                    <a class="danger p-0" data-original-title="" title="" (click)="deletecampaign(row.id)">
                                        <i class="fas fa-trash font-medium-3 mr-2"></i>
                                    </a>

                                    <!-- <a class="danger p-0"  data-original-title="" title="" (click)="openurl(row.id)">
                                        Get URL
                                    </a> -->
                                    <a class="danger p-0"  data-original-title="" title="" (click)="openurlModal(contenturl,row.id,row.name)">
                                        Get URL
                                    </a>
                                    <!-- <button class="btn btn-lg btn-outline-primary" (click)="openurlModal(row.id,content)">Launch demo modal</button> -->
                                  </ng-template>


                              </ngx-datatable-column>
                          </ngx-datatable>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <ng-template #content let-c="close" let-d="dismiss">
    	<div class="modal-header">
    		<h4 class="modal-title">{{formTitle}}</h4>
    		<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
    			<span aria-hidden="true">&times;</span>
    		</button>
    	</div>
    	<div class="modal-body">
    		<formio [form]="form"></formio>
    	</div>
    </ng-template>

    <ng-template #contenturl let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">{{modalTitle}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-body">
          <div class="row justify-content-center">
            <div class="col-12">
              <div class="form-group">
                <label for="txta">URL</label>
                <textarea class="form-control" id="txta" rows="3"  [(ngModel)]="exturl" onClick="this.select();"></textarea>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <fieldset class="form-group">
                <label for="txtb">iframe</label>
                <textarea class="form-control" id="txtb" rows="3" [(ngModel)]="iframecode" onClick="this.select();"></textarea>
              </fieldset>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-raised" (click)="c('Close click')">Close</button>
      </div>
    </ng-template>

<!--     <div class="row" >
    	<div class="col-sm-12">
    		<formio [form]="form"></formio>
    	</div>
    </div> -->


<!--  <button class="btn btn-lg btn-outline-primary" >Launch demo modal</button> -->
<!--     <div class="row" *ngIf="showMembership">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                <div class="card-block">
                    <form [formGroup]="membershipForm" novalidate>
                        <div class="form-group">
                            <label for="membershipName">Membership Name</label>
                            <input type="text" class="form-control" id="membershipName" formControlName="membershipName" required>
                            <small class="form-text text-muted danger" *ngIf="!membershipForm.get('membershipName').valid && (membershipForm.get('membershipName').dirty || membershipForm.get('membershipName').touched)">This field is required!</small>
                        </div>
                        <div class="row" *ngIf="!memShowLogo">
                          <div class="col-sm-8">
                            <div class="form-group">
                                <div class="custom-file center-block d-block">
                                  <input type="file" class="custom-file-input" id="membershipIcon" formControlName="membershipIcon" (change)="uploadmembershipIcon($event.target.files)">
                                  <label class="custom-file-label" for="membershipIcon" #membershipIconLabel>Choose file</label>
                                </div>
                            </div>
                          </div>
                          <div class="col-sm-3">
                            <div class="form-group" *ngIf="!memShowLogo && memLogo != ''">
                                <button type="button" class="btn btn-danger btn-raised mr-1" (click)="memShowLogo = !memShowLogo">Cancel</button>
                            </div>
                          </div>
                        </div>
                        <div class="row" *ngIf="memShowLogo">
                          <div class="col-sm-8">
                            <div class="form-group">
                              <img src="{{memLogo}}" />
                            </div>
                          </div>
                          <div class="col-sm-3">
                            <div class="form-group">
                                <button type="button" class="btn btn-danger btn-raised mr-1" (click)="memShowLogo = !memShowLogo">Change Logo</button>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                            <label for="textArea">Description</label>
                            <textarea class="form-control" rows="3" id="textArea" formControlName="textArea" required></textarea>
                            <small class="form-text text-muted danger" *ngIf="!membershipForm.get('textArea').valid && (membershipForm.get('textArea').dirty || membershipForm.get('textArea').touched)">This field is required!</small>
                        </div>
                        <div class="row">
                          <div class="col-sm-6">
                            <div class="form-group">
                                <label for="duration">Duration</label>
                                <div class="input-group">
                                    <input type="number" id="duration" class="form-control" formControlName="duration" required>
                                </div>
                                <small class="form-text text-muted danger" *ngIf="!membershipForm.get('duration').valid && (membershipForm.get('duration').dirty || membershipForm.get('duration').touched)">This field is required!</small>
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="form-group">
                                <label for="durationIn">Membership Period</label>
                                <div class="input-group">
                                  <select id="durationIn" class="form-control" formControlName="durationIn" required [value]='selectval'>
                                    <option value="">Select</option>
                                    <option value="days">Days</option>
                                    <option value="month">Month</option>
                                    <option value="year">Year</option>
                                  </select>
                                </div>
                                <small class="form-text text-muted danger" *ngIf="!membershipForm.get('durationIn').valid && (membershipForm.get('durationIn').dirty || membershipForm.get('durationIn').touched)">This field is required!</small>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                            <label for="price">Price</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" formControlName="price" required>
                            </div>
                            <small class="form-text text-muted danger" *ngIf="!membershipForm.get('price').valid && (membershipForm.get('price').dirty || membershipForm.get('price').touched)">This field is required!</small>
                        </div>

                        <div class="form-group">
                            <button type="button" class="btn btn-danger btn-raised mr-1" (click)="cancel()">Cancel</button>
                            <button type="button" class="btn btn-success btn-raised" (click)="addMembership()" [disabled]="!membershipForm.valid">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            </div>
        </div>
    </div> -->
</section>
<!-- <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card">
                <div class="card-header">
                    <div class="card-title-wrap bar-success">
                        <h4 class="card-title">Modal with Default options</h4>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card-block"> -->
                        

                        <!-- <button class="btn btn-lg btn-outline-primary" (click)="open1(content)">Launch demo modal</button>

                        <hr>
                        <p>Action : {{closeResult}}</p>
                    </div>
                </div>
            </div>
        </div> -->