<section id="text-alignment">
  <div class="row"  *ngIf="sentData<=0">
        <div class="col-md-12">
        <div class="card">
          <div class="card-body">
        <ul class="nav nav-pills nav-fill navtop" style =" margin-top: 30px !important;">
          <li class="col-md-2" style = "flex:0 0 9%;">
          <a>Get Started</a></li>
              <li class="nav-item">
                  <a class="nav-link active" class="btn btn-outline-success" href="#menu1" data-toggle="tab"><i class="icon-check font-medium-3 mr-2"></i>Sign up and add a site</a>
              </li>
              <li class="nav-item" *ngIf= "subscriber > 0">
                   <a class="nav-link"class="btn btn-outline-success" href="#menu2" data-toggle="tab"><i class="icon-check font-medium-3 mr-2"></i>Integrate click365 JS</a>
              </li>
              <li class="nav-item" *ngIf= "subscriber <= 0">
              <a class="nav-link"class="btn btn-outline-danger" href="#menu2" data-toggle="tab"><i class="fab">2</i>Integrate click365 JS</a>
          </li>
              <li class="nav-item" *ngIf= "sentData > 0">
                  <a class="nav-link active" class="btn btn-outline-success" href="#menu3" data-toggle="tab"><i class="icon-check font-medium-3 mr-2"></i>Send your first notification</a>
              </li>
              <li class="nav-item" *ngIf ="sentData<=0">
                  <a class="nav-link" class="btn btn-outline-primary" href="#menu3" data-toggle="tab" (click)="gotoCampaign()"><i class="fab">3</i>Send your first notification</a>
              </li>
          </ul>
          <div class="tab-content float-right" style =" margin-top: 0px !important;padding: 5px;">
              <div class="tab-pane active" role="tabpanel" id="menu1"></div>
              <div class="tab-pane" role="tabpanel" id="menu2"></div>
              <div class="tab-pane" role="tabpanel" id="menu3"></div>
          </div>
      </div>
      </div>
      </div>
      </div>
  <div class="row" >
  <div class="col-xl-3 col-lg-6 col-12" *ngFor="let tile of tilesData;let i=index;">
    <div class="card">
      <div class="card-body">
        <div class="media align-items-stretch">
          <div class="p-2 text-center rounded-left pt-3 bg-primary" *ngIf="i==0">
            <i class="icon-users font-large-2 text-white" ></i>
          </div>
           <div class="p-2 text-center rounded-left pt-3 bg-success"  *ngIf="i==1">
            <i class="icon-paper-plane font-large-2 text-white" ></i>
          </div>
            <div class="p-2 text-center rounded-left pt-3 bg-info"  *ngIf="i==2">
            <i class="icon-like font-large-2 text-white" ></i>
          </div>
          <div class="p-2 text-center rounded-left pt-3 bg-warning"  *ngIf="i==3">
            <i class="icon-envelope-open font-large-2 text-white" ></i>
          </div>
          <div class="p-2 media-body">
            <h6>{{tile.label}}</h6>
            <h5 class="text-bold-400 mb-0">{{tile.count}}</h5>
            <h6 class="text-bold-200 mb-0">{{tile.weekCount}} in this week</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" >
<div class="col-md-12">
<div class="card">
  <div class="card-header">
    <div class="card-title-wrap bar-success">
     <h4 class="card-title">Dashboard Analytics</h4>
   </div>
 </div>
 <div class="card-body">
  <div class="card-block">
    <div class="height-400">
      <ngx-charts-bar-vertical
      [scheme]="ChartColorScheme"
      [results]="weeklyData"
      [gradient]="false"
      [xAxis]="true"
      [yAxis]="true"
      [legend]="false"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      xAxisLabel="X-AXIS"
      yAxisLabel="CURRENT WEEK REPORT">
    </ngx-charts-bar-vertical>
  </div>
</div>
</div>
</div>
</div>
</div>
<div class="row">
    <div class="col-lg-6 col-md-12" *ngFor="let chart of charts">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title info">{{chart.name}}</h4>
        </div>
        <div class="card-body">
          <div class="card-block">
            <div class="height-400" *ngIf="chart.chartType == 'bar'">
              <a class="btn btn-primary btn-raised mr-1" data-original-title="" style="float: right;" title="" (click)="gotoTokens()" >view all</a>
                <ngx-charts-bar-vertical [scheme]="ChartColorScheme" [results]="chart.layout" [gradient]="false" [xAxis]="true"
                    [yAxis]="true" [legend]="false" [showXAxisLabel]="true"
                    [showYAxisLabel]="true" [yAxisTicks]="chart.yAxisTicks" [xAxisLabel]="chart.xaxis" [yAxisLabel]="chart.yaxis">
                </ngx-charts-bar-vertical>
            </div>
            <div class="height-400" *ngIf="chart.chartType == 'pie'">
                <!-- <ngx-charts-pie-chart [scheme]="ChartColorScheme" [results]="chart.layout" [legend]="true" [explodeSlices]="false"
                    [labels]="true" [doughnut]="false" [gradient]="false">
                </ngx-charts-pie-chart> -->
                <ngx-charts-advanced-pie-chart [view]="view" [scheme]="ChartColorScheme" [results]="chart.layout"></ngx-charts-advanced-pie-chart>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="col-lg-4 col-md-12">
      <div class="card text-center">
        <div class="card-header">
          <h4 class="card-title success">Text Align Center</h4>
        </div>
        <div class="card-body">
          <div class="card-block">
            <p class="card-text">Gummi bears I love oat cake gingerbread donut cotton candy pie biscuit tart. Chocolate cake chocolate cake I love marzipan cookie macaroon. Tart I love I love carrot cake carrot cake chupa chups caramels. Carrot cake pastry cotton candy.</p>
            <p class="card-text">Dessert I love brownie biscuit topping I love chocolate cake gingerbread jelly beans. Chocolate cake cake cheesecake. Chocolate cake pastry macaroon.</p>
            <a class="btn btn-raised btn-success">Load More</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-12">
      <div class="card text-right">
        <div class="card-header">
          <h4 class="card-title danger">Text Align Right</h4>
        </div>
        <div class="card-body">
          <div class="card-block">
            <p class="card-text">Gummi bears I love oat cake gingerbread donut cotton candy pie biscuit tart. Chocolate cake chocolate cake I love marzipan cookie macaroon. Tart I love I love carrot cake carrot cake chupa chups caramels. Carrot cake pastry cotton candy.</p>
            <p class="card-text">Dessert I love brownie biscuit topping I love chocolate cake gingerbread jelly beans. Chocolate cake cake cheesecake. Chocolate cake pastry macaroon.</p>
            <a class="btn btn-raised btn-danger">Load More</a>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</section>

<div class="row" >
  <div class="col-lg-6 col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="card-title-wrap bar-success">
         <h4 class="card-title">User Statistics</h4>
         <a class="btn btn-primary btn-raised mr-1" data-original-title="" style="float: right;" title="" (click)="gotoTokens()" >view all</a>
       </div>
     </div>
     <div class="card-body">
      <div class="card-block">
        <div class="height-400">
          <ngx-charts-bar-vertical
          [scheme]="ChartColorScheme"
          [results]="userchart"
          [gradient]="false"
          [xAxis]="true"
          [yAxis]="true"
          [legend]="false"
          [showXAxisLabel]="true"
          [showYAxisLabel]="true"
          xAxisLabel="Date"
          yAxisLabel="Subscribers">
        </ngx-charts-bar-vertical>
      </div>
    </div>
  </div>
</div>
</div>
<div class="col-lg-6 col-md-12">
  <div class="card">
    <div class="card-header">
      <div class="card-title-wrap bar-success">
        <h4 class="card-title">Subscriptions By City</h4>
       </div>
     </div>
     <div class="card-body">
       <div class="card-block">
         <select class="form-control" name="state" (change)="changeGraph($event.target.value)">
           <option value="">Select State</option>
           <option *ngFor="let state of states" value="{{state.name}}">{{state.name}}</option>
         </select>
          <div class="height-400" *ngFor="let chart of cityChart">
            <ngx-charts-bar-vertical [scheme]="ChartColorScheme" [results]="chart.layout" [gradient]="false" [xAxis]="true"
                [yAxis]="true" [legend]="false" [showXAxisLabel]="true"
                [showYAxisLabel]="true" [yAxisTicks]="chart.yAxisTicks" [xAxisLabel]="chart.xaxis" [yAxisLabel]="chart.yaxis">
            </ngx-charts-bar-vertical>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

 <ngb-tabset>
              <ngb-tab title="Notifications">
                <ng-template ngbTabContent>
      <div class="card">
        <div class="card-header">
          <div class="row">
          </div>
          <div class="card-body">
            <div class="card-block">
              <ngx-datatable class="material" class="bootstrap" [rows]="rows" [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"  [limit]="10" >
                <ngx-datatable-column name="Notification Title" [width]="200">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.campaign_title}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Notification Message" [width]="300">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                   {{row.campaign_message}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Total Sent">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.sent+row.not_sent}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Sent Successfully">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.sent}}<span class="text-success ml-2" *ngIf="row.received >0">{{((row.sent/(row.sent+row.not_sent))*100) | number : '1.0-2'}}%</span>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Inprogress">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{(row.sent+row.not_sent)-row.received-row.not_sent}}<span class="text-success ml-2">{{(((row.sent+row.not_sent)-row.received-row.not_sent)/(row.sent+row.not_sent)*100) | number : '1.0-2'}}%</span>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Delivered">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.received}}<span class="text-success ml-2" *ngIf="row.received >0">{{((row.received/row.sent)*100) | number : '1.0-2'}}%</span>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Bounced">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.not_sent}}<span class="text-success ml-2" *ngIf="row.not_sent >0">{{((row.not_sent/row.sent)*100) | number : '1.0-2'}}%</span>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Clicked">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.clicks}}<span class="text-success ml-2" *ngIf="row.clicks >0">{{((row.clicks/row.received)*100) | number : '1.0-2'}}% of delivered</span>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Action">
                  <ng-template let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex">
                   <a class="info p-0" data-original-title="" title="" (click)="viewChart(row.campaign_id,'S')" >
                    <i class="fas ft-bar-chart-2 font-medium-3 mr-2"></i>
                    <a class="Info p-0"  (click)="CopyWebDashboard(row.campaign_id)">
                    <i class="fas fa-copy font-medium-3 mr-2"></i></a>
                  </a>
                </ng-template>
              </ngx-datatable-column>

              </ngx-datatable>
            </div>
          </div>
        </div>
      </div>

    </ng-template>
  </ngb-tab>
  <ngb-tab title="A/B Test Notifications">
    <ng-template ngbTabContent>

<!--       <ngb-tabset>
        <ngb-tab title="Overview">
        </ngb-tab>
        <ngb-tab title="A/B Testing">
        </ngb-tab>
      </ngb-tabset> -->
      <div class="card">
        <div class="card-header">
          <div class="row">
          </div>
          <div class="card-body">
            <div class="card-block">
              <ngx-datatable class="material" class="bootstrap" [rows]="abTestingRows" [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"  [limit]="10">

                <!-- <ngx-datatable-column name="Test Type">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.type}}
                  </ng-template>
                </ngx-datatable-column> -->
                <ngx-datatable-column name="Notification Title" [width]="150">
                  <ng-template let-row="row" ngx-datatable-cell-template >
                   <p> {{row.campaign_title[0]}} </p><br>
                   <p> {{row.campaign_title[1]}} </p>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Notification Message" [width]="200">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                   <p> {{row.campaign_message[0]}} </p><br>
                   <p> {{row.campaign_message[1]}} </p>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Sent" valign="center">
                  <ng-template let-row="row" ngx-datatable-cell-template valign="center">
                    {{row.sent+row.not_sent}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Inprogress">
                  <ng-template let-row="row" ngx-datatable-cell-template valign="center">
                    {{(row.sent+row.not_sent)-row.received-row.not_sent}}<span class="text-success ml-2">{{(((row.sent+row.not_sent)-row.received-row.not_sent)/(row.sent+row.not_sent)*100) | number : '1.0-2'}}%</span>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Delivered">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.received}}<span class="text-success ml-2" *ngIf="row.received >0">{{((row.received/row.sent)*100) | number : '1.0-2'}}%</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Bounced">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.not_sent}}<span class="text-success ml-2" *ngIf="row.not_sent >0">{{((row.not_sent/row.sent)*100) | number : '1.0-2'}}%</span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Clicked">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.clicks}}<span class="text-success ml-2" *ngIf="row.clicks >0">{{((row.clicks/row.received)*100) | number : '1.0-2'}}% of delivered</span>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Action">
                  <ng-template let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex">
                   <a class="info p-0" data-original-title="" title="" (click)="viewChart(row.campaign_id,'AB')" >
                    <i class="fas ft-bar-chart-2 font-medium-3 mr-2"></i>
                  </a>
                </ng-template>
              </ngx-datatable-column>
              </ngx-datatable>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
</ngb-tabset>

<!-- Bar Chart Starts -->
<!-- <div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title-wrap bar-primary">
                    <h4 class="card-title">Bar Chart</h4>
                </div>
            </div>
            <div class="card-body" >
                <div class="card-block">
                    <div id="bar-bar1" class="height-400">
                        <canvas baseChart class="chart" [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [colors]="barChartColors"
                            [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- Bar Chart Ends -->

<!-- Bar Chart Starts -->
<!-- <div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title-wrap bar-primary">
                    <h4 class="card-title">Bar Chart</h4>
                </div>
            </div>
            <div class="card-body">
                <div class="card-block">
                    <div id="bar-bar1" class="height-400">
                        <canvas baseChart class="chart" [datasets]="aaabarChartData" [labels]="aaabarChartLabels" [options]="aaabarChartOptions" [colors]="barChartColors"
                            [legend]="aaabarChartLegend" [chartType]="aaabarChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- Bar Chart Ends -->
