.container{
    direction: rtl;
}
.navtop{
    margin-top:50px;
}
.tab-content {
    padding: 40px;
    margin-top: -20px;
}

.fab {

  width: 24px;

  border-radius: 50%;
  text-align: center;
  font-size: 17px;
  border: 1px solid #9288d0;
  margin-right: 0.75rem;
}
