<div class="col-md-6">
  <div class="content-header">Subscribers</div>
</div>

<div class="card">
  <div class="card-header">
    <div class="form-group">
      <form [formGroup]="filterForm">
        <div class="row">
          <div class="col-sm-4">
            <label for="memType">Start Date</label>
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd" formControlName="startDate" [(ngModel)]="filterModule.startDate" ngbDatepicker #d2="ngbDatepicker">
              <div class="input-group-append">
                <div class="input-group-text" (click)="d2.toggle()">
                  <i class="fa fa-calendar" style="cursor: pointer;"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <label for="memType">End Date</label>
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd" formControlName="endDate" [(ngModel)]="filterModule.endDate" ngbDatepicker #d3="ngbDatepicker" (ngModelChange)="endDate()">
              <div class="input-group-append">
                <div class="input-group-text" (click)="d3.toggle()">
                  <i class="fa fa-calendar" style="cursor: pointer;"></i>
                </div>
              </div>
            </div>
           <small class="form-text text-muted danger" *ngIf="error.isError">{{error.errorMessage}}</small>
          </div>
          <div class="col-sm-4">
            <br />
            <button type="button" class="btn btn-info btn-raised mr-1" (click)="getFilters()">Filter</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="card-body">
    <div class="card-block">
      <div class="col-lg-12" *ngIf="userchart != ''">
        <div class="card">
          <div class="card-header">
            <div class="card-title-wrap bar-success">
               <h4 class="card-title">User Statistics</h4>
             </div>
           </div>
           <div class="card-body">
            <div class="card-block">
              <div class="height-400">
                <ngx-charts-bar-vertical
                  [scheme]="ChartColorScheme"
                  [results]="userchart"
                  [gradient]="false"
                  [xAxis]="true"
                  [yAxis]="true"
                  [legend]="false"
                  [showXAxisLabel]="true"
                  [showYAxisLabel]="true"
                  xAxisLabel="Date"
                  yAxisLabel="Subscribers">
                </ngx-charts-bar-vertical>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12" *ngIf="userchart == ''" style="border-left: 5px solid red;">
        <div class="card" style="border-bottom: 1px solid #c2c3c3; border-radius: 0;
         ">
          <div class="card-header" style="padding: 0px;
            padding-bottom: 15px;">
          <h4 class="card-title">No data to display</h4>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 btnalgn">
          <button type="button" class="btn btn-success btn-raised mr-1" (click)="getActive()">Active</button>
          <button type="button" class="btn btn-warning btn-raised mr-1" (click)="getInactive()">InActive</button>
          <button type="button" class="btn btn-danger btn-raised mr-1" (click)="ngOnInit()">Reset</button>
          <button type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
          Select Columns
          </button>
          <div id="collapseExample" class="selected-column" [ngbCollapse]="!isCollapsed">
            <ul >
              <li *ngFor='let col of allColumns'>
                <input type='checkbox' [id]="col.name" (click)='toggle(col)' [checked]='isChecked(col)' />
                <label [attr.for]="col.name">{{col.name}}</label>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <ngx-datatable
        class ='material'
        class='bootstrap'
        [rows]='rows'
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="'auto'" [limit]="10">
          <ngx-datatable-column
            *ngFor="let col of columns"
            [name]="col.name">
          </ngx-datatable-column>
          <ngx-datatable-column name="Action" [width]="50">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <span class="badge badge-primary" *ngIf="row.status == 'y'">Active</span>
               <span class="badge badge-primary" *ngIf="row.status == 'n'">Inactive</span>
            </ng-template>
          </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>
