<section class="basic-elements">
  <div class="row">
      <div class="col-md-6">
          <div class="content-header">Failed Campaigns</div>
      </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
          </div>
        </div>
        <div class="card-body">
          <div class="card-block">
            <ngb-tabset (tabChange)="selectData($event)">
              <ngb-tab title="Normal Campaign" id="normal" active="SelectedTab == 'normal'">
                <ng-template ngbTabContent>
                    <ngx-datatable class="material" class="bootstrap" [rows]="campaignDetails" [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [sorts]="[{prop: ['name', 'subject', 'status', 'date'], dir: 'desc'}]" [limit]="10">
                      <ngx-datatable-column name="Name">
                          <ng-template let-row="row" ngx-datatable-cell-template>
                              {{getName(row.name)}}
                          </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column name="Subject">
                          <ng-template let-row="row" ngx-datatable-cell-template>
                              {{row.subject}}
                          </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column name="Status">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.status}}
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column name="Date">
                          <ng-template let-row="row" ngx-datatable-cell-template>
                              {{row.date | date: 'MM/dd/yyyy'}}
                          </ng-template>
                      </ngx-datatable-column>
                      <!-- <ngx-datatable-column name="Action">
                          <ng-template let-row="row" ngx-datatable-cell-template>
                              <a class="info p-0" (click)="sendnewsletter(row.id);" *ngIf="row.status == 'Pending'"><i class="far fa-paper-plane font-medium-3 mr-2"></i></a>
                              <a class="warning p-0" *ngIf="row.status == 'Scheduled'"><i class="far fa-clock font-medium-3 mr-2"></i></a>
                              <a class="success p-0" *ngIf="row.status == 'Sent'"><i class="far fa-check-square font-medium-3 mr-2"></i></a>
                              <a class="danger p-0" *ngIf="row.status == 'Pending'" (click)="EditNewsletter(row.id);"><i class="fas fa-pencil-alt font-medium-3 mr-2"></i></a>
                              <a class="Info p-0" (click)="CopyNewsletter(row.id);"><i class="fas fa-copy font-medium-3 mr-2"></i></a>
                          </ng-template>
                      </ngx-datatable-column> -->
                    </ngx-datatable>
                </ng-template>
              </ngb-tab>
              <ngb-tab title="A/B Testing Campaign" id="abtesting" active="SelectedTab == 'abtesting'">
                <ng-template ngbTabContent>
                  <ngx-datatable class="material bootstrap" [rows]="abcampaignDetails" [columns]="adtestingcolumns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [scrollbarH]="true" [limit]="10" [sorts]="[{prop: ['name', 'subject', 'status', 'date'], dir: 'desc'}]" [limit]="10">
                    <ngx-datatable-column name="Name" [width]="300">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{getName(row.name)}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Subject" [width]="300">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <p *ngIf="row.subjecta != ''">Subject A - {{row.subjecta}}</p><br/>
                            <p *ngIf="row.subjectb != ''">Subject B - {{row.subjectb}}</p>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="From" [width]="300">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <p *ngIf="row.froma != ''">From A - {{row.froma}}</p><br/>
                            <p *ngIf="row.fromb != ''">From B - {{row.fromb}}</p>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Campaign Winner Type" [width]="300">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.rateTrack}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Campaign A/B Testing On" [width]="300">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.abtestingOn}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Testing Time" [width]="300">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.time}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Status" [width]="300">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                          {{row.status}}
                      </ng-template>
                    </ngx-datatable-column>
                    <!-- <ngx-datatable-column name="Date" [width]="300">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                          {{row.date | date: 'MM/dd/yyyy'}}
                      </ng-template>
                    </ngx-datatable-column> -->
                  </ngx-datatable>
                </ng-template>
              </ngb-tab>
            </ngb-tabset>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
