.mySlides {
	display:none;
}
.myimages{
	display:block;
}
.carousel-item{
	display:block;
}
.owl-item {
	display: inline-block;
}
.carousel-inner img {
      width: 100%;
      height: 100%;
  }
img.preview{
	padding: 10px;
    max-width: 205px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    margin: 50px auto;
}
#img-upload{
    width: 100%;
}
.col-centered {
    float: none;
    margin: auto;
}