<section id="editing-DataTable" class="mb-3">
	<div class="row">
		<div class="col-sm-12">
			<div class="content-header">Redeem Rewards</div>
		</div>
	</div>
	<div class="row" *ngIf="showTable">
		<div class="col-sm-12">
			<div class="card-header">
				<div class="row">
					<div class="col-sm-6">
						<p></p>
					</div>
					<div class="col-sm-6" style="text-align: right;">
						<p>
							<a class="btn btn-social btn-round btn-min-width mr-2 mb-2 btn-outline-bitbucket float-right" (click)="toggle()"><span class="ft-plus"></span>Redeem Rewards</a>
						</p>
					</div>
				</div>
				<div class="card">
					<div class="card-body">
						<div class="card-block">
							<ngx-datatable class="material" class="bootstrap" [rows]="rewardDisplay" [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [scrollbarH]="true" [sorts]="[{prop: ['rewardName', 'rewardImage', 'additionalImages', 'pointsValue', 'membershipType', 'startTime', 'endTime'], dir: 'desc'}]" [limit]="10">
								<ngx-datatable-column name="Reward Name" [width]="250" [sortable]="true" prop="reward_name">
									<ng-template let-row="row" ngx-datatable-cell-template>
										{{row.reward_name}}
									</ng-template>
								</ngx-datatable-column>
								<ngx-datatable-column name="Reward Image">
									<ng-template let-row="row" ngx-datatable-cell-template>
										<img src = "{{row.reward_image}}" height="50px" />
									</ng-template>
								</ngx-datatable-column>
								<ngx-datatable-column name="Additional Images">
									<ng-template let-row="row" ngx-datatable-cell-template>
										<div class="w3-content w3-display-container">
											<ngb-carousel *ngIf="row.reward_additional_image != ''">
												<ng-template ngbSlide *ngFor="let images of row.reward_additional_image">
													<img [src]="images" height="50">
												</ng-template>
											</ngb-carousel>
											<p *ngIf="row.reward_additional_image == ''">-</p>
										</div>
									</ng-template>
								</ngx-datatable-column>
								<ngx-datatable-column>
								</ngx-datatable-column>
								<ngx-datatable-column name="Points Value">
									<ng-template let-row="row" ngx-datatable-cell-template>
										{{row.points_value}}
									</ng-template>
								</ngx-datatable-column>
								<ngx-datatable-column name="Membership Type">
									<ng-template let-row="row" ngx-datatable-cell-template>
										{{row.mem_type}}
									</ng-template>
								</ngx-datatable-column>
								<ngx-datatable-column name="Start Date" [width]="250">
									<ng-template let-row="row" ngx-datatable-cell-template>
										{{row.start_time}}
									</ng-template>
								</ngx-datatable-column>
								<ngx-datatable-column name="End Date" [width]="250">
									<ng-template let-row="row" ngx-datatable-cell-template>
										{{row.end_time}}
									</ng-template>
								</ngx-datatable-column>
							</ngx-datatable>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row" *ngIf="!showTable">
		<div class="col-sm-12">
			<div class="card">
				<div class="card-body">
					<div class="card-block">
						<form [formGroup]="rewardForm">
							<div class="form-body">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="rewardName">Reward Name</label>
											<input type="text" class="form-control" id="rewardName" formControlName="rewardName" [(ngModel)]="rewardName" required>
											<small class="form-text text-muted danger" *ngIf="!rewardForm.get('rewardName').valid && (rewardForm.get('rewardName').dirty || rewardForm.get('rewardName').touched)">Reward Name is required!</small>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="description">Reward Description</label>
											<input type="text" class="form-control" id="description" formControlName="description" required>
											<small class="form-text text-muted danger" *ngIf="!rewardForm.get('description').valid && (rewardForm.get('description').dirty || rewardForm.get('description').touched)">Description is required!</small>
										</div>
									</div>
								</div>
							</div>
							<div class="form-body">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label>Reward Image</label>
											<div class="custom-file">
												<input type="file" class="custom-file-input" formControlName="rewardImage" ng2FileSelect  [uploader]="uploader" (change)="uploadSubmit('rewardImage')">
												<div class="col-lg-12 col-xl-6 col-centered" *ngIf="rewImage">
													<div class="card">
														<div class="card-body">
															<div class="card-block">
																<ngb-carousel #myCarousel="ngbCarousel">
																	<ng-template ngbSlide>
																		<img id='img-upload' class="preview" src="https://click365.com.au/usermanagement/images/CompanyLogo/{{image}}" height="50">
																	</ng-template>
																</ngb-carousel>
															</div>
														</div>
													</div>
												</div>
												<label class="custom-file-label" for="rewardImage" #companylogoLabel>Choose file</label>
											</div>
											<small class="form-text text-muted danger" *ngIf="!rewardForm.get('rewardImage').valid && (rewardForm.get('rewardImage').dirty || rewardForm.get('rewardImage').touched)">Reward Name is required!</small>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label>Reward Additional Image</label>
											<div class="custom-file">
												<input type='file' class="custom-file-input" (change)="uploadSubmit('rewardAddImage')" multiple formControlName="rewardAddImage" ng2FileSelect  [uploader]="uploader">
												<div class="col-lg-12 col-xl-6 col-centered" *ngIf="addImage">
													<div class="card">
														<div class="card-body">
															<div class="card-block">
																<ngb-carousel #myCarousel="ngbCarousel">
																	<ng-template ngbSlide *ngFor="let url of urls;let i = index">
																		<img class="preview" [src]="url" height="50" id="img-upload">
																	</ng-template>
																</ngb-carousel>
															</div>
														</div>
													</div>
												</div>
												<label class="custom-file-label" for="rewardAddImage" #rewardImages>Choose file</label>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="form-body">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="points">Points Value</label>
											<input type="number" class="form-control" id="points" formControlName="points" min="0" oninput="this.value = Math.abs(this.value)">
											<small class="form-text text-muted danger" *ngIf="!rewardForm.get('points').valid && (rewardForm.get('points').dirty || rewardForm.get('points').touched)">Reward Name is required!</small>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="memType">Membership Type</label>
											<ngx-select-dropdown [config]="config" [options]="members" formControlName="memType" (ngModelChange)="selected($event)" [multiple]="true" ></ngx-select-dropdown>
											<small class="form-text text-muted danger" *ngIf="!rewardForm.get('memType').valid && (rewardForm.get('memType').dirty || rewardForm.get('memType').touched)">Reward Name is required!</small>
										</div>
									</div>
								</div>
							</div>
							<div class="form-body">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="startTime">Start Time</label>
											<input type="datetime-local" class="form-control" id="startTime" formControlName="startTime" placeholder="YYYY-MM-DD HH:mm">
											<small class="form-text text-muted danger" *ngIf="!rewardForm.get('startTime').valid && (rewardForm.get('startTime').dirty || rewardForm.get('startTime').touched)">Reward Name is required!</small>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="endTime">End Time</label>
											<input type="datetime-local" class="form-control" id="endTime" formControlName="endTime" placeholder="YYYY-MM-DD HH:mm" min="{{rewardForm.value.startTime}}" [(ngModel)]="endTime" (change)="endDate($event.target.value)">
											<small class="form-text text-muted danger" *ngIf="!rewardForm.get('endTime').valid && (rewardForm.get('endTime').dirty || rewardForm.get('endTime').touched)">End Time is required!</small>
											<small class="form-text text-muted danger" *ngIf="error.isError">{{ error.errorMessage }}</small>
										</div>
									</div>
								</div>
							</div>
							<div class="form-body">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="startTime">Active/Inactive</label>
											<ui-switch formControlName="status" [(ngModel)]="status" (ngModelChange)="updateStatus($event)"></ui-switch>
										</div>
									</div>
								</div>
							</div>


							<div class="form-group">
								<button type="submit" class="btn btn-success btn-raised mr-1" (click)="addReward()" [disabled]="!rewardForm.valid || error.isError">Redeem Points</button>
								<button type="button" class="btn btn-danger btn-raised" (click)="cancel()">Cancel</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
<!--DataTable With Editing Feature Ends-->
</section>