<section class="basic-elements">
	<div class="row">
		<!--Tabset Starts-->
		<div class="col-md-12 col-lg-12">
			<ngb-tabset (tabChange)="selectData($event)">
				<ngb-tab title="A/B Testing Result">
					<ng-template ngbTabContent>
						<div class="row">
							<div class="col-md-12">
								<div class="card">
					        <div class="card-header">
										<div *ngIf="!successSent">
					          	A/B Test for <b>{{name}}</b> - <strong class="text-warning">In Progress.</strong>
										</div>
										<div *ngIf="successSent">
											A/B Test for <b>{{name}}</b> - <strong class="text-success">Sent Successfullly</strong>.
										</div>
										<div class="text-right" *ngIf="showmanualSent">
						          <button type="button" class="btn btn-raised btn-success" (click)="sendCampaign()">Send</button> the Winner Campaing {{winnerType}} for {{name}}
						        </div>
					        </div>
									<div class="card-body">
									<lib-highcharts-angular *ngIf="loadChart"
									  [Highcharts]="Highcharts"
									  [options]="chartOptions"
									  style="width: 100%; height: 400px; display: block;"
									></lib-highcharts-angular>
					        </div>
					      </div>
								<div class="card">
									<div class="card-body">
										<table class="table">
											<thead>
												<tr>
													<th>Campaign OverView</th>
													<th>Version A</th>
													<th>Version B</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>Opens</td>
													<td>{{campaignOverView?.openARate}}</td>
													<td>{{campaignOverView?.openBRate}}</td>
												</tr>
												<tr>
													<td>Total Clicks</td>
													<td>{{campaignOverView?.clickARate}}</td>
													<td>{{campaignOverView?.clickBRate}}</td>
												</tr>
												<tr>
													<td>Unsubscribes</td>
													<td>{{campaignOverView?.unsubscribeCountA}}</td>
													<td>{{campaignOverView?.unsubscribeCountB}}</td>
												</tr>
											</tbody>
										</table>
					        </div>
					      </div>
					    </div>
					  </div>
					</ng-template>
				</ngb-tab>
				<ngb-tab title="Overview" id="Overview" active="SelectedTab == 'Overview'" *ngIf="successSent">
					<ng-template ngbTabContent>
						<ng4-loading-spinner> </ng4-loading-spinner>
						<div class="row">
							<div class="col-xl-4 col-lg-6 col-12">
								<div class="card">
									<div class="card-body">
										<div class="px-3 py-3">
											<div class="media">
												<div class="media-body text-left align-self-center">
													<i class="icon-envelope-open info font-large-2 float-left"></i>
												</div>
												<div class="media-body text-right">
													<h3>{{openCount}}</h3>
													<span>Opened</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-4 col-lg-6 col-12">
								<div class="card">
									<div class="card-body">
										<div class="px-3 py-3">
											<div class="media">
												<div class="media-body text-left align-self-center">
													<i class="icon-link warning font-large-2 float-left"></i>
												</div>
												<div class="media-body text-right">
													<h3>{{clickCount}}</h3>
													<span>Clicked</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-4 col-lg-6 col-12">
								<div class="card">
									<div class="card-body">
										<div class="px-3 py-3">
											<div class="media">
												<div class="media-body text-left align-self-center">
													<i class="icon-envelope success font-large-2 float-left"></i>
												</div>
												<div class="media-body text-right">
													<h3>{{totalSent - openCount}}</h3>
													<span>Unopened</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-xl-6 col-lg-12 col-sm-12">
								<div class="card">
									<div class="card-header pb-0">
										<div class="card-title-wrap bar-primary">
												<h4 class="card-title">Report Detail</h4>
										</div>
									</div>
									<div class="card-body">
										<div class="card-block">
											<br/><br/>
											<p *ngIf="subjecta != ''"><b>Subject A</b>: {{subjecta}}</p><br/>
											<p *ngIf="subjectb != ''"><b>Subject B</b>: {{subjectb}}</p><br/>
											<b>Sent To</b>: {{list}}<br/>
											<b>Total Recipients</b>: {{noOfUsers}}<br/><br/>
										</div>
									</div>
									</div>
								</div>

							<div class="col-xl-6 col-lg-12">
								<div class="card">
									<div class="card-header pb-0">
										<div class="card-title-wrap bar-primary">
											<h4 class="card-title">Sends <span class="smallContent">Last sent on </span></h4>
										</div>
									</div>
									<div class="card-body">
										<div class="card-block">
											<div class="row">
												<div class="col-lg-6 col-12">
													<div class="card gradient-mint">
												        <div class="card-body">
												          <div class="px-3 py-3">
												            <div class="media">
												              <div class="align-center">
												                <i class="fas fa-check-double font-large-2 text-white"></i>
												              </div>
												              <div class="media-body text-white text-right">
												                <h3 class="text-white">{{totalSentPerc | number : '1.0-2'}}%</h3>
												                <span>Delivered</span>
												              </div>
												            </div>
												          </div>
												        </div>
												    </div>
												</div>
												<div class="col-lg-6 col-12">
													<div class="card gradient-red-pink">
												        <div class="card-body">
												          <div class="px-3 py-3">
												            <div class="media">
												              <div class="align-center">
												              	<i class="fas fa-exclamation-triangle font-large-2 text-white"></i>
												              </div>
												              <div class="media-body text-white text-right">
												                <h3 class="text-white">{{notSentPerc | number : '1.0-2'}}%</h3>
												                <span>Bounced</span>
												              </div>
												            </div>
												          </div>
												        </div>
												    </div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-12">
								<div class="card">
							        <div class="card-header">
							          <div class="card-title-wrap bar-primary">
							            <h4 class="card-title">Links</h4>
							          </div>
							        </div>
							        <div class="card-body">
							          	<div class="card-block">
											<table class="table">
												<tbody>
													<tr *ngFor="let link of links">
	                  				<td *ngIf="(link.clickCount - link.openCount) != 0 && (link.link != null && link.link != '')">
	                      				{{link.link}}
	                  				</td>
	                  				<td style="width: 100%;" *ngIf="(link.clickCount - link.openCount) != 0 && (link.link != null && link.link != '')" >
															<ngb-progressbar type="info" [value]="(link.clickCount / link.openCount) * 100" [striped]="true" [animated]="true" class="progress-bar-md"></ngb-progressbar> {{link.clickCount}} of {{link.openCount}}
	                  				</td>
	                  				<td style="width: 100%;" *ngIf="(link.clickCount - link.openCount) == 0 && (link.link != null && link.link != '')">
															<ngb-progressbar type="success" [value]="100" [striped]="true" class="progress-bar-md"></ngb-progressbar>{{link.clickCount}} of {{link.openCount}}
	                  				</td>
	              					</tr>
												</tbody>
				            	</table>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="card">
									<div class="card-header">
										<div class="card-title-wrap bar-primary">
											<h4 class="card-title">Domains</h4>
										</div>
									</div>
									<div class="card-body">
										<div class="card-block">
											<table class="table">
												<tbody>
													<tr *ngFor="let domain of domains">
														<td *ngIf="(domain.count) != 0 && (domain.domains != null && domain.domains != '')">
																{{domain.domains}}
														</td>
														<td style="width: 100%;" *ngIf="(domain.count) != 0 && (domain.domains != null && domain.domains != '')">
															<ngb-progressbar type="success" [value]="(domain.count / noOfUsers) * 100" [striped]="true" class="progress-bar-md"></ngb-progressbar> {{domain.count}} of {{noOfUsers}}
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</ng-template>
				</ngb-tab>
				<ngb-tab title="Link" id="Link" active="SelectedTab == 'Link'" *ngIf="successSent">
					<ng-template ngbTabContent>
						<ng4-loading-spinner> </ng4-loading-spinner>
						<div class="card">
					        <div class="card-header">
					          <div class="card-title-wrap bar-primary">
					            <h4 class="card-title">Links</h4>
					          </div>
					        </div>
					        <div class="card-body">
					         	<div class="card-block">
											<table class="table">
												<tbody>
													<tr *ngFor="let link of links">
		 											 <td *ngIf="(link.clickCount - link.openCount) != 0 && (link.link != null && link.link != '')">
		 													 {{link.link}}
		 											 </td>
													 <td style="width: 100%;" *ngIf="(link.clickCount - link.openCount) != 0 && (link.link != null && link.link != '')" >
														 <ngb-progressbar type="info" [value]="(link.clickCount / link.openCount) * 100" [striped]="true" [animated]="true" class="progress-bar-md"></ngb-progressbar> {{link.clickCount}} of {{link.openCount}}
													 </td>
													 <td style="width: 100%;" *ngIf="(link.clickCount - link.openCount) == 0 && (link.link != null && link.link != '')">
														 <ngb-progressbar type="success" [value]="100" [striped]="true" class="progress-bar-md"></ngb-progressbar>{{link.clickCount}} of {{link.openCount}}
													 </td>
		 										 </tr>
											</tbody>
			            	</table>
									</div>
								</div>
						</div>
					</ng-template>
				</ngb-tab>
				<ngb-tab title="Domain" id="Domain" active="SelectedTab == 'Domain'" *ngIf="successSent">
					<ng-template ngbTabContent>
						<ng4-loading-spinner> </ng4-loading-spinner>
						<div class="card">
							<div class="card-header">
								<div class="card-title-wrap bar-primary">
									<h4 class="card-title">Domains</h4>
								</div>
							</div>
							<div class="card-body">
								<div class="card-block">
									<table class="table">
										<tbody>
											<tr *ngFor="let domain of domains">
												<td *ngIf="(domain.count) != 0 && (domain.domains != null && domain.domains != '')">
														{{domain.domains}}
												</td>
												<td style="width: 100%;" *ngIf="(domain.count) != 0 && (domain.domains != null && domain.domains != '')">
													<ngb-progressbar type="success" [value]="(domain.count / noOfUsers) * 100" [striped]="true" class="progress-bar-md"></ngb-progressbar> {{domain.count}} of {{noOfUsers}}
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</ng-template>
				</ngb-tab>
				<ngb-tab title="Activity" id="Activity" active="SelectedTab == 'Activity'" *ngIf="successSent">
					<ng-template ngbTabContent>
						<ng4-loading-spinner> </ng4-loading-spinner>
						<div class="card">
							<div class="card-header">
								<div class="card-title-wrap bar-success">
									<button type="button" class="btn btn-info btn-raised" (click)="openSubscriberList()" style="margin-right: 14px;">Opens</button>
			    				<button type="button" class="btn btn-primary btn-raised" (click)="clickSubscriberList()" style="margin-right: 14px;">Clicks</button>
									<button type="button" class="btn btn-warning btn-raised" (click)="unSubscriberList()" style="margin-right: 14px;">Unsubscribers</button>
								</div>
							</div>
							<div class="card-body" *ngIf="openCountTable">
								<div class="card-block">
									<table class="table table-responsive-sm">
											<thead>
													<tr>
															<th>First Name</th>
															<th>Last Name</th>
															<th>Email</th>
															<th>DateTime</th>
													</tr>
											</thead>
											<tbody >
													<tr *ngFor="let data of openSubscribers">
															<td>{{data.firstName}}</td>
															<td>{{data.lastName}}</td>
															<td>{{data.email}}</td>
															<td>{{data.dateTime}}</td>
													</tr>
											</tbody>
										</table>
								</div>
							</div>

							<div class="card-body" *ngIf="clickCountTable">
								<div class="card-block">
									<table class="table table-responsive-sm">
											<thead>
													<tr>
															<th>LinkCount</th>
															<th>Link</th>
															<th>Name</th>
													</tr>
											</thead>
											<tbody>
													<tr *ngFor="let data of clickSubscribers">
															<td>{{data.linkCount}}</td>
															<td>{{data.link}}</td>
															<td>{{data.name}}</td>
													</tr>
											</tbody>
										</table>
								</div>
							</div>

							<div class="card-body" *ngIf="unsubscriberTable">
								<div class="card-block">
									<table class="table table-responsive-sm">
											<thead>
													<tr>
															<th>FirstName</th>
															<th>LastName</th>
															<th>Email</th>
															<th>UnsubscribeDate</th>
													</tr>
											</thead>
											<tbody>
													<tr *ngFor="let data of campaignUnsubscribers">
															<td>{{data.firstName}}</td>
															<td>{{data.lastName}}</td>
															<td>{{data.email}}</td>
															<td>{{data.unsubscribe_date}}</td>
													</tr>
											</tbody>
										</table>
								</div>
							</div>
						</div>
					</ng-template>
				</ngb-tab>
			</ngb-tabset>
		</div>
	</div>
</section>
