

<div class="row">
   <div class="col-sm-12">
      <div class="content-header">Edit User</div>
   </div>
</div>
<div class="row">
   <div class="col-sm-12">
      <div class="card">
         <div class="card-body">
            <div class="card-block">
               <div class="row">
                  <div class="col-xl-3">
                     <a class="profile-image">
                     <img src="{{userImage}}" class="rounded-circle img-border gradient-summer width-200">
                     </a>
                  </div>
                  <div class="col-xl-3">
                     <ul style="list-style: none !important;">
                        <li class="text-uppercase font-medium-3">{{userModel.name}}</li>
                        <li><i class="fas fa-mobile-alt"></i> {{userModel.phone}}</li>
                        <li><i class="fas fa-location-arrow"></i> {{userModel.address}}</li>
                     </ul>
                  </div>
                  <div class="col-xl-6">
                     <ul style="list-style: none !important;">
                        <li class="text-uppercase">List Subscription Count : {{listSubCount}}</li>
                        <li class="text-uppercase" *ngFor="let detail of newsLetterDetails">{{detail.text}} : {{detail.count}}</li>
                     </ul>
                     <!-- <div class="row">
                        <div class="col-xl-3 col-lg-6 col-12">
                          <div class="card">
                            <div class="card-body">
                              <div class="media align-items-stretch">
                                <div class="p-2 text-center rounded-left pt-3 bg-info">
                                  <i class="fa-list font-large-2 text-white"></i>
                                </div>
                                <div class="p-2 media-body">
                                  <h6>List Subscription Count</h6>
                                  <h5 class="text-bold-400 mb-0">{{listSubCount}}</h5>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-12" *ngFor="let detail of newsLetterDetails">
                          <div class="card">
                            <div class="card-body">
                              <div class="px-3 py-3">
                                <div class="media">
                                  <div class="media-body text-left align-self-center">
                                    <i class="icon-pencil info font-large-2 float-left"></i>
                                  </div>
                                  <div class="media-body text-right">
                                    <h3>{{detail.count}}</h3>
                                    <span>{{detail.text}}</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        </div> -->
                  </div>
                  <ngb-tabset>
                     <ngb-tab title="Overview">
                        <ng-template ngbTabContent>
                           <form #edituser="ngForm" class="editForm" novalidate>
                              <!-- <form #edituser="ngForm" class="editForm" *ngIf="!isSuperAdmin" novalidate> -->
                              <div class="row">
                                 <div class="col-md-6">
                                    <div class="form-group">
                                       <label>Username</label>
                                       <input required [(ngModel)]="userModel.username" name="username" #username="ngModel"  [ngClass]="{ 'is-invalid': edituser.submitted && username.invalid }" class="form-control" id="username" placeholder="Enter Username" type="text">
                                       <small class="form-text text-muted danger" *ngIf="edituser.submitted && username.invalid">Please enter a valid username!</small>
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="form-group">
                                       <label>Password</label>
                                       <input required [(ngModel)]="userModel.password" [ngClass]="{ 'is-invalid': edituser.submitted && password.invalid }" class="form-control" id="password" name="password" #password="ngModel" placeholder="Enter Password" minlength="4" maxlength="24" type="password">
                                       <small class="form-text text-muted danger" *ngIf="password.errors?.minlength">Password characters length must be between 4 and 24 !</small>
                                    </div>
                                 </div>
                              </div>
                              <div class="row">
                                 <div class="col-md-6">
                                    <div class="form-group">
                                       <label>First Name</label>
                                       <input required [(ngModel)]="userModel.firstName" #firstName="ngModel" [ngClass]="{ 'is-invalid': edituser.submitted && firstName.invalid }" class="form-control" id="firstName" name="firstName" placeholder="Enter First Name" type="text">
                                       <small class="form-text text-muted danger" *ngIf="edituser.submitted && firstName.invalid">Please enter a valid firstName!</small>
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="form-group">
                                       <label>Last Name</label>
                                       <input required [(ngModel)]="userModel.lastName" #lastName="ngModel" [ngClass]="{ 'is-invalid': edituser.submitted && lastName.invalid }" class="form-control" id="lastName" name="lastName" placeholder="Enter Last Name" type="text">
                                       <small class="form-text text-muted danger" *ngIf="edituser.submitted && lastName.invalid">Please enter a valid lastName!</small>
                                    </div>
                                 </div>
                              </div>
                              <div class="row">
                                 <div class="col-md-6">
                                    <div class="form-group">
                                       <label>Email</label>
                                       <input required [(ngModel)]="userModel.email" #email="ngModel" [ngClass]="{ 'is-invalid': edituser.submitted && email.invalid }" class="form-control" id="email" name="email" email placeholder="Enter Email" type="email">
                                       <small class="form-text text-muted danger" *ngIf="edituser.submitted && email.invalid">Please enter a valid email!</small>
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="form-group">
                                       <label>DOB</label>
                                       <input required [(ngModel)]="userModel.dob" #dob="ngModel" [ngClass]="{ 'is-invalid': edituser.submitted && dob.invalid }" class="form-control" id="dob" name="dob" type="date">
                                       <small class="form-text text-muted danger" *ngIf="edituser.submitted && dob.invalid">Please enter a valid dob!</small>
                                    </div>
                                 </div>
                              </div>
                              <div class="row">
                                 <div class="col-md-6">
                                    <div class="form-group">
                                       <label class>Gender</label>
                                       <div class="custom-control custom-radio display-block">
                                          <input type="radio" id="Female"  value="Female" name="genderRadios" #genderRadios="ngModel" class="custom-control-input" required [(ngModel)]="userModel.genderRadios" [ngClass]="{ 'is-invalid': edituser.submitted && genderRadios.invalid }">
                                          <label class="custom-control-label" for="Female">Female</label>
                                       </div>
                                       <div class="custom-control custom-radio display-block">
                                          <input type="radio" id="Male" value="Male" name="genderRadios" #genderRadios="ngModel" class="custom-control-input" required [(ngModel)]="userModel.genderRadios" [ngClass]="{ 'is-invalid': edituser.submitted && genderRadios.invalid }">
                                          <label class="custom-control-label" for="Male">Male</label>
                                       </div>
                                       <small class="form-text text-muted danger" *ngIf="edituser.submitted && genderRadios.invalid">Please choose Gender!</small>
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="form-group">
                                       <label>Phone</label>
                                       <input required [(ngModel)]="userModel.phone" #phone="ngModel" [ngClass]="{ 'is-invalid': edituser.submitted && phone.invalid }" class="form-control" id="phone" name="phone" type="text" maxlength="10" (keypress)="isNumberKey($event)">
                                       <small class="form-text text-muted danger" *ngIf="edituser.submitted && phone.invalid">Please enter valid phone number!</small>
                                    </div>
                                 </div>
                              </div>
                              <div class="row">
                                 <div class="col-md-6">
                                    <div class="form-group">
                                       <label>Address</label>
                                       <input required [(ngModel)]="userModel.address" #address="ngModel" [ngClass]="{ 'is-invalid': edituser.submitted && address.invalid }" class="form-control" id="address" name="address" ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"/>
                                       <small class="form-text text-muted danger" *ngIf="edituser.submitted && address.invalid">Please enter a valid address!</small>
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="form-group">
                                       <label>Select Membership</label>
                                       <select required [(ngModel)]="userModel.membership" [ngClass]="{ 'is-invalid': edituser.submitted && membership.invalid }" class="form-control" id="membership" #membership="ngModel" name="membership">
                                       <option value=''>Select List</option>
                                       <option *ngFor="let member of members" value="{{member.id}}">{{member.plans}}</option>
                                       </select>
                                       <small class="form-text text-muted danger" *ngIf="(edituser.submitted && membership.invalid && membership.value == '')">Please select a Membership.</small>
                                    </div>
                                 </div>
                              </div>
                              <div class="row" *ngIf="extraFields">
                                 <div class="col-md-12">
                                    <h4 class="form-section">Extra Fields</h4>
                                    <div class="row">
                                       <div class="col-md-6" *ngFor="let field of addFields;let i = index">
                                          <div class="form-group" *ngIf="field.fieldType == 'text'">
                                             <label>{{field.label}}</label>
                                             <input class="form-control"  name="{{field.fieldName}}" value="{{field.valuesBind}}" [(ngModel)]="field.valuesBind" type="text" minlength="1" maxlength="{{field.length}}" [required]="field.mandatory" (change)="fieldValueChange(field.id,$event.target.value, field.fieldName)">
                                             <small *ngIf="field.validation || edituser.submitted && (field.fieldName.invalid)" class="form-text text-muted danger">{{field.validationMsg}}</small>
                                          </div>
                                          <div class="form-group" *ngIf="field.fieldType == 'date'">
                                             <label>{{field.label}}</label>
                                             <input class="form-control" name="{{field.fieldName}}" value="{{field.valuesBind}}" [(ngModel)]="field.valuesBind" type="date" [required]="field.mandatory" (change)="fieldValueChange(field.id,$event.target.value, field.fieldName)">
                                             <small *ngIf="field.validation || edituser.submitted && (dateValue.invalid)" class="form-text text-muted danger">{{field.validationMsg}}</small>
                                          </div>
                                          <div class="form-group" *ngIf="field.fieldType == 'number'">
                                             <label>{{field.label}}</label>
                                             <input class="form-control" value="{{field.valuesBind}}" name="{{field.fieldName}}" #numbererrorValue="ngModel" [(ngModel)]="field.valuesBind" minlength="0" maxlength="{{field.length}}" #numbererrorValue="ngModel" [required]="field.mandatory" (change)="fieldValueChange(field.id,$event.target.value, field.fieldName)" (keypress)="isNumberKey($event)">
                                             <!-- <input class="form-control" name="numberValue" [(ngModel)]="lists.numberValue" *ngIf="field.length == '' && field.length <= 0" type="text" pattern="[0-9]" [required]="field.mandatory" (change)="fieldValueChange(field.id,$event.target.value, field.fieldName)"> -->
                                             <small *ngIf="field.length != '' && field.length > 0" class="form-text text-muted danger">Field Length Should not exceed {{field.length}}</small>
                                             <small *ngIf="field.validation || edituser.submitted && (numbererrorValue.errors)" class="form-text text-muted danger">{{field.validationMsg}}</small>
                                          </div>
                                          <div class="form-group" *ngIf="field.fieldType == 'float'">
                                             <label>{{field.label}}</label>
                                             <input class="form-control" value="{{field.valuesBind}}" name="{{field.fieldName}}" #floaterrorValue="ngModel" [(ngModel)]="field.valuesBind" minlength="0" maxlength="{{field.length}}" #floaterrorValue="ngModel" [required]="field.mandatory" (change)="fieldValueChange(field.id,$event.target.value, field.fieldName)" (keypress)="isNumberKey($event)">
                                             <!-- <input class="form-control" name="floatValue" [(ngModel)]="lists.floatValue" maxlength="{{field.length}}" *ngIf="field.length != '' && field.length > 0" pattern="/^[0-9]+(\.[0-9]{1,2})?$/" (change)="fieldValueChange(field.id,$event.target.value, field.fieldName)" type="text" [required]="field.mandatory">
                                                <input class="form-control" name="floatValue" [(ngModel)]="lists.floatValue" *ngIf="field.length == '' && field.length <= 0" pattern="/^[0-9]+(\.[0-9]{1,2})?$/" (change)="fieldValueChange(field.id,$event.target.value, field.fieldName)" type="text" [required]="field.mandatory"> -->
                                             <small *ngIf="field.length != '' && field.length > 0" class="form-text text-muted danger">Field Length Should not exceed {{field.length}}</small>
                                             <small *ngIf="field.validation || edituser.submitted && (floaterrorValue.errors)" class="form-text text-muted danger">{{field.validationMsg}}</small>
                                          </div>
                                          <div class="form-group" *ngIf="field.fieldType == 'toggle'">
                                             <label>{{field.label}}</label>
                                             <ui-switch name="{{field.fieldName}}" [(ngModel)]="field.valuesBind"  (change)="fieldValueChange(field.id,$event, field.fieldName)" [required]="field.mandatory"></ui-switch>
                                             <small *ngIf="field.validation || edituser.submitted && (toggleValue.invalid)" class="form-text text-muted danger">{{field.validationMsg}}</small>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <small class="form-text text-muted danger" *ngIf="usernameerror">Username Already Exists.<br/><br/></small>
                              <small class="form-text text-muted danger" *ngIf="emailerror">Email Already Exists.<br/><br/></small>
                              <small class="form-text text-muted danger" *ngIf="dateerror">Your age must be 18 or older.<br/><br/></small>
                              <div class="form-group">
                                 <button type="button" class="btn btn-danger btn-raised  mr-1" (click)="cancelEdit()">Cancel</button>
                                 <button type="submit" class="btn btn-success btn-raised" [disabled]="!edituser.valid" (click)="onReactiveFormSubmit()">Submit <i *ngIf="submitted" class="fas fa-spinner fa fa-spin"></i></button>
                              </div>
                           </form>
                           <!-- <form #edituser="ngForm" class="editForm" novalidate>
                              <div class="row">
                                 <div class="col-sm-6">
                                    <div class="form-group">
                                       <label>Username</label>
                                       <input class="form-control" id="username" name="username" [(ngModel)]="userModel.username" [ngClass]="{ 'is-invalid': edituser.submitted && username.invalid }" placeholder="Enter Username" type="text" required>
                                       <small class="form-text text-muted danger" *ngIf="edituser.submitted && username.invalid">Please enter a valid username!</small>
                                    </div>
                                 </div>
                                 <div class="col-sm-6">
                                    <div class="form-group">
                                       <label>Password</label>
                                       <input class="form-control" id="password" name="password" [(ngModel)]="userModel.password" [ngClass]="{ 'is-invalid': edituser.submitted && password.invalid }" placeholder="Enter Password" type="password" required>
                                       <small class="form-text text-muted danger" *ngIf="edituser.submitted && password.invalid">Please enter a valid password!</small>
                                    </div>
                                 </div>
                              </div>
                              <div class="row">
                                 <div class="col-sm-6">
                                    <div class="form-group">
                                       <label>First Name</label>
                                       <input class="form-control" id="firstName" name="firstName" [(ngModel)]="userModel.firstName" [ngClass]="{ 'is-invalid': edituser.submitted && firstName.invalid }" placeholder="Enter First Name" type="text" required>
                                       <small class="form-text text-muted danger" *ngIf="edituser.submitted && firstName.invalid">Please enter a valid firstName!</small>
                                    </div>
                                 </div>
                                 <div class="col-sm-6">
                                    <div class="form-group">
                                       <label>Last Name</label>
                                       <input class="form-control" id="lastName" name="lastName" [(ngModel)]="userModel.lastName" [ngClass]="{ 'is-invalid': edituser.submitted && lastName.invalid }" placeholder="Enter Last Name" type="text" required>
                                       <small class="form-text text-muted danger" *ngIf="edituser.submitted && lastName.invalid">Please enter a valid lastName!</small>
                                    </div>
                                 </div>
                              </div>
                              <div class="row">
                                 <div class="col-sm-6">
                                    <div class="form-group">
                                       <label>Email</label>
                                       <input class="form-control" id="email" name="email" [(ngModel)]="userModel.email" [ngClass]="{ 'is-invalid': edituser.submitted && email.invalid }" placeholder="Enter Email" type="email" required>
                                       <small class="form-text text-muted danger" *ngIf="edituser.submitted && email.invalid">Please enter a valid email!</small>
                                    </div>
                                 </div>
                                 <div class="col-sm-6">
                                    <div class="form-group">
                                       <label>DOB</label>
                                       <input class="form-control" id="dob" name="dob" [(ngModel)]="userModel.dob" [ngClass]="{ 'is-invalid': edituser.submitted && dob.invalid }" type="date" required>
                                       <small class="form-text text-muted danger" *ngIf="edituser.submitted && dob.invalid">Please enter a valid dob!</small>
                                    </div>
                                 </div>
                              </div>
                              <div class="row">
                                 <!-- <div class="col-sm-6">
                                    <div class="form-group">
                                       <label class>Gender</label>
                                       <div class="custom-control custom-radio display-block">
                                          <input type="radio" id="genderRadios1" [checked]="gender == 'Female'" value="Female" name="genderRadios" [(ngModel)]="userModel.genderRadios" [ngClass]="{ 'is-invalid': edituser.submitted && genderRadios.invalid }" class="custom-control-input">
                                          <label class="custom-control-label" for="genderRadios1">Female</label>
                                       </div>
                                       <div class="custom-control custom-radio display-block">
                                          <input type="radio" id="genderRadios2" [checked]="gender == 'Male'" value="Male" name="genderRadios" [(ngModel)]="userModel.genderRadios" [ngClass]="{ 'is-invalid': edituser.submitted && genderRadios.invalid }" class="custom-control-input">
                                          <label class="custom-control-label" for="genderRadios2">Male</label>
                                       </div>
                                       <small class="form-text text-muted danger" *ngIf="edituser.submitted && genderRadios.invalid">Please choose Gender!</small>
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                   <div class="form-group">
                                       <label class>Gender</label>
                                       <div class="custom-control custom-radio display-block">
                                           <input type="radio" id="F"  value="Female" name="genderRadios" class="custom-control-input" required [(ngModel)]="userModel.genderRadios" [ngClass]="{ 'is-invalid': edituser.submitted && genderRadios.invalid }">
                                           <label class="custom-control-label" for="F">Female</label>
                                       </div>
                                       <div class="custom-control custom-radio display-block">
                                           <input type="radio" id="M" value="Male" name="genderRadios" class="custom-control-input" required [(ngModel)]="userModel.genderRadios" [ngClass]="{ 'is-invalid': edituser.submitted && genderRadios.invalid }">
                                           <label class="custom-control-label" for="M">Male</label>
                                       </div>
                                       <small class="form-text text-muted danger" *ngIf="edituser.submitted && genderRadios.invalid">Please choose Gender!</small>
                                   </div>
                                 </div>
                                 <div class="col-sm-6">
                                    <div class="form-group">
                                       <label>Phone</label>
                                       <input class="form-control" id="phone" name="phone" [(ngModel)]="userModel.phone" [ngClass]="{ 'is-invalid': edituser.submitted && phone.invalid }" type="text" required>
                                       <small class="form-text text-muted danger" *ngIf="edituser.submitted && phone.invalid">Please enter valid phone number!</small>
                                    </div>
                                 </div>
                              </div>
                              <div class="row">
                                <div class="col-sm-6">
                                  <div class="form-group">
                                     <label>Address</label>
                                     <input class="form-control" id="address" name="address" [(ngModel)]="userModel.address" [ngClass]="{ 'is-invalid': edituser.submitted && address.invalid }" ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"/>
                                     <small class="form-text text-muted danger" *ngIf="edituser.submitted && address.invalid">Please enter a valid address!</small>
                                  </div>
                                </div>
                              </div>

                              <div class="row" *ngIf="extraFields">
                                <div class="col-md-12">
                                  <h4 class="form-section">
                                  <i class="fa-th-list"></i> Extra Fields</h4>
                                  <div class="row">
                                    <div class="col-md-6" *ngFor="let field of addFields;let i = index">
                                      <div class="form-group" *ngIf="field.fieldType == 'text'">
                                        <label>{{field.label}}</label>
                                        <input class="form-control" name="{{field.fieldName}}" [(ngModel)]="field.fieldName" minlength="1" maxlength="{{field.length}}" type="text" [required]="field.mandatory" (change)="fieldValueChange(field.id,$event.target.value, field.fieldName)">
                                        <small *ngIf="field.validation && (edituser.submitted && textValue.invalid)" class="form-text text-muted danger">{{field.validationMsg}}</small>
                                      </div>
                                      <div class="form-group" *ngIf="field.fieldType == 'date'">
                                        <label>{{field.label}}</label>
                                        <input class="form-control" name="{{field.fieldName}}" [(ngModel)]="field.fieldName" #dateerrorValue="ngModel" type="date" [required]="field.mandatory" (change)="fieldValueChange(field.id,$event.target.value, field.fieldName)">
                                        <small *ngIf="field.validation && (edituser.submitted && dateerrorValue.invalid)" class="form-text text-muted danger">{{field.validationMsg}}</small>
                                      </div>
                                      <div class="form-group" *ngIf="field.fieldType == 'number'">
                                        <label>{{field.label}}</label>
                                        <input class="form-control" name="{{field.fieldName}}" [(ngModel)]="field.fieldName" minlength="0" maxlength="{{field.length}}" #numbererrorValue="ngModel" [required]="field.mandatory" (change)="fieldValueChange(field.id,$event.target.value, field.fieldName)">
                                        <!-- <input class="form-control" name="numberValue" [(ngModel)]="numberValue_i" *ngIf="field.length == '' && field.length <= 0" type="text" pattern="[0-9]" [required]="field.mandatory" (change)="fieldValueChange(field.id,$event.target.value, field.fieldName)">
                                        <small *ngIf="field.length != '' && field.length > 0" class="form-text text-muted danger">Field Length Should not exceed {{field.length}}</small>
                                        <small *ngIf="field.validation && (edituser.submitted && numbererrorValue.errors)" class="form-text text-muted danger">{{field.validationMsg}}</small>
                                      </div>
                                      <div class="form-group" *ngIf="field.fieldType == 'float'">
                                        <label>{{field.label}}</label>
                                        <input class="form-control" name="{{field.fieldName}}" [(ngModel)]="field.fieldName" minlength="0" maxlength="{{field.length}}" #floaterrorValue="ngModel" [required]="field.mandatory" (change)="fieldValueChange(field.id,$event.target.value, field.fieldName)">
                                        <!-- <input class="form-control" name="floatValue" [(ngModel)]="floatValue_i" maxlength="{{field.length}}" *ngIf="field.length != '' && field.length > 0" pattern="/^[0-9]+(\.[0-9]{1,2})?$/" (change)="fieldValueChange(field.id,$event.target.value, field.fieldName)" type="text" [required]="field.mandatory">
                                        <input class="form-control" name="floatValue" [(ngModel)]="floatValue_i" *ngIf="field.length == '' && field.length <= 0" pattern="/^[0-9]+(\.[0-9]{1,2})?$/" (change)="fieldValueChange(field.id,$event.target.value, field.fieldName)" type="text" [required]="field.mandatory">
                                        <small *ngIf="field.length != '' && field.length > 0" class="form-text text-muted danger">Field Length Should not exceed {{field.length}}</small>
                                        <small *ngIf="field.validation && (edituser.submitted && floaterrorValue.errors)" class="form-text text-muted danger">{{field.validationMsg}}</small>
                                      </div>
                                      <div class="form-group" *ngIf="field.fieldType == 'toggle'">
                                          <label>{{field.label}}</label>
                                          <ui-switch name="{{field.fieldName}}" [(ngModel)]="field.fieldName" (change)="fieldValueChange(field.id,$event, field.fieldName)" [required]="field.mandatory"></ui-switch>
                                          <small *ngIf="field.validation && (edituser.submitted && toggleValue.invalid)" class="form-text text-muted danger">{{field.validationMsg}}</small>
                                        </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <small class="form-text text-muted danger" *ngIf="dateerror">Your age must be 18 or older.<br/><br/></small>
                              <div class="form-group">
                                 <!-- <button type="button" class="btn btn-danger btn-raised  mr-1" (click)="cancelEdit()">Cancel</button>
                                 <button type="submit" class="btn btn-success btn-raised" (click)="onReactiveFormSubmit()" [disabled]="!edituser.valid || submitted">Submit <i *ngIf="submitted" class="fas fa-spinner fa fa-spin"></i></button>
                              </div>
                              </form> -->
                        </ng-template>
                     </ngb-tab>
                     <ngb-tab title="List Memberships">
                        <ng-template ngbTabContent>
                           <div class="row">
                              <div class="col-sm-12">
                                 <p class="font-large-1">List Subscription By {{user.name}}</p>
                                 <div class="row">
                                    <div class="col-sm-6">
                                       <div class="form-group">
                                          <label>Subscriber List</label>
                                          <ngx-select-dropdown [config]="config" [options]="listDetails" name="sublistid" [(ngModel)]="listSubid.sublistid" (ngModelChange)="selected($event)" [multiple]="true" ></ngx-select-dropdown>
                                          <!-- <select class="form-control" id="sublistid" name="sublistid" [(ngModel)]="listSubid.sublistid">
                                             <option selected value="">Select List</option>
                                             <option *ngFor="let list of listDetails" value="{{list.id}}">{{list.name}}</option>
                                             </select> -->
                                       </div>
                                    </div>
                                    <div class="col-sm-6">
                                       <button type="submit" class="btn btn-success btn-raised" (click)="subscribeUsers()" [disabled]="listSubid.sublistid == ''">Subscriber User</button>
                                    </div>
                                 </div>
                                 <div class="card">
                                    <div class="card-body">
                                       <div class="card-block">
                                          <!-- <form (ngSubmit)="editSubscription()"> -->
                                          <div class="row" *ngFor="let list of listSub">
                                             <div class="col-md-6">
                                                <div class="form-group">
                                                   <label>Subscribed To {{list.list}}</label>
                                                </div>
                                             </div>
                                             <div class="col-md-6">
                                                <div class="form-group">
                                                   <ui-switch [(ngModel)]="list.subscribe" (ngModelChange)="unsubscribe($event, list.subid, list.id)"></ui-switch>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </ng-template>
                     </ngb-tab>
                     <ngb-tab title="Loyalty Points">
                        <ng-template ngbTabContent>
                           <p class="font-large-1">Loyaty Points Redeemed By {{user.name}}</p>
                           <div class="card">
                              <div class="card-body">
                                 <div class="card-block">
                                    <ngx-datatable class="material" class="bootstrap" [rows]="loyaltyPointDisplay" [columns]="loyaltyPointsColumns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [sorts]="[{prop: ['loyalty', 'points_redeemed', 'remaining_points', 'redeemed_on'], dir: 'desc'}]" [limit]="10">
                                    <ngx-datatable-column name="Loyalty">
                                       <ng-template let-row="row" ngx-datatable-cell-template>
                                          {{row.loyalty}}
                                       </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Redeemed Points">
                                       <ng-template let-row="row" ngx-datatable-cell-template>
                                          {{row.points_redeemed}}
                                       </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Remaining Points">
                                       <ng-template let-row="row" ngx-datatable-cell-template>
                                          {{row.remaining_points}}
                                       </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Redeemed On">
                                       <ng-template let-row="row" ngx-datatable-cell-template>
                                          {{row.redeemed_on | date: 'MM/dd/yyyy'}}
                                       </ng-template>
                                    </ngx-datatable-column>
                                    </ngx-datatable>
                                 </div>
                              </div>
                           </div>
                           <div class="card">
                              <div class="card-body">
                                 <div class="card-block">
                                    <p class="font-large-1">Loyaty Points Earned By {{user.name}}</p>
                                    <ngx-datatable class="material" class="bootstrap" [rows]="loyaltyPointEarned" [columns]="loyaltyPointsEarnedColumns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [sorts]="[{prop: ['loyalty', 'points_redeemed', 'remaining_points', 'redeemed_on'], dir: 'desc'}]" [limit]="10">
                                    <ngx-datatable-column name="Loyalty">
                                       <ng-template let-row="row" ngx-datatable-cell-template>
                                          {{row.loyalty}}
                                       </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Points Earned">
                                       <ng-template let-row="row" ngx-datatable-cell-template>
                                          {{row.points}}
                                       </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Transaction Id">
                                       <ng-template let-row="row" ngx-datatable-cell-template>
                                          {{row.points}}
                                       </ng-template>
                                    </ngx-datatable-column>
                                    </ngx-datatable>
                                 </div>
                              </div>
                           </div>
                        </ng-template>
                     </ngb-tab>
                     <ngb-tab title="Transactions">
                        <ng-template ngbTabContent>
                           <p class="font-large-1">Transaction Of {{user.name}}</p>
                           <div class="card">
                              <div class="card-body">
                                 <div class="card-block">
                                    <ngx-datatable #table class='bootstrap' [columns]="transactionColumns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10"></ngx-datatable>
                                 </div>
                              </div>
                           </div>
                        </ng-template>
                     </ngb-tab>
                  </ngb-tabset>
               </div>
            </div>
         </div>
      </div>
   </div>
   <section id="user-area">
      <div id="timeline">
         <div class="card">
            <div class="card-header">
               <div class="card-title-wrap bar-primary">
                  <div class="card-title">User Timeline</div>
               </div>
            </div>
            <div class="card-body">
               <div class="card-block">
                  <div class="timeline">
                     <div class="timeline-title badge-pill badge-info d-inline-block px-3 py-1 mb-4 mx-5">Newsletters</div>
                     <ul class="list-unstyled base-timeline activity-timeline">
                        <li class="" *ngFor="let timeLine of timeLines">
                           <div class="timeline-icon bg-primary" *ngIf="timeLine.type == 'newsletter'">
                              <i class="fa fa-envelope"></i>
                           </div>
                           <div class="act-time" *ngIf="timeLine.type == 'newsletter'">{{timeLine.dateTime}}</div>
                           <div class="base-timeline-info" *ngIf="timeLine.type == 'newsletter'">
                              <a class="text-uppercase text-primary">{{timeLine.name}}</a>
                              <span class="d-block">{{timeLine.description}}</span>
                           </div>
                        </li>
                     </ul>
                     <br>
                     <div class="timeline-title badge-pill badge-info d-inline-block px-3 py-1 mb-4 mx-5">Loyalty Points Redeemed</div>
                     <ul class="list-unstyled base-timeline activity-timeline">
                        <li class="" *ngFor="let timeLine of timeLines">
                           <div class="timeline-icon bg-primary" *ngIf="timeLine.type == 'loyalty'">
                              <i class="fa fa-gift"></i>
                           </div>
                           <div class="act-time" *ngIf="timeLine.type == 'loyalty'">{{timeLine.dateTime}}</div>
                           <div class="base-timeline-info" *ngIf="timeLine.type == 'loyalty'">
                              <a class="text-uppercase text-primary">{{timeLine.name}}</a>
                              <span class="d-block">{{timeLine.description}}</span>
                           </div>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
</div>
<!-- <div class="row" style="display: none;">
   <div class="col-sm-12">
       <div class="card">
           <div class="card-body">
               <div class="card-block">
                   <form [formGroup]="regularForm" (ngSubmit)="onReactiveFormSubmit()" novalidate>
                       <div class="form-group">
                           <label>Username</label>
                           <input class="form-control" id="username" name="username" placeholder="Enter Username" type="text">
                           <small class="form-text text-muted danger" *ngIf="!regularForm.get('username').valid && (regularForm.get('username').dirty || regularForm.get('username').touched)">Please enter a valid username!</small>
                       </div>

                       <div class="form-group">
                           <label>Password</label>
                           <input class="form-control" id="password" name="password" placeholder="Enter Password" type="password">
                           <small class="form-text text-muted danger" *ngIf="!regularForm.get('password').valid && (regularForm.get('password').dirty || regularForm.get('password').touched)">Please enter a valid password!</small>
                       </div>

                       <div class="form-group">
                           <label>First Name</label>
                           <input class="form-control" id="firstName" name="firstName" placeholder="Enter First Name" type="text">
                           <small class="form-text text-muted danger" *ngIf="!regularForm.get('firstName').valid && (regularForm.get('firstName').dirty || regularForm.get('firstName').touched)">Please enter a valid firstName!</small>
                       </div>

                       <div class="form-group">
                           <label>Last Name</label>
                           <input class="form-control" id="lastName" name="lastName" placeholder="Enter Last Name" type="text">
                           <small class="form-text text-muted danger" *ngIf="!regularForm.get('lastName').valid && (regularForm.get('lastName').dirty || regularForm.get('lastName').touched)">Please enter a valid lastName!</small>
                       </div>

                       <div class="form-group">
                           <label>Email</label>
                           <input class="form-control" id="email" name="email" placeholder="Enter Email" type="email">
                           <small class="form-text text-muted danger" *ngIf="!regularForm.get('email').valid && (regularForm.get('email').dirty || regularForm.get('email').touched)">Please enter a valid email!</small>
                       </div>

                       <div class="form-group">
                           <label>DOB</label>
                           <input class="form-control" id="dob" name="dob" type="date">
                           <small class="form-text text-muted danger" *ngIf="!regularForm.get('dob').valid && (regularForm.get('dob').dirty || regularForm.get('dob').touched)">Please enter a valid dob!</small>
                       </div>

                       <div class="form-group">
                           <label class>Gender</label>
                           <div class="custom-control custom-radio display-block">
                               <input type="radio" id="genderRadios1" checked="{{gender == 'F'}}" value="Female" name="genderRadios" class="custom-control-input">
                               <label class="custom-control-label" for="genderRadios1">Female</label>
                           </div>
                           <div class="custom-control custom-radio display-block">
                               <input type="radio" id="genderRadios2" checked="{{gender == 'M'}}" value="Male" name="genderRadios" class="custom-control-input">
                               <label class="custom-control-label" for="genderRadios2">Male</label>
                           </div>
                           <small class="form-text text-muted danger" *ngIf="!regularForm.get('genderRadios').valid && (regularForm.get('genderRadios').dirty || regularForm.get('genderRadios').touched)">Please choose Gender!</small>
                       </div>

                       <div class="form-group">
                           <label>Address</label>
                           <input class="form-control" id="address" name="address" ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"/>
                           <small class="form-text text-muted danger" *ngIf="!regularForm.get('address').valid && (regularForm.get('address').dirty || regularForm.get('address').touched)">Please enter a valid address!</small>
                       </div>
                       <div class="form-group">
                           <button type="button" class="btn btn-danger btn-raised  mr-1" (click)="cancelEdit()">Cancel</button>
                           <button type="submit" class="btn btn-success btn-raised" [disabled]="!regularForm.valid || submitted">Submit <i *ngIf="submitted" class="fas fa-spinner fa fa-spin"></i></button>
                       </div>
                   </form>
               </div>
           </div>
       </div>
   </div>
   </div> -->
