<!-- Vertical Bar Chart Starts -->
<!-- <div class="row">
   <div class="col-sm-6">
       <div class="content-header">Bar Charts</div>
   </div>
   </div>-->
<!--Basic Table Starts-->
<section id="simple-table" *ngIf="!isABtestingReport">
<ngx-datatable class="material" class="bootstrap" [rows]="abTestStats" [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"  [limit]="10">
    <ngx-datatable-column name="Notification Title" >
       <ng-template let-row="row" ngx-datatable-cell-template >
        {{row.campaign_title}}
       </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Notification Message">
       <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.campaign_message}}
       </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Sent">
       <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.sent+row.not_sent}}
       </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Inprogress">
       <ng-template let-row="row" ngx-datatable-cell-template>
          {{(row.sent+row.not_sent)-row.received-row.not_sent}}<span class="text-success ml-2">{{(((row.sent+row.not_sent)-row.received-row.not_sent)/(row.sent+row.not_sent)*100) | number : '1.0-2'}}%</span>
       </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Delivered">
       <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.received}}<span class="text-success ml-2" *ngIf="row.received >0">{{((row.received/row.sent)*100) | number : '1.0-2'}}%</span>
       </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Bounced">
       <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.not_sent}}<span class="text-success ml-2" *ngIf="row.not_sent >0">{{((row.not_sent/row.sent)*100) | number : '1.0-2'}}%</span>
       </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Clicked">
       <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.clicks}}<span class="text-success ml-2" *ngIf="row.clicks >0">{{((row.clicks/row.received)*100) | number : '1.0-2'}}% of delivered</span>
       </ng-template>
    </ngx-datatable-column>
</ngx-datatable>
 </section>

<section id="simple-table" *ngIf="isABtestingReport">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div *ngIf="!successSent">
            A/B Notification - <strong class="text-warning">In Progress.</strong>
          </div>
          <div *ngIf="successSent">
            A/B Notification - <strong class="text-success">Sent Successfullly</strong>.
          </div>
          <div class="text-right" *ngIf="winnerSending == 'Manual' && winnerType != '' && !successSent">
            <button type="button" class="btn btn-raised btn-success" (click)="sendABNotification()">Send</button> the Winner Notification {{winnerType}}
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <ngx-datatable class="material" class="bootstrap" [rows]="abTestStats" [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"  [limit]="10">
          <ngx-datatable-column name="Test Type">
             <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.type}}
             </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Notification Title" >
             <ng-template let-row="row" ngx-datatable-cell-template >
                <p *ngIf="row.type=='A' || row.type=='Final A'"> {{row.campaign_title[0]}} </p>
                <p *ngIf="row.type=='B' || row.type=='Final B'"> {{row.campaign_title[1]}} </p>
             </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Notification Message">
             <ng-template let-row="row" ngx-datatable-cell-template>
                <p *ngIf="row.type=='A' || row.type=='Final A'"> {{row.campaign_message[0]}} </p>
                <p *ngIf="row.type=='B' || row.type=='Final B'"> {{row.campaign_message[1]}} </p>
             </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Sent">
             <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.sent+row.not_sent}}
             </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Inprogress">
             <ng-template let-row="row" ngx-datatable-cell-template>
                {{(row.sent+row.not_sent)-row.received-row.not_sent}}<span class="text-success ml-2">{{(((row.sent+row.not_sent)-row.received-row.not_sent)/(row.sent+row.not_sent)*100) | number : '1.0-2'}}%</span>
             </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Delivered">
             <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.received}}<span class="text-success ml-2" *ngIf="row.received >0">{{((row.received/row.sent)*100) | number : '1.0-2'}}%</span>
             </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Bounced">
             <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.not_sent}}<span class="text-success ml-2" *ngIf="row.not_sent >0">{{((row.not_sent/row.sent)*100) | number : '1.0-2'}}%</span>
             </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Clicked">
             <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.clicks}}<span class="text-success ml-2" *ngIf="row.clicks >0">{{((row.clicks/row.received)*100) | number : '1.0-2'}}% of delivered</span>
             </ng-template>
          </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
 </section>
<!--Basic Table Ends-->
<div class="row">
   <div class="col-sm-12">
      <div class="card">
         <div class="card-header">
            <div class="card-title-wrap bar-info">
               <h4 class="card-title">Time Stastistics</h4>
            </div>
         </div>
         <div class="card-body">
            <div class="card-block">
               <div id="vartical-bar-chart" class="height-400">
                  <lib-highcharts-angular [Highcharts]="Highcharts" [options]="chartOptions" style="width: 100%; height: 400px; display: block;"></lib-highcharts-angular>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="col-sm-6">
      <div class="card">
         <div class="card-header">
            <div class="card-title-wrap bar-info">
               <h4 class="card-title">Browser Stastistics</h4>
            </div>
         </div>
         <div class="card-body">
            <div class="card-block">
               <div id="vartical-bar-chart" class="height-400">
                  <ngx-charts-bar-vertical-2d [scheme]="ChartColorScheme" [results]="browserChart" [gradient]="false" [xAxis]="true"
                  [yAxis]="true" [legend]="false" [showXAxisLabel]="true"
                  [showYAxisLabel]="true" xAxisLabel="Browser" yAxisLabel="Total">
                  </ngx-charts-bar-vertical-2d>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!--</div>
      <div class="row">-->
   <div class="col-sm-6">
      <div class="card">
         <div class="card-header">
            <div class="card-title-wrap bar-info">
               <h4 class="card-title">Location Stastistics</h4>
            </div>
         </div>
         <div class="card-body">
            <div class="card-block">
               <div id="vartical-bar-chart" class="height-400">
                  <ngx-charts-bar-vertical-2d [scheme]="ChartColorScheme" [results]="locationChart" [gradient]="false" [xAxis]="true"
                  [yAxis]="true" [legend]="false" [showXAxisLabel]="true"
                  [showYAxisLabel]="true" xAxisLabel="Location" yAxisLabel="Total">
                  </ngx-charts-bar-vertical-2d>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-sm-6">
      <div class="card">
         <div class="card-header">
            <div class="card-title-wrap bar-info">
               <h4 class="card-title">Timeline Stastistics</h4>
            </div>
         </div>
         <div class="card-body">
            <div class="card-block">
               <div id="vartical-bar-chart" class="height-400">
                  <ngx-charts-bar-vertical-2d [scheme]="ChartColorScheme" [results]="timelineChart" [gradient]="false" [xAxis]="true"
                  [yAxis]="true" [legend]="false" [showXAxisLabel]="true"
                  [showYAxisLabel]="true" xAxisLabel="Time" yAxisLabel="Total">
                  </ngx-charts-bar-vertical-2d>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- </div>
      <div class="row"> -->
   <div class="col-sm-6">
      <div class="card">
         <div class="card-header">
            <div class="card-title-wrap bar-info">
               <h4 class="card-title">Device Type Stastistics</h4>
            </div>
         </div>
         <div class="card-body">
            <div class="card-block">
               <div id="vartical-bar-chart" class="height-400">
                  <!-- <ngx-charts-pie-grid
                     [view]="view"
                     [scheme]="ChartColorScheme"
                     [results]="platformChart"
                     (select)="onSelect($event)">
                     </ngx-charts-pie-grid> -->
                  <ngx-charts-bar-vertical-2d [scheme]="ChartColorScheme" [results]="deviceChart" [gradient]="false" [xAxis]="true"
                  [yAxis]="true" [legend]="false" [showXAxisLabel]="true"
                  [showYAxisLabel]="true" xAxisLabel="Device Type" yAxisLabel="Total">
                  </ngx-charts-bar-vertical-2d>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-sm-6">
      <div class="card">
         <div class="card-header">
            <div class="card-title-wrap bar-info">
               <h4 class="card-title">Operating System Stastistics</h4>
            </div>
         </div>
         <div class="card-body">
            <div class="card-block">
               <div id="vartical-bar-chart" class="height-400">
                  <!-- <ngx-charts-pie-grid
                     [view]="view"
                     [scheme]="ChartColorScheme"
                     [results]="platformChart"
                     (select)="onSelect($event)">
                     </ngx-charts-pie-grid> -->
                  <ngx-charts-bar-vertical-2d [scheme]="ChartColorScheme" [results]="platformChart" [gradient]="false" [xAxis]="true"
                  [yAxis]="true" [legend]="false" [showXAxisLabel]="true"
                  [showYAxisLabel]="true" xAxisLabel="Operating System" yAxisLabel="Total">
                  </ngx-charts-bar-vertical-2d>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
