<section>
    <div class="row">
        <div class="col-md-6">
            <div class="content-header">Lists</div>
        </div>
    </div>
    <div class="row" *ngIf="showTable && !showForm">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-6">
                            <p>Lists</p>
                        </div>
                        <!-- <div class="col-sm-6" style="text-align: right;">
                            <p>
                                <a class="btn btn-social btn-round btn-min-width mr-2 mb-2 btn-outline-bitbucket float-right" (click)="addlist()"><span class="ft-plus"></span> Add List</a>
                            </p>
                        </div> -->
                    </div>
                    <!-- <div class="col-sm-12 btnalgn">
                      <button type="button" class="btn btn-outline-primary mt-2" (click)="isCollapsed = !isCollapsed"
                      [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
                      Select Columns
                      </button>

                      <div id="collapseExample" class="selected-column" [ngbCollapse]="!isCollapsed">
                        <ul class="tablealgn">
                          <li *ngFor='let col of allColumns1'>
                            <input type='checkbox' [id]="col.name" (click)='toggle(col)' [checked]='isChecked(col)' />
                            <label [attr.for]="col.name">{{col.name}}</label>
                          </li>
                        </ul>
                      </div>
                    </div> -->
                    <div class="row">
                      <div class="col-md-10 text-right">
                        <button type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed"
                                [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
                          Select Columns
                        </button>
                        <div id="collapseExample" class="selected-column" [ngbCollapse]="!isCollapsed">
                          <ul>
                              <li *ngFor='let col of allColumns1'>
                                <input
                                  type='checkbox'
                                  [id]="col.name"
                                  (click)='toggle(col)'
                                  [checked]='isChecked(col)'
                                />
                                <label [attr.for]="col.name">{{col.name}}</label>
                              </li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <a class="btn btn-social btn-round btn-min-width mr-2 mb-2 btn-outline-bitbucket float-right" (click)="addlist()"><span class="ft-plus"></span> Add List</a>
                      </div>
                    </div>
                    <!-- <div class="col-sm-6" style="text-align: right;">
                      <button type="button" class="btn btn-outline-primary mt-2" (click)="isCollapsed = !isCollapsed"
                              [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
                        Select Columns
                      </button>

              <div id="collapseExample" class="selected-column" [ngbCollapse]="!isCollapsed">
                <ul>
                    <li *ngFor='let col of allColumns1'>
                      <input
                        type='checkbox'
                        [id]="col.name"
                        (click)='toggle(col)'
                        [checked]='isChecked(col)'
                      />
                      <label [attr.for]="col.name">{{col.name}}</label>
                    </li>
                </ul>
              </div></div> -->
                    <!--<div class="card-body">
                        <div class="card-block">
                            <table class="table table-responsive-md text-center">
                                <thead>
                                    <tr>
                                        <th>List Name</th>
                                        <th>Email</th>
                                        <th>Phone Number</th>
                                        <th>Address</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of listData | paginate: { itemsPerPage: 10, currentPage: p }">
                                        <td>{{data.name}}</td>
                                        <td>{{data.email}}</td>
                                        <td>{{data.phone}}</td>
                                        <td>{{data.address}}</td>
                                        <td>
                                            <a class="success p-0" data-original-title="" title="" (click)="editlist(data.id)">
                                                <i class="fas fa-pencil-alt font-medium-3 mr-2"></i>
                                            </a>
                                            <a class="danger p-0" data-original-title="" title="" (click)="deletelist(data.id)">
                                                <i class="fas fa-trash font-medium-3 mr-2"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="col-12 paginationonAction">
                                <span class="total">{{collectionSize}} Total</span>
                                <ngb-pagination [pageSize]="pageSize" [(page)]="p" [maxSize]="10" [rotate]="true" [collectionSize]="collectionSize" [boundaryLinks]="true" style="float: right;"></ngb-pagination>
                            </div>
                        </div>
                    </div>-->
                    <div>
                <ngx-datatable
                class ='material'
                  class='bootstrap'
                  [rows]='listData'
                  [columnMode]="'force'"
                  [headerHeight]="50"
                  [footerHeight]="50"
                  [rowHeight]="'auto'" [limit]="10">
                  <ngx-datatable-column
                    *ngFor="let col of columns1"
                    [name]="col.name">
                  </ngx-datatable-column>
                 <ngx-datatable-column name="Action">
                                  <ng-template let-row="row" ngx-datatable-cell-template>
                                  <a class="success p-0" data-original-title="" title="" (click)="editlist(row.id)">
                                  <i class="fas fa-pencil-alt font-medium-3 mr-2"></i>
                                  </a>
                                  <a class="danger p-0" data-original-title="" title="" (click)="deletelist(row.id)">
                                  <i class="fas fa-trash font-medium-3 mr-2"></i>
                                  </a>
                                  </ng-template>
                              </ngx-datatable-column>
                </ngx-datatable>
            </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="!showTable && !showForm">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-block">
                      <ngb-tabset>
                        <ngb-tab title="Information">
                          <ng-template ngbTabContent>
                            <form class="form" #listForm="ngForm">
                              <div class="form-body">
                                <!-- <h4 class="form-section">
                                <i class="icon-user"></i> Personal Details</h4> -->
                                <div class="row">
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label>Name</label>
                                      <input type="text" class="form-control" name="name" [(ngModel)]="lists.name" [ngClass]="{ 'is-invalid': listForm.submitted && name.invalid }" required>
                                      <small class="form-text text-muted danger" *ngIf="listForm.submitted && name.invalid">This field is required!</small>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label>Email</label>
                                      <input type="email" email class="form-control" name="email" [(ngModel)]="lists.email" [ngClass]="{ 'is-invalid': listForm.submitted && email.invalid }" required>
                                      <small class="form-text text-muted danger" *ngIf="listForm.submitted && email.invalid">This field is required!</small>
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label>Phone Number</label>
                                      <input (keypress)="isNumberKey($event)" maxlength="10" class="form-control" name="phonenum" [(ngModel)]="lists.phonenum" [ngClass]="{ 'is-invalid': listForm.submitted && phonenum.invalid }" required>
                                      <small class="form-text text-muted danger" *ngIf="listForm.submitted && phonenum.invalid">This field is required!</small>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label>Address</label>
                                      <input type="text" class="form-control" name="address" [(ngModel)]="lists.address" ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)" [ngClass]="{ 'is-invalid': listForm.submitted && address.invalid }" required>
                                      <small class="form-text text-muted danger" *ngIf="listForm.submitted && address.invalid">This field is required!</small>
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label>Newsletter</label>
                                      <div class="custom-control custom-checkbox m-0">
                                        <input type="checkbox" class="custom-control-input" id="newsletter" name="newsletter" [(ngModel)]="lists.newsletter">
                                        <label class="custom-control-label" for="newsletter">Opt In</label>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="row" *ngIf="extraFields">
                                  <div class="col-md-12">
                                      <h4 class="form-section">Extra Fields</h4>
                                      <div class="row">
                                        <div class="col-md-6" *ngFor="let field of addFields;let i = index">
                                          <div class="form-group" *ngIf="field.fieldType == 'text'">
                                            <label>{{field.label}}</label>
                                            <input class="form-control"  name="{{field.fieldName}}" value="{{field.valuesBind}}" [(ngModel)]="field.valuesBind" type="text" minlength="1" maxlength="{{field.length}}" [required]="field.mandatory" (change)="fieldValueChange(field.id,$event.target.value, field.fieldName)">
                                            <small *ngIf="field.validation || listForm.submitted && (field.fieldName.invalid)" class="form-text text-muted danger">{{field.validationMsg}}</small>
                                          </div>
                                          <div class="form-group" *ngIf="field.fieldType == 'date'">
                                            <label>{{field.label}}</label>
                                            <input class="form-control" name="{{field.fieldName}}" value="{{field.valuesBind}}" [(ngModel)]="field.valuesBind" type="date" [required]="field.mandatory" (change)="fieldValueChange(field.id,$event.target.value, field.fieldName)">
                                            <small *ngIf="field.validation || listForm.submitted && (dateValue.invalid)" class="form-text text-muted danger">{{field.validationMsg}}</small>
                                          </div>
                                          <div class="form-group" *ngIf="field.fieldType == 'number'">
                                            <label>{{field.label}}</label>
                                            <input class="form-control" value="{{field.valuesBind}}" name="{{field.fieldName}}" #numbererrorValue="ngModel" [(ngModel)]="field.valuesBind" minlength="0" maxlength="{{field.length}}" #numbererrorValue="ngModel" [required]="field.mandatory" (change)="fieldValueChange(field.id,$event.target.value, field.fieldName)" (keypress)="isNumberKey($event)">
                                            <!-- <input class="form-control" name="numberValue" [(ngModel)]="lists.numberValue" *ngIf="field.length == '' && field.length <= 0" type="text" pattern="[0-9]" [required]="field.mandatory" (change)="fieldValueChange(field.id,$event.target.value, field.fieldName)"> -->
                                            <small *ngIf="field.length != '' && field.length > 0" class="form-text text-muted danger">Field Length Should not exceed {{field.length}}</small>
                                            <small *ngIf="field.validation || listForm.submitted && (numbererrorValue.errors)" class="form-text text-muted danger">{{field.validationMsg}}</small>
                                          </div>
                                          <div class="form-group" *ngIf="field.fieldType == 'float'">
                                            <label>{{field.label}}</label>
                                            <input class="form-control" value="{{field.valuesBind}}" name="{{field.fieldName}}" #floaterrorValue="ngModel" [(ngModel)]="field.valuesBind" minlength="0" maxlength="{{field.length}}" #floaterrorValue="ngModel" [required]="field.mandatory" (change)="fieldValueChange(field.id,$event.target.value, field.fieldName)" (keypress)="isNumberKey($event)">
                                            <!-- <input class="form-control" name="floatValue" [(ngModel)]="lists.floatValue" maxlength="{{field.length}}" *ngIf="field.length != '' && field.length > 0" pattern="/^[0-9]+(\.[0-9]{1,2})?$/" (change)="fieldValueChange(field.id,$event.target.value, field.fieldName)" type="text" [required]="field.mandatory">
                                            <input class="form-control" name="floatValue" [(ngModel)]="lists.floatValue" *ngIf="field.length == '' && field.length <= 0" pattern="/^[0-9]+(\.[0-9]{1,2})?$/" (change)="fieldValueChange(field.id,$event.target.value, field.fieldName)" type="text" [required]="field.mandatory"> -->
                                            <small *ngIf="field.length != '' && field.length > 0" class="form-text text-muted danger">Field Length Should not exceed {{field.length}}</small>
                                            <small *ngIf="field.validation || listForm.submitted && (floaterrorValue.errors)" class="form-text text-muted danger">{{field.validationMsg}}</small>
                                          </div>
                                          <div class="form-group" *ngIf="field.fieldType == 'toggle'">
                                              <label>{{field.label}}</label>
                                              <ui-switch name="{{field.fieldName}}" [(ngModel)]="field.valuesBind"  (change)="fieldValueChange(field.id,$event, field.fieldName)" [required]="field.mandatory"></ui-switch>
                                              <small *ngIf="field.validation || listForm.submitted && (toggleValue.invalid)" class="form-text text-muted danger">{{field.validationMsg}}</small>
                                            </div>
                                        </div>
                                      </div>
                                  </div>
                                </div>
                              </div>
                              <div class="form-actions">
                                <button type="submit" class="btn btn-raised btn-danger mr-1" (click)="cancel()">
                                Cancel
                                </button>
                                <button type="submit" class="btn btn-raised btn-success mr-1" (click)="list()" *ngIf="!save" [disabled]="!listForm.valid">
                                Update List <i *ngIf="submitted" class="fas fa-spinner fa fa-spin"></i>
                                </button>
                                <button type="submit" class="btn btn-raised btn-success" (click)="list()" *ngIf="save" [disabled]="!listForm.valid">
                                Add List <i *ngIf="submitted" class="fas fa-spinner fa fa-spin"></i>
                                </button>
                              </div>
                            </form>
                          </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Subscriber">
                          <ng-template ngbTabContent>
                                <!-- <ngx-datatable #table class='bootstrap' [rows]="rows" [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                                  [rowHeight]="'auto'" [limit]="5"></ngx-datatable> -->
                                  <div class="card-body">
                                      <div class="card-block">
                                          <ngx-datatable #mydatatable class="bootstrap fullscreen" [headerHeight]="50" [limit]="5" [columnMode]="'force'" [footerHeight]="50"
                                              [rowHeight]="'auto'" [rows]="rows" [scrollbarH]="true">
                                              <ngx-datatable-column name="First Name">
                                                  <ng-template ngx-datatable-cell-template  let-row="row">
                                                          {{row.FirstName}}
                                                  </ng-template>
                                              </ngx-datatable-column>
                                              <ngx-datatable-column name="Last Name">
                                                  <ng-template ngx-datatable-cell-template let-row="row">
                                                          {{row.LastName}}
                                                  </ng-template>
                                              </ngx-datatable-column>
                                              <ngx-datatable-column name="Email" [width]="250">
                                                  <ng-template ngx-datatable-cell-template let-row="row">
                                                      {{row.email}}
                                                  </ng-template>
                                              </ngx-datatable-column>
                                              <ngx-datatable-column name="Address" [width]="250">
                                                  <ng-template ngx-datatable-cell-template let-row="row">
                                                      {{row.address}}
                                                  </ng-template>
                                              </ngx-datatable-column>
                                              <ngx-datatable-column name="List Name">
                                                  <ng-template ngx-datatable-cell-template let-row="row">
                                                      {{row.listname}}
                                                  </ng-template>
                                              </ngx-datatable-column>
                                              <ngx-datatable-column name="Subscribed On" [width]="200">
                                                  <ng-template ngx-datatable-cell-template let-row="row">
                                                      {{row.date}}
                                                  </ng-template>
                                              </ngx-datatable-column>
                                              <!--<ngx-datatable-column name="Subscribed Status">
                                                  <ng-template ngx-datatable-cell-template let-row="row">
                                                      {{row.status}}
                                                  </ng-template>
                                              </ngx-datatable-column>-->
                                              <ngx-datatable-column name="Subscribed">
                                                <ng-template ngx-datatable-cell-template let-row="row">
                                                  <ui-switch [(ngModel)]="row.status" (ngModelChange)="updateStatus($event, row.id)"></ui-switch>
                                                </ng-template>
                                              </ngx-datatable-column>
                                          </ngx-datatable>
                                      </div>
                                  </div>
                          </ng-template>
                        </ngb-tab>
                      </ngb-tabset>
                    </div>
                </div>
            </div>
        </div>
    </div>

  <div class="row" *ngIf="showForm">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <div class="card-block">
            <form class="form" #listForm="ngForm">
              <div class="form-body">
                <!-- <h4 class="form-section">
                <i class="icon-user"></i> Personal Details</h4> -->
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Name</label>
                      <input type="text" class="form-control" name="name" [(ngModel)]="lists.name" [ngClass]="{ 'is-invalid': listForm.submitted && name.invalid }" required>
                      <small class="form-text text-muted danger" *ngIf="listForm.submitted && name.invalid">This field is required!</small>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Email</label>
                      <input type="email" email class="form-control" name="email" [(ngModel)]="lists.email" [ngClass]="{ 'is-invalid': listForm.submitted && email.invalid }" required>
                      <small class="form-text text-muted danger" *ngIf="listForm.submitted && email.invalid">This field is required!</small>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Phone Number</label>
                      <input (keypress)="isNumberKey($event)"  maxlength="10" class="form-control" name="phonenum" [(ngModel)]="lists.phonenum" [ngClass]="{ 'is-invalid': listForm.submitted && phonenum.invalid }" required>
                      <small class="form-text text-muted danger" *ngIf="listForm.submitted && phonenum.invalid">This field is required!</small>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Address</label>
                      <input type="text" class="form-control" name="address" [(ngModel)]="lists.address" ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)" [ngClass]="{ 'is-invalid': listForm.submitted && address.invalid }" required>
                      <small class="form-text text-muted danger" *ngIf="listForm.submitted && address.invalid">This field is required!</small>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Newsletter</label>
                      <div class="custom-control custom-checkbox m-0">
                        <input type="checkbox" class="custom-control-input" id="newsletter" name="newsletter" [(ngModel)]="lists.newsletter">
                        <label class="custom-control-label" for="newsletter">Opt In</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row" *ngIf="extraFields">
                  <div class="col-md-12">
                      <h4 class="form-section">Extra Fields</h4>
                      <div class="row">
                        <div class="col-md-6" *ngFor="let field of addFields;let i = index">
                          <div class="form-group" *ngIf="field.fieldType == 'text'">
                            <label>{{field.label}}</label>
                            <input class="form-control"  name="{{field.fieldName}}" [(ngModel)]="field.fieldName_extra" type="text" minlength="1" maxlength="{{field.length}}" [required]="field.mandatory" (change)="fieldValueChange(field.id,$event.target.value, field.fieldName)">
                            <small *ngIf="field.validation && (listForm.submitted && field.fieldName.invalid)" class="form-text text-muted danger">{{field.validationMsg}}</small>
                          </div>
                          <div class="form-group" *ngIf="field.fieldType == 'date'">
                            <label>{{field.label}}</label>
                            <input class="form-control" name="{{field.fieldName}}" [(ngModel)]="field.fieldName_extra" type="date" [required]="field.mandatory" (change)="fieldValueChange(field.id,$event.target.value, field.fieldName)">
                            <small *ngIf="field.validation && (listForm.submitted && dateValue.invalid)" class="form-text text-muted danger">{{field.validationMsg}}</small>
                          </div>
                          <div class="form-group" *ngIf="field.fieldType == 'number'">
                            <label>{{field.label}}</label>
                            <input class="form-control" name="{{field.fieldName}}" #numbererrorValue="ngModel" [(ngModel)]="field.fieldName_extra" minlength="0" maxlength="{{field.length}}" #numbererrorValue="ngModel" [required]="field.mandatory" (change)="fieldValueChange(field.id,$event.target.value, field.fieldName)" (keypress)="isNumberKey($event)">
                            <!-- <input class="form-control" name="numberValue" [(ngModel)]="lists.numberValue" *ngIf="field.length == '' && field.length <= 0" type="text" pattern="[0-9]" [required]="field.mandatory" (change)="fieldValueChange(field.id,$event.target.value, field.fieldName)"> -->
                            <small *ngIf="field.length != '' && field.length > 0" class="form-text text-muted danger">Field Length Should not exceed {{field.length}}</small>
                            <small *ngIf="field.validation && (listForm.submitted && numbererrorValue.invalid)" class="form-text text-muted danger">{{field.validationMsg}}</small>
                          </div>
                          <div class="form-group" *ngIf="field.fieldType == 'float'">
                            <label>{{field.label}}</label>
                            <input class="form-control" name="{{field.fieldName}}" #floaterrorValue="ngModel" [(ngModel)]="field.fieldName_extra" minlength="0" maxlength="{{field.length}}" #floaterrorValue="ngModel" [required]="field.mandatory" (change)="fieldValueChange(field.id,$event.target.value, field.fieldName)" (keypress)="isNumberKey($event)">
                            <!-- <input class="form-control" name="floatValue" [(ngModel)]="lists.floatValue" maxlength="{{field.length}}" *ngIf="field.length != '' && field.length > 0" pattern="/^[0-9]+(\.[0-9]{1,2})?$/" (change)="fieldValueChange(field.id,$event.target.value, field.fieldName)" type="text" [required]="field.mandatory">
                            <input class="form-control" name="floatValue" [(ngModel)]="lists.floatValue" *ngIf="field.length == '' && field.length <= 0" pattern="/^[0-9]+(\.[0-9]{1,2})?$/" (change)="fieldValueChange(field.id,$event.target.value, field.fieldName)" type="text" [required]="field.mandatory"> -->
                            <small *ngIf="field.length != '' && field.length > 0" class="form-text text-muted danger">Field Length Should not exceed {{field.length}}</small>
                            <small *ngIf="field.validation && (listForm.submitted && floaterrorValue.invalid)" class="form-text text-muted danger">{{field.validationMsg}}</small>
                          </div>
                          <div class="form-group" *ngIf="field.fieldType == 'toggle'">
                              <label>{{field.label}}</label>
                              <ui-switch name="{{field.fieldName}}" [(ngModel)]="field.fieldName_extra" (change)="fieldValueChange(field.id,$event, field.fieldName)"></ui-switch>
                              <!-- <small *ngIf="field.validation && (listForm.submitted && toggleValue.invalid)" class="form-text text-muted danger">{{field.validationMsg}}</small> -->
                            </div>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
              <div class="form-actions">
                <button type="submit" class="btn btn-raised btn-danger mr-1" (click)="cancel()">
                Cancel
                </button>
                <button type="submit" class="btn btn-raised btn-success mr-1" (click)="list()" *ngIf="!save" [disabled]="!listForm.valid">
                Update List <i *ngIf="submitted" class="fas fa-spinner fa fa-spin"></i>
                </button>
                <button type="submit" class="btn btn-raised btn-success" (click)="list()" *ngIf="save" [disabled]="!listForm.valid">
                Add List <i *ngIf="submitted" class="fas fa-spinner fa fa-spin"></i>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
