<form [formGroup]="safariForm">
  <section id="ngx" class="mb-3">
  <div class="row">
    <div class="col-12">
          <!-- <div class="content-header">SafariPushConfig</div> -->
    </div>
  </div>
    <br />
<div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
              <div class="card-block">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <div class="custom-file center-block d-block">
                        <input type="file" accept=".p12" class="custom-file-input" id="upload" formControlName="upload" (change)="uploadFiles($event.target.files,'upload','p12')">
                        <label class="custom-file-label" for="upload" #uploadLabel>Upload p12 file</label>
                       </div>
                    </div>

                    <div class="form-group">
                      <div class="custom-file center-block d-block">
                        <input type="file" accept=".pem"  class="custom-file-input" id="upload1" formControlName="upload1" (change)="uploadFiles($event.target.files,'upload1','pem')">
                        <label class="custom-file-label" for="upload1" #uploadLabel1> Upload Apple WWDRCA file</label>
                       </div>
                    </div>

                    <div class="form-group">
                      <div class="custom-file center-block d-block">
                        <!-- <input type="file" accept=".cer" class="custom-file-input" id="upload2" formControlName="uploadFile" (change)="uploadFiles($event.target.files,'uploadFile')">
                        <label class="custom-file-label" for="upload2" #uploadLabel2>Upload Push Certificate</label> -->
                        <input type="file" accept=".cer" class="custom-file-input" id="uploadFile" formControlName="uploadFile" (change)="uploadFiles($event.target.files,'uploadFile','cer')">
                        <label class="custom-file-label" for="uploadFile" #uploadLabel2>Upload Push Certificate</label>
                       </div>
                    </div>
                    <div class="form-group">
                      <div class="custom-file center-block d-block">
                        <input type="file" accept=".png" class="custom-file-input" id="upload3" formControlName="upload3" (change)="upload3($event.target.files)">
                        <label class="custom-file-label" for="upload3" #uploadLabel3>Upload Icon File </label>
                       </div>
                    </div>

                    <div class="form-group">
                      <label for="url">Pem Password</label>
                      <input type="password" class="form-control"  formControlName="pwd" id="password" name="pwd">
                    </div>

                      <!-- <div class="form-group">
                        <label for="basicInput">Safari Push ID</label>
                        <input type="text" class="form-control" id="safari" formControlName="safari">
                      </div>

                  <div class="form-group">
                    <label for="url">Safari Push URL</label>
                    <input type="text" class="form-control"  formControlName="push" pattern="https?://.+" id="url" name="url">
                    </div> -->
                    <div class="form-group">
                      <label for="basicInput">Safari Push ID</label>
                      <input type="text" class="form-control" id="safari" formControlName="safari">
                      <!-- <input type="text" class="form-control" name="safari" id="safariID" formControlName="safari"> -->
                      <small class="form-text text-muted green">Website Push ID, as specified in your developer account.</small>
                    </div>

                <div class="form-group">
                  <label for="url">URL Format String</label>
                  <!-- <input type="text" class="form-control"  formControlName="push" pattern="https?://.+" id="url" name="url"> -->
                  <input type="text" class="form-control" [(ngModel)]="url" name="url" id="url" formControlName="push" required>
                  <small class="form-text text-muted green">URL to go to when the notification is clicked. Use %@ as a placeholder for arguments. Ex. https://domain.com.au/%@/</small>
                  </div>

                  <div class="form-group">
                    <label for="url">Allowed Domains</label>
                    <input type="text" class="form-control"  formControlName="domains" id="allowedDomains" name="allowedDomains">
                    <small class="form-text text-muted green">An array of websites that are allowed. Ex. ["https://domain.com.au","https://safaripush.click365.com.au","https://www.domain.com.au"]</small>
                  </div>

                  <div class="form-group">
                    <label for="url">Authentication Token</label>
                    <input type="text" class="form-control"  formControlName="token" id="authenticationToken" name="authenticationToken">
                  </div>

                  <div style="text-align: left;">
              			<button type="submit" class="btn btn-success btn-raised" id="save" [disabled]="!safariForm.valid || !isURL()" (click)="save()">{{action}}</button>
              		</div>
              </div>
              </div>
              </div>
            </div>
          </div>
    </div>
</div>
      </section>
      </form>
