<section class="basic-elements">
    <div class="row">
        <div class="col-md-6">
            <div class="content-header">Add Fields</div>
        </div>
    </div>
    <div class="row" *ngIf="!showForm">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header text-right">
                  <a class="btn btn-social btn-round btn-min-width mr-2 mb-2 btn-outline-bitbucket right" (click)="memToggle()"><span class="ft-plus"></span>Add Fields</a>
                  <!-- <div class="row">
                    <div class="col-md-10 text-right">
                      <button type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed"
                              [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
                        Select Columns
                      </button>
                      <div id="collapseExample" class="selected-column" [ngbCollapse]="!isCollapsed">
                        <ul>
                            <li *ngFor='let col of allColumns1'>
                              <input
                                type='checkbox'
                                [id]="col.name"
                                (click)='toggle(col)'
                                [checked]='isChecked(col)'
                              />
                              <label [attr.for]="col.name">{{col.name}}</label>
                            </li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-md-2 text-right">

                    </div>
                  </div> -->
                  <!-- <div class="row">
                        <div class="col-sm-12" style="text-align: right;">
                            <p>
                                <a class="btn btn-social btn-round btn-min-width mr-2 mb-2 btn-outline-bitbucket right" (click)="memToggle()"><span class="ft-plus"></span>Add Fields</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-12 btnalgn">
                      <button type="button" class="btn btn-outline-primary mt-2" (click)="isCollapsed = !isCollapsed"
                      [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
                      Select Columns
                      </button>

                      <div id="collapseExample" class="selected-column" [ngbCollapse]="!isCollapsed">
                        <ul class="tablealgn">
                          <li *ngFor='let col of allColumns1'>
                            <input type='checkbox' [id]="col.name" (click)='toggle(col)' [checked]='isChecked(col)' />
                            <label [attr.for]="col.name">{{col.name}}</label>
                          </li>
                        </ul>
                      </div> -->
                    </div>
                    <div class="card-body">
                        <div class="card-block">
                            <ngx-datatable class="material" class="bootstrap" [rows]="addFieldsDetails" [columns]="columns" [columnMode]="'force'"  [sorts]="[{prop: ['label', 'datatype', 'mandatory', 'validation'], dir: 'desc'}]" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [limit]="10">
                                <ngx-datatable-column name="Label">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        {{row.label}}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Data Type">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        {{row.datatype}}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Mandatory">
                                  <ng-template let-row="row" ngx-datatable-cell-template>
                                      <i class="fas fa-check font-medium-3 mr-2 success" *ngIf="row.mandatory"></i>
                                  </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Validation">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <i class="fas fa-check font-medium-3 mr-2 success" *ngIf="row.validation"></i>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Table Name">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        {{row.datatable}}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Action">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <a class="danger p-0" (click)="editFields(row.id);"><i class="fas fa-pencil-alt font-medium-3 mr-2"></i></a>
                                        <a class="Info p-0" (click)="deleteFields(row.id);"><i class="fas fa-trash font-medium-3 mr-2"></i></a>
                                    </ng-template>
                                </ngx-datatable-column>
                            </ngx-datatable>
                        </div>
                    </div>
                    <div>
                      <!-- <ngx-datatable class ='material' class='bootstrap' [rows]='addFieldsDetails' [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10">
                        <ngx-datatable-column *ngFor="let col of columns1" [name]="col.name">
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Action">
                          <ng-template let-row="row" ngx-datatable-cell-template>
                            <a class="danger p-0" (click)="editFields(row.id);"><i class="fas fa-pencil-alt font-medium-3 mr-2"></i></a>
                            <a class="Info p-0" (click)="deleteFields(row.id);"><i class="fas fa-trash font-medium-3 mr-2"></i></a>
                          </ng-template>
                        </ngx-datatable-column>
                      </ngx-datatable>
                    </div> -->
                </div>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="showForm">
        <div class="col-sm-12">
          <!-- <div class="row">
            <div class="col-sm-12"> -->
          <div class="card">
            <div class="card-body">
              <div class="card-block">
                <aw-wizard #wizard navBarLayout="large-empty-symbols">
                    <aw-wizard-step [stepTitle]="'Select Table'" [navigationSymbol]="{ symbol: '&#xf022;', fontFamily: 'FontAwesome' }">
                        <form #selectForm="ngForm" class="editForm" novalidate>
                          <br/>
                          <div class="row">
                              <div class="col-md-12">
                                <div class="form-group">
                                  <label for="name">Select Test Type</label>
                                  <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="users" name="datatable" [(ngModel)]="fields.datatable" value="users" class="custom-control-input" [ngClass]="{ 'is-invalid': selectForm.submitted && datatable.invalid }" required>
                                    <label class="custom-control-label" for="users">Users</label>
                                  </div>
                                  <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="list" name="datatable" [(ngModel)]="fields.datatable" value="list" class="custom-control-input" [ngClass]="{ 'is-invalid': selectForm.submitted && datatable.invalid }" required>
                                    <label class="custom-control-label" for="list">List</label>
                                  </div>
                                  <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="loyalty" name="datatable" [(ngModel)]="fields.datatable" value="loyalty" class="custom-control-input" [ngClass]="{ 'is-invalid': selectForm.submitted && datatable.invalid }" required>
                                    <label class="custom-control-label" for="loyalty">Loyalty Rules</label>
                                  </div>
                                  <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="transaction" name="datatable" [(ngModel)]="fields.datatable" value="transaction" class="custom-control-input" [ngClass]="{ 'is-invalid': selectForm.submitted && datatable.invalid }" required>
                                    <label class="custom-control-label" for="transaction">Transactions</label>
                                  </div>
                                </div>
                                <div class="form-group text-center">
                              <button type="submit" class="btn btn-danger btn-raised mr-1" (click)="cancel()">Cancel</button>
                              <button type="button" uiSref="add" class="btn btn-info btn-raised" [disabled]="!selectForm.valid" awNextStep>
                                  Next
                                  <span style="margin-left:10px;">
                                      <i class="ft-chevron-right"></i>
                                  </span>
                              </button>
                          </div>
                            </div>
                          </div>
                        </form>
                    </aw-wizard-step>
                    <aw-wizard-step [stepTitle]="'Add Fields'" [navigationSymbol]="{ symbol: '&#xf15c;', fontFamily: 'FontAwesome' }">
                        <form #addForm="ngForm" class="editForm">
                          <br/>
                          <div class="row">
                              <div class="col-sm-6">
                                  <div class="form-group">
                                      <label for="label">Field Label</label>
                                      <input type="text" class="form-control" name="label" [(ngModel)]="fields.label" [ngClass]="{ 'is-invalid': addForm.submitted && label.invalid }" required>
                                      <small class="form-text text-muted danger" *ngIf="addForm.submitted && label.invalid">This field is required!</small>
                                  </div>
                              </div>
                              <div class="col-sm-6">
                                  <div class="form-group">
                                      <label for="datatype">Field Data Type</label>
                                      <select class="form-control"  name="datatype" [(ngModel)]="fields.datatype" [ngClass]="{ 'is-invalid': addForm.submitted && datatype.invalid }" required>
                                          <option>Select Data Type</option>
                                          <option>Varchar</option>
                                          <option>Int</option>
                                          <option>DateTime</option>
                                          <option>Float</option>
                                          <option>Boolean</option>
                                      </select>
                                      <small class="form-text text-muted danger" *ngIf="addForm.submitted && datatype.invalid">This field is required!</small>
                                  </div>
                              </div>
                          </div>
                          <div class="row" *ngIf="fields.datatype != 'Boolean'">
                            <div class="col-sm-6">
                              <div class="form-group">
                                  <label for="length">Field Value Length</label>
                                  <div class="input-group">
                                      <input type="number" min="1" name="length" class="form-control" [(ngModel)]="fields.length">
                                  </div>
                              </div>
                            </div>
                            <div class="col-sm-6">
                              <div class="form-group">
                                  <label for="mandatory">Field Mandatory</label>
                                  <div class="input-group">
                                      <ui-switch name="mandatory"  [(ngModel)]="fields.mandatory"></ui-switch>
                                  </div>
                              </div>
                            </div>
                          </div>
                          <div class="form-group" *ngIf="fields.datatype != 'Boolean'">
                              <label for="validation">Field Validation</label>
                              <div class="input-group">
                                  <ui-switch name="validation" [(ngModel)]="fields.validation"></ui-switch>
                              </div>
                          </div>
                          <div class="form-group" *ngIf="fields.validation">
                              <label for="validationMsg">Field Validation Message</label>
                              <div class="input-group">
                                  <input type="text" name="validationMsg" class="form-control" [(ngModel)]="fields.validationMsg" [ngClass]="{ 'is-invalid': addForm.submitted && validationMsg.invalid }" required>
                              </div>
                              <small class="form-text text-muted danger" *ngIf="addForm.submitted && validationMsg.invalid">This field is required!</small>
                          </div>
                          <div class="form-group text-center">
                              <button type="submit" class="btn btn-danger btn-raised mr-1" (click)="cancel()">Cancel</button>
                              <button uiSref="select" type="button" class="btn btn-raised btn-secondary mr-1" awPreviousStep>
                                  <span style="margin-right:10px;">
                                      <i class="ft-chevron-left"></i>
                                  </span> Previous</button>
                              <button uiSref="result" type="submit" class="btn btn-success btn-raised" (click)="addFields('send')" *ngIf="!edit" [disabled]="!addForm.valid">
                                  Save</button>
                              <button uiSref="result" type="submit" class="btn btn-success btn-raised" (click)="updateFields('schedule')" *ngIf="edit" [disabled]="!addForm.valid">
                                  Update</button>
                          </div>
                        </form>
                    </aw-wizard-step>
                </aw-wizard>
              </div>
            </div>
          </div>
            <!-- </div>
          </div> -->
            <!-- <div class="card">
                <div class="card-body">
                <div class="card-block">
                    <form class="form" [formGroup]="fieldForm">
                      <div class="row">
                          <div class="col-sm-6">
                              <div class="form-group">
                                  <label for="label">Field Label</label>
                                  <input type="text" class="form-control" id="label" formControlName="label"  required>
                                  <small class="form-text text-muted danger" *ngIf="!fieldForm.get('label').valid && (fieldForm.get('label').dirty || fieldForm.get('label').touched)">This field is required!</small>
                              </div>
                          </div>
                          <div class="col-sm-6">
                              <div class="form-group">
                                  <label for="datatype">Field Data Type</label>
                                  <select class="form-control"  id="datatype" formControlName="datatype" required>
                                      <option>Select Data Type</option>
                                      <option>Varchar</option>
                                      <option>Int</option>
                                      <option>DateTime</option>
                                      <option>Float</option>
                                      <option>Boolean</option>
                                  </select>
                                  <small class="form-text text-muted danger" *ngIf="!fieldForm.get('datatype').valid && (fieldForm.get('datatype').dirty || fieldForm.get('datatype').touched)">This field is required!</small>
                              </div>
                          </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                              <label for="length">Field Value Length</label>
                              <div class="input-group">
                                  <input type="number" min="1" id="length" class="form-control" formControlName="length">
                              </div>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                              <label for="mandatory">Field Mandatory</label>
                              <div class="input-group">
                                  <ui-switch id="mandatory"  formControlName="mandatory"></ui-switch>
                              </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                          <label for="validation">Field Validation</label>
                          <div class="input-group">
                              <ui-switch id="validation" formControlName="validation" (ngModelChange)="showMsg($event);"></ui-switch>
                          </div>
                      </div>
                      <div class="form-group" *ngIf="showValidationMsg">
                          <label for="validationMsg">Field Validation Message</label>
                          <div class="input-group">
                              <input type="text" id="validationMsg" class="form-control" formControlName="validationMsg"  required>
                          </div>
                          <small class="form-text text-muted danger" *ngIf="showValidationMsg && (!fieldForm.get('validationMsg').valid && (fieldForm.get('validationMsg').dirty || fieldForm.get('validationMsg').touched))">This field is required!</small>
                      </div>

                      <div class="form-group">
                          <button type="button" class="btn btn-danger btn-raised mr-1" (click)="cancel()">Cancel</button>
                          <button type="button" class="btn btn-success btn-raised" (click)="addFields()" [disabled]="!fieldForm.valid" *ngIf="!edit">Submit</button>
                          <button type="button" class="btn btn-success btn-raised" (click)="updateFields()" [disabled]="!fieldForm.valid" *ngIf="edit">Update</button>
                      </div>
                    </form>
                </div>
            </div>
            </div> -->
        </div>
    </div>
</section>