<section class="basic-elements">
    <div class="row" *ngIf="!showOrg">
        <div class="col-md-6">
            <div class="content-header">Organizations</div>
        </div>
    </div>
    <div class="row" *ngIf="showOrg">
        <div class="col-md-6">
            <div class="content-header">Edit Organization</div>
        </div>
    </div>
	<div class="row" *ngIf="!showOrg && !showForm">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-6">
                            <p>List of Organizations</p>
                        </div>
                        <div class="col-sm-6" style="text-align: right;">
                            <p>
                                <a class="btn btn-social btn-round btn-min-width mr-2 mb-2 btn-outline-bitbucket right" (click)="createOrg()"><span class="ft-plus"></span>Create Organization</a>
                            </p>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-block">

                            <!-- <ngx-datatable #table class='bootstrap' [rows]="rows" [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10">
                            </ngx-datatable> -->
                            <table class="table table-responsive-sm">
                                <thead>
                                    <tr>
                                        <th>Organization Name</th>
                                        <th>Organization Email</th>
                                        <th>Organization Phone</th>
                                        <th>Organization Address</th>
                                        <th>Action</th>
                                        <th>Enable/Disable</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of organizations">
                                        <td>{{data.name}}</td>
                                        <td>{{data.email}}</td>
                                        <td>{{data.phone}}</td>
                                        <td>{{data.address}}</td>
                                        <td>
                                            <a class="success p-0" data-original-title="" title="" (click)="editOrganization(data.id)">
                                                <i class="fas fa-pencil-alt font-medium-3 mr-2"></i>
                                            </a>
                                            <a class="danger p-0" data-original-title="" title="" (click)="viewOrganization(data.id)">
                                                <i class="ft-eye font-medium-3 mr-2"></i>
                                            </a>
                                        </td>
                                        <td>
									        <ui-switch [(ngModel)]="data.status" (ngModelChange)="onChange(this.data.status,data.id)"></ui-switch>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="showOrg && !showForm">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-block">
                        <ngb-tabset>
                            <ngb-tab title="Overview">
                                <ng-template ngbTabContent>
                                    <form [formGroup]="organizationForm" novalidate>
                                        <div class="form-group">
                                            <label for="orgName">Organization Name</label>
                                            <input type="text" class="form-control" id="orgName" formControlName="orgName" [(ngModel)]="organization.orgName" required>
                                            <small class="form-text text-muted danger" *ngIf="!organizationForm.get('orgName').valid && (organizationForm.get('orgName').dirty || organizationForm.get('orgName').touched)">This field is required!</small>
                                        </div>
                                        <div class="form-group">
                                            <label for="orgEmail">Email</label>
                                            <input type="email" class="form-control" id="orgEmail" formControlName="orgEmail" [(ngModel)]="organization.orgEmail" required>
                                            <small class="form-text text-muted danger" *ngIf="!organizationForm.get('orgEmail').valid && (organizationForm.get('orgEmail').dirty || organizationForm.get('orgEmail').touched)">This field is required!</small>
                                        </div>
                                        <div class="form-group">
                                            <label for="orgPhone">Phone</label>
                                            <div class="input-group">
                                            <input type="number" id="orgPhone" class="form-control" formControlName="orgPhone" [(ngModel)]="organization.orgPhone" required>
                                            </div>
                                            <small class="form-text text-muted danger" *ngIf="!organizationForm.get('orgPhone').valid && (organizationForm.get('orgPhone').dirty || organizationForm.get('orgPhone').touched)">This field is required!</small>
                                        </div>
                                        <div class="form-group">
                                            <label for="orgAddress">Address</label>
                                            <div class="input-group">
                                            <input type="text" id="orgAddress" class="form-control" formControlName="orgAddress" [(ngModel)]="organization.orgAddress" ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)">
                                            </div>
                                            <small class="form-text text-muted danger" *ngIf="!organizationForm.get('orgAddress').valid && (organizationForm.get('orgAddress').dirty || organizationForm.get('orgAddress').touched)">This field is required!</small>
                                        </div>

                                        <div class="form-group">
                                            <button type="submit" class="btn btn-danger btn-raised mr-1" (click)="cancel()">Cancel</button>
                                            <button type="submit" *ngIf="save" class="btn btn-success btn-raised" (click)="saveOrganization()" [disabled]="!organizationForm.valid">Submit<i *ngIf="submitted" class="fas fa-spinner fa fa-spin"></i></button>
                                            <button type="submit" *ngIf="!save" class="btn btn-success btn-raised" (click)="saveOrganization()" [disabled]="!organizationForm.valid">Update<i *ngIf="submitted" class="fas fa-spinner fa fa-spin"></i></button>
                                        </div>
                                    </form>
                                </ng-template>
                            </ngb-tab>
                            <ngb-tab title="Admin">
                                <ng-template ngbTabContent>
                                    <ngx-datatable #table class='bootstrap' [rows]="rows" [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10">
                                    </ngx-datatable>
                                </ng-template>
                            </ngb-tab>
                            <ngb-tab title="Subscribers">
                                <ng-template ngbTabContent>
                                    <ngx-datatable #table class='bootstrap' [rows]="rows1" [columns]="columns1" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10">
                                    </ngx-datatable>
                                </ng-template>
                            </ngb-tab>
                        </ngb-tabset>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="showForm">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-block">
                      <aw-wizard #wizard navBarLayout="large-empty-symbols">
                          <aw-wizard-step [stepTitle]="'Organization Details'" [navigationSymbol]="{ symbol: '&#xf007;', fontFamily: 'FontAwesome' }">
                        <form [formGroup]="organizationForm" novalidate>
                            <div class="form-group">
                                <label for="orgName">Organization Name</label>
                                <input type="text" class="form-control" id="orgName" formControlName="orgName" [(ngModel)]="organization.orgName" required>
                                <small class="form-text text-muted danger" *ngIf="!organizationForm.get('orgName').valid && (organizationForm.get('orgName').dirty || organizationForm.get('orgName').touched)">This field is required!</small>
                            </div>
                            <div class="form-group">
                                <label for="orgEmail">Email</label>
                                <input type="email" class="form-control" id="orgEmail" formControlName="orgEmail" [(ngModel)]="organization.orgEmail" required>
                                <small class="form-text text-muted danger" *ngIf="!organizationForm.get('orgEmail').valid && (organizationForm.get('orgEmail').dirty || organizationForm.get('orgEmail').touched)">This field is required!</small>
                            </div>
                            <div class="form-group">
                                <label for="orgPhone">Phone</label>
                                <div class="input-group">
                                <input type="number" id="orgPhone" class="form-control" formControlName="orgPhone" [(ngModel)]="organization.orgPhone" required>
                                </div>
                                <small class="form-text text-muted danger" *ngIf="!organizationForm.get('orgPhone').valid && (organizationForm.get('orgPhone').dirty || organizationForm.get('orgPhone').touched)">This field is required!</small>
                            </div>
                            <div class="form-group">
                                <label for="orgAddress">Address</label>
                                <div class="input-group">
                                <input type="text" id="orgAddress" class="form-control" formControlName="orgAddress" [(ngModel)]="organization.orgAddress" ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)">
                                </div>
                                <small class="form-text text-muted danger" *ngIf="!organizationForm.get('orgAddress').valid && (organizationForm.get('orgAddress').dirty || organizationForm.get('orgAddress').touched)">This field is required!</small>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-danger btn-raised mr-1" (click)="cancel()">Cancel</button>
                                <button type="button" uiSref="work" class="btn btn-success btn-raised"  [disabled]="!organizationForm.valid" awNextStep>Next<i  class="ft-chevron-right"></i></button>
                            </div>
                        </form>
                      </aw-wizard-step>
                      <aw-wizard-step  [stepTitle]="'Enable Module'" [navigationSymbol]="{ symbol: '&#xf0b1;', fontFamily: 'FontAwesome' }">

                        <div class="row">
                                <div class="col-md-12">
                                  <form class="form" #moduleForm="ngForm">
                                    <div class="col-sm-12">
                                      <div class="card">
                                        <div class="card-body">
                                          <div class="card-block">
                                            <div class="col-sm-12">
                                              <button type="button" class="btn mt-2" [ngClass]="(module.emailManagement)?'btn-primary' : 'btn-outline-primary'" name="emailManagement" (click)="module.emailManagement = !module.emailManagement"
                                                      [attr.aria-expanded]="!module.emailManagement" aria-controls="emailManagementcollapse">
                                                Email Management
                                              </button>
                                            </div>
                                            <div class="col-sm-12" id="emailManagementcollapse" [ngbCollapse]="!module.emailManagement">
                                              <div class="row">
                                                <div class="col-md-6">
                                                  <div class="form-group">
                                                      <label for="newsletter">Newsletter</label>
                                                  </div>
                                                </div>
                                                <div class="col-md-6">
                                                  <div class="form-group">
                                                    <ui-switch id="newsletter" name="newsletter" [(ngModel)]="emailManagement.newsletter"></ui-switch>
                                                  </div>
                                                </div>
                                                <div class="col-md-6">
                                                  <div class="form-group">
                                                      <label for="reports">Reports</label>
                                                  </div>
                                                </div>
                                                <div class="col-md-6">
                                                  <div class="form-group">
                                                    <ui-switch id="reports" name="reports" [(ngModel)]="emailManagement.reports"></ui-switch>
                                                  </div>
                                                </div>
                                                <div class="col-md-6">
                                                  <div class="form-group">
                                                      <label for="emailTemplate">Email Templates</label>
                                                  </div>
                                                </div>
                                                <div class="col-md-6">
                                                  <div class="form-group">
                                                    <ui-switch id="emailTemplate" name="emailTemplate" [(ngModel)]="emailManagement.emailTemplate"></ui-switch>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="row">
                                      </div>
                                    </div>
                                    <div class="col-sm-12">
                                      <div class="card">
                                        <div class="card-body">
                                          <div class="card-block">
                                            <div class="col-sm-12">
                                              <button type="button" class="btn mt-2" [ngClass]="(module.loyalty)?'btn-primary' : 'btn-outline-primary'" (click)="module.loyalty = !module.loyalty"
                                                      [attr.aria-expanded]="!module.loyalty" aria-controls="loyaltycollapse">
                                                Loyalty
                                              </button>
                                            </div>
                                            <div class="col-sm-12" id="loyaltycollapse" [ngbCollapse]="!module.loyalty">
                                              <div class="row">
                                                <div class="col-md-6">
                                                  <div class="form-group">
                                                      <label for="memPlans">memPlans</label>
                                                  </div>
                                                </div>
                                                <div class="col-md-6">
                                                  <div class="form-group">
                                                    <ui-switch id="memPlans" name="memPlans" [(ngModel)]="loyalty.memPlans"></ui-switch>
                                                  </div>
                                                </div>
                                                <div class="col-md-6">
                                                  <div class="form-group">
                                                      <label for="renewals">Renewals</label>
                                                  </div>
                                                </div>
                                                <div class="col-md-6">
                                                  <div class="form-group">
                                                    <ui-switch id="renewals" name="renewals" [(ngModel)]="loyalty.renewals"></ui-switch>
                                                  </div>
                                                </div>
                                                <div class="col-md-6">
                                                  <div class="form-group">
                                                      <label for="transactions">Transactions</label>
                                                  </div>
                                                </div>
                                                <div class="col-md-6">
                                                  <div class="form-group">
                                                    <ui-switch id="transactions" name="transactions" [(ngModel)]="loyalty.transactions"></ui-switch>
                                                  </div>
                                                </div>
                                                <div class="col-md-6">
                                                  <div class="form-group">
                                                      <label for="loyaltypoints">Loyalty Points</label>
                                                  </div>
                                                </div>
                                                <div class="col-md-6">
                                                  <div class="form-group">
                                                    <ui-switch id="loyaltypoints" name="loyaltypoints" [(ngModel)]="loyalty.loyaltypoints"></ui-switch>
                                                  </div>
                                                </div>
                                                <div class="col-md-6">
                                                  <div class="form-group">
                                                      <label for="redeemloyalty">Redeem Loyalty</label>
                                                  </div>
                                                </div>
                                                <div class="col-md-6">
                                                  <div class="form-group">
                                                    <ui-switch id="redeemloyalty" name="redeemloyalty" [(ngModel)]="loyalty.redeemloyalty"></ui-switch>
                                                  </div>
                                                </div>
                                                <div class="col-md-6">
                                                  <div class="form-group">
                                                      <label for="loyaltyProgram">Loyalty Program</label>
                                                  </div>
                                                </div>
                                                <div class="col-md-6">
                                                  <div class="form-group">
                                                    <ui-switch id="loyaltyProgram" name="loyaltyProgram" [(ngModel)]="loyalty.loyaltyProgram"></ui-switch>
                                                  </div>
                                                </div>
                                                <div class="col-md-6">
                                                  <div class="form-group">
                                                      <label for="rewards">Rewards</label>
                                                  </div>
                                                </div>
                                                <div class="col-md-6">
                                                  <div class="form-group">
                                                    <ui-switch id="rewards" name="rewards" [(ngModel)]="loyalty.rewards"></ui-switch>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="row">
                                      </div>
                                    </div>
                                    <div class="col-sm-12">
                                      <div class="card">
                                        <div class="card-body">
                                          <div class="card-block">
                                            <div class="col-sm-12">
                                              <button type="button" class="btn mt-2"  [ngClass]="(module.survey)?'btn-primary' : 'btn-outline-primary'" (click)="module.survey = !module.survey"
                                                      [attr.aria-expanded]="!module.survey" aria-controls="surveycollapse">
                                                Survey
                                              </button>
                                            </div>
                                            <div class="col-sm-12" id="surveycollapse" [ngbCollapse]="!module.survey">
                                              <div class="row">
                                                <div class="col-md-6">
                                                  <div class="form-group">
                                                      <label for="createForm">Create Form</label>
                                                  </div>
                                                </div>
                                                <div class="col-md-6">
                                                  <div class="form-group">
                                                    <ui-switch id="createForm" name="createForm" [(ngModel)]="survey.createForm"></ui-switch>
                                                  </div>
                                                </div>
                                                <div class="col-md-6">
                                                  <div class="form-group">
                                                      <label for="formmanager">Form Manager</label>
                                                  </div>
                                                </div>
                                                <div class="col-md-6">
                                                  <div class="form-group">
                                                    <ui-switch id="formmanager" name="formmanager" [(ngModel)]="survey.formmanager"></ui-switch>
                                                  </div>
                                                </div>
                                                <div class="col-md-6">
                                                  <div class="form-group">
                                                      <label for="tablemapping">Table Mapping</label>
                                                  </div>
                                                </div>
                                                <div class="col-md-6">
                                                  <div class="form-group">
                                                    <ui-switch id="tablemapping" name="tablemapping" [(ngModel)]="survey.tablemapping"></ui-switch>
                                                  </div>
                                                </div>
                                                <div class="col-md-6">
                                                  <div class="form-group">
                                                      <label for="chartsreport">Charts Report</label>
                                                  </div>
                                                </div>
                                                <div class="col-md-6">
                                                  <div class="form-group">
                                                    <ui-switch id="chartsreport" name="chartsreport" [(ngModel)]="survey.chartsreport"></ui-switch>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="row">
                                      </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="card">
                                          <div class="card-body">
                                            <div class="card-block">
                                              <div class="col-sm-12">
                                                <button type="button" class="btn mt-2" [ngClass]="(module.membership)?'btn-primary' : 'btn-outline-primary'" name="emailManagement" (click)="module.membership = !module.membership"
                                                        [attr.aria-expanded]="!module.membership" aria-controls="membershipcollapse">
                                                  Membership
                                                </button>
                                              </div>
                                              <div class="col-sm-12" id="membershipcollapse" [ngbCollapse]="!module.membership">
                                                <div class="row">
                                                  <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="members">Members</label>
                                                    </div>
                                                  </div>
                                                  <div class="col-md-6">
                                                    <div class="form-group">
                                                      <ui-switch id="members" name="members" [(ngModel)]="members.members"></ui-switch>
                                                    </div>
                                                  </div>
                                                  <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="subscribers">Subscribers</label>
                                                    </div>
                                                  </div>
                                                  <div class="col-md-6">
                                                    <div class="form-group">
                                                      <ui-switch id="subscribers" name="subscribers" [(ngModel)]="members.subscribers"></ui-switch>
                                                    </div>
                                                  </div>
                                                  <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="management">Management</label>
                                                    </div>
                                                  </div>
                                                  <div class="col-md-6">
                                                    <div class="form-group">
                                                      <ui-switch id="management" name="management" [(ngModel)]="members.management"></ui-switch>
                                                    </div>
                                                  </div>
                                                  <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="list">List</label>
                                                    </div>
                                                  </div>
                                                  <div class="col-md-6">
                                                    <div class="form-group">
                                                      <ui-switch id="list" name="list" [(ngModel)]="members.list"></ui-switch>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="row">
                                        </div>
                                      </div>
                                    <div class="col-sm-12">
                                      <div class="card">
                                        <div class="card-body">
                                          <div class="card-block">
                                            <div class="col-sm-12">
                                              <button type="button" class="btn mt-2" [ngClass]="(module.webPush)?'btn-primary' : 'btn-outline-primary'" (click)="module.webPush = !module.webPush"
                                                      [attr.aria-expanded]="!module.webPush" aria-controls="webPushcollapse">
                                                Web Push Dashboard
                                              </button>
                                            </div>
                                            <div class="col-sm-12" id="webPushcollapse" [ngbCollapse]="!module.webPush">
                                              <div class="row">
                                                <div class="col-md-6">
                                                  <div class="form-group">
                                                      <label for="webPushDashboard">Dashboard</label>
                                                  </div>
                                                </div>
                                                <div class="col-md-6">
                                                  <div class="form-group">
                                                    <ui-switch id="webPushDashboard" name="webPushDashboard" [(ngModel)]="webPushDashboard.webPushDashboard"></ui-switch>
                                                  </div>
                                                </div>
                                                <div class="col-md-6">
                                                  <div class="form-group">
                                                      <label for="webEngagement">Campaign</label>
                                                  </div>
                                                </div>
                                                <div class="col-md-6">
                                                  <div class="form-group">
                                                    <ui-switch id="webEngagement" name="webEngagement" [(ngModel)]="webPushDashboard.webEngagement"></ui-switch>
                                                  </div>
                                                </div>
                                                <div class="col-md-6">
                                                  <div class="form-group">
                                                      <label for="segments">Segments</label>
                                                  </div>
                                                </div>
                                                <div class="col-md-6">
                                                  <div class="form-group">
                                                    <ui-switch id="segments" name="segments" [(ngModel)]="webPushDashboard.segments"></ui-switch>
                                                  </div>
                                                </div>
                                                <div class="col-md-6">
                                                  <div class="form-group">
                                                      <label for="tokens">Tokens</label>
                                                  </div>
                                                </div>
                                                <div class="col-md-6">
                                                  <div class="form-group">
                                                    <ui-switch id="tokens" name="tokens" [(ngModel)]="webPushDashboard.tokens"></ui-switch>
                                                  </div>
                                                </div>
                                                <div class="col-md-6">
                                                  <div class="form-group">
                                                      <label for="webtemplate">Web Template</label>
                                                  </div>
                                                </div>
                                                <div class="col-md-6">
                                                  <div class="form-group">
                                                    <ui-switch id="webtemplate" name="webtemplate" [(ngModel)]="webPushDashboard.webtemplate"></ui-switch>
                                                  </div>
                                                </div>
                                                <div class="col-md-6">
                                                  <div class="form-group">
                                                      <label for="webnotification">Web Notifications</label>
                                                  </div>
                                                </div>
                                                <div class="col-md-6">
                                                  <div class="form-group">
                                                    <ui-switch id="webnotification" name="webnotification" [(ngModel)]="webPushDashboard.webnotification"></ui-switch>
                                                  </div>
                                                </div>
                                                <div class="col-md-6">
                                                  <div class="form-group">
                                                      <label for="safaripushconfig">Safari Push Config</label>
                                                  </div>
                                                </div>
                                                <div class="col-md-6">
                                                  <div class="form-group">
                                                    <ui-switch id="safaripushconfig" name="safaripushconfig" [(ngModel)]="webPushDashboard.safaripushconfig"></ui-switch>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="row">
                                      </div>
                                    </div>
                                    <div class="col-sm-12">
                                      <div class="card">
                                        <div class="card-body">
                                          <div class="card-block">
                                            <div class="col-sm-12">
                                              <button type="button" class="btn mt-2" [ngClass]="(module.events)?'btn-primary' : 'btn-outline-primary'" (click)="module.events = !module.events"
                                                      [attr.aria-expanded]="!module.events" aria-controls="eventscollapse">
                                                      Events
                                              </button>
                                            </div>
                                            <div class="col-sm-12" id="eventscollapse" [ngbCollapse]="!module.events">
                                              <div class="row">
                                                <div class="col-md-6">
                                                  <div class="form-group">
                                                      <label for="events">Events</label>
                                                  </div>
                                                </div>
                                                <div class="col-md-6">
                                                  <div class="form-group">
                                                    <ui-switch id="events" name="events" [(ngModel)]="events.events"></ui-switch>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="row">
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <button uiSref="personal" type="button" class="btn btn-raised btn-secondary mr-1" awPreviousStep>
                                          <span style="margin-right:10px;">
                                              <i class="ft-chevron-left"></i>
                                          </span> Previous</button>
                                      <button type="submit" class="btn btn-success btn-raised" (click)="saveOrganization()">Save</button>
                                    </div>
                                  </form>
                                </div>
                              </div>
                            <!-- </ng-template>
                          </ngb-tab> -->
                        </aw-wizard-step>
                    </aw-wizard>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>