<section id="card-deck" *ngIf="!addGroup">
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-3">
          <div class="card-title">
            All Groups {{count}}
          </div>
        </div>
        <div class="col-md-3">
          <div class="content-header text-right"><a class="btn btn-social btn-round btn-min-width mr-2 mb-2 btn-outline-bitbucket float-right" (click)="addGroup = !addGroup"><span class="ft-plus"></span> Add Groups</a></div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-3">
          Order By:

        </div>
        <div class="col-md-3">

        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="assets/img/photos/2.jpg" alt="Card image cap">
          <div class="align-self-center halfway-fab text-center">
              <a class="profile-image">
                  <img src="assets/img/portrait/medium/avatar-m-9.jpg" class="rounded-circle img-border gradient-summer width-100" alt="Card image">
              </a>
          </div>
          <div class="card-body">
            <div class="card-block">
              <h4 class="card-title text-center">Group1</h4>
              <h6 class="card-subtitle text-muted text-center">Public Group</h6>
              <div class="text-center">
                <a class="btn btn-success mr-1 btn-fab">
                  <i class="fa fa-pencil-alt"></i>
                </a>
                <a class="btn btn-warning mr-1 btn-fab">
                  <i class="fa fa-clock-o"></i>
                </a>
                <a class="btn btn-danger mr-1 btn-fab">
                  <i class="fa fa-users"></i>
                </a>
              </div>
              <div class="text-center">
                <button class="btn btn-info btn-round text-center btn-raised btn-lg" ><i class="fa fa-sign-in-alt"></i> Join Group</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="assets/img/photos/2.jpg" alt="Card image cap">
          <div class="align-self-center halfway-fab text-center">
              <a class="profile-image">
                  <img src="assets/img/portrait/medium/avatar-m-9.jpg" class="rounded-circle img-border gradient-summer width-100" alt="Card image">
              </a>
          </div>
          <div class="card-body">
            <h4 class="card-title text-center">Group1</h4>
            <h6 class="card-subtitle text-muted text-center">Public Group</h6>
            <div class="text-center">
              <a class="btn-adn btn btn-success mr-1 btn-fab">
                <i class="fa fa-pencil-alt"></i>
              </a>
              <a class="btn btn-warning mr-1 btn-fab">
                <i class="fa fa-clock-o"></i>
              </a>
              <a class="btn btn-danger mr-1 btn-fab">
                <i class="fa fa-users"></i>
              </a>
            </div>
            <div class="text-center">
              <button class="btn btn-info btn-round text-center btn-raised btn-lg" ><i class="fa fa-sign-in-alt"></i> Join Group</button>
            </div>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="assets/img/photos/2.jpg" alt="Card image cap">
          <div class="align-self-center halfway-fab text-center">
              <a class="profile-image">
                  <img src="assets/img/portrait/medium/avatar-m-9.jpg" class="rounded-circle img-border gradient-summer width-100" alt="Card image">
              </a>
          </div>
          <div class="card-body">
            <div class="card-block">
              <h4 class="card-title text-center">Group1</h4>
              <h6 class="card-subtitle text-muted text-center">Public Group</h6>
              <div class="text-center">
                <a class="btn-adn btn btn-success mr-1 btn-fab">
                  <i class="fa fa-pencil-alt"></i>
                </a>
                <a class="btn btn-warning mr-1 btn-fab">
                  <i class="fa fa-clock-o"></i>
                </a>
                <a class="btn btn-danger mr-1 btn-fab">
                  <i class="fa fa-users"></i>
                </a>
              </div>
              <div class="text-center">
                <button class="btn btn-info btn-round text-center btn-raised btn-lg" ><i class="fa fa-sign-in-alt"></i> Join Group</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section *ngIf="addGroup">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
					<div class="card-title-wrap">
            <div class="content-header">Create Group</div>
          </div>
        </div>
        <div class="card-body">
          <div class="card-block">
            <form  class="form" #groupsForm="ngForm">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Name</label>
                    <input type="text" name="groupName" [(ngModel)]="groupData.groupName" class="form-control">
                  </div>
                </div>
              </div>
              <div class="row">
               <div class="col-md-6">
                  <div class="form-group">
                   <label>Description</label>
                   <textarea class="form-control" name="groupDescription" [(ngModel)]="groupData.groupDescription" rows="3"></textarea>
                  </div>
               </div>
             </div>
              <div class="row" >
               <div class="form-group">
                <div class="col-md-12  ">
                    <label>Group Control</label>
                    <div class="btn-group btn-group-toggle" ngbRadioGroup name="groupControl" [(ngModel)]="groupData.groupControl">
                        <label ngbButtonLabel class="btn-raised btn-primary">
                            <input ngbButton type="radio" [value]="member"> Member Invite
                        </label>
                        <label ngbButtonLabel class="btn-raised btn-primary">
                            <input ngbButton type="radio" [value]="admin"> Admin Invite
                        </label>
                        <label ngbButtonLabel class="btn-raised btn-primary">
                            <input ngbButton type="radio" [value]="any"> Any one can join
                        </label>
                    </div>
               </div>
             </div>
            </div>
            <button type="submit" class="btn btn-info btn-raised" (click)="saveGroup()">
              Save
            </button>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
