/* You can add global styles to this file, and also import other style files */

@font-face {
	font-family:'DINPro-Regular';
	src: url('assets/sass/scss/fonts/DINPro-Regular_gdi.eot');
	src: url('assets/sass/scss/fonts/DINPro-Regular_gdi.eot?#iefix') format('embedded-opentype'),
		url('assets/sass/scss/fonts/DINPro-Regular_gdi.woff') format('woff'),
		url('assets/sass/scss/fonts/DINPro-Regular_gdi.ttf') format('truetype'),
		url('assets/sass/scss/fonts/DINPro-Regular_gdi.otf') format('opentype'),
		url('assets/sass/scss/fonts/DINPro-Regular_gdi.svg#DINPro-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

body{
  font-family:'DINPro-Regular';
}

ul.pagination {
    background: #424242;
    height: 50px;
    border-radius: 0;
}
.page-item.active .page-link, .page-item .page-link:hover {
	background-color: #545454;
    border-color: #545454;
}
.page-item.disabled .page-link, .page-item .page-link {
    background-color: transparent;
    border-color: transparent;
    color: #fff;
}
ngb-pagination li, dd {
    margin: 6px 2px;
}
.page-link:focus {
    box-shadow: 0 0 0 0.2rem transparent;
}
.page-item.disabled {
    cursor: not-allowed;
}
.paginationonAction {
	background: #424242;
	height: 50px;
}
span.total {
    color: #fff;
    line-height: 3;
}
.signuprow .full-height-vh {
    height: 145vh !important;
}
.btn-success.disabled, .btn-success:disabled {
    cursor: not-allowed;
}
table.viewOrg{
    width: 100%;
    word-break: break-all;
    color: #585252 !important;
}
table.viewOrg tbody tr th {
    background: #E8E8E8;
}

table.viewOrg tbody tr th, table.viewOrg tbody tr td {
    padding: 5px 2px!important;
    border-top: 1px #DDDDDD solid !important;
    border-left: 0px !important;
    border-right: 0px !important;
    border-bottom: 0px;
    text-align: left;
}

.hideLoyalty {
    display: none;
}
/*sandeep*/
.btn-primary,.btn-danger,.btn-success {
    color: #ffffff !important;
}
.btn-default{
     color: black !important;
}
.formio-dialog-content.btn-success,.formio-dialog-content.btn-danger{
    color:#fff !important;
}

.formio-dialog-content .card-body {
    padding: 1.25rem;
}
card-header.panel-heading.form-builder-group-header {
padding: 0px !important;
}

#group-panel-layout,#group-panel-data, #builder-htmlelement,#builder-resource,#builder-form,#builder-signature,#builder-unknown,#builder-survey,#builder-location,#builder-content{
    display:none !important;
}
/*sandeep*/

.carousel-indicators .active{
    background-color: black;
}
.carousel-indicators li{
    background-color: rgba(0, 0, 0, 0.5);
}
.carousel-indicators{
    bottom: 0;
}

.app-sidebar .navigation li.has-sub > a:after, .off-canvas-sidebar .navigation li.has-sub > a:after{
  right: 15px !important;
}

.advanced-pie-legend .legend-items-container .legend-items .legend-item{
	margin-top: 5px;
}
.wrapper .content-header {
    font-weight: 400;
    letter-spacing: 0.5px;
    font-size: 1.4rem;
    font-family: 'DINPro-Regular';
    /*margin-top: -1.5rem;*/
    margin-bottom: 0.25rem;
    text-transform: capitalize;
    color: #000;
}
.btn-social > :first-child, .btn-social-icon > :first-child{
	top: -5px !important;
	font-size: 1.4rem !important;
}
.btn{
	font-size: 0.75rem !important;
}
.ngx-datatable.bootstrap, .table, .form-control, p{
	font-size: 0.8rem !important;
	color: #000;
}
.nav-link{
	font-size: 0.8rem !important;
}
h2, .h2{
	font-size: 1.4rem !important;
}
aw-wizard-navigation-bar.horizontal ul.steps-indicator li div a{
	font-family: "DINPro-Regular" !important;
	font-size: 0.7rem !important;
}
/* new changes */
h6, .h6 {
    font-size: 0.8rem;
    font-weight: 400;
    text-shadow: none !important;
}
.text-bold-400 {
    font-weight: 600;
    font-size: 1.56rem;
}
h1, h2, h3, h4, h5, h6{    color: #354168;}
.app-sidebar .navigation li.has-sub > a span.menu-title, .off-canvas-sidebar .navigation li.has-sub > a span.menu-title, span.menu-title{
        font-size: 12px;
    color: #c7c7c7 !important;
    font-weight: 600;
    text-shadow: none;
    white-space: nowrap;
}
li.nav-item:hover, li.active, li.hover{
    background: #232323;
    color: #c7c7c7;
}
.app-sidebar .navigation > li.active > a, .off-canvas-sidebar .navigation > li.active > a {
    background: #ffffff00;
    color: #ffffff !important;
}
    .app-sidebar .navigation li:hover > a, .off-canvas-sidebar .navigation li:hover > a, .app-sidebar .navigation li.active a, .off-canvas-sidebar .navigation li.active a {
    background: transparent !important;
    color: #c7c7c7  !important;    box-shadow: none;
}
.app-sidebar .navigation > li:hover{
    background: #232323;
    color: #c7c7c7;
}
span.datatable-header-cell-label.draggable {
    color: #354168;
        font-size: 13px;
    font-weight: 600;
}
.ngx-datatable.bootstrap .datatable-body .datatable-body-row.datatable-row-even {
    background-color: #fff;
}
.ngx-datatable.bootstrap .datatable-body .datatable-body-row {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #f3f3f3;
}
.datatable-body-cell-label {
    color: #404040;
}

.font-medium-3 {
    font-size: 0.8rem !important;
}
.app-sidebar .logo-img img, .off-canvas-sidebar .logo-img img {
    width: 132px;
}
.app-sidebar .logo-img, .off-canvas-sidebar .logo-img {
    width: 80%;    text-align: center;
}
.logo-img span.text.align-middle {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 600;
    text-align: center;
}
.nav-tabs .nav-link.active {
    background-color: transparent;
    border-bottom: 2px solid red !important; border-top:none;border-left:none;border-right:none;
    color: #000 !important;
    font-size: 15px !important;
    font-weight: bold;
}
.pager li.nav-item:hover, .pager li.active, .pager li.hover {
    background: #ffffff;
    color: #c2c2c2 !important;
}
.nav-tabs li.nav-item:hover, .nav-tabs li.active, .nav-tabs li.hover {
    background: #ffffff;
    color: #c2c2c2 !important;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
        border-bottom: 1px solid #dee2e6;
}
.nav-link {
    color: #696969; font-size: 15px !important;
    font-weight: bold;
}
.nav-tabs .nav-link {
    border: 0;
    }
    nav-item a:hover, nav-item a:focus {
    color: #696969  !important;
}
.ngx-datatable.bootstrap .datatable-footer, span.total {
    background: #ffffff;
    margin-top: -1px;
    color: #354168;
}
.paginationonAction , ul.pagination {
    background: #ffffff;
}
 .page-item .page-link {
    background-color: #f2f2f2;
    border-color: transparent;
    color: #535353;
}
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
       color: #6f6d6d;
}
.table thead th {
    color: #354168;
}
.ngx-datatable .datatable-footer .datatable-pager .pager li a {
    background: #c2c2c2;
}
.btn-outline-bitbucket, .btn-outline-bitbucket:hover, button.btn.btn-outline-primary.mt-2{
    color: #ffffff !important;
    border: 1px solid #716bee !important;
    background-color: #716bee !important;
}
.app-sidebar .navigation .menu-title, .off-canvas-sidebar .navigation .menu-title {
    font-size: 12px !important;
    font-weight: 600;
    text-shadow: none;
}
 .navigation i.icon-home,  .navigation i.icon-present {
    color: red  !important;
}
 .navigation i.ft-settings,  .navigation i.icon-envelope {
    color: green !important;
}
 .navigation i.ft-users {
    color: #716bee !important;
}
 .navigation i.icon-grid {
    color: #0ef3de !important;
}
form label, label {
    color: #354168;
    font-size: 11px;
    text-transform: none;
    letter-spacing: 1px;
    font-weight: 600;
}
.card h1.card-title, .card h2.card-title, .card h3.card-title, .card h4.card-title, .card h5.card-title, .card h6.card-title{
        font-weight: 600;
    letter-spacing: 0.05rem;
    font-size: 1.13rem;
    text-transform: capitalize;
    margin-bottom: 0.25rem;
    color: #354168 !important;
}
.card .card-block {
    padding: 0;
}
.collapse.show {
    display: block;
    padding: 2%;
}
button.btn.btn-outline-primary.mt-2 {
    margin-left: 2%;
}
.col-4 h5 {
    font-size: 14px;
    font-weight: 600;
}
.card-title {
    margin-bottom: 0.75rem;
    color: #000 !important;
    font-size: 17px;
    font-weight: 600;
    text-decoration: underline;
}
.header-navbar li.nav-item:hover, .header-navbar li.active, .header-navbar li.hover {
    background: #ffffff;
    color: #c7c7c7;
}
.form-group {
    padding: 0% 2%;
}
select {
    font-size: 12px;
}
