    <div class="row">
    	<div class="col-sm-12">
    		<div class="content-header">Database Mapping</div>
    	</div>
    </div>
    <!-- Reactive Form Validaton Starts -->
    <div class="row">
    	<div class="col-sm-12">
    		<div class="card">
    			<div class="card-header">
    				<div class="card-title-wrap bar-success">
    					<h4 class="card-title">Database Mapping</h4>
    				</div>
    			</div>
    			<div class="card-body">
    				<div class="card-block">

    					<form [formGroup]="form" (ngSubmit)="manage(form.value)">

    						<div class="row">
    							<div class="col-xl-12 col-lg-12 col-md-12 mb-1">
    								<div class="form-group">
    									<label for="field">Select Survey</label>
    									<select class="custom-select mb-2" formControlName="formNames" (change)="onSelectFormName($event.target.value)">
                        <option value="" selected="true">-- Select --</option>
    											<option *ngFor="let item of formsData;let i = index" value="{{i}}" >{{item.name}}</option>
    									</select>
    								</div>
    							</div>

    							<div class="col-xl-12 col-lg-12 col-md-12 mb-1" *ngIf="form.controls.formNames.value !=''">
    								<div class="form-group">
    									<label for="field">Select Table</label>
    									<select class="custom-select mb-2" formControlName="tblNames" (change)="onSelectTblName($event.target.value)">
                        <option value="">-- Select --</option>
    											<option *ngFor="let item of result;let i = index" value="{{i}}">{{item.name}}</option>
    									</select>
    								</div>
    							</div>
    						</div>



         <!-- Assign the tblmap FormArray to the form
         	where we want to track/generate new input track fields -->
         	<div formArrayName="tblmap" *ngIf="(form.controls.formNames.value >=0) && (form.controls.tblNames.value >=0)">

            <!-- Assign a FormGroupName property binding to track
                 and manage each separate generated input field.
                 Also iterate through the tblmap FormArray to
                 correctly track/render new input fields against
                 existing fields -->
                 <!-- <section> -->

               <!-- <ion-item-group>
               	<ion-item-divider color="light">Name #{{ i + 1 }}</ion-item-divider> -->
                <div *ngIf="(form.controls.formNames.value >=0 && form.controls.tblNames.value !='')">

                  <button type="button" class="btn btn-primary btn-raised mr-1" (click)="addNewInputField()" *ngIf="(form.controls.tblmap.length == 0)">Add a new row</button>

               	<div class="row" [formGroupName]="i" *ngFor="let tech of form.controls.tblmap.controls; let i = index" >

               	<!--<div class="col-xl-4 col-lg-6 col-md-12 mb-1">
               			<div class="form-group">
               				<label for="field">Form</label>

               				<select class="custom-select mb-2" formControlName="formCol"  placeholder="Rule Type">
               					<optgroup *ngFor="let item of formsData" label="{{item.name}}">
               						<option *ngFor="let value of item.form_data.components" value="{{value.key}}::{{item.id}}" >{{value.label}}</option>
               					</optgroup>
               				</select>
               			</div>
               		</div>

               		<div class="col-xl-4 col-lg-6 col-md-12 mb-1">
               			<div class="form-group">
               				<label for="field">Tables</label>

               				<select class="custom-select mb-2" formControlName="tblCol"  placeholder="Rule Type">
               					<optgroup *ngFor="let item of result" label="{{item.name}}">
               						<option *ngFor="let value of item.values" value="{{value.column_name}}::{{item.name}}">{{value.column_name}}</option>
               					</optgroup>
               				</select>
               			</div>
               		</div> -->
               		<div class="col-xl-4 col-lg-6 col-md-12 mb-1">
               			<div class="form-group">
               				<label for="field">Fields</label>

               				<select class="custom-select mb-2" formControlName="formCol"  placeholder="Rule Type" >

               					<option value="">-- Select --</option>
               					<option *ngFor="let value of formsDataSelected" value="{{value.key}}" >{{value.label}}</option>

               					<!-- <optgroup *ngFor="let item of formsData" label="{{item.name}}"> -->
               						<!-- <option *ngFor="let value of formsDataSelected.form_data.components" value="{{value.key}}" >{{value.label}}</option> -->
               					<!-- </optgroup> -->
               				</select>
               			</div>
               		</div>

               		<div class="col-xl-4 col-lg-6 col-md-12 mb-1">
               			<div class="form-group">
               				<label for="field">Table Columns</label>

               				<select class="custom-select mb-2" formControlName="tblCol"  placeholder="Rule Type">
               					<!-- <optgroup *ngFor="let item of result" label="{{item.name}}"> -->
               						<!-- <option *ngFor="let value of tblDataSelected.values" value="{{value.column_name}}">{{value.column_name}}</option> -->
               						<option value="">-- Select --</option>
               						<option *ngFor="let value of tblDataSelected" value="{{value.column_name}}">{{value.column_name}}</option>
               					<!-- </optgroup> -->
               				</select>
               			</div>
               		</div>

                  <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                    <!-- <div class="col-xl-2 col-lg-6 col-md-12 mb-1"> -->
                      <div class="form-group">
                        <label [style.visibility]="'hidden'">Action</label><br>
                     <button class="btn btn-danger mr-1 btn-fab" *ngIf="form.controls.tblmap.length > 0"
                    (click)="removeInputField(i)"><i class="fa fa-times"></i></button>
                     <button type="button" class="btn btn-primary btn-raised mr-1" (click)="addNewInputField()" *ngIf="(form.controls.tblmap.length-1 == i)">Add a new row</button>
                   </div>
                  </div>


               		<!-- <div class="col-xl-2 col-lg-6 col-md-12 mb-1" *ngIf="i > 0">
                    <div class="col-sm-4">
                  <div class="form-group">
                    <div class="form-group">
                      <br>
                      <button type="button" class="btn btn-primary btn-raised mr-1" (click)="addNewInputFields()" *ngIf="(form.controls.formNames.value >=0 && form.controls.fieldKey.value !='') && (form.controls.tblmap.length == 0)">Add new filter</button>
                    </div>
                  </div>
                </div>


               		<button class="btn btn-danger mr-1 btn-fab" *ngIf="form.controls.tblmap.length > 1"
               			(click)="removeInputField(i)"><i class="fa fa-times"></i></button>

               		</div> -->

               	</div>
               </div>

                    <!--  <input type="text" class="form-control" formControlName="name">
                    	<input type="text" class="form-control" formControlName="formCol"> -->
                     <!--  <ion-input
                        type="text"
                        maxlength="50"
                        formControlName="name"></ion-input> -->



                        <!-- Allow generated input field to be removed -->

                        <!-- </section> -->
                    </div>


                    <!-- Allow new input field to be generated/added -->
              <!--   <span
                ion-button
                float-left
                icon-left
                clear
                (click)="addNewInputField()">
                Add a new row
            </span> -->




   	 <!-- Only allow form to be submitted IF validation criteria for
   	 	input fields has been successfully passed [disabled]="!form.valid"-->
 <!--   	 	<button
   	 	ion-button
   	 	block
   	 	margin-top
   	 	color="primary"
   	 	text-center
   	 	>Submit</button> -->
   	 	<div class="form-group">
   	 		<!-- <button type="button" class="btn btn-primary btn-raised mr-1" (click)="addNewInputField()">Add a new row</button> -->
   	 		<button type="button" class="btn btn-danger btn-raised mr-1" (click)="cancel()">Cancel</button>
   	 		<button type="submit" class="btn btn-success btn-raised"  [disabled]="!form.valid">Submit</button>
   	 	</div>
   	 </form>


<!--                 	<div class="row">
                		<div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                			<div class="form-group">
                				<label for="field">Tables</label>

                				<select class="custom-select mb-2"   placeholder="Rule Type">
                					<optgroup *ngFor="let item of result" label="{{item.name}}">
                						<option *ngFor="let value of item.values" value="{{value.column_name}}">{{value.column_name}}</option>
                					</optgroup>
                				</select>
                				<small class="form-text text-muted danger" *ngIf="!dbmapingForm.get('field').valid && (dbmapingForm.get('field').dirty || dbmapingForm.get('field').touched)">Please select Rule Type!</small>
                			</div>
                		</div>
                		<div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                			<div class="form-group">
                				<label for="field">Form</label>

                				<select class="custom-select mb-2"   placeholder="Rule Type">
                					<optgroup *ngFor="let item of formsData" label="{{item.name}}">
                						<option *ngFor="let value of item.form_data.components" value="{{value.key}}" >{{value.label}}</option>
                					</optgroup>
                				</select>
                			</div>
                		</div>
                	</div>
                	<div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                		
                	</div> -->


<!--                     <form [formGroup]="dbmapingForm" (ngSubmit)="onReactiveFormSubmit()" novalidate>
                        <div class="form-group">
                            <label for="selTable">Choose Table</label>

                            <select class="custom-select mb-2" formControlName="selTable">
                            	<option [ngValue]="1">One </option>
                            	<option [ngValue]="2">Two </option>
                            </select>

                            <small class="form-text text-muted danger" *ngIf="!dbmapingForm.get('selTable').valid && (dbmapingForm.get('selTable').dirty || dbmapingForm.get('selTable').touched)">Please enter a valid email!</small>
                        </div>
                        <div class="form-group">
                            <label for="password">Columns</label>

                            <select class="custom-select mb-2" formControlName="selTable">
                            	<option [ngValue]="1">One </option>
                            	<option [ngValue]="2">Two </option>
                            </select>
                            <small class="form-text text-muted danger" *ngIf="!dbmapingForm.get('password').valid && (dbmapingForm.get('password').dirty || dbmapingForm.get('password').touched)">Password characters length must be between 4 and 24 !</small>
                        </div>

                        <div class="col-lg-4 col-md-3">
                                <div class="form-group">
                                  <label for="field">Field</label>

                                  <select class="custom-select mb-2" formControlName="field" [(ngModel)]="dbmapingForm.field" placeholder="Rule Type">
                                    <optgroup *ngFor="let item of result" label="{{item.name}}">
                                      <option *ngFor="let value of item.values" value="{{value.column_name}}">{{value.column_name}}</option>
                                    </optgroup>
                                  </select>
                                  <small class="form-text text-muted danger" *ngIf="!dbmapingForm.get('field').valid && (dbmapingForm.get('field').dirty || dbmapingForm.get('field').touched)">Please select Rule Type!</small>
                                </div>
                        </div>


                        <div class="form-group">
                            <button type="button" class="btn btn-danger btn-raised  mr-1">Cancel</button>
                            <button type="button" class="btn btn-success btn-raised" [disabled]="!dbmapingForm.valid">Submit</button>
                        </div>
                    </form> -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Reactive Form Validaton Ends --> 

          <!--   Select table

       

            <select class="custom-select mb-2" >
              <option [ngValue]="1">One </option>
              <option [ngValue]="2">Two </option>
            </select>

            <select class="custom-select mb-2" >
              <option [ngValue]="1">One </option>
              <option [ngValue]="2">Two </option>
          </select> -->
