<div class="row">
  <div class="col-sm-12">
    <div class="content-header">Template Mapping</div>
  </div>
</div>

<section id="collapse">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="card-block">
            <div>
              <button type="button" class="btn btn-outline-primary mt-2" (click)="isCollapsed = !isCollapsed"
              [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">Map Templates</button>
            </div>
            <div id="collapseExample" [ngbCollapse]="isCollapsed">
              <form class="form" #templateMapping="ngForm" class="editForm" novalidate>
                <div class="form-body">
                  <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Choose Email Type</label>
                      <select class="form-control" name="emailType" [(ngModel)]="templateMappingModel.emailType" required (change)="onChange($event.target.value)">
                        <option value="select" selected>Select Column</option>
                        <option value="Welcome Email">Welcome Email</option>
                        <option value="Email Verification">Email Verification</option>
                        <option value="Admin Verification">Admin Verification</option>
                        <option value="Password Reset">Password Reset</option>
                        <option value="Registration Success">Registration Success</option>
                        <option value="User Invite">User Invite</option>
                      </select>
                    </div>
                  </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Select Templates</label>
                        <select class="form-control" name="template" [(ngModel)]="templateMappingModel.template" (change)="selectTemplate($event.target.value)" required>
                          <option value="" selected>Choose Templates</option>
                          <option *ngFor="let template of templates" value="{{template.type_id}}">{{template.name}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-12 text-center">
                      <div *ngIf="canvasdata">
                        <i class="fas fa-spinner fa fa-spin font-large-2"></i>
                      </div>
                      <div id="contentToConvert" *ngIf="htmlContent == ''"></div>
                      <div id="imgMessage"  style="width: 50%;"></div>
                    </div>
                  </div>
                  <div class="form-group">
                    <button type="button" class="btn btn-danger btn-raised  mr-1" (click)="cancel()">Cancel</button>
                    <button type="submit" class="btn btn-success btn-raised" [disabled]="!templateMapping.valid" *ngIf="templateMappingModel.id == ''" (click)="onReactiveFormSubmit()">Save</button>
                    <button type="submit" class="btn btn-success btn-raised" [disabled]="!templateMapping.valid" *ngIf="!templateMappingModel.id == ''" (click)="updateTemMapping()">Update</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="card-block">
          <table class="table table-responsive-md">
            <thead>
              <tr>
                <th>Template Type</th>
                <!-- <th>Template View</th> -->
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let temMapping of temMappings">
                <td>{{temMapping.emailType}}</td>
                <!-- <td><div id="{{temMapping.id}}" style="width: 20%;">getTemplateURL({{temMapping.url}}, {{temMapping.id}})</div></td> -->
                <td>
                  <a class="success p-0" data-original-title="" title="" (click)="editTemMapping(temMapping.id)">
                      <i class="fas fa-pencil-alt font-medium-3 mr-2"></i>
                  </a>
                  <a class="danger p-0" data-original-title="" title="" (click)="deleteTemMapping(temMapping.id)">
                      <i class="fas fa-trash font-medium-3 mr-2"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
