<section class="basic-elements">
  <div class="row">
      <div class="col-md-6">
          <div class="content-header">Newsletter</div>
      </div>
  </div>
  <div class="row" *ngIf="showTable">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          </div>
          <div class="card-body">
              <div class="card-block">
                <ngb-tabset (tabChange)="selectData($event)">
                  <ngb-tab title="Normal Campaign" id="normal" active="SelectedTab == 'normal'">
                    <ng-template ngbTabContent>
                      <div class="row">
                        <div class="col-md-9 text-right">
                          <button type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed"
                                  [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
                            Select Columns
                          </button>
                          <div id="collapseExample" class="selected-column" [ngbCollapse]="!isCollapsed">
                            <ul>
                                <li *ngFor='let col of allColumns'>
                                  <input
                                    type='checkbox'
                                    [id]="col.name"
                                    (click)='toggle(col)'
                                    [checked]='isChecked(col)'
                                  />
                                  <label [attr.for]="col.name">{{col.name}}</label>
                                </li>
                            </ul>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <a class="btn btn-social btn-round btn-min-width mr-2 mb-2 btn-outline-bitbucket " (click)="addnews()"><span class="ft-plus"></span>Create Newsletter</a>
                        </div>
                      </div>
                      <ngx-datatable
                        class ='material'
                        class='bootstrap'
                        [rows]='newsletterDetails'
                        [columnMode]="'force'"
                        [headerHeight]="50"
                        [footerHeight]="50"
                        [rowHeight]="'auto'"
                        [limit]="10">
                        <ngx-datatable-column
                          *ngFor="let col of columns"
                          [name]="col.name">
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Action">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                          <a class="info p-0" (click)="sendnewsletter(row.id);" *ngIf="row.status == 'Pending' && row.send != 'schedule'"><i class="far fa-paper-plane font-medium-3 mr-2"></i></a>
                          <a class="warning p-0" *ngIf="row.status == 'Scheduled' || row.send == 'schedule'"><i class="far fa-clock font-medium-3 mr-2"></i></a>
                          <a class="success p-0" *ngIf="row.status == 'Sent'"><i class="far fa-check-square font-medium-3 mr-2"></i></a>
                          <a class="danger p-0" *ngIf="(row.status == 'Pending' || row.status == 'Scheduled')" (click)="EditNewsletter(row.id);"><i class="fas fa-pencil-alt font-medium-3 mr-2"></i></a>
                          <a class="Info p-0" (click)="CopyNewsletter(row.id);"><i class="fas fa-copy font-medium-3 mr-2"></i></a>
                        </ng-template>
                        </ngx-datatable-column>
                        </ngx-datatable>
                        <!-- <ngx-datatable class="material" class="bootstrap" [rows]="newsletterDetails" [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [sorts]="[{prop: ['name', 'subject', 'status', 'date'], dir: 'desc'}]" [limit]="10">
                          <ngx-datatable-column name="Name">
                              <ng-template let-row="row" ngx-datatable-cell-template>
                                  {{getName(row.name)}}
                              </ng-template>
                          </ngx-datatable-column>
                          <ngx-datatable-column name="Subject">
                              <ng-template let-row="row" ngx-datatable-cell-template>
                                  {{row.subject}}
                              </ng-template>
                          </ngx-datatable-column>
                          <ngx-datatable-column name="Status">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.status}}
                            </ng-template>
                          </ngx-datatable-column>
                          <ngx-datatable-column name="Date">
                              <ng-template let-row="row" ngx-datatable-cell-template>
                                  {{row.date | date: 'MM/dd/yyyy'}}
                              </ng-template>
                          </ngx-datatable-column>
                          <ngx-datatable-column name="Action">
                              <ng-template let-row="row" ngx-datatable-cell-template>
                                  <a class="info p-0" (click)="sendnewsletter(row.id);" *ngIf="row.status == 'Pending' && row.send != 'schedule'"><i class="far fa-paper-plane font-medium-3 mr-2"></i></a>
                                  <a class="warning p-0" *ngIf="row.status == 'Scheduled' || row.send == 'schedule'"><i class="far fa-clock font-medium-3 mr-2"></i></a>
                                  <a class="success p-0" *ngIf="row.status == 'Sent'"><i class="far fa-check-square font-medium-3 mr-2"></i></a>
                                  <a class="danger p-0" *ngIf="(row.status == 'Pending' || row.status == 'Scheduled')" (click)="EditNewsletter(row.id);"><i class="fas fa-pencil-alt font-medium-3 mr-2"></i></a>
                                  <a class="Info p-0" (click)="CopyNewsletter(row.id);"><i class="fas fa-copy font-medium-3 mr-2"></i></a>
                              </ng-template>
                          </ngx-datatable-column>
                        </ngx-datatable> -->
                    </ng-template>
                  </ngb-tab>
                  <ngb-tab title="A/B Testing Campaign" id="abtesting" active="SelectedTab == 'abtesting'">
                    <ng-template ngbTabContent>
                        <div class="row">
                          <div class="col-md-9 text-right">
                            <button type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed"
                                    [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
                              Select Columns
                            </button>
                            <div id="collapseExample" class="selected-column" [ngbCollapse]="!isCollapsed">
                              <ul>
                                  <li *ngFor='let col of adtestingallcolumns'>
                                    <input
                                      type='checkbox'
                                      [id]="col.name"
                                      (click)='toggleabtesting(col)'
                                      [checked]='isCheckedabtesting(col)'
                                    />
                                    <label [attr.for]="col.name">{{col.name}}</label>
                                  </li>
                              </ul>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <a class="btn btn-social btn-round btn-min-width mr-2 mb-2 btn-outline-bitbucket " (click)="addnews()"><span class="ft-plus"></span>Create Newsletter</a>
                          </div>
                        </div>
                        <ngx-datatable
                          class ='material'
                          class='bootstrap'
                          [rows]='newsletterDetails'
                          [columnMode]="'force'"
                          [headerHeight]="50"
                          [footerHeight]="50"
                          [rowHeight]="'auto'"
                          [limit]="10">
                          <ngx-datatable-column
                            *ngFor="let col of adtestingcolumns"
                            [name]="col.name">
                          </ngx-datatable-column>
                        </ngx-datatable>
                      <!-- <ngx-datatable class="material bootstrap" [rows]="newsletterDetails" [columns]="adtestingcolumns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [scrollbarH]="true" [limit]="10" [sorts]="[{prop: ['name', 'subject', 'status', 'date'], dir: 'desc'}]" [limit]="10">
                        <ngx-datatable-column name="Name" [width]="300">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{getName(row.name)}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Subject" [width]="300">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <p *ngIf="row.subjecta != ''">Subject A - {{row.subjecta}}</p><br/>
                                <p *ngIf="row.subjectb != ''">Subject B - {{row.subjectb}}</p>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="From" [width]="300">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <p *ngIf="row.froma != ''">From A - {{row.froma}}</p><br/>
                                <p *ngIf="row.fromb != ''">From B - {{row.fromb}}</p>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Campaign Winner Type" [width]="300">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.rateTrack}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Campaign A/B Testing On" [width]="300">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.abtestingOn}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Testing Time" [width]="300">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.time}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Status" [width]="300">
                          <ng-template let-row="row" ngx-datatable-cell-template>
                              {{row.status}}
                          </ng-template>
                        </ngx-datatable-column>
                      </ngx-datatable> -->
                    </ng-template>
                  </ngb-tab>
                </ngb-tabset>
            </div>
          </div>
        </div>
      </div>
    </div>

  <div class="row" *ngIf="!showTable">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="card-body">
            <div class="card-block">
              <ngb-tabset>
                <ngb-tab title="Campaign">
                  <ng-template ngbTabContent>
                    <aw-wizard #wizard navBarLayout="large-empty-symbols">
                        <aw-wizard-step [stepTitle]="'Details'" [navigationSymbol]="{ symbol: '&#xf0c9;', fontFamily: 'FontAwesome' }">
                            <!-- <form #newsletterForm="ngForm" class="editForm" novalidate>
                              <br/>
                              <div class="row">
                                  <div class="col-lg-6">
                                      <fieldset class="form-group">
                                          <label>Name Of Newsletter</label>
                                          <input class="form-control" name="name" #name="ngModel" [(ngModel)]="newsLetter.name" placeholder="Enter Newsletter Name" type="text" [ngClass]="{ 'is-invalid': newsletterForm.submitted && name.invalid }" required>
                                          <small class="form-text text-muted danger" *ngIf="newsletterForm.submitted && name.invalid">This field is required!</small>
                                      </fieldset>
                                  </div>

                                  <div class="col-lg-6">
                                      <fieldset class="form-group">
                                          <label>Subject</label>
                                          <input class="form-control" name="subject" #subject="ngModel" [ngClass]="{ 'is-invalid': newsletterForm.submitted && subject.invalid }" [(ngModel)]="newsLetter.subject" placeholder="Enter Subject" type="text" required>
                                          <small class="form-text text-muted danger" *ngIf="newsletterForm.submitted && subject.invalid">This field is required!</small>
                                      </fieldset>
                                  </div>

                                  <div class="col-lg-6">
                                      <fieldset class="form-group">
                                          <label>Select List</label>
                                          <select class="form-control" name="listid" #listid="ngModel" [ngClass]="{ 'is-invalid': newsletterForm.submitted && listid.invalid }" [(ngModel)]="newsLetter.listid" (change)="checkvalue($event.target.value)" [value]="selectList">
                                              <option value="Select List">Select List</option>
                                              <option *ngFor="let list of listDetails" value="{{list.id}}">{{list.name}}</option>
                                          </select>
                                      </fieldset>
                                  </div>

                                  <div class="col-lg-6">
                                      <fieldset class="form-group">
                                          <label>To</label>
                                          <input class="form-control" name="to" #to="ngModel" [ngClass]="{ 'is-invalid': newsletterForm.submitted && to.invalid }" [(ngModel)]="newsLetter.to" placeholder="Enter Recipent Email(comma separated for multiple receivers)" (blur)="validateEmail($event.target.value, 'to')" type="text" [attr.disabled]="condition ? '' : null" [required]="condition">
                                          <small class="form-text text-muted danger" *ngIf="!condition && (to.invalid && newsletterForm.submitted)">This field is required!</small>
                                          <small class="form-text text-muted danger" *ngIf="notValidTo">Enter Valid Email/Emails!</small>
                                      </fieldset>
                                  </div>

                                  <div class="col-lg-6">
                                      <fieldset class="form-group">
                                          <label>Cc</label>
                                          <input class="form-control" name="cc" #cc="ngModel" [ngClass]="{ 'is-invalid': newsletterForm.submitted && cc.invalid }" [(ngModel)]="newsLetter.cc" placeholder="Enter Cc Email(comma separated for multiple receivers)"  (blur)="validateEmail($event.target.value, 'cc')" type="text">
                                          <small class="form-text text-muted danger" *ngIf="notValidcc">Enter Valid Email/Emails!</small>
                                      </fieldset>
                                  </div>

                                  <div class="col-lg-6">
                                      <fieldset class="form-group">
                                          <label>Bcc</label>
                                          <input class="form-control" name="bcc" #bcc="ngModel" [ngClass]="{ 'is-invalid': newsletterForm.submitted && bcc.invalid }" [(ngModel)]="newsLetter.bcc" placeholder="Enter Bcc Email(comma separated for multiple receivers)"  (blur)="validateEmail($event.target.value, 'bcc')" type="text">
                                          <small class="form-text text-muted danger" *ngIf="notValidbcc">Enter Valid Email/Emails!</small>
                                      </fieldset>
                                  </div>
                              </div>
                              <div class="row">
                                <div class="col-lg-12">
                                    <fieldset class="form-group">
                                        <label>Choose Template</label>
                                        <select class="form-control" [(ngModel)]="newsLetter.template" name="template" #template="ngModel" [ngClass]="{ 'is-invalid': newsletterForm.submitted && template.invalid }" (change)="displayTemplate($event.target.value)">
                                          <option value="">Choose Template</option>
                                          <option *ngFor="let template of emailTemplates" value="{{template.id}}">{{template.name}}</option>
                                        </select>
                                    </fieldset>
                                </div>
                                  <div class="col-lg-12">
                                      <label>Email Content *</label>
                                      <fieldset class="form-group">
                                        <div [froalaEditor]="options" #my_editor name="body" #body="ngModel" [ngClass]="{ 'is-invalid': newsletterForm.submitted && body.invalid }" [(ngModel)]="newsLetter.body"></div>
                                      </fieldset>
                                  </div>
                              </div>
                              <div class="form-group text-center">
                                {{!newsletterForm.valid}} , {{(notValidTo || notValidBcc || notValidCc)}}
                                  <button type="submit" class="btn btn-danger btn-raised mr-1" (click)="cancel()">Cancel</button>
                                   <button type="button" uiSref="preview" class="btn btn-info btn-raised" [disabled]="!newsletterForm.valid" awNextStep (click)="responsive('desktop');">
                                      Next
                                      <span style="margin-left:10px;">
                                          <i class="ft-chevron-right"></i>
                                      </span>
                                  </button>
                              </div>
                            </form> -->
                            <form [formGroup]="newsletterForm" class="editForm" novalidate>
                              <br/>
                              <div class="row">
                                  <div class="col-lg-6">
                                      <fieldset class="form-group">
                                          <label>Name Of Newsletter</label>
                                          <input class="form-control" formControlName="name" [(ngModel)]="newsLetter.name" placeholder="Enter Newsletter Name" type="text"  required>
                                          <small class="form-text text-muted danger" *ngIf="!newsletterForm.get('name').valid && (newsletterForm.get('name').dirty || newsletterForm.get('name').touched)">This field is required!</small>
                                      </fieldset>
                                  </div>

                                  <div class="col-lg-6">
                                      <fieldset class="form-group">
                                          <label>Subject</label>
                                          <input class="form-control" formControlName="subject"  [(ngModel)]="newsLetter.subject" placeholder="Enter Subject" type="text" required>
                                          <small class="form-text text-muted danger" *ngIf="!newsletterForm.get('subject').valid && (newsletterForm.get('subject').dirty || newsletterForm.get('subject').touched)">This field is required!</small>
                                      </fieldset>
                                  </div>

                                  <div class="col-lg-12">
                                      <fieldset class="form-group">
                                          <label>Choose Segment</label>
                                          <ui-switch formControlName="segment" [(ngModel)]="newsLetter.segment"></ui-switch>
                                      </fieldset>
                                  </div>

                                  <div class="col-lg-6">
                                      <fieldset class="form-group" *ngIf="!newsLetter.segment">
                                          <label>Select List</label>
                                          <select class="form-control" formControlName="listid" [(ngModel)]="newsLetter.listid" (change)="checkvalue($event.target.value)" [value]="selectList">
                                              <option value="Select List">Select List</option>
                                              <option *ngFor="let list of listDetails" value="{{list.id}}">{{list.name}}</option>
                                          </select>
                                      </fieldset>
                                      <fieldset class="form-group" *ngIf="newsLetter.segment">
                                          <label>Select Segment</label>
                                          <select class="form-control" formControlName="segmentVal" [(ngModel)]="newsLetter.segmentVal" (change)="checkMemberExsits($event.target.value)">
                                              <option value="Select Segment">Select Segment</option>
                                              <option *ngFor="let segment of segmentDetails" value="{{segment.id}}">{{segment.name}}</option>
                                          </select>
                                      </fieldset>
                                  </div>

                                  <div class="col-lg-6">
                                      <fieldset class="form-group" *ngIf="!newsLetter.segment">
                                          <label>To</label>
                                          <input class="form-control" formControlName="to"  [(ngModel)]="newsLetter.to" placeholder="Enter Recipent Email(comma separated for multiple receivers, without space)" type="text" [attr.disabled]="condition ? '' : null" [required]="condition ? false : true">
                                          <small class="form-text text-muted danger" *ngIf="!condition && (!newsletterForm.get('to').valid && (newsletterForm.get('to').dirty || newsletterForm.get('to').touched))">Enter Valid Email</small>
                                      </fieldset>
                                  </div>

                                  <div class="col-lg-6">
                                      <fieldset class="form-group">
                                          <label>Cc</label>
                                          <input class="form-control" formControlName="cc"  [(ngModel)]="newsLetter.cc" placeholder="Enter Cc Email(comma separated for multiple receivers, without space)"  type="text">
                                          <small class="form-text text-muted danger" *ngIf="(!newsletterForm.get('cc').valid && (newsletterForm.get('cc').dirty || newsletterForm.get('cc').touched))">Enter Valid Email</small>
                                      </fieldset>
                                  </div>

                                  <div class="col-lg-6">
                                      <fieldset class="form-group">
                                          <label>Bcc</label>
                                          <input class="form-control" formControlName="bcc"  [(ngModel)]="newsLetter.bcc" placeholder="Enter Bcc Email(comma separated for multiple receivers, without space)"  type="text">
                                          <small class="form-text text-muted danger" *ngIf="(!newsletterForm.get('bcc').valid && (newsletterForm.get('bcc').dirty || newsletterForm.get('bcc').touched))">Enter Valid Email</small>
                                      </fieldset>
                                  </div>
                              </div>
                              <div class="row">
                                <div class="col-lg-12">
                                    <fieldset class="form-group">
                                        <label>Choose Template</label>
                                        <select class="form-control" [(ngModel)]="newsLetter.template" formControlName="template"  (change)="displayTemplate($event.target.value)">
                                          <option value="">Choose Template</option>
                                          <option *ngFor="let template of emailTemplates" value="{{template.id}}">{{template.name}}</option>
                                        </select>
                                    </fieldset>
                                </div>
                                <div class="col-lg-12">
                                    <label>Email Content *</label>
                                    <fieldset class="form-group">
                                      <div [froalaEditor]="options" #my_editor formControlName="body"  [(ngModel)]="newsLetter.body"></div>
                                    </fieldset>
                                </div>
                              </div>
                              <div class="form-group text-center">
                                  <button type="submit" class="btn btn-danger btn-raised mr-1" (click)="cancel()">Cancel</button>
                                   <button type="button" uiSref="newsletter1" class="btn btn-info btn-raised" [disabled]="!newsletterForm.valid" awNextStep (click)="responsive('desktop');">
                                      Next
                                      <span style="margin-left:10px;">
                                          <i class="ft-chevron-right"></i>
                                      </span>
                                  </button>
                              </div>
                            </form>
                        </aw-wizard-step>
                        <!--<aw-wizard-step  [stepTitle]="'Preview Campaign'" [navigationSymbol]="{ symbol: '&#xf06e;', fontFamily: 'FontAwesome' }">
                            <form #previewForm="ngForm" class="editForm">
                              <br/>
                              <div class="row align-self-center">
                                  <div class="col-4 align-self-center">
                                    <i class="fas fa-desktop font-large-2 align-self-center" (click)="responsive('desktop');"></i>
                                  </div>
                                  <div class="col-4 align-self-center">
                                    <i class="fas fa-tablet-alt font-large-2 align-self-center" (click)="responsive('tablet');"></i>
                                  </div>
                                  <div class="col-4 align-self-center">
                                    <i class="fas fa-mobile-alt font-large-2 align-self-center" (click)="responsive('mobile');"></i>
                                  </div>
                              </div>
                              <div class="row">
                                <div id="templateResponsive">

                                </div>
                              </div>
                              <br/>
                              <div class="form-group text-center space-20">
                                  <button type="submit" class="btn btn-danger btn-raised mr-1" (click)="cancel()">Cancel</button>
                                  <button uiSref="newsletter" type="button" class="btn btn-raised btn-secondary mr-1" awPreviousStep>
                                      <span style="margin-right:10px;">
                                          <i class="ft-chevron-left"></i>
                                      </span> Previous</button>
                                  <button uiSref="newsletter1" type="button" class="btn btn-raised btn-info" awNextStep>
                                      Next
                                      <span style="margin-left:10px;">
                                          <i class="ft-chevron-right"></i>
                                      </span>
                                  </button>
                              </div>
                            </form>
                        </aw-wizard-step>-->
                        <aw-wizard-step [stepTitle]="'Schedule / Send Campaign'" [navigationSymbol]="{ symbol: '&#xf1d8;', fontFamily: 'FontAwesome' }">
                            <form #newsletterForm1="ngForm" class="editForm">
                              <br/>
                              <div class="col-lg-12">
                                <div class="card">
                                  <div class="card-header" style="padding: 0 1.5rem 0 !important;">
                                    <fieldset class="form-group">
                                      <label>When Would You Like To Send This Campaign?</label>
                                      <div class="form-group">
                                        <div class="custom-control custom-radio custom-control-inline">
                                          <input type="radio" id="customRadioInline1" name="send" #send [(ngModel)]="sendCampaign.send" value="send" class="custom-control-input" checked>
                                          <label class="custom-control-label" for="customRadioInline1">Send Now</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                          <input type="radio" id="customRadioInline2" name="send" #send [(ngModel)]="sendCampaign.send" value="schedule" class="custom-control-input">
                                          <label class="custom-control-label" for="customRadioInline2">Schedule Date/Time</label>
                                        </div>
                                      </div>
                                    </fieldset>
                                  </div>
                                  <div class="card-body" style="border-radius: 25px !important;background-color: #e9ecef !important;">
                                    <div class="card-block">
                                      <div class="col-lg-12" *ngIf="sendCampaign.send == 'schedule'">
                                        <fieldset class="form-group">
                                          <label>This Campaign will be sent at the Date and Time specified below :- </label>
                                          <div class="col-lg-3">
                                            <label>Date</label>
                                          </div>
                                          <div class="col-lg-9">
                                            <div class="input-group">
                                              <input class="form-control" placeholder="yyyy-mm-dd" [(ngModel)]="sendCampaign.scheduledate" name="scheduledate" #scheduledate="ngModel" ngbDatepicker [dayTemplate]="customDay"
                                                [markDisabled]="isDisabled" #d3="ngbDatepicker" [minDate]="minDate" required (ngModelChange)="disableTimeByDate($event)">
                                              <div class="input-group-append">
                                                <div class="input-group-text" (click)="d3.toggle()">
                                                  <i class="fa fa-calendar" style="cursor: pointer;"></i>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="col-lg-3">
                                            <label>Time</label>
                                          </div>
                                          <div class="col-lg-9">
                                            <ngb-timepicker [(ngModel)]="sendCampaign.time" required (ngModelChange)="disabletime($event)" name="time" #time="ngModel"></ngb-timepicker>
                                          </div>
                                        </fieldset>
                                        <fieldset class="form-group">
                                          <label>Confirmation email</label>
                                          <label>Send confirmation to the following email address when the campaign has been sent.</label>
                                          <input type="text" class="form-control" email required name="confirm_email" #confirm_email="ngModel" [(ngModel)]="sendCampaign.confirm_email">
                                        </fieldset>
                                      </div>
                                      <div class="form-group text-center">
                                          <button type="submit" class="btn btn-danger btn-raised mr-1" (click)="cancel()">Cancel</button>
                                          <button uiSref="work" type="button" class="btn btn-raised btn-secondary mr-1" awPreviousStep>
                                              <span style="margin-right:10px;">
                                                  <i class="ft-chevron-left"></i>
                                              </span> Previous</button>
                                          <button uiSref="result" type="submit" class="btn btn-success btn-raised" (click)="saveNewsletter('schedule')" *ngIf="!edit && sendCampaign.send == 'schedule'" [disabled]="!newsletterForm1.valid || submitted">
                                              Schedule this Campaign <i class="fas fa-spinner font-medium-4 fa fa-spin white align-middle" *ngIf="submitted"></i></button>
                                          <button uiSref="result" type="submit" class="btn btn-success btn-raised" (click)="saveNewsletter('send')" *ngIf="!edit && sendCampaign.send == 'send'" [disabled]="sendCampaign.send != 'send' || submitted">
                                              Send Now <i class="fas fa-spinner font-medium-4 fa fa-spin white align-middle" *ngIf="submitted"></i></button>
                                          <button uiSref="result" type="submit" class="btn btn-success btn-raised" (click)="updateNewsletter('schedule')" *ngIf="edit && sendCampaign.send == 'schedule'" [disabled]="!newsletterForm1.valid || submitted">
                                              Update Newsletter <i class="fas fa-spinner font-medium-4 fa fa-spin white align-middle" *ngIf="submitted"></i></button>
                                          <button uiSref="result" type="submit" class="btn btn-success btn-raised" (click)="updateNewsletter('send')" *ngIf="edit && sendCampaign.send == 'send'" [disabled]="sendCampaign.send != 'send' || submitted">
                                              Update Newsletter <i class="fas fa-spinner font-medium-4 fa fa-spin white align-middle" *ngIf="submitted"></i></button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </form>
                        </aw-wizard-step>
                    </aw-wizard>
                  </ng-template>
                </ngb-tab>
                <ngb-tab title="A/B Test">
                  <ng-template ngbTabContent>
                    <div class="col-md-12">
                      <div class="card">
                        <div class="card-header">
                          <div class="card-body">
                            <div class="card-block">
                              <app-multiple-campaign></app-multiple-campaign>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </ngb-tab>
              </ngb-tabset>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
