<section id="ngx" class="mb-3">
	<div class="row">
		<div class="col-12">

				<div class="content-header">Image</div>
		</div>
	</div>
	  <br />
<div class="row">
	<div class="col-sm-12">
		<div class="card">
			<div class="card-body">
				<div class="col-sm-12">
					<div class="card">
						<div class="card-body">
							  <div class="card-block">
									<form [formGroup] ="pushcrewForm" novalidate>
									<label>File type supported: jpg, jpeg, png. Recommended Size: 192x192.</label>
										<div class="row">
										<div class="col-md-2">
									<div class="form-group">

									  <!-- <img [src]="image_url" height="50" width="50" *ngIf="image_url" id="image_url" align="left"><br> -->
										<button class="btn btn-info btn-raised" style="display:block;width:120px; height:30px;margin-top: 13px;" onclick="document.getElementById('files').click()">UPDATE</button>
										<!-- <input type='file' id="files" style="display:none"> -->
										<input #file type="file" id="files" accept='image/*' (change)="preview(file.files)" style="display:none;"/>
									</div>
								</div>
								<div class="col-md-6">
										<div class="form-group">

										<img [src]="image_url" height="50" width="50" *ngIf="image_url" id="image_url" align="left" ><br>

									</div>
								</div>
								</div>
							<div class="form-group">
								<label for="title">Title</label>
							<input type="text" class="form-control" id="title" formControlName="title" placeholder="Enter Title">
							<small class="form-text text-muted danger" *ngIf="!pushcrewForm.get('title').valid && (pushcrewForm.get('title').dirty || pushcrewForm.get('title').touched)">This field is required!</small>
							</div>
							<div class="form-group">
								<label for="description">SubTitle</label>
								<input type="text" id="description" class="form-control" formControlName="description" placeholder="SubTitle">
								<small class="form-text text-muted danger" *ngIf="!pushcrewForm.get('description').valid && (pushcrewForm.get('description').dirty || pushcrewForm.get('description').touched)">This field is required!</small>
							</div>

							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label for="disallow_text">Disallow Button Text</label>
									<input type="text" id="disallow_text" class="form-control" placeholder="Don't Allow" formControlName="disallow_text">
									<small class="form-text text-muted danger" *ngIf="!pushcrewForm.get('disallow_text').valid && (pushcrewForm.get('disallow_text').dirty || pushcrewForm.get('disallow_text').touched)">This field is required!</small>
									</div>
								</div>

								<div class="col-md-6">
									<div class="form-group">
										<label for="allow_text">Allow Button Text</label>
									<input type="text" id="allow_text" class="form-control" placeholder="Allow" formControlName="allow_text">
									<small class="form-text text-muted danger" *ngIf="!pushcrewForm.get('allow_text').valid && (pushcrewForm.get('allow_text').dirty || pushcrewForm.get('allow_text').touched)">This field is required!</small>
									</div>
								</div>
								<div class="col-sm-12">
		              <button type="button" class="btn btn-outline-primary mt-2" (click)="isCollapsed = !isCollapsed"
		                      [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
		              </button>Enable Opt-in for Mobile
		            </div>
									<div class="form-group">
		            <div id="collapseExample" [ngbCollapse]="isCollapsed">
										<div class="col-sm-12">
 	 								<label for="titles">Title</label>
 	 							<input type="text" class="form-control" id="titles" formControlName="titles" placeholder="Enter Title">
								<small class="form-text text-muted danger" *ngIf="!pushcrewForm.get('titles').valid && (pushcrewForm.get('titles').dirty || pushcrewForm.get('titles').touched)">This field is required!</small>
 	 							</div>
							</div>
							</div>
							<div class="col-sm-12">
							<div class="form-group">
									<label for="mobile_description">Mobile Description</label>
									<textarea class="form-control" rows="3" id="mobile_description" formControlName="mobile_description" required></textarea>
								<!-- <input type="text" class="form-control" formControlName="mobile_description"rows=3 id="mobile_description" required> -->
									<small class="form-text text-muted danger" *ngIf="!pushcrewForm.get('mobile_description').valid && (pushcrewForm.get('mobile_description').dirty || pushcrewForm.get('mobile_description').touched)">This field is required!</small>
							</div>
						</div>
							<div class="form-group text-center">
								<div class="col-sm-12">
							<button type="button" class="btn btn-success btn-raised" (click)="savePushcrew()"  style="margin-right: 14px;" [disabled]="!pushcrewForm.valid">Save</button>
							</div>
						</div>
							</div>
						</form>
						</div>
						</div>

					</div>
				</div>
			</div></div>
		</div>
	</div>
</section>
