.selected-column{
  width: 38%;
  margin-right: 20px;
  float: right;
  text-align: left;
  background: #FFF;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
}
li{
  list-style: none;
}
