<section class="basic-elements">
   <div class="row">
      <div class="col-md-6">
         <div class="content-header">Membership</div>
      </div>
   </div>
   <div class="row" *ngIf="!showMembership">
      <div class="col-sm-12">
         <div class="card">
            <div class="card-header">
               <div class="row">
                  <div class="col-sm-6">
                     <p>Membership</p>
                  </div>
               </div>
               <div class="row">
                 <div class="col-md-9 text-right">
                   <button type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed"
                           [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
                     Select Columns
                   </button>
                   <div id="collapseExample" class="selected-column" [ngbCollapse]="!isCollapsed">
                     <ul>
                         <li *ngFor='let col of allColumns'>
                           <input
                             type='checkbox'
                             [id]="col.name"
                             (click)='toggle(col)'
                             [checked]='isChecked(col)'
                           />
                           <label [attr.for]="col.name">{{col.name}}</label>
                         </li>
                     </ul>
                   </div>
                 </div>
                 <div class="col-md-3">
                   <a class="btn btn-social btn-round btn-min-width mr-2 mb-2 btn-outline-bitbucket right" (click)="memToggle()"><span class="ft-plus"></span>Add Membership</a>
                 </div>
               </div>
               <!-- <div class="col-sm-12" style="text-align: left;">
                      <button type="button" class="btn btn-outline-primary mt-2" (click)="isCollapsed = !isCollapsed"
                              [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
                        Select Columns
                      </button>

              <div id="collapseExample" class="selected-column" [ngbCollapse]="!isCollapsed">
                <ul>
                    <li *ngFor='let col of allColumns'>
                      <input
                        type='checkbox'
                        [id]="col.name"
                        (click)='toggle(col)'
                        [checked]='isChecked(col)'
                      />
                      <label [attr.for]="col.name">{{col.name}}</label>
                    </li>
                </ul>
              </div></div> -->
               <!--<div class="card-body">
                  <div class="card-block">
                     <ngx-datatable class="material" class="bootstrap" [rows]="members" [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [sorts]="[{prop: ['plans', 'price', 'terms'], dir: 'desc'}]" [limit]="10">
                     <ngx-datatable-column name="Membership Name">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                           {{row.plans}}
                        </ng-template>
                     </ngx-datatable-column>
                     <ngx-datatable-column name="Price">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                           {{row.price}}
                        </ng-template>
                     </ngx-datatable-column>
                     <ngx-datatable-column name="Duration">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                           {{row.terms}} {{row.duration}}
                        </ng-template>
                     </ngx-datatable-column>
                     <ngx-datatable-column name="Action">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                           <a class="success p-0" data-original-title="" title="" (click)="editmembership(row.id)">
                           <i class="fas fa-pencil-alt font-medium-3 mr-2"></i>
                           </a>
                           <a class="danger p-0" data-original-title="" title="" (click)="deletemembership(row.id)">
                           <i class="fas fa-trash font-medium-3 mr-2"></i>
                           </a>
                        </ng-template>
                     </ngx-datatable-column>
                     </ngx-datatable>
                  </div>
               </div>-->
               <div>
                <ngx-datatable
                class ='material'
                  class='bootstrap'
                  [rows]='members'
                  [columnMode]="'force'"
                  [headerHeight]="50"
                  [footerHeight]="50"
                  [rowHeight]="'auto'">
                  <ngx-datatable-column
                    *ngFor="let col of columns"
                    [name]="col.name">
                  </ngx-datatable-column>
                 <ngx-datatable-column name="Action">
                                  <ng-template let-row="row" ngx-datatable-cell-template>
                                    <a class="success p-0" data-original-title="" title="" (click)="editmembership(row.id)">
                                        <i class="fas fa-pencil-alt font-medium-3 mr-2"></i>
                                    </a>
                                    <a class="danger p-0" data-original-title="" title="" (click)="deletemembership(row.id)">
                                        <i class="fas fa-trash font-medium-3 mr-2"></i>
                                    </a>
                                  </ng-template>
                              </ngx-datatable-column>
                </ngx-datatable>
            </div>
            </div>
         </div>
      </div>
   </div>
   <div class="row" *ngIf="showMembership">
      <div class="col-sm-12">
         <div class="card">
            <div class="card-body">
               <div class="card-block">
                  <form [formGroup]="membershipForm" novalidate>
                     <div class="form-group">
                        <label for="membershipName">Membership Name</label>
                        <input type="text" class="form-control" id="membershipName" formControlName="membershipName" required>
                        <small class="form-text text-muted danger" *ngIf="!membershipForm.get('membershipName').valid && (membershipForm.get('membershipName').dirty || membershipForm.get('membershipName').touched)">This field is required!</small>
                     </div>
                     <div class="from-group">
                        <label for="membershipName">Membership Logo</label>
                        <div class="row" *ngIf="!memShowLogo || memLogo == ''">
                           <div class="col-sm-8">
                              <div class="form-group">
                                 <div class="custom-file center-block d-block">
                                    <input type="file" class="custom-file-input" id="membershipIcon" formControlName="membershipIcon" (change)="uploadmembershipIcon($event.target.files)">
                                    <label class="custom-file-label" for="membershipIcon" #membershipIconLabel>Choose file</label>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="row" *ngIf="memShowLogo && memLogo != ''">
                           <div class="col-sm-8">
                              <div class="form-group">
                                 <img src="{{memLogo}}" style="width: 50% !important;"/>
                              </div>
                           </div>
                           <div class="col-sm-3">
                              <div class="form-group">
                                 <button type="button" class="btn btn-danger btn-raised mr-1" (click)="memShowLogo = !memShowLogo">Change Logo</button>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="form-group">
                        <label for="textArea">Description</label>
                        <textarea class="form-control" rows="3" id="textArea" formControlName="textArea" required></textarea>
                        <small class="form-text text-muted danger" *ngIf="!membershipForm.get('textArea').valid && (membershipForm.get('textArea').dirty || membershipForm.get('textArea').touched)">This field is required!</small>
                     </div>
                     <div class="row">
                        <div class="col-sm-6">
                           <div class="form-group">
                              <label for="duration">Duration</label>
                              <div class="input-group">
                                 <input type="number" id="duration" min="0" max="36" oninput="this.value = Math.abs(this.value)" class="form-control" formControlName="duration" required>
                              </div>
                              <small class="form-text text-muted danger" *ngIf="!membershipForm.get('duration').valid && (membershipForm.get('duration').dirty || membershipForm.get('duration').touched)">This field is required!</small>
                           </div>
                        </div>
                        <div class="col-sm-6">
                           <div class="form-group">
                              <label for="durationIn">Membership Period</label>
                              <div class="input-group">
                                 <select id="durationIn" class="form-control" formControlName="durationIn" required [value]='selectval'>
                                    <option value="">Select</option>
                                    <option value="days">Days</option>
                                    <option value="month">Month</option>
                                    <option value="year">Year</option>
                                 </select>
                              </div>
                              <small class="form-text text-muted danger" *ngIf="!membershipForm.get('durationIn').valid && (membershipForm.get('durationIn').dirty || membershipForm.get('durationIn').touched)">This field is required!</small>
                           </div>
                        </div>
                     </div>
                     <div class="form-group">
                        <label for="price">Price</label>
                        <div class="input-group">
                           <div class="input-group-prepend">
                              <span class="input-group-text">$</span>
                           </div>
                           <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)" formControlName="price" min="1" oninput="this.value = Math.abs(this.value)" required>
                        </div>
                        <small class="form-text text-muted danger" *ngIf="!membershipForm.get('price').valid && (membershipForm.get('price').dirty || membershipForm.get('price').touched)">This field is required!</small>
                     </div>
                     <h2>Renewal Reminder Configuration</h2>
                     <p>Enter the number of days and choose template for reminding the users on their membership renewal.</p>
                     <div formArrayName="actionset">
                        <div  [formGroupName]="i" *ngFor="let tech of membershipForm.controls.actionset.controls; let i = index">
                        <div class="row" >
                           <div class="col-xl-3 col-lg-6 col-md-12 mb-1">
                              <div class="form-group">
                                 <label>Reminder Days</label>
                                 <input type="number" max="30" oninput="this.value = Math.abs(this.value)" formControlName="days" class="form-control" required>
                              </div>
                           </div>
                           <div class="col-xl-3 col-lg-6 col-md-12 mb-1" >
                              <div class="form-group">
                                 <label>Choose Template</label>
                                 <select  class="custom-select mb-2" formControlName="template" placeholder="Select an template" required>
                                    <option *ngFor="let template of templates" value="{{template.id}}">{{template.name}}</option>
                                 </select>
                              </div>
                           </div>
                           <div class="col-xl-1 col-lg-6 col-md-12 mb-1" >
                              <!-- <div class="col-xl-2 col-lg-6 col-md-12 mb-1">
                                 <label></label>
                                 <button class="btn btn-success mr-1 btn-fab"
                                 (click)="addSetCondition(i)"><i class="fa fa-times"></i></button>
                                 </div> -->
                              <div class="col-xl-2 col-lg-6 col-md-12 mb-1">
                                 <label></label>
                                 <button class="btn btn-danger mr-1 btn-fab"
                                    (click)="removeSetCondition(i)"><i class="fa fa-times"></i></button>
                              </div>
                           </div>
                        </div>
                     </div>
               </div>
               <button type="button" class="btn btn-outline-primary btn-block btn-raised" (click)="addSetCondition()" >Add Condition</button>
               <div class="form-group">
               <button type="button" class="btn btn-danger btn-raised mr-1" (click)="cancel()">Cancel</button>
               <button type="button" class="btn btn-success btn-raised" (click)="addMembership()" [disabled]="!membershipForm.valid">Submit</button>
               </div>
               </form>
            </div>
         </div>
      </div>
   </div>
   </div>
</section>
