<section class="basic-elements">
  <div class="row">
    <div class="col-md-12">
      <aw-wizard #wizard navBarLayout="large-empty-symbols">
        <aw-wizard-step [stepTitle]="'Enter Details'" [navigationSymbol]="{ symbol: '&#xf0c9;', fontFamily: 'FontAwesome' }">
          <form #mainForm="ngForm" class="editForm" novalidate>
            <div class="form-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" [(ngModel)]="abtest.name" name="name" [ngClass]="{ 'is-invalid': mainForm.submitted && name.invalid }" required>
                  </div>
                  <div class="form-group">
                    <label for="name">Select Test Type</label>
                    <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" id="customRadioInline1" name="multipleData" [(ngModel)]="abtest.multipleData" value="subject" class="custom-control-input" [ngClass]="{ 'is-invalid': mainForm.submitted && multipleData.invalid }" required>
                      <label class="custom-control-label" for="customRadioInline1">Subject</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" id="customRadioInline2" name="multipleData" [(ngModel)]="abtest.multipleData" value="from" class="custom-control-input" [ngClass]="{ 'is-invalid': mainForm.submitted && multipleData.invalid }" required>
                      <label class="custom-control-label" for="customRadioInline2">From</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" id="customRadioInline3" name="multipleData" [(ngModel)]="abtest.multipleData" value="body" class="custom-control-input" [ngClass]="{ 'is-invalid': mainForm.submitted && multipleData.invalid }" required>
                      <label class="custom-control-label" for="customRadioInline3">Body</label>
                    </div>
                  </div>
                  <div class="form-group">
                      <label>From</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1" *ngIf="abtest.multipleData == 'from'">A</span>
                        </div>
                        <input class="form-control" [(ngModel)]="abtest.froma" name="froma" #froma="ngModel" type="email" email ngModel required>
                      </div>
                      <small class="form-text text-muted danger" *ngIf="!froma.valid && (froma.dirty || froma.touched)">Please enter a valid email!</small>
                      <div  *ngIf="abtest.multipleData == 'from'">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">B</span>
                          </div>
                          <input class="form-control"  [(ngModel)]="abtest.fromb" name="fromb" #fromb="ngModel" type="email" email ngModel required>
                        </div>
                        <small class="form-text text-muted danger" *ngIf="!fromb.valid && (fromb.dirty || fromb.touched)">Please enter a valid email!</small>
                      </div>
                  </div>
                  <div class="form-group">
                      <label>Subject</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1" *ngIf="abtest.multipleData == 'subject'">A</span>
                        </div>
                        <input class="form-control"  [(ngModel)]="abtest.subjecta" name="subjecta" type="text" [ngClass]="{ 'is-invalid': mainForm.submitted && subjecta.invalid }" required>
                      </div>
                      <small class="form-text text-muted danger" *ngIf="mainForm.submitted && subjecta.invalid">This field is required!</small>
                      <div class="input-group" *ngIf="abtest.multipleData == 'subject'">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1">B</span>
                        </div>
                        <input class="form-control"  [(ngModel)]="abtest.subjectb" name="subjectb" type="text" [ngClass]="{ 'is-invalid': mainForm.submitted && subjectb.invalid }" required>
                      </div>
                  </div>
                  <div class="form-group">
                      <label>Select value</label>
                      <select class="form-control" name="membersCol" [(ngModel)]="abtest.membersCol" [ngClass]="{ 'is-invalid': mainForm.submitted && membersCol.invalid }" required>
                        <option value="">Select Column</option>
                        <option *ngFor="let column of memberscols" value="{{column.value}}">{{column.text.split('_')[0] | titlecase}} {{column.text.split('_')[1] | titlecase}}</option>
                      </select>
                  </div>
                  <div class="form-group text-center space-20">
                      <!-- <button type="submit" class="btn btn-danger btn-raised mr-1" (click)="cancel()">Cancel</button> -->
                      <button uiSref="result" type="button" class="btn btn-raised btn-success mr-1" [disabled]="!mainForm.valid" awNextStep>
                          Next
                          <span style="margin-left:10px;">
                              <i class="ft-chevron-right"></i>
                          </span>
                      </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </aw-wizard-step>
        <aw-wizard-step [stepTitle]="'Choose Template'" [navigationSymbol]="{ symbol: '&#xf0c9;', fontFamily: 'FontAwesome' }">
            <form #TemplateForm="ngForm" class="editForm" novalidate  *ngIf="abtest.multipleData == 'body'">
                <div class='row'>
                  <div class="col-md-12">
                    <div class='row'>
                      <div class='col-6'>
                        <div class="row">
                          <div class="col-lg-12">
                            <fieldset class="form-group">
                              <label>Choose Template</label>
                              <select class="form-control" [(ngModel)]="abtest.templatea"  name="templatea" (change)="displayTemplate($event.target.value, 'a')" [ngClass]="{ 'is-invalid': TemplateForm.submitted && templatea.invalid }" required>
                                <option value="">Choose Template</option>
                                <option *ngFor="let template of emailTemplates" value="{{template.id}}">{{template.name}}</option>
                              </select>
                            </fieldset>
                          </div>
                          <div class="col-lg-12">
                            <label>Email Content *</label>
                            <fieldset class="form-group">
                              <div [froalaEditor]="optionsa" #my_editora  name="bodya" [(ngModel)]="abtest.bodya" [ngClass]="{ 'is-invalid': TemplateForm.submitted && bodya.invalid }" required></div>
                            </fieldset>
                          </div>
                        </div>
                      </div>
                      <div class="col-6">
                      <div class="row" *ngIf="abtest.bodya != ''">
                        <div class="col-lg-12">
                          <fieldset class="form-group">
                            <label>Choose Template</label>
                            <select class="form-control" [(ngModel)]="abtest.templateb"  name="templateb" (change)="displayTemplate($event.target.value, 'b')" [ngClass]="{ 'is-invalid': TemplateForm.submitted && templateb.invalid }" required>
                              <option value="">Choose Template</option>
                              <option *ngFor="let template of emailTemplates" value="{{template.id}}">{{template.name}}</option>
                            </select>
                          </fieldset>
                        </div>
                        <div class="col-lg-12">
                          <label>Email Content *</label>
                          <fieldset class="form-group">
                            <div [froalaEditor]="optionsb" #my_editorb  name="bodyb" [(ngModel)]="abtest.bodyb" [ngClass]="{ 'is-invalid': TemplateForm.submitted && bodyb.invalid }" required></div>
                          </fieldset>
                        </div>
                      </div>
                    </div>
                    </div>
                    <div class="form-group text-center space-20">
                        <button uiSref="Main" type="button" class="btn btn-raised btn-secondary mr-1" awPreviousStep>
                            <span style="margin-right:10px;">
                                <i class="ft-chevron-left"></i>
                            </span> Previous</button>
                        <button type="button" uiSref="work" class="btn btn-info btn-raised" [disabled]="!TemplateForm.valid" awNextStep>
                            Next
                            <span style="margin-left:10px;">
                                <i class="ft-chevron-right"></i>
                            </span>
                        </button>
                    </div>
                  </div>
                </div>
            </form>
            <form #TemplateForm="ngForm" class="editForm" novalidate  *ngIf="abtest.multipleData != 'body'">
                <div class='row'>
                  <div class="col-md-12">
                    <div class="col-lg-12">
                      <fieldset class="form-group">
                        <label>Choose Template</label>
                        <select class="form-control" [(ngModel)]="abtest.templatea"  name="templatea" (change)="displayTemplate($event.target.value, 'a')" [ngClass]="{ 'is-invalid': TemplateForm.submitted && templatea.invalid }" required>
                          <option value="">Choose Template</option>
                          <option *ngFor="let template of emailTemplates" value="{{template.id}}">{{template.name}}</option>
                        </select>
                      </fieldset>
                    </div>
                    <div class="col-lg-12">
                      <label>Email Content *</label>
                      <fieldset class="form-group">
                        <div [froalaEditor]="optionsa" #my_editora  name="bodya" [(ngModel)]="abtest.bodya" [ngClass]="{ 'is-invalid': TemplateForm.submitted && bodya.invalid }" required></div>
                      </fieldset>
                    </div>
                    <div class="form-group text-center space-20">
                        <button uiSref="Main" type="button" class="btn btn-raised btn-secondary mr-1" awPreviousStep>
                            <span style="margin-right:10px;">
                                <i class="ft-chevron-left"></i>
                            </span> Previous</button>
                        <button type="button" uiSref="work" class="btn btn-info btn-raised" [disabled]="!TemplateForm.valid" awNextStep>
                            Next
                            <span style="margin-left:10px;">
                                <i class="ft-chevron-right"></i>
                            </span>
                        </button>
                    </div>
                  </div>
                </div>
            </form>
        </aw-wizard-step>
        <aw-wizard-step  [stepTitle]="'Split List'" [navigationSymbol]="{ symbol: '&#xf0c9;', fontFamily: 'FontAwesome' }">
            <form #listForm="ngForm" class="editForm" novalidate>
                <div class='row justify-content-center'>
                    <div class='col-12'>
                        <div class="form-group">
                          <label>Select Parameter</label>
                          <select class="form-control" name="rateTrack" [(ngModel)]="abtest.rateTrack" [ngClass]="{ 'is-invalid': listForm.submitted && rateTrack.invalid }" required>
                              <option value="Select List">Select Parameter</option>
                              <option value="open">Open Rates</option>
                              <option value="click">Click Rates</option>
                              <option value="unsubscriber">UnSubscribers</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="manual" name="sendingCampaign" [(ngModel)]="abtest.sendingCampaign" value="manual" class="custom-control-input" [ngClass]="{ 'is-invalid': listForm.submitted && sendingCampaign.invalid }" required>
                            <label class="custom-control-label" for="manual">Manual</label>
                          </div>
                          <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="automatic" name="sendingCampaign" [(ngModel)]="abtest.sendingCampaign" value="automatic" class="custom-control-input" [ngClass]="{ 'is-invalid': listForm.submitted && sendingCampaign.invalid }" required>
                            <label class="custom-control-label" for="automatic">Automatic</label>
                          </div>
                        </div>
                        <div class="form-group">
                          <label>Select Test Hours</label>
                          <select class="form-control" name="testhrs" [(ngModel)]="abtest.testhrs" [ngClass]="{ 'is-invalid': listForm.submitted && testhrs.invalid }" required>
                              <option value="Select Hours">Select Hours</option>
                              <option *ngFor="let i of hours" value="{{i}}">{{i}}</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label>Choose Segment</label>
                          <ui-switch name="segment" [(ngModel)]="abtest.segment"></ui-switch>
                        </div>
                        <div class="form-group" *ngIf="!abtest.segment">
                          <label>Select List</label>
                          <select class="form-control" name="listid" [(ngModel)]="abtest.listid" (change)="displayMembers($event.target.value, $event)" [ngClass]="{ 'is-invalid': listForm.submitted && listid.invalid }" required>
                              <option value="Select List">Select List</option>
                              <option *ngFor="let list of listDetails" value="{{list.id}}">{{list.name}}</option>
                          </select>
                          <label *ngIf="abtest.listid">Total Users : {{ users }}</label>
                        </div>
                        <div class="form-group" *ngIf="abtest.segment">
                          <label>Select Segment</label>
                          <select class="form-control" name="segmentVal" [(ngModel)]="abtest.segmentVal" (change)="displaySegmentMembers($event.target.value, $event)" [ngClass]="{ 'is-invalid': listForm.submitted && listid.invalid }" required>
                              <option value="Select List">Select Segment</option>
                              <option *ngFor="let segment of segmentDetails" value="{{segment.id}}">{{segment.name}}</option>
                          </select>
                          <label *ngIf="abtest.segmentVal">Total Users : {{ users }}</label>
                        </div>
                        <div class="form-group">
                          <label for="selectedUserA">Test Members Count</label>
                          <input type="number" min="1" max="1000" name="selectedUserA" [(ngModel)]="abtest.selectedUserA" class="form-control" [ngClass]="{ 'is-invalid': listForm.submitted && selectedUserA.invalid }" required>
                          <label *ngIf="abtest.selectedUserA">Remaining Users : {{ users - (2 * abtest.selectedUserA)}}</label>
                        </div>
                    </div>
                </div>
                <div class="form-group text-center space-20">
                    <button uiSref="Template" type="button" class="btn btn-raised btn-secondary mr-1" awPreviousStep>
                        <span style="margin-right:10px;">
                            <i class="ft-chevron-left"></i>
                        </span> Previous</button>
                    <button uiSref="result" type="button" class="btn btn-raised btn-success mr-1" [disabled]="!listForm.valid" awNextStep>
                        Next
                        <span style="margin-left:10px;">
                            <i class="ft-chevron-right"></i>
                        </span>
                    </button>
                </div>
            </form>
        </aw-wizard-step>
        <aw-wizard-step [stepTitle]="'Send Campaign'" [navigationSymbol]="{ symbol: '&#xf1d8;', fontFamily: 'FontAwesome' }">
            <form #sendCampaign="ngForm" class="editForm" novalidate>
              <h4 class="head text-center">When Would You Like To Send This Campaign?</h4>
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-header" style="padding: 0 1.5rem 0 !important;">
                    <fieldset class="form-group">
                      <div class="form-group">
                        <div class="custom-control custom-radio custom-control-inline">
                          <input type="radio" id="sendmail" name="send" [(ngModel)]="abtest.send" value="send" class="custom-control-input"  [ngClass]="{ 'is-invalid': sendCampaign.submitted && send.invalid }" required>
                          <label class="custom-control-label" for="sendmail">Send Now</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                          <input type="radio" id="schedulemail" name="send" [(ngModel)]="abtest.send" value="schedule" class="custom-control-input"  [ngClass]="{ 'is-invalid': sendCampaign.submitted && send.invalid }" required>
                          <label class="custom-control-label" for="schedulemail">Schedule Date/Time</label>
                        </div>
                      </div>
                    </fieldset>
                  </div>
                  <h4 class="form-section"></h4>
                  <div class="card-body">
                    <div class="card-block">
                      <div class="col-lg-12" *ngIf="abtest.send == 'schedule'">
                        <fieldset class="form-group">
                          <label>This Campaign will be sent at the Date and Time specified below :- </label>
                          <div class="col-lg-3">
                            <label>Date</label>
                          </div>
                          <div class="col-lg-9">
                            <div class="input-group">
                              <input class="form-control" placeholder="yyyy-mm-dd" [(ngModel)]="abtest.scheduledate" name="scheduledate" ngbDatepicker [dayTemplate]="customDay"
                                [markDisabled]="isDisabled" #d3="ngbDatepicker" [minDate]="minDate" (ngModelChange)="disableTimeByDate($event)" [ngClass]="{ 'is-invalid': sendCampaign.submitted && scheduledate.invalid }" required>
                              <div class="input-group-append">
                                <div class="input-group-text" (click)="d3.toggle()">
                                  <i class="fa fa-calendar" style="cursor: pointer;"></i>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-3">
                            <label>Time</label>
                          </div>
                          <div class="col-lg-9">
                            <ngb-timepicker [(ngModel)]="abtest.time" name="time" (ngModelChange)="disabletime($event)" [ngClass]="{ 'is-invalid': sendCampaign.submitted && time.invalid }" required></ngb-timepicker>
                          </div>
                        </fieldset>
                        <fieldset class="form-group">
                          <label>Confirmation email</label>
                          <label>Send confirmation to the following email address when the campaign has been sent.</label>
                          <input type="text" class="form-control" email name="confirm_email" [(ngModel)]="abtest.confirm_email"  [ngClass]="{ 'is-invalid': sendCampaign.submitted && confirm_email.invalid }" required>
                        </fieldset>
                      </div>
                      <div class="form-group text-center">
                          <button uiSref="work" type="button" class="btn btn-raised btn-secondary mr-1" awPreviousStep>
                              <span style="margin-right:10px;">
                                  <i class="ft-chevron-left"></i>
                              </span> Previous</button>
                          <button uiSref="result" type="button" class="btn btn-raised btn-success" (click)="submitCampaign('schedule')" *ngIf="abtest.send == 'schedule'" [disabled]="!sendCampaign.valid || submitted">
                            Schedule this Campaign   <i class="fas fa-spinner font-medium-4 fa fa-spin white align-middle" *ngIf="submitted"></i>
                          </button>
                          <button uiSref="result" type="button" class="btn btn-raised btn-success" (click)="submitCampaign('send')" *ngIf="abtest.send == 'send'" [disabled]="!sendCampaign.valid || submitted">
                            Send Now   <i class="fas fa-spinner font-medium-4 fa fa-spin white align-middle" *ngIf="submitted"></i>
                          </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
        </aw-wizard-step>
      </aw-wizard>
    </div>
  </div>
</section>
